---
title: "Благодарим вас за этот год!"
preheader: "Время подводить итоги и загадывать желания"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
      <component src="src/components/img-block-without-link-round.html" locals='{
      "src" : "https://info-hit.ru/include/images/letter/2023-12-28-new-year-2-partners.jpg"
      }'></component>

    <tr>
      <td class="h-24 sm:h-16"></td>
    </tr>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 py-24 sm:p-14 leading-24 rounded-2xl">
        <p><strong>Добрый день!</strong></p>
        <p>Декабрь&nbsp;— лучшее время, чтобы подвести итоги уходящего года. Подумать о&nbsp;том, что произошло за&nbsp;эти 365 дней и&nbsp;как изменилась жизнь.</p>
        <p class="text-base bg-blue-300 py-16 px-24">Вы&nbsp;усердно работали, получали результаты, а&nbsp;значит, можете собой гордиться. Похвалите себя и&nbsp;признайте свои достижения&nbsp;— это важный аспект для роста самооценки и&nbsp;внутренней мотивации для дальнейшего развития.</p>
        <p>Сегодня хотим поделиться вашими успехами и&nbsp;поблагодарить за&nbsp;трафик, который вы&nbsp;так упорно льете на&nbsp;офферы рекламодателей.</p>
        <p class="mb-6"><strong><a href="https://info-hit.ru/programs/partnerskaya-programma-olgi-shmuksta/" target="_blank">Ольга Шмукста</a></strong></p>
        <ul class="mt-0 mb-24">
          <li>Тема: кулинария</li>
          <li>Комиссия: 15%</li>
          <li>Цена курсов: 6990&nbsp;₽&nbsp;— 45&nbsp;990&nbsp;₽</li>
          <li><a href="https://drive.google.com/file/d/1Nc6KnevPJQ2MUSBlXirXeP7jR_H2jeMI/view?usp=drive_link" target="_blank">Кейс →</a></li>
        </ul>
        <p class="mb-6"><strong><a href="https://info-hit.ru/programs/partnerskaya-programma-alesi-vasinkinoy/" target="_blank">Алеся Васинкина</a></strong></p>
        <ul class="mt-0 mb-24">
          <li>Тема: карьера и&nbsp;работа, бухгалтерия</li>
          <li>Комиссия: 23%</li>
          <li>Цена курсов: 2000&nbsp;₽&nbsp;— 58&nbsp;500&nbsp;₽</li>
          <li><a href="https://drive.google.com/file/d/1-dASPe6NUPgkoxnLCUJm2ssLdBKBLSWP/view?usp=drive_link" target="_blank">Кейс →</a></li>
        </ul>
        <p class="mb-6"><strong><a href="https://info-hit.ru/programs/partnerskaya-programma-shkoly-kopirayterov-sweattery-fun/" target="_blank">Sweattery Fun</a></strong></p>
        <ul class="mt-0 mb-24">
          <li>Тема: маркетинг, копирайтинг</li>
          <li>Комиссия: 23%</li>
          <li>Цена курсов: 26&nbsp;400&nbsp;₽&nbsp;— 64&nbsp;800&nbsp;₽</li>
          <li><a href="https://drive.google.com/file/d/1wguTjDpwde0WslpEfTQK7LEaE8xLaL-H/view?usp=drive_link" target="_blank">Кейс →</a></li>
        </ul>
        <p class="mb-6"><strong><a href="https://info-hit.ru/programs/partnerskaya-programma-dmitriya-katkova/" target="_blank">Дмитрий Катков</a></strong></p>
        <ul class="mt-0 mb-24">
          <li>Тема: психология</li>
          <li>Комиссия: 55%</li>
          <li>Цена курсов: ~ 15&nbsp;000&nbsp;₽</li>
          <li><a href="https://drive.google.com/file/d/1NN4MWibPNDdb9bgF4UdoiXvkbkANbe8T/view?usp=drive_link" target="_blank">Кейс →</a></li>
        </ul>
        <p class="mb-6"><strong><a href="https://info-hit.ru/programs/partnerskaya-programma-shkoly-project-management-club/" target="_blank">PMCLUB</a></strong></p>
        <ul class="mt-0 mb-24">
          <li>Тема: личностный рост, бизнес планирование и&nbsp;развитие, навыки общения</li>
          <li>Комиссия: 19%</li>
          <li>Цена курсов: 7900&nbsp;₽&nbsp;— 32&nbsp;000&nbsp;₽</li>
          <li><a href="https://drive.google.com/file/d/14tTLVRoqKzj8f__j3hQBkvN2w8WxLRGe/view?usp=drive_link" target="_blank">Кейс →</a></li>
        </ul>
        <p>Пусть&nbsp;же новый год принесет только позитивные перемены и&nbsp;удачу во&nbsp;всех начинаниях!</p>
        <p>Мы&nbsp;в&nbsp;ИнфоХит будем искать для вас самые лучшие партнерки с&nbsp;большой комиссией. А&nbsp;еще делиться советами по&nbsp;их&nbsp;продвижению.</p>
        <p>Искренне желаем вам крепкого здоровья, счастья, радости и&nbsp;благополучия! </p>
        <p>И&nbsp;дарим подарки!</p>
        <p class="m-0 mb-24 text-base border-dashed border-2 border-purple-600 rounded-2xl py-16 px-24">Уникальное новогоднее предложение&nbsp;— расширенный доступ к&nbsp;каталогу партнерских программ ИнфоХит НАВСЕГДА со&nbsp;скидкой 75%!</p>
        <p><strong><s>9900&nbsp;₽</s> 2490&nbsp;₽</strong></p>
        <p>Один платеж&nbsp;— и&nbsp;в&nbsp;вашем распоряжении все функции фильтра, который поможет вам отсортировать партнерки по&nbsp;количеству продаж, максимальному проценту и&nbsp;другим важным параметрам.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/programs/buy/?action=BUY&id=311888",
          "text" : "Доступ со скидкой",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <p>С&nbsp;наступающим 2024&nbsp;годом!</p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">Ваш надежный партнер,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer-for-partners.html"></component>
  </block>
</extends>

