---
title: "Как заработать на курсах по приготовлению тортов, пирожных и тартов"
preheader: "Подробности — на вебинаре САЛИД"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2023-05-09-vebinar-salid.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Приходите на&nbsp;вебинар САЛИД, если хотите подключиться к&nbsp;прибыльной партнерке, узнать все о&nbsp;ее&nbsp;продвижении и&nbsp;получать комиссию 78&nbsp;943&nbsp;₽ с&nbsp;продажи курсов по&nbsp;выпечке десертов.</p>
        <p>5&nbsp;сентября на&nbsp;вебинаре узнаете, как увеличить свой доход на&nbsp;воронках от&nbsp;онлайн-школы Cake Pro.</p>
        <p><a href="https://salid.ru/lk/webmaster/offery/61380" target="_blank">Муссовые торты</a></p>
        <p><a href="https://salid.ru/lk/webmaster/offery/55955" target="_blank"> Фруктовые тарты</a></p>
        <p>Офферы подойдут для широкой&nbsp;ЦА: от&nbsp;молодых мам до&nbsp;пенсионеров. ГЕО&nbsp;— весь мир.</p>
        <p>Спикер&nbsp;— Максим Жарков, основатель школы современных десертов Cake Pro.</p>
        <p class="text-base bg-purple-300 py-16 px-24">Дата проведения: 5&nbsp;сентября в&nbsp;14:00</p>
        <p><strong>Что расскажет спикер:</strong></p>
        <ol>
          <li class="mb-16">Почему выгодно сотрудничать со&nbsp;школой современных десертов Cake Pro.</li>
          <li class="mb-16">Какие преимущества для вебмастеров.</li>
          <li class="mb-16">Сколько можно заработать на&nbsp;воронке от&nbsp;Cake Pro в&nbsp;2023&nbsp;году.</li>
        </ol>
        <p>Спикер заинтересован в&nbsp;продуктивном сотрудничестве с&nbsp;вебмастерами и&nbsp;на&nbsp;вебинаре готов предложить:</p>
        <ul>
          <li class="mb-16">неограниченный бюджет на&nbsp;трафик;</li>
          <li class="mb-16">готовность осваивать от&nbsp;3&nbsp;000&nbsp;лидов;</li>
          <li class="mb-16">твердую воронку, доказанную бюджетом 5&nbsp;000&nbsp;000&nbsp;₽ (таргет VK);</li>
          <li class="mb-16">еженедельные обновления&nbsp;— тексты и&nbsp;графика для e-mail и&nbsp;VK, баннеры;</li>
          <li class="mb-16">цикл сделки 14&nbsp;— 18&nbsp;дней;</li>
          <li class="mb-16">подробный портрет&nbsp;ЦА, составленный по&nbsp;кастдевам;</li>
          <li class="mb-16">планируемый рост.</li>
        </ul>
        <p class="m-0 mb-24 text-base border-dashed border-2 border-purple-600 rounded-2xl py-16 px-24">А еще: персональные условия для успешных вебмастеров и отсутствие прямых конкурентов.</p>
        <p><strong>От&nbsp;САЛИД:</strong></p>
        <ul>
          <li class="mb-16">приглашенный гость;</li>
          <li class="mb-16">рекомендуемые офферы;</li>
          <li class="mb-16">новые офферы;</li>
          <li class="mb-16">офферы с&nbsp;оплатой за&nbsp;регистрацию;</li>
          <li class="mb-16">текущие акции и&nbsp;конкурсы;</li>
          <li class="mb-16">маркировка рекламы;</li>
          <li class="mb-16">кейсы опытных и&nbsp;новых партнеров;</li>
          <li class="mb-16">ответы на&nbsp;вопросы.</li>
        </ul>
        <p>До&nbsp;встречи на&nbsp;вебинаре сегодня в&nbsp;14:00 мск.</p>
        <p>Длительность вебинара&nbsp;— 1&nbsp;час.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://pruffme.com/landing/salid/web",
          "text" : "Иду на вебинар",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">Ваш надежный партнер,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
