---
title: "Как управлять эмоциями и избавиться от страхов"
preheader: "Новая партнерская программа на ИнфоХит"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2023-03-30-new-partner-ih.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p><a href="https://info-hit.ru/programs/" target="_blank">Каталог партнерок ИнфоХит</a> постоянно обновляется. Каждый веб-мастер сможет найти офферы, которые точно заинтересуют его аудиторию. А&nbsp;это&nbsp;— дополнительная возможность лить трафик и&nbsp;зарабатывать!</p>
        <p><strong>Знакомьтесь с&nbsp;новой партнерской программой на&nbsp;ИнфоХит!</strong></p>
        <p><a href="https://info-hit.ru/programs/partnerskaya-programma-universiteta-black-square-university/" target="_blank">Партнерская программа Black Square University</a>&nbsp;— курсы академии помогут осознать, что такое жизнестойкость и&nbsp;как она влияет на&nbsp;жизнь, как управлять эмоциями и&nbsp;избавиться от&nbsp;страхов.</p>
        <p><strong>Почему покупают курсы:</strong></p>
        <ul>
          <li class="mb-14">эффективные программы, которые помогают избавиться от&nbsp;негативных установок и&nbsp;убеждений;</li>
          <li class="mb-14">пошаговые несложные действия для учеников, чтобы менять себя и&nbsp;менять свою жизнь;</li>
          <li class="mb-14">лекции и&nbsp;сессии от&nbsp;ведущих экспертов разных направлений психологии.</li>
        </ul>
        <p class="m-0 mb-24 text-base border-dashed border-2 border-blue-400 rounded-2xl py-16 px-24">Цель университета Black Square University&nbsp;— популяризация темы личного брендинга на&nbsp;основе формулы: «Сначала строим личность&nbsp;— потом личный бренд».</p>
        <p><strong>Партнерская программа университета Black Square University:</strong></p>
        <ul>
          <li class="mb-14">комиссия: 20%</li>
          <li class="mb-14">цены продуктов: 2&nbsp;490&nbsp;— 250&nbsp;000&nbsp;₽</li>
          <li class="mb-14">аудитория: мужчины и&nbsp;женщины, которые хотят повысить качество жизни и&nbsp;разобраться в&nbsp;своих проблемах.</li>
        </ul>
        <p>Присоединяйтесь к&nbsp;партнерской программе университета Black&nbsp;Square&nbsp;University и&nbsp;зарабатывайте!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/programs/partnerskaya-programma-universiteta-black-square-university/",
          "text" : "Присоединиться",
          "color" : "bg-green-500",
          "hover_color" : "bg-green-600"
          }'></component>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">Ваш надежный партнер,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer-for-partners.html"></component>
  </block>
</extends>
