---
title: "Заработайте на популярном направлении"
preheader: "Летняя распродажа курсов Федора Сидорова"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2023-06-12-sidorov-partners.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Приглашаем партнеров принять участие в&nbsp;рекламе в&nbsp;рамках <a href="https://info-hit.ru/programs/partnerskaya-programma-fyedora-sidorova/" target="_blank">партнерской программы Федора Сидорова</a>.</p>
        <p>«Школа практического инвестирования» Федора Сидорова готовится к&nbsp;летней распродаже курсов.</p>
        <p>13 и 14 июня школа проводит бесплатный марафон. В первый день приглашенный психолог Наталья Афонина расскажет, как наслаждаться отдыхом и быть продуктивным летом. На втором эфире Федор Сидоров поделится популярными инвест-инструментами и&nbsp;объявит о&nbsp;распродаже курсов:</p>
        <ol>
          <li class="mb-16">«Криптофундамент»</li>
          <li class="mb-16">«Метры в&nbsp;капитал»</li>
          <li class="mb-16">«Формула современного инвестирования»</li>
          <li class="mb-16">«Активный доход»</li>
        </ol>
        <h3>«Криптофундамент»</h3>
        <p>Средний чек: 40&nbsp;000&nbsp;₽</p>
        <p>Средняя доходимость до&nbsp;вебинаров: 40%</p>
        <p>Конверсия из&nbsp;заявки в&nbsp;оплату: 45%</p>
        <p>Конверсия из&nbsp;регистрации на&nbsp;автомарафон в&nbsp;оплату: 2,6%</p>
        <p>Выручка школы с&nbsp;партнерского трафика по&nbsp;автоворонке за&nbsp;месяц : 419&nbsp;318&nbsp;₽</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/programs/partnerskaya-programma-fyedora-sidorova/",
          "text" : "Хочу продвигать",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <h3>«Метры в&nbsp;капитал»</h3>
        <p>Средний чек: 41&nbsp;000&nbsp;₽</p>
        <p>Средняя доходимость до&nbsp;вебинаров: 57%</p>
        <p>Конверсия из&nbsp;заявки в&nbsp;оплату: 52%</p>
        <p>Конверсия из&nbsp;регистрации на&nbsp;марафон в&nbsp;оплату: 6,1%</p>
        <p>Сумма выплаты партнерам с&nbsp;последнего запуска: 560&nbsp;000&nbsp;₽</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/programs/partnerskaya-programma-fyedora-sidorova/",
          "text" : "Хочу продвигать",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <h3>«Формула современного инвестирования»</h3>
        <p>Средний чек: 37&nbsp;000&nbsp;₽</p>
        <p>Средняя доходимость до&nbsp;вебинаров: 52%</p>
        <p>Конверсия из&nbsp;регистрации на&nbsp;марафон в&nbsp;оплату: 67%</p>
        <p>Конверсия из&nbsp;заявки в&nbsp;оплату: 2%</p>
        <p>Сумма выплаты партнерам с&nbsp;последнего запуска: 1&nbsp;028&nbsp;920&nbsp;₽</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/programs/partnerskaya-programma-fyedora-sidorova/",
          "text" : "Хочу продвигать",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <p>Это прекрасная возможность увеличить партнерский доход!</p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">Ваш надежный партнер,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
