---
title: "Соберите свою теплую базу и продавайте на автомате"
preheader: "Полезные советы для вебмастеров в блоге САЛИД"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2023-07-18-blog-salid.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Наш партнер САЛИД подготовил новые полезные статьи о&nbsp;продвижении реферальных программ через email-рассылки.</p>
        <p>Продажи через базу рассылки&nbsp;— проверенная временем и&nbsp;работающая стратегия. Но&nbsp;чтобы отправлять письма, нужно иметь базу подписчиков. А&nbsp;еще классно, если она будет теплой. Собрать email-адреса можно через страницу с&nbsp;лид-магнитом. Как правильно ее&nbsp;оформить&nbsp;— читайте в&nbsp;<a href="https://salid.ru/journal/podpisnaya-stranica-dlya-sbora-bazy-v-email-rassylku" target="_blank">статье</a>.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://salid.ru/journal/podpisnaya-stranica-dlya-sbora-bazy-v-email-rassylku",
          "text" : "Хочу узнать",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <p>После подписки потенциальный покупатель должен попасть в&nbsp;воронку продаж. Мягко и&nbsp;ненавязчиво серия писем приведет его к&nbsp;покупке. Прочитайте <a href="https://salid.ru/journal/kak-v-email-rassylke-sdelat-prodazhi-na-avtomate" target="_blank">статью</a>, чтобы узнать о&nbsp;видах автоворонок и&nbsp;принципах их&nbsp;создания.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://salid.ru/journal/kak-v-email-rassylke-sdelat-prodazhi-na-avtomate",
          "text" : "Хочу разобраться",
          "color" : "bg-purple-500",
          "hover_color" : "bg-purple-600"
          }'></component>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">Ваш надежный партнер,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
