---
title: "Новый год к нам мчится! И подарки от ИнфоХит"
preheader: "Строим планы, загадываем желания"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2023-12-20-new-year-1.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Поздравляем вас с&nbsp;наступающим 2023&nbsp;годом!</strong></p>
        <p>Уходящий год был непростым, но&nbsp;вместе мы&nbsp;справились! Давайте&nbsp;же ценить достижения, и&nbsp;вместе идти к&nbsp;новым целям.</p>
        <p class="text-base bg-blue-300 py-16 px-24">В&nbsp;эти замечательные волшебные дни мы&nbsp;все думаем о&nbsp;будущем, загадываем заветные желания, строим планы. Так пусть&nbsp;же новый год принесет вам только позитивные перемены и&nbsp;удачу во&nbsp;всех начинаниях!</p>
        <p>Мы&nbsp;в&nbsp;ИнфоХит будем искать для вас самые лучшие партнерки с&nbsp;большой комиссией. А&nbsp;еще делиться советами по&nbsp;их&nbsp;продвижению.</p>
        <p>Искренне желаем вам крепкого здоровья, счастья, радости и&nbsp;благополучия!</p>
        <p>И&nbsp;дарим подарки!</p>
        <p class="m-0 mb-24 text-base border-dashed border-2 border-purple-600 rounded-2xl py-16 px-24">Специально для вас сделали уникальное предложение&nbsp;— расширенный доступ к&nbsp;каталогу партнерских программ в&nbsp;ИнфоХит НАВСЕГДА со&nbsp;скидкой 75%!</p>
        <p><strong><s>9900&nbsp;₽</s> 2490&nbsp;₽</strong></p>
        <p>Один платеж&nbsp;— и&nbsp;в&nbsp;вашем распоряжении все функции фильтра, который поможет вам отсортировать партнерки по&nbsp;количеству продаж, максимальному проценту и&nbsp;другим важным параметрам.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/programs/buy/?action=BUY&id=311888",
          "text" : "Хочу доступ со скидкой",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">Ваш надежный партнер,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
