---
title: "Зарабатывайте на продвижении дизайн-профессий"
preheader: "Подробности узнайте на вебинаре САЛИД"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2023-05-29-vebinar-salid.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Приходите на&nbsp;вебинар САЛИД, если хотите подключиться к&nbsp;прибыльной партнерке и&nbsp;узнать все о&nbsp;ее&nbsp;продвижении.</p>
        <p class="text-base bg-purple-200 py-16 px-24">Дизайн-профессии сейчас востребованы не&nbsp;меньше, чем IT-направление или финансовая сфера. Трафик здесь хорошо окупится благодаря широкой&nbsp;ЦА и&nbsp;высокому спросу в&nbsp;индустрии дизайна.</p>
        <p>Приходите завтра, <strong>30&nbsp;мая в 14:00</strong> на&nbsp;вебинар «Заработок на&nbsp;продвижении дизайн-профессий».</p>
        <p>Менеджер <a href="https://info-hit.ru/programs/partnerskaya-programma-dizayn-studii-logomashina/" target="_blank">партнерской программы «Логомашина»</a> Валентина Смирнова расскажет, как увеличить свой доход в&nbsp;краткосрочной перспективе на&nbsp;оффере<a href="https://salid.ru/registraciya?w=182581" target="_blank"> «Обучение дизайн-профессиям</a>».</p>
        <p><strong>На&nbsp;вебинаре вы&nbsp;узнаете:</strong></p>
        <ul>
          <li class="mb-16">почему выбирают курсы онлайн-школы «Логомашина»;</li>
          <li class="mb-16">условия и&nbsp;преимущества партнерской программы;</li>
          <li class="mb-16">об&nbsp;оффере<a href="https://salid.ru/registraciya?w=182581" target="_blank"> «Обучение дизайн-профессиям</a>» (тема, спикеры, ЦА, формат, длительность и&nbsp;контент, какие лид-магниты и&nbsp;сколько, что/когда продается и&nbsp;по&nbsp;каким ценам, конверсии, путь клиента и&nbsp;работа отдела продаж);</li>
          <li class="mb-16">о&nbsp;вебинарной воронке.</li>
        </ul>
        <p>Ждем вас 30&nbsp;мая в&nbsp;14:00&nbsp;мск.</p>
        <p>До&nbsp;встречи!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://pruffme.com/landing/salid/web",
          "text" : "Иду на вебинар",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">Ваш надежный партнер,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
