---
title: "Поздравляем с 8 марта"
preheader: "И дарим подарки!"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-03-06-womans-day.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Приближается чудесный праздник 8&nbsp;марта. ИнфоХит искренне поздравляет прекрасных дам. Желаем вам высоких комиссий, надежных партнеров и&nbsp;много выгодных предложений!</p>
        <p class="text-base bg-purple-300 py-16 px-24">Специально для вас приготовили подарок&nbsp;— расширенный доступ к&nbsp;каталогу партнерских программ в&nbsp;ИнфоХит НАВСЕГДА со&nbsp;скидкой 75%!</p>
        <p><s>9900&nbsp;₽</s> 2490&nbsp;₽</p>
        <p>Один платеж&nbsp;— и&nbsp;в&nbsp;вашем распоряжении все функции фильтра, который поможет вам отсортировать партнерки по&nbsp;количеству продаж, максимальному проценту и&nbsp;другим важным параметрам.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/programs/buy/?action=BUY&id=311888",
          "text" : "Купить доступ со скидкой",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда «ИнфоХит»!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
