---
title: "Прибыльная партнерка с курсами в самых популярных направлениях"
preheader: "Вебинар с представителем академии Eduson"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-09-30-vebinar-salid.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Наш партнер САЛИД приглашает на&nbsp;вебинар, где расскажет о&nbsp;продуктах ведущего сервиса дистанционного обучения академии Eduson.</p>
        <p>Обязательно приходите, чтобы узнать больше об&nbsp;офферах и&nbsp;принять участие в&nbsp;розыгрыше практического онлайн-курса <a href="https://eduson.academy/ai" target="_blank">«Нейросети на&nbsp;практике: для себя, работы и&nbsp;бизнеса»</a>.</p>
        <p><strong>Что будет на&nbsp;вебинаре:</strong></p>
        <ol>
          <li class="mb-10">Об&nbsp;академии Eduson.</li>
          <li class="mb-10">Продуктовая линейка, преподавательский состав и&nbsp;ЦА академии.</li>
          <li class="mb-10">Партнерская программа: кто может стать партнером, преимущества работы с&nbsp;офферами академии.</li>
          <li class="mb-10">Кейсы.</li>
          <li class="mb-10">Об&nbsp;офферах + анонс октябрьского конкурса.</li>
          <li class="mb-10">Розыгрыш, ответы на&nbsp;вопросы.</li>
        </ol>
        <p class="m-0 mb-24 text-base border-dashed border-2 border-yellow-600 rounded-2xl py-16 px-24">На&nbsp;вебинаре школа расскажет о&nbsp;продуктах, условиях для партнеров, новом конкурсе. После выступления представителя академии у&nbsp;вас будет возможность задать вопросы, а&nbsp;еще стать участником розыгрыша курса.</p>
        <p>В&nbsp;ИнфоХит размещено более 60&nbsp;курсов академии по&nbsp;самым разным направлениям. Лендингов много, поэтому может быть много вопросов по&nbsp;ним. Больше информации, чем будет на&nbsp;вебинаре, вам не&nbsp;даст ни&nbsp;один менеджер.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/programs/partnerskaya-programma-akademii-eduson/",
          "text" : "Подробнее о партнерке",
          "color" : "bg-purple-500",
          "hover_color" : "bg-purple-600"
          }'></component>
        <p class="mt-24">Офферы идеально подходят тем, у&nbsp;кого каталоги курсов или похожие площадки, где вы&nbsp;массово рекламируете курсы.</p>
        <p><strong>Когда:</strong> 1&nbsp;октября в&nbsp;14:00 по&nbsp;мск</p>
        <p>До встречи на&nbsp;вебинаре!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://pruffme.com/landing/salid/web",
          "text" : "Иду на вебинар",
          "color" : "bg-gray-500",
          "hover_color" : "bg-gray-600"
          }'></component>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>