---
title: "Комиссионные 80% с первого продукта"
preheader: "Партнерка в популярной нише"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-01-18-romanceva-partners.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Присмотритесь к&nbsp;партнерской программе в&nbsp;популярной нише.</p>
        <p>Сексология&nbsp;— один из&nbsp;самых актуальных запросов для женщин.</p>
        <p>Ирина Романцева, психолог-сексолог, с&nbsp;2004 года в&nbsp;психологии (МГУ им. М.В. Ломоносова), с&nbsp;2019 год в&nbsp;сексологии.</p>
        <ul>
          <li class="mb-12">10&nbsp;000 часов личных консультаций</li>
          <li class="mb-12">15&nbsp;сертификатов повышения квалификации</li>
          <li class="mb-12">системный сексуальный терапевт</li>
        </ul>
        <p><strong>Партнерская программа онлайн-школы для женщин Fenomenata:</strong></p>
        <ol>
          <li class="mb-12">Партнерские выплаты&nbsp;80% с&nbsp;первого продукта, 20% с&nbsp;флагмана.</li>
          <li class="mb-12">Закрепление реферала на&nbsp;10&nbsp;месяцев.</li>
          <li class="mb-12">Короткая воронка прогрева, первые деньги в&nbsp;течении 4х&nbsp;дней.</li>
          <li class="mb-12">Конверсия воронки из&nbsp;теплого трафика в&nbsp;трип-ваер 5.5%.</li>
          <li class="mb-12">Конверсия посетителей вебинара после трип-ваера, в&nbsp;покупку основного продукта&nbsp;19%.</li>
        </ol>
        <p>Если ваша аудитория&nbsp;— женщины, этот оффер для вас!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/programs/partnerskaya-programma-onlayn-shkoly-dlya-zhenshchin-fenomenata/",
          "text" : "Подробнее о партнерке",
          "color" : "bg-green-500",
          "hover_color" : "bg-green-600"
          }'></component>
        <p><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">Ваш надежный партнер,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
