---
title: "Уникальный оффер от «Академии Рэй Ки»"
preheader: "Оффер, который входит в топ 1% школ на GetCourse"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-03-18-reiki.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>«Академия Рэй Ки» Елены Чурзиной запустила партнерскую программу для вас!</p>
        <p><strong>Почему выгодно присоединиться сейчас:</strong></p>
        <ol>
          <li class="mb-16">Высокое отчисление с&nbsp;продажи&nbsp;— до&nbsp;50%.</li>
          <li class="mb-16">Среднее время от&nbsp;регистрации до&nbsp;продажи&nbsp;— <nobr>2-3</nobr> дня.</li>
          <li class="mb-16">Пять&nbsp;проверенных автоворонок с&nbsp;высоким результатом.</li>
          <li class="mb-16">Востребованный и&nbsp;полезный продукт.</li>
          <li class="mb-16">Прозрачная аналитика.</li>
        </ol>
        <p>Если устали от&nbsp;офферов, которые не&nbsp;приносят желаемых доходов, успейте заработать вместе с&nbsp;академией. Здесь&nbsp;всегда за&nbsp;долгосрочное сотрудничество, поэтому важен рост каждого партнера.</p>
        <p><strong>Почему это именно тот оффер, который вы&nbsp;ждали:</strong></p>
        <ol>
          <li class="mb-16">Стабильно работающие автоворонки.</li>
          <li class="mb-16">Широкая целевая аудитория.</li>
          <li class="mb-16">Востребованная ниша&nbsp;— топ-3&nbsp;по&nbsp;рынку.</li>
          <li class="mb-16">Большой, активный отдел продаж.</li>
          <li class="mb-16">Возможность оплаты обучения частями и&nbsp;в&nbsp;рассрочку.</li>
        </ol>
        <p>Переходите, регистрируйтесь и&nbsp;получайте свои первые комиссионные!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/programs/partnerskaya-programma-eleny-churzinoy-i-zhenskoy-akademii-reyki/",
          "text" : "Подробнее",
          "color" : "bg-purple-500",
          "hover_color" : "bg-purple-600"
          }'></component>
        <p><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда «ИнфоХит»!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
