---
title: "Станьте партнером Московской школы астропсихологии Ирины и Михаила Кош"
preheader: "Начните зарабатывать до 25% с каждой продажи"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2025-02-12-kosh.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p class="text-base bg-purple-300 py-16 px-24">Станьте партнером Московской школы астропсихологии Ирины и&nbsp;Михаила Кош и&nbsp;зарабатывайте до&nbsp;25% с&nbsp;каждой продажи!</p>
        <p><i>Вы&nbsp;увлекаетесь астрологией, психологией или эзотерикой?</i></p>
        <p><i>У&nbsp;вас есть аудитория, интересующаяся этими темами?</i></p>
        <p>Тогда эта партнерская программа создана для вас!</p>
        <p><strong>Преимущества партнерской программы Московской школы астропсихологии:</strong></p>
        <ol>
          <li class="mb-10"><strong>Опыт экспертов</strong>&nbsp;— более 35&nbsp;лет работы в&nbsp;области астропсихологии.</li>
          <li class="mb-10"><strong>Школа работает с&nbsp;1995 года</strong> и&nbsp;за&nbsp;это время здесь обучились десятки тысяч студентов из&nbsp;разных стран мира.</li>
          <li class="mb-10"><strong>Авторские методики обучения</strong>, разработанные Ириной и&nbsp;Михаилом Кош, сочетают классическую астрологию и&nbsp;психологию. Обеспечивают глубину знаний и&nbsp;практический подход.</li>
          <li class="mb-10"><strong>Высокая востребованность курсов:</strong> от&nbsp;начального уровня до&nbsp;профессионального, включая уникальные специализации.</li>
          <li class="mb-10"><strong>15+&nbsp;запусков в&nbsp;год</strong>, включая бесплатные марафоны и&nbsp;мини-курсы, которые постоянно пользуются популярностью.</li>
          <li class="mb-10"><strong>Сертификация с&nbsp;выдачей дипломов</strong>. Ученики получат признанные документы, подтверждающие их&nbsp;квалификацию.</li>
          <li class="mb-10"><strong>Проверенные учебные программы</strong>, которые мотивируют учеников проходить обучение до&nbsp;конца и&nbsp;оставаться в&nbsp;системе.</li>
          <li class="mb-10"><strong>Отработанная стратегия</strong> доведения потенциальных покупателей до&nbsp;приобретения продукта.</li>
        </ol>
        <p><strong>Как это работает?</strong></p>
        <ol>
          <li class="mb-10">Присоединяйтесь к&nbsp;партнерской программе и&nbsp;получите уникальные ссылки для продвижения.</li>
          <li class="mb-10">Размещайте ссылки в&nbsp;своих соцсетях, блогах, рассылках или делитесь с&nbsp;друзьями.</li>
          <li class="mb-10">Начинайте продвигать продукты и&nbsp;зарабатывать вместе с&nbsp;Московской школой астропсихологии!</li>
        </ol>
        <p>Ваша задача&nbsp;— направлять людей на&nbsp;бесплатные мини-курсы! Остальное школа берет на&nbsp;себя. Все покупки учеников, пришедших по&nbsp;вашей ссылке, принесут вам процент.</p>
        <p><strong>Актуальный запуск</strong>&nbsp;— бесплатный мини-курс «Простой подход к&nbsp;расшифровке гороскопа».</p>
        <p><strong>Дата:</strong> курс в&nbsp;записи.</p>
        <p><strong>Средний чек для участников основного курса:</strong> от&nbsp;19&nbsp;000&nbsp;₽.</p>
        <p class="mb-16">Поддержите своих подписчиков полезными знаниями и&nbsp;получите стабильный доход!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/programs/partnerskaya-programma-iriny-i-mikhaila-kosh/",
          "text" : "Подключиться к программе",
          "color" : "bg-purple-500",
          "hover_color" : "bg-purple-600"
          }'></component>
        <p class="mt-32"><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">Ваш надежный партнер,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
