---
title: "Расскажите аудитории, как сэкономить на визитах к стоматологу"
preheader: "Новая партнерка с выгодными условиями на ИнфоХит"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2025-01-21-partners.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p class="text-base bg-green-100 py-16 px-24">Станьте партнером онлайн-школы «Береги чеЛЮсть смолоду» и&nbsp;получайте <nobr>23–30%</nobr> за&nbsp;каждую продажу, помогая людям сохранить здоровье полости рта.</p>
        <p><strong>Преимущества участия в&nbsp;партнерской программе:</strong></p>
        <ol>
          <li class="mb-10"><strong>Дополнительный доход</strong>&nbsp;— получайте <nobr>23–30%</nobr> с&nbsp;каждой успешной рекомендации.</li>
          <li class="mb-10"><strong>Социально-значимая миссия</strong>&nbsp;— расскажите людям, как улучшить гигиену полости рта, сохранить здоровье и&nbsp;предотвратить дорогостоящее лечение.</li>
          <li class="mb-10"><strong>Доступные продукты</strong>&nbsp;— стоимость курсов от&nbsp;1500&nbsp;₽ до&nbsp;9200&nbsp;₽.</li>
          <li class="mb-24"><strong>Рекламные материалы</strong>&nbsp;— школа предоставит готовые письма, баннеры для будущих креативов.</li>
        </ol>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/programs/partnerskaya-programma-onlayn-shkoly-beregi-chelyust-smolodu/",
          "text" : "Подробнее",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <p class="mt-32"><strong>Целевая аудитория онлайн-школы:</strong></p>
        <ol>
          <li class="mb-10"><strong>Возраст:</strong> <nobr>22–62 года.</li>
          <li class="mb-10"><strong>Особенности аудитории:</strong> люди, которые уже заботятся о&nbsp;своем здоровье, посещают гигиениста или сталкиваются с&nbsp;такими проблемами, как кариес, кровоточивость десен, неприятный запах изо рта, налет от&nbsp;чая/кофе. Также мамы, которые заботятся о&nbsp;здоровье детей, и&nbsp;люди, носящие брекеты.</li>
          <li class="mb-10"><strong>Профессии:</strong> любые.</li>
          <li class="mb-10"><strong>Интересы:</strong> здоровье, красота.</li>
        </ol>
        <p><strong>Разрешенные и&nbsp;запрещенные площадки для рекламы:</strong></p>
        <ol>
          <li class="mb-10"><strong>Разрешено:</strong> социальные сети, блоги, сообщества о&nbsp;здоровье и&nbsp;красоте, YouTube.</li>
          <li class="mb-10"><strong>Запрещено:</strong> Adult-трафик, контекстная реклама на&nbsp;бренд, агрессивные методы продвижения.</li>
        </ol>
        <p>Онлайн-школа предоставит необходимые маркетинговые материалы для эффективного продвижения.</p>
        <p>Не&nbsp;упустите шанс начать зарабатывать, помогая людям улучшать их&nbsp;здоровье и&nbsp;качество жизни!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/programs/partnerskaya-programma-onlayn-shkoly-beregi-chelyust-smolodu/",
          "text" : "Стать партнером «Береги чеЛЮсть смолоду»",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <p class="mt-32"><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит и онлайн-школа «Береги чеЛЮсть смолоду»!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
