---
title: "Превратите любовь к кофе в источник дохода"
preheader: "Начните зарабатывать на курсах онлайн-школы ALİYA COFFEE"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2025-03-19-aliya-coffee.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p class="text-base bg-yellow-200 py-16 px-24">ALİYA COFFEE&nbsp;— единственная в&nbsp;мире школа, которая обучает чтению кофейной гущи в&nbsp;традициях Востока и&nbsp;готовит ведущих древнейшей трансформационной игры Вуслат Суфийская Лила и&nbsp;Деврие.</p>
        <p>Чтение гущи&nbsp;— один из&nbsp;мощнейших и&nbsp;древнейших оракулов Востока. Вуслат Суфийская Лила&nbsp;— игра самопознания, которой более полутора тысячи лет. Оба инструмента остались нам в&nbsp;наследие от&nbsp;суфийских мудрецов.</p>
        <p>Традиции чтения кофейной гущи и&nbsp;игры Вуслат Суфийская Лила во&nbsp;многом утеряны, а&nbsp;язык этих инструментов и&nbsp;вовсе забыт. Цель школы&nbsp;— возродить&nbsp;их, собрать все самое ценное, что сохранилось в&nbsp;культуре, популяризовать и&nbsp;дать новую жизнь через экспертов, которых и&nbsp;готовят в&nbsp;ALİYA COFFEE.</p>
        <p><strong>Условия партнерской программы:</strong></p>
        <ul>
          <li class="mb-10">комиссия&nbsp;— от&nbsp;11% до&nbsp;23%;</li>
          <li class="mb-10">стоимость курсов&nbsp;— от&nbsp;10&nbsp;000 до&nbsp;74&nbsp;497&nbsp;₽;</li>
          <li class="mb-10">бесплатная игра-знакомство + демо-урок в&nbsp;подарок.</li>
        </ul>
        <p class="mb-16">Подробности о&nbsp;партнерской программе узнаете по&nbsp;кнопке ниже ↓</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/programs/partnerskaya-programma-onlayn-shkoly-al-ya-coffee-i-alii-indzhe/",
          "text" : "Подробнее",
          "color" : "bg-gray-500",
          "hover_color" : "bg-gray-600"
          }'></component>
        <p class="mt-32"><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">Ваш надежный партнер,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
