---
title: "Покупайте на ИнфоХит — покупайте с кешбэком"
preheader: "Верните до 10% стоимости онлайн-курса"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main-login.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
      "src" : "https://info-hit.ru/include/images/letter/2023-10-19-cashback-trigger-letter.jpg"
      }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Учиться на&nbsp;ИнфоХит выгодно!</p>
        <p class="text-base bg-green-200 py-16 px-24">За&nbsp;покупку большинства курсов можно получить кешбэк до&nbsp;10%. Им&nbsp;можно оплачивать другие курсы на&nbsp;ИнфоХит или вывести на&nbsp;банковскую карту.</p>
        <p>Почему мы&nbsp;платим кешбэк?</p>
        <p><strong>3&nbsp;простых причины:</strong></p>
        <ol>
          <li class="mb-16">Мы&nbsp;привлекаем посетителей в&nbsp;магазины авторов.</li>
          <li class="mb-16">Получаем за&nbsp;это заслуженный процент прибыли.</li>
          <li class="mb-16">Вам предоставляем кешбэк, чтобы вы&nbsp;радовались новым знаниям еще больше!</li>
        </ol>
        <p><strong>Как получить кешбэк на&nbsp;ИнфоХит:</strong></p>
        <ol>
          <li class="mb-16">Быть учеником ИнфоХит.</li>
          <li class="mb-16">Авторизоваться на&nbsp;сайте ИнфоХит.</li>
          <li class="mb-16">Выбрать образовательный онлайн-продукт: курс, книгу, вебинар.</li>
          <li class="mb-16">Оплатить его удобным способом.</li>
          <li class="mb-16">Получить кешбэк!</li>
        </ol>
        <p>Точную сумму кешбэка можно посмотреть в&nbsp;одноименной вкладке в&nbsp;Личном кабинете ученика ИнфоХит. Она отобразится там после оплаты заказа.</p>
          <p><img style="border: 2px solid rgba(134, 134, 134, 0.858)" src="https://info-hit.ru/include/images/letter/2023-10-09-cashback.jpg" alt=""></p>
        <p>Деньги можно перевести на&nbsp;баланс Личного кабинета и&nbsp;оплатить до&nbsp;50% стоимости любого курса из&nbsp;раздела «Покупка на&nbsp;ИнфоХит».</p>
        <p>А&nbsp;еще можно копить кешбэк. Когда сумма на&nbsp;балансе Личного кабинета ИнфоХит превысит 500&nbsp;₽, деньги можно вывести на&nbsp;банковскую карту.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/catalog/",
          "text" : "Выбрать курс с кешбэком",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
