---
title: "Курсы на ИнфоХит доступны в рассрочку"
preheader: "Учитесь сейчас, а заплатите потом"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main-login.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
      "src" : "https://info-hit.ru/include/images/letter/b24-trigger-newletter-user-28.jpg"
      }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Можно не&nbsp;откладывать учебу, даже если стоимость курса кажется высокой для вас. ИнфоХит предлагает удобную программу рассрочки на&nbsp;большинство продуктов.</p>
        <p><strong>В&nbsp;чем преимущества такой покупки:</strong></p>
        <ol>
          <li class="mb-16">Нет никаких процентов и&nbsp;переплат. Вы&nbsp;оплачиваете только стоимость курса комфортными ежемесячными платежами. Срок рассрочки выбираете сами.</li>
          <li class="mb-16">Вы&nbsp;начинаете учиться сразу после подтверждения заявки, а&nbsp;первый платеж вносите только через месяц.</li>
          <li class="mb-16">Процедура оформления рассрочки простая. Не&nbsp;нужно посещать банк и&nbsp;предоставлять дополнительные документ. Достаточно указать этот способ оплаты при заказе курса.</li>
        </ol>
        <p class="text-base bg-purple-100 py-16 px-24">Оплачивая обучение частями, вы&nbsp;вкладываете в&nbsp;свое будущее. Применяйте полученные знания на&nbsp;практике, и&nbsp;вложения окупятся уже в&nbsp;процессе учебы.</p>
        <p>Специалисты технической поддержки с&nbsp;удовольствием ответят на&nbsp;все ваши вопросы и&nbsp;помогут оформить заказ на&nbsp;выгодных условиях.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/catalog/",
          "text" : "Выбрать курс",
          "color" : "bg-purple-500",
          "hover_color" : "bg-purple-600"
          }'></component>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
