---
title: "Мы готовы вести трафик на ваши курсы!"
preheader: "А вы уже подготовились к «черной пятнице»?"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
      "src" : "https://info-hit.ru/include/images/letter/2022-11-16-authors-letter-1-black-friday.jpg"
      }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p><strong>Добрый день!</strong></p>
        <p>«Черная Пятница» 2022 уже близко! Надеемся, вы&nbsp;подготовили скидки и&nbsp;приятные бонусы для своих учеников.</p>
        <p>Мы&nbsp;уже рекомендуем лучшие курсы и&nbsp;мастер-классы в&nbsp;рассылках и&nbsp;соцсетях ИнфоХит. Наши партнеры готовы лить трафик на&nbsp;ваши спецпредложения!</p>
        <p>Если вы&nbsp;планируете грандиозную распродажу&nbsp;— сообщите нам. Лучшие офферы мы&nbsp;опубликуем в&nbsp;соцсетях, чтобы о&nbsp;них узнало как можно больше людей.</p>
        <p>Просто отправьте информацию об&nbsp;акции в&nbsp;ответном письме.</p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">Ваш надежный партнер,<br>ИнфоХит.</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
