---
title: "11-12 июня 2022 конференция про онлайн-образование в Петербурге"
preheader: "Мощные и вовлеченные практики ответят на самые горячие вопросы в образовании"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
      "src" : "https://info-hit.ru/include/images/letter/2022-05-31-white-conference.jpg"
      }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p><strong>Приветствуем!</strong></p>
        <p class="text-base bg-blue-100 py-16 px-24"><strong>11-12 июня 2022&nbsp;</strong>в Санкт-Петербурге пройдет <strong>конференция про онлайн-образование без обмана и&nbsp;манипуляций «Белая конфа».</strong></p>
        <h3 class="mt-36">Мощные практики ответят<br>на&nbsp;самые горячие вопросы:</h3>
        <ul>
          <li class="mb-12">маркетинг и&nbsp;продажи;</li>
          <li class="mb-12">работа с&nbsp;кураторами, методологами, продюсерами, преподавателями;</li>
          <li class="mb-12">повышение доходимости;</li>
          <li class="mb-12">техническое обеспечение;</li>
          <li>масштабирование.</li>
        </ul>
        <p class="text-base bg-purple-200 py-16 px-24"><strong>Формат участия: онлайн и&nbsp;офлайн</strong></p>
        <h3 class="mt-36">Среди спикеров:</h3>
        <ul>
          <li class="mb-12"><strong>Дмитрий Румянцев</strong>, создатель «Высшей Школы Таргета», Ивентологии и&nbsp;«Точки Доступа».</li>
          <li class="mb-12"><strong>Ольга Офицерова</strong>, руководитель отдела маркетинга TargetHunter, продюсер.</li>
          <li class="mb-12"><strong>Илья Русаков</strong>, основатель агентства поискового маркетинга impulse.guru.</li>
          <li class="mb-12"><strong>Сергей Сабитов</strong>, руководитель команды по&nbsp;продвижению, работал над проектами Skillbox, GeekBrains, GeekSchool Create Yourself, ЕГЭВОХ и&nbsp;др.</li>
          <li><strong>Евгения Вольнова</strong>, основатель компании по&nbsp;юридическому сопровождению Uristinfobiz.</li>
        </ul>
        <component src="src/components/gray-line.html"></component>
        <p>Организаторы&nbsp;— создатели «Сурового Питерского SMM» и&nbsp;Sold Out <strong>Наталия Франкель</strong> и&nbsp;<strong>Дмитрий Румянцев.</strong></p>
        <component src="src/components/gray-line.html"></component>
        <p class="mb-24"><strong>Регистрируйтесь ↓</strong> — Скидка&nbsp;10% по&nbsp;промокоду&nbsp;<span class="border-dashed border-2 border-blue-400 rounded-lg text-lg px-8 py-5 inline-block">infohit</span></p>
        <component src="src/components/button.html" locals='{
          "link" : "https://whiteconf.ru/?utm_source=infohit&utm_medium=email&utm_campaign=whiteconf4",
          "text" : "Зарегистрироваться",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда «ИнфоХит»!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
