---
title: "Ученики ждут новинок от вас!"
preheader: "Добавьте новые курсы в свой профиль на ИнфоХит и привлекайте больше клиентов"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2023-02-20-new-courses.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Ваш профиль размещен в&nbsp;каталоге курсов ИнфоХит. Чтобы ваши страницы были в&nbsp;ТОПе и&nbsp;привлекали трафик, нужно регулярно их&nbsp;обновлять. Порадуйте учеников новыми курсами!</p>
        <p class="m-0 mb-24 text-base border-dashed border-2 border-blue-400 rounded-2xl py-16 px-24">Большой выбор курсов позволит охватить все сегменты вашей целевой аудитории: от&nbsp;бюджетных до&nbsp;VIP. Каждый найдет программу, которая подходит для его целей и&nbsp;кошелька.</p>
        <p>Поисковики любят страницы, где представлено много продуктов. Загружая новые курсы, вы&nbsp;увеличиваете вероятность, что пользователю выпадет именно ваш профиль по&nbsp;ключевым словам.</p>
        <p>Напишите на&nbsp;почту <a href="mailto:info@info-hit.ru?subject=Обновить курсы в каталоге ИнфоХит"><strong>info@info-hit.ru</strong></a>, чтобы обновить список курсов. Личный менеджер свяжется с&nbsp;вами, уточнит необходимую информацию и&nbsp;добавит новинки в&nbsp;ваш профиль.</p>
        <component src="src/components/button.html" locals='{
          "link" : "mailto:info@info-hit.ru?subject=Обновить курсы в каталоге ИнфоХит",
          "text" : "Обновить курсы",
          "color" : "bg-green-500",
          "hover_color" : "bg-green-600"
          }'></component>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">Ваш надежный партнер,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
