---
title: "Положительные отзывы учеников — двигатель вашего успеха!"
preheader: "Управляйте своей репутацией в интернете с помощью ИнфоХит"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2023-04-27-reviews.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p class="text-base bg-yellow-200 py-16 px-24">80% пользователей выбирают товар или услугу по&nbsp;отзывам.</p>
        <p>Один негативный отзыв способен перекрыть собой десяток положительных и&nbsp;произвести неприятное впечатление на&nbsp;многих потенциальных клиентов. Отзывам на&nbsp;официальных сайтах доверяют меньше, чем на&nbsp;форумах и&nbsp;в&nbsp;соцсетях. Используйте по&nbsp;полной возможности своего персонального профиля на&nbsp;ИнфоХит.</p>
        <p>У&nbsp;вас есть своя страничка с&nbsp;отзывами. Когда людям все нравится, они редко пишут отзывы. Зато&nbsp;те, кто недоволен, готовы сообщить об&nbsp;этом сразу на&nbsp;нескольких площадках.</p>
        <p class="m-0 mb-24 text-base border-dashed border-2 border-green-500 rounded-2xl py-16 px-24">Просите учеников и&nbsp;клиентов оставлять отзывы на&nbsp;вашей странице!</p>
        <p>Персональный менеджер ИнфоХит может бесплатно сделать вам мини-сайт для обратной связи. На&nbsp;нем будут только вы&nbsp;и&nbsp;ваши курсы. Без логотипа ИнфоХит, без конкурентов!</p>
        <component src="src/components/button.html" locals='{
          "link" : "mailto:info@info-hit.ru?subject",
          "text" : "Хочу мини-сайт",
          "color" : "bg-green-500",
          "hover_color" : "bg-green-600"
          }'></component>
        <p><strong>Какими способами привлекать клиентов к&nbsp;написанию отзывов:</strong></p>
        <ol>
          <li class="mb-12">Напишите призыв в&nbsp;блоге или на&nbsp;сайте.</li>
          <li class="mb-12">Отправьте e-mail рассылку.</li>
          <li class="mb-12">Сделайте пост, в&nbsp;котором просите оставить отзыв.</li>
          <li class="mb-12">Давайте обратную связь на&nbsp;отзывы, которые уже написаны. Не&nbsp;стесняйтесь общаться.</li>
        </ol>
        <p>Ответить на&nbsp;отзывы на&nbsp;ИнфоХит можно через Личный кабинет автора. Получить к&nbsp;нему доступ помогут в&nbsp;телеграмм-чате <a href="https://t.me/ih_school_support_bot" target="_blank"><strong>техподдержки авторов</strong></a>.</p>
        <h3>Это эффективно</h3>
        <p>Демонстрируем на&nbsp;примере <a href="https://info-hit.ru/author-susak-danila/" target="_blank">Данилы Сусак</a>. Автор и&nbsp;основатель оздоровительного центра Ksamata, чемпион мира по&nbsp;цигун и&nbsp;инструктор международного класса сделал рассылку по&nbsp;подписчикам с&nbsp;просьбой оставить комментарий о&nbsp;курсе в&nbsp;ИнфоХит.</p>
        <p>Сейчас на&nbsp;его странице более восьмисот положительных отзывов. А&nbsp;страница Данилы находится в&nbsp;Топ-5 поисковой выдачи «Яндекса». И&nbsp;это положительно влияет на&nbsp;его репутацию в&nbsp;сети и&nbsp;привлекает дополнительный трафик.</p>
          <p><img style="border: 2px solid rgb(150, 234, 165)" src="https://info-hit.ru/include/images/letter/opinion-susak-danila.jpg" alt=""></p>
        <p>Обратитесь в&nbsp;<a href="https://t.me/ih_school_support_bot" target="_blank"><strong>чат техподдержки авторов</strong></a>, чтобы подготовить письмо для рассылки или пост для социальных сетей.</p>
        <p>Управляйте своей сетевой репутацией вместе с&nbsp;ИнфоХит! Мы&nbsp;всегда открыты для сотрудничества.</p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">Ваш надежный партнер,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
