---
title: "Получите +1000 к лояльности, репутации и продажам"
preheader: "Установите виджет отзывов ИнфоХит"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
      <component src="src/components/img-block-without-link-round.html" locals='{
      "src" : "https://info-hit.ru/include/images/letter/2023-12-13-feedback-widget.jpg"
      }'></component>

      <component src="src/components/round-block-mt.html">
        <p><strong>Добрый день!</strong></p>
        <p>Положительный комментарий работает лучше самого продуманного рекламного креатива. Увидев рекламу, люди идут читать, что пишут о&nbsp;компании, товаре или услуге в&nbsp;интернете.</p>
        <p>Отзывы&nbsp;— мощный инструмент привлечения новых учеников и&nbsp;работы с&nbsp;репутацией в&nbsp;сети. А&nbsp;отзывы на&nbsp;маркетплейсах вызывают куда больше доверия, чем на&nbsp;сайте продавца товара или услуги. И&nbsp;у&nbsp;вас они уже есть! На&nbsp;вашей странице ИнфоХит.</p>
        <p>Осталось только скопировать ссылку из&nbsp;<a href="https://info-hit.ru/account/author/reviews-list-widget/" target="_blank">Личного кабинета</a> на&nbsp;ИнфоХит и&nbsp;вставить на&nbsp;свой сайт. Новые отзывы будут подгружаться автоматически.</p>
        <p>Добавьте виджет отзывов на&nbsp;свой сайт, как это уже сделала у себя <a href="https://school.chessmaestro.ru/reviews" target="_blank">школа шахматного мастерства ChessMaster</a>.</p>
        <p>Есть вопросы&nbsp;— получите ответ в&nbsp;<a href="https://t.me/ih_school_support_bot" target="_blank"><strong>чате техподдержки авторов</strong></a>.</p>
      </component>

        <tr>
        <td class="h-24 sm:h-16"></td>
      </tr>
      <tr>
        <td class="bg-white text-gray-800 text-base text-left px-48 py-24 sm:p-14 leading-24 rounded-2xl">
          <p><img style="border: 2px solid rgb(255, 255, 255)" src="https://info-hit.ru/include/images/letter/2023-11-27-prodamus-1.jpg" alt=""></p>
          <p>В&nbsp;Новый год&nbsp;— без забот!</p>
          <p>Без забот о&nbsp;приеме платежей с&nbsp;ИнфоХит и&nbsp;Prodamus.</p>
          <p>Скидка 2000&nbsp;₽ на&nbsp;подключение промокоду <strong>infohit</strong>, а&nbsp;еще:</p>
          <ol>
            <li class="mb-12"><strong>Льготный период&nbsp;— 3&nbsp;месяца.</strong> В&nbsp;это время нет комиссии на&nbsp;первые 100&nbsp;000&nbsp;₽ оборота за&nbsp;операции по&nbsp;банковским реквизитам, картам&nbsp;РФ, через «Быстрый платеж» и&nbsp;«Сбербанк Онлайн».</li>
            <li class="mb-12"><strong>Возможности Prodamus LMS бесплатно в&nbsp;течение 1&nbsp;месяца.</strong> Сможете создавать курсы, собирать чат-ботов, проводить вебинары и&nbsp;управлять продажами.</li>
          </ol>
          <component src="src/components/button.html" locals='{
            "link" : "https://info-hit.ru/away.php?to=link&id=903",
            "text" : "Подключиться с бонусами",
            "color" : "bg-blue-500",
            "hover_color" : "bg-blue-600"
            }'></component>
              <component src="src/components/gray-line.html"></component>
          <p class="text-base mb-36">С&nbsp;уважением,<br>команда «ИнфоХит»!</p>
          </td>
      </tr>

      <tr>
        <td class="h-32 sm:h-24"></td>
      </tr>
      <component src="src/components/footer.html"></component>
    </fetch>
  </block>
</extends>
