---
title: "Бесплатное обучение от партнера ИнфоХит"
preheader: "Старт группы 16 мая"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2023-05-12-shelomentsev-course.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p class="text-base bg-green-200 py-16 px-24">Один из&nbsp;наших партнеров запускает новый курс по&nbsp;монетизации онлайн-курсов. <a href="https://info-hit.ru/author-shelomentsev-dmitriy/" target="_blank">Дмитрий Шеломенцев</a> 20&nbsp;лет успешно зарабатывает в&nbsp;интернете и&nbsp;делится своими знаниями и&nbsp;навыками.</p>
        <p>Сейчас он&nbsp;делает курс для владельцев онлайн-школ и&nbsp;авторов курсов о&nbsp;том, как монетизировать свою аудиторию с&nbsp;помощью «чужих онлайн-курсов» и&nbsp;зарабатывать на&nbsp;партнерских программах.</p>
        <p>У&nbsp;него есть много личных кейсов, но&nbsp;нужно больше кейсов учеников.</p>
        <p>Поэтому он&nbsp;готов учить вас бесплатно, за&nbsp;отзыв.</p>
        <h3>Курс для онлайн-школ, блогеров и&nbsp;экспертов</h3>
        <p>Вы&nbsp;узнаете как, имея аудиторию от&nbsp;5000&nbsp;человек, зарабатывать от&nbsp;50&nbsp;000&nbsp;₽ до&nbsp;1&nbsp;000&nbsp;000&nbsp;₽ в&nbsp;месяц чистыми.</p>
        <p>Самый простой и&nbsp;эффективный способ монетизации любой аудитории от&nbsp;интернет-предпринимателя с&nbsp;<nobr>20-летним</nobr> опытом.</p>
        <p>Идеально подходит, если у&nbsp;вас есть:</p>
        <ul>
          <li class="mb-12">telegram канал, чат-бот;</li>
          <li class="mb-12">youtube-канал;</li>
          <li class="mb-12">группа и&nbsp;рассылка в&nbsp;VK;</li>
          <li class="mb-12">группа в&nbsp;OK;</li>
          <li class="mb-12">личный блог;</li>
          <li class="mb-12">сайт с&nbsp;высокой посещаемостью;</li>
          <li class="mb-12">e-mail рассылка;</li>
          <li class="mb-12">любые другие соцсети и&nbsp;ресурсы.</li>
        </ul>
        <p class="m-0 mb-24 text-base border-dashed border-2 border-yellow-400 rounded-2xl py-16 px-24">Дмитрий Шеломенцев: «Проекту по&nbsp;снижению веса я&nbsp;помог заработать 1,3 миллиона ₽&nbsp;комиссионных за&nbsp;один партнерский пиар».</p>
        <p>Практически пассивный доход, полная или частичная автоматизация всех процессов, простота, много свободного времени при наличии постоянного прогнозируемого дохода.</p>
        <p>Дмитрий набирает небольшую группу из&nbsp;<nobr>10–20</nobr> человек без оплаты, следующий поток будет стоить от&nbsp;50&nbsp;000&nbsp;₽.</p>
        <p>Чтобы получить возможность бесплатного обучения монетизации трафика ваших каналов, вступите в&nbsp;специальный чат в&nbsp;ТГ.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://t.me/+D_5tdNLiYLFlZDFi",
          "text" : "Вступить в чат",
          "color" : "bg-green-500",
          "hover_color" : "bg-green-600"
          }'></component>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">Ваш надежный партнер,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
