---
title: "Где узнать все о трафике, контенте и продажах в 2025 году?"
preheader: "На главной конференции осени 30 октября в Москве — THE TRAFFIC CONF"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/THE TRAFFIC CONF.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>На&nbsp;каком мероприятии можно получить полезную инфу про трафик, контент и&nbsp;продажи?</p>
        <p>А&nbsp;также шанс выиграть сразу несколько призов: новенький IPhone&nbsp;16, резиденство в&nbsp;бизнес-клубе на&nbsp;месяц и&nbsp;полет на&nbsp;вертолете?</p>
        <p class="text-base bg-green-200 py-16 px-24">THE TRAFFIC&nbsp;CONF, Москва, 30&nbsp;октября, <nobr>11:00–18:00</nobr></p>
        <p><strong>Среди главных спикеров:</strong></p>
        <ol>
          <li class="mb-10"><strong>Михаил Христосенко</strong>&nbsp;— предприниматель и&nbsp;основатель онлайн-школы «SMM-академии» №1&nbsp;в РФ.</li>
          <li class="mb-10"><strong>Настасья Белочкина</strong>&nbsp;— гуру продаж, сооснователь компании HyperScript, лично разработала 750+ скриптов продаж для разных бизнесов.</li>
          <li class="mb-10"><strong>Андрей Командин</strong>&nbsp;— собрал самый большой в&nbsp;мире тренинг в&nbsp;формате игры.</li>
        </ol>
        <p>Мы, маркетплейс онлайн-курсов №1&nbsp;в России, точно придем на&nbsp;конференцию!</p>
        <p class="m-0 mb-24 text-base border-dashed border-2 border-gray-700 rounded-2xl py-16 px-24">Первый подарок от&nbsp;нас&nbsp;— это билет нас конференцию! У&nbsp;нас есть несколько бесплатных билетов, которые мы&nbsp;отдадим РАНДОМНО.</p>
        <p class="mb-24">Пишите нашему менеджеру слово «ИнфоХит», чтобы успеть забрать билет.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://t.me/wwixoss",
          "text" : "Получить бесплатный билет",
          "color" : "bg-green-500",
          "hover_color" : "bg-green-600"
          }'></component>
        <p class="mt-24">Увидимся 30&nbsp;октября, <nobr>11:00–18:00</nobr>&nbsp;— Москва, «CтартХаб» нa&nbsp;Kpacном октябре, зал «Cфepa»!</p>
        <p><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
