---
title: "SEO для онлайн-школ"
preheader: "Подайте заявку и получите скидку 50%"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-09-18-ih-studio-1.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>За&nbsp;последние два с&nbsp;половиной года продвижение онлайн-школы в&nbsp;корне изменилось. Привычные источники работают, но&nbsp;получать трафик с&nbsp;них все сложнее и&nbsp;дороже.</p>
        <p>Можно закупать рекламу, переливать базу в&nbsp;другие каналы. Вот только цена закупа растет, а&nbsp;ваша аудитория не&nbsp;слишком охотно переходит на&nbsp;другие платформы.</p>
        <p><strong>Что делать?</strong></p>
        <p class="mb-24">Возвращаться к&nbsp;тому, что работало всегда. Подключать seo-трафик, который будет генерировать вам новых горячих лидов.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/lp/studio/",
          "text" : "Узнать о seo для онлайн-школ",
          "color" : "bg-green-500",
          "hover_color" : "bg-green-600"
          }'></component>
        <p class="mt-24">SEO позволяет превратить свой сайт в&nbsp;постоянный источник трафика горячих лидов.</p>
        <p><strong>Почему?</strong></p>
        <p>Все просто. Люди привыкли пользоваться поисковыми системами для решения самых разных задач и&nbsp;проблем:</p>
        <ul>
          <li class="mb-10">как инвестировать в&nbsp;недвижимость;</li>
          <li class="mb-10">как прокачать женскую энергию и&nbsp;построить отношения;</li>
          <li class="mb-10">как сделать первые шаги на&nbsp;бирже.</li>
        </ul>
        <p class="m-0 mb-24 text-base border-dashed border-2 border-yellow-400 rounded-2xl py-16 px-24">По&nbsp;статистике за&nbsp;2024 год Yandex обрабатывает более полутора миллиардов поисковых запросов в&nbsp;день!!! И&nbsp;среди этих запросов точно есть&nbsp;те, что будут генерировать вам горячих лидов на&nbsp;постоянной основе.</p>
        <p>Мы&nbsp;точно знаем, ведь занимаемся seo для продвижения образовательных продуктов с&nbsp;2012 года:</p>
        <ul>
          <li class="mb-10">73%&nbsp;— доля поискового трафика на&nbsp;страницы ИнфоХит</li>
          <li class="mb-10">10,8%&nbsp;— средняя конверсия всех страниц сайта</li>
        </ul>
        <p class="text-base bg-green-100 py-16 px-24">12&nbsp;лет мы&nbsp;делали seo только для себя, а&nbsp;сейчас открываем эту возможность для экспертов и&nbsp;онлайн-школ. И&nbsp;можем взять на&nbsp;сопровождение всего 5&nbsp;проектов, которые готовы занять топовые позиции в&nbsp;поисковой выдаче и&nbsp;превратить свой сайт в&nbsp;генератор лидов!</p>
        <p>Подайте заявку прямо сейчас и&nbsp;получите скидку 50%. Не&nbsp;откладывайте на&nbsp;потом, ведь такой возможности больше не&nbsp;будет!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/lp/studio/",
          "text" : "Подать заявку и получить скидку",
          "color" : "bg-green-500",
          "hover_color" : "bg-green-600"
          }'></component>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
