---
title: "BLOGFEST 17 сентября — фестиваль всех соцсетей"
preheader: "Ключевое событие этой осени"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-09-06-blogfest.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Ключевое событие этой осени!</p>
        <p class="text-base bg-red-200 py-16 px-24">BlogFest&nbsp;— фестиваль блогинга и&nbsp;всех соцсетей! VK, Insta, Telegram, YouTube или RUTUBE? Нет смысла гадать, приходите на&nbsp;фестиваль и&nbsp;слушайте лидеров этих площадок.</p>
        <p>На&nbsp;BlogFest собираются все. Это место встречи с&nbsp;любимыми блогерами, где вы&nbsp;можете проявить себя, классно провести время, получить подарки и&nbsp;новые знакомства!</p>
        <p><strong>Спикеры:</strong></p>
        <ol>
          <li class="mb-10"><a href="https://www.instagram.com/julia_rodochinskaya" target="_blank">Юлия Родочинская</a>.</li>
          <li class="mb-10"><a href="https://www.instagram.com/arina_alexx" target="_blank">Арина Алекс</a> с&nbsp;темой «Как набирать сейчас аудиторию и&nbsp;делать продажи через Reels?».</li>
          <li class="mb-10"><a href="https://www.instagram.com/alex_brain" target="_blank">Саша Брайн</a> с&nbsp;темой «10&nbsp;способов, как поднять охваты и&nbsp;продажи в&nbsp;любом блоге».</li>
          <li class="mb-10"><a href="https://www.instagram.com/serditov" target="_blank">Артемий Сердитов</a>.</li>
          <li class="mb-10"><a href="https://www.instagram.com/timuragga" target="_blank">Тимур Рагга</a> с&nbsp;темой «Голос на&nbsp;миллион продаж и&nbsp;просмотров».</li>
          <li class="mb-10"><a href="https://www.instagram.com/nibaranov" target="_blank">Николай Баранов</a>.</li>
          <li class="mb-10"><a href="https://www.instagram.com/marybrenly/" target="_blank">Мария Брэнли</a> с&nbsp;темой «Новая эра YouTube. Тренды продаж и&nbsp;продвижения через видеохостинги».</li>
          <li class="mb-10"><a href="https://www.instagram.com/toma_pro_vkontakte" target="_blank">Тома Суворова</a> с&nbsp;темой «Как найти клиентов „ВКонтакте“ без бюджета и&nbsp;команды».</li>
          <li class="mb-10"><a href="https://www.instagram.com/makushinamakushina/" target="_blank">Татьяна Макушина</a> с&nbsp;темой «Как вырасти в&nbsp;деньгах без откатов и&nbsp;эмоциональных качелей».</li>
        </ol>
        <p class="mb-24"><strong>Звездный спикер</strong>&nbsp;— <a href="https://www.instagram.com/marina_phedunkiv" target="_blank">Марина Федункив</a>!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://blogfest.ru/?utm_source=infohit&utm_medium=infohit&utm_campaign=infohit",
          "text" : "Перейти на сайт",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <p class="mt-24"><strong>На&nbsp;фестивале вас ждут:</strong></p>
        <ul>
          <li class="mb-10">игровые зоны;</li>
          <li class="mb-10">организованная зона нетворкинга;</li>
          <li class="mb-10">зоны для презентации себя и&nbsp;услуг;</li>
          <li class="mb-10">нетворкинг со&nbsp;сцены с&nbsp;заданиями от&nbsp;ведущего;</li>
          <li class="mb-10">подарки для самых внимательных участников во&nbsp;время фестиваля;</li>
          <li class="mb-10">блогерский лаундж, где соберутся все ваши любимые блогеры и&nbsp;звезды.</li>
        </ul>
        <p>BlogFest&nbsp;— это целая экосистема, попав в&nbsp;которую точно найдете для себя много интересного!</p>
        <p>Заходите на&nbsp;<a href="https://blogfest.ru/?utm_source=infohit&utm_medium=infohit&utm_campaign=infohit" target="_blank">сайт</a>, вводите промокод <strong>INFOHIT</strong> на&nbsp;скидку&nbsp;30% и&nbsp;забирайте свой билет на&nbsp;BlogFest.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://blogfest.ru/?utm_source=infohit&utm_medium=infohit&utm_campaign=infohit",
          "text" : "Перейти на сайт",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <p><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
