---
title: "Тестовый месяц на «Антитренингах»!"
preheader: "Специальное предложение для партнеров ИнфоХит"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-01-18-antitreningi.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p class="text-base bg-blue-200 py-16 px-24">А&nbsp;вы&nbsp;знаете, что запускать свои онлайн-школы выгоднее на&nbsp;профессиональной платформе?</p>
        <p>Разместите и&nbsp;продавайте свой онлайн-курс на&nbsp;платформе «Антитренинги». Так&nbsp;же легко и&nbsp;выгодно, как это делают более 1300 онлайн-школ уже сегодня.</p>
        <p><strong>Возможности для супергероев онлайн-образования:</strong></p>
        <ol>
          <li class="mb-12">30&nbsp;минут, чтобы добавить свой курс&nbsp;— красиво оформленный, с&nbsp;крутыми обучающими функциями, умными алгоритмами и&nbsp;геймификацией.</li>
          <li class="mb-12">Прием платежей: с&nbsp;лендингов, из&nbsp;разных стран, с&nbsp;предоплатой, в&nbsp;рассрочку или по&nbsp;подписке.</li>
          <li class="mb-12">Автоматизация до&nbsp;100% рутины и&nbsp;ответы голосовыми.</li>
          <li class="mb-12">Увеличение процента довольных учеников, рекомендующих вас друзьям.</li>
          <li class="mb-12">Защита курса от&nbsp;пиратства&nbsp;— даже от&nbsp;записи экрана.</li>
          <li class="mb-12">Бесплатная техподдержка на&nbsp;любом тарифе&nbsp;— вам мгновенно отвечают, вникают, готовы быстро помочь.</li>
        </ol>
        <p class="m-0 mb-24 text-base border-dashed border-2 border-blue-400 rounded-2xl py-16 px-24">В&nbsp;арсенале&nbsp;— все инструменты для старта и&nbsp;еще больше для масштабирования.</p>
        <p>Уже есть своя онлайн-школа, но&nbsp;работаете на&nbsp;другой платформе?</p>
        <p>Есть несколько аргументов, чтобы попробовать «Антитренинги». Главное отличие сервиса&nbsp;— продвинутый обучающий функционал и&nbsp;алгоритмы, настроенные на&nbsp;доведение ученика до&nbsp;результата. Платформа совершенствует это направление уже 10&nbsp;лет! После регистрации у&nbsp;вас будет 14&nbsp;дней, чтобы самим оценить сервис.</p>
        <p>Регистрируйтесь и&nbsp;получайте 1&nbsp;месяц на&nbsp;профессиональном тарифе, чтобы проверить платформу «Антитренинги» в&nbsp;деле.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=link&id=1040",
          "text" : "Хочу попробовать",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <p><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">Ваш надежный партнер,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
