---
title: "Что делать, если вашим клиентам отказывают все банки в рассрочках?"
preheader: "Внутренняя рассрочка — новый подход к продаже онлайн-курсов!"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-12-17-edsofa.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p class="text-base bg-purple-400 py-16 px-24"><a href="https://edsofa.ai/lnd/vnutrennyaya-rassrochka/?utm_source=partner_int&utm_medium=infohit&utm_campaign=link&partner=infohit" target="_blank">Edsofa</a>&nbsp;— полностью автоматизированный сервис внутренних рассрочек для онлайн-образования, позволяющий продавать ваши курсы клиентам, которым отказали все банки.</p>
        <p>В&nbsp;последнее время эксперты, продающие онлайн-курсы, все чаще сталкиваются с&nbsp;проблемой отказов банков в&nbsp;предоставлении рассрочек клиентам на&nbsp;образовательные программы. Причин этому много и&nbsp;одна из&nbsp;основных&nbsp;— высокая ключевая ставка центробанка. В&nbsp;этой ситуации на&nbsp;помощь приходит сервис внутренних рассрочек Edsofa.</p>
        <p><strong>Как это работает:</strong></p>
        <ol>
          <li class="mb-10">Вы&nbsp;отправляете клиента на&nbsp;оформление банковской рассрочки через банк или кредитного брокера.</li>
          <li class="mb-10">Клиенту отказывают все банки.</li>
          <li class="mb-10">Вы&nbsp;предоставляете клиенту ссылку на&nbsp;оформление внутренней рассрочки.</li>
          <li class="mb-10">Клиент проходит регистрацию и&nbsp;совершает первый платеж.</li>
          <li class="mb-10">Вы&nbsp;открываете клиенту доступ к&nbsp;курсу.</li>
          <li class="mb-10">Мы&nbsp;списываем с&nbsp;клиента очередные платежи, согласно заданным вами параметрам рассрочки, и&nbsp;перечисляем вам средства после каждого совершенного платежа.</li>
        </ol>
        <p><strong>Преимущества сервиса Edsofa:</strong></p>
        <ul>
          <li class="mb-10">полностью автоматизированная выдача внутренних рассрочек клиентам онлайн-школ, которым отказали все банки;</li>
          <li class="mb-10">автоматизированный сбор очередных платежей;</li>
          <li class="mb-10">коммуникация с&nbsp;клиентом;</li>
          <li class="mb-10">глубокая аналитика по&nbsp;каждой рассрочке;</li>
          <li class="mb-10">личный кабинет вашего клиента с&nbsp;графиком платежей;</li>
          <li class="mb-10">возможность вносить платежи раньше графика;</li>
          <li class="mb-24">возможность погашения полной стоимости подписки.</li>
        </ul>
        <p><i>100% привлеченных клиентов будут вам платить</i></p>
        <p><i>30% увеличение выручки школы</i></p>
        <p><i>0%&nbsp;дополнительной нагрузки на&nbsp;эксперта и&nbsp;команду</i></p>
        <p class="mb-24 mt-24">Не&nbsp;теряйте выручку из-за отказов банков в&nbsp;одобрении рассрочек вашим клиентам.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://edsofa.ai/lnd/vnutrennyaya-rassrochka/?utm_source=partner_int&utm_medium=infohit&utm_campaign=link&partner=infohit",
          "text" : "Внедрить",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <p class="mt-32"><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
