---
title: "Увеличьте продажи до 30% с ОТП Банком!"
preheader: "Подключите сервис рассрочки для своих клиентов"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-02-20-otp-bank.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Это ваша возможность увеличить продажи!</p>
        <p class="m-0 mb-24 text-base border-dashed border-2 border-yellow-400 rounded-2xl py-16 px-24">Добавьте для клиентов возможность купить ваши курсы в&nbsp;рассрочку через сервис рассрочки от&nbsp;«ОТП Банка»&nbsp;— от&nbsp;2000&nbsp;₽ до&nbsp;500&nbsp;000&nbsp;₽ на&nbsp;срок от&nbsp;трех до&nbsp;тридцати шести месяцев.</p>
        <p><strong>По&nbsp;статистике, это позволяет:</strong></p>
        <ul>
          <li class="mb-12">получить на&nbsp;30% больше продаж;</li>
          <li class="mb-12">увеличить средний чек до&nbsp;20%;</li>
          <li class="mb-12">увеличить повторные покупки до&nbsp;25%.</li>
        </ul>
        <p><strong>ОТП Банк, обеспечит вас всем необходимым:</strong></p>
        <ul>
          <li class="mb-12">подключит сервис;</li>
          <li class="mb-12">настроит автоматизацию;</li>
          <li class="mb-12">обучит сотрудников.</li>
        </ul>
        <p><strong>Что это дает бизнесу</strong></p>
        <p>Рассрочки «ОТП Банка» повышают конверсию в&nbsp;продажу. Клиентам, которые не&nbsp;могли оплатить продукт, станет проще совершать покупки. Благодаря этому бизнес увеличит выручку.</p>
        <p><strong>В&nbsp;чем польза для покупателя</strong></p>
        <p>Ваши клиенты смогут за&nbsp;две минуты оформить рассрочку не&nbsp;выходя из&nbsp;дома. Понадобятся только паспорт и&nbsp;смартфон для подписания документов. Заполнить заявку на&nbsp;рассрочку можно в&nbsp;несколько кликов, а&nbsp;подписать&nbsp;— по&nbsp;смс.</p>
        <p>Чтобы узнать подробности и&nbsp;подключить сервис: оставьте заявку через <a href="https://anketolog.ru/infohit" target="_blank">анкету</a> или напишите на&nbsp;почту <a href="mailto:Aleksey.S.Gromov@otpbank.ru" target="_blank">Aleksey.S.Gromov@otpbank.ru</a></p>
        <component src="src/components/button.html" locals='{
          "link" : "https://anketolog.ru/infohit",
          "text" : "Оставить заявку на сотрудничество",
          "color" : "bg-green-500",
          "hover_color" : "bg-green-600"
          }'></component>
        <p><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">Ваш надежный партнер,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
