---
title: "Масштабируйте бизнес вместе с топ-экспертами на Cash Fest"
preheader: "Офлайн-конференция для инфобизнеса"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-11-15-prodamus-1.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>29&nbsp;ноября в&nbsp;Москве состоится офлайн-конференция для инфобизнеса Prodamus Cash Fest. Главное событие года для тех, кто хочет прокачать свои навыки и&nbsp;вывести бизнес на&nbsp;новый уровень.</p>
        <p>Спикеры расскажут, как сделать так, чтобы ваш продукт хотели сильнее, чем новенький Porsche. А&nbsp;хедлайнер&nbsp;— Юрий Мурадян, тот самый, который вывел не&nbsp;один бизнес на&nbsp;топовые позиции,&nbsp;— взломает ваше подсознание для создания денежного потока.</p>
        <p><strong>Что вас ждет на&nbsp;Cash Fest?</strong></p>
        <ol>
          <li class="mb-10"><strong>Секретные стратегии</strong> от&nbsp;топовых спикеров, чтобы ваш бизнес рос как на&nbsp;дрожжах.</li>
          <li class="mb-10"><strong>Кейсы и&nbsp;инсайты</strong> от&nbsp;людей, которые это уже прошли и&nbsp;добились успеха.</li>
          <li class="mb-10"><strong>Нетворкинг</strong>с&nbsp;единомышленниками и&nbsp;инсайты, которых не&nbsp;найти в&nbsp;интернете.</li>
        </ol>
        <p>Готовы? Переходите в&nbsp;<a href="https://salebot.site/cashfest24_1?promocode=infohitru&utm_source=email&utm_medium=invite&utm_campaign=infohitru" target="_blank">чат-бот</a>, чтобы узнать подробности и&nbsp;программу.</p>
        <p class="m-0 mb-24 text-base border-dashed border-2 border-yellow-700 rounded-2xl py-16 px-24">По&nbsp;промокоду <strong>infohitru</strong> вы&nbsp;получите <strong>скидку&nbsp;15%</strong> на&nbsp;любой&nbsp;тариф.</p>
        <p><strong>Количество мест ограничено</strong>&nbsp;— не&nbsp;упустите возможность стать частью масштабного мероприятия.</p>
        <p class="mb-24">До&nbsp;встречи на&nbsp;Prodamus Cash Fest!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://salebot.site/cashfest24_1?promocode=infohitru&utm_source=email&utm_medium=invite&utm_campaign=infohitru",
          "text" : "Узнать подробности",
          "color" : "bg-green-500",
          "hover_color" : "bg-green-600"
          }'></component>
        <p><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
