---
title: "Бесплатный билет на конференцию «Трафик и нейросети 2025»"
preheader: "И шанс получить 100 000 ₽!"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2025-03-10-confa-traffic.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p class="text-base bg-yellow-200 py-16 px-24">С&nbsp;11&nbsp;по&nbsp;13&nbsp;марта пройдет онлайн-конференция «Трафик и&nbsp;нейросети 2025», которая изменит ваш взгляд на&nbsp;маркетинг и&nbsp;продажи.</p>
        <ol>
          <li class="mb-10">Впервые в&nbsp;истории&nbsp;— <strong>нейросеть собирает 10&nbsp;000+ участников</strong> на&nbsp;конференцию по&nbsp;нейросетям.</li>
          <li class="mb-10"><strong>20&nbsp;спикеров-практиков</strong>&nbsp;— маркетологи, маркетинг-директора, владельцы компаний с&nbsp;<strong>реальными бизнес-кейсами</strong>.</li>
          <li class="mb-10"><strong>Грант 100&nbsp;000&nbsp;₽</strong> от&nbsp;20+&nbsp;сервисов-партнеров для быстрого внедрения технологий в&nbsp;ваш бизнес.</li>
        </ol>
        <p><strong>В&nbsp;прямом эфире разберем:</strong></p>
        <ul>
          <li class="mb-10">как AI&nbsp;помог сэкономить 10&nbsp;млн ₽&nbsp;на&nbsp;менеджерах по&nbsp;продажам;</li>
          <li class="mb-10">как выжать креатив на&nbsp;максимум с&nbsp;помощью&nbsp;ИИ и&nbsp;поднять ROI до&nbsp;400%;</li>
          <li class="mb-10">самые востребованные AI-инструменты в&nbsp;2025 году и&nbsp;как их&nbsp;использовать.</li>
        </ul>
        <p>И&nbsp;это лишь&nbsp;<strong>10% того, что вас ждет!</strong></p>
        <p>После регистрации забирайте бонусы:</p>
        <p><i>Скрипт + промпт, который принес 16&nbsp;500&nbsp;000&nbsp;₽ за&nbsp;2&nbsp;недели.</i></p>
        <p><i>Доступ в&nbsp;закрытый чат с&nbsp;3500+&nbsp;маркетологами, предпринимателями и&nbsp;специалистами в&nbsp;сфере трафика и&nbsp;нейросетей.</i></p>
        <p class="mb-24 mt-24">Участвуйте  вместе с нами!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://conf.surgay.ru/?utm_source=partners&utm_medium=referal&utm_campaign=infohit",
          "text" : "Получить билет на конференцию",
          "color" : "bg-red-500",
          "hover_color" : "bg-red-600"
          }'></component>
        <p class="mt-32"><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
