---
title: "Названы лауреаты премии Эффективное образование"
preheader: "ИнфоХит — онлайн-платформа года"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2025-01-21-premia.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Рады поделиться с&nbsp;вами отличной новостью!</p>
        <p>18&nbsp;декабря 2024 года в&nbsp;Петровском путевом дворце состоялась&nbsp;IX ежегодная церемония награждения лауреатов Премии «Эффективное образование».</p>
        <p>На&nbsp;мероприятии были отмечены лучшие образовательные проекты и&nbsp;программы, оказавшие значительное влияние на&nbsp;развитие образования в&nbsp;нашей стране.</p>
        <p class="text-base bg-red-300 py-16 px-24">В&nbsp;категории «Лидерство и&nbsp;управление в&nbsp;образовании» ИнфоХит был удостоен награды «Онлайн-платформа года»!</p>
        <p>В&nbsp;качестве экспертов выступали общественные деятели, специалисты в&nbsp;сфере образования, а&nbsp;еще представители органов власти и&nbsp;бизнеса. Из&nbsp;235 заявок были выбраны 49&nbsp;лучших проектов.</p>
        <p><strong>Среди лауреатов этого года было много достойных участников:</strong></p>
        <ul>
          <li class="mb-12">СберУниверситет и&nbsp;СБЕР&nbsp;— номинация «Инновация года в&nbsp;управлении образовательными учреждениями»;</li>
          <li class="mb-12">Школа бизнеса МИРБИС&nbsp;— номинация «Бизнес-школа года»;</li>
          <li class="mb-12">Нетология&nbsp;— номинация «Лидер в&nbsp;цифровой трансформации образования»;</li>
          <li class="mb-12">Сбер. Управление продаж и&nbsp;обслуживания в&nbsp;канале ВСП и&nbsp;СберУниверситет, Академия комплексных программ развития&nbsp;— номинация «Образовательный проект года»;</li>
          <li class="mb-12">City Business School&nbsp;— номинация «Онлайн бизнес-школа года».</li>
        </ul>
        <p>Поздравляем всех победителей, желаем новых успехов, вдохновения и&nbsp;сил для дальнейшей деятельности в&nbsp;сфере образования.</p>
        <p>Гордимся своими успехами и&nbsp;медленно, но&nbsp;верно двигаемся к&nbsp;цели&nbsp;— стать крупнейшим образовательным маркетплейсом!</p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
