---
title: "Получите стабильный поток трафика"
preheader: "Разместите свой профиль на ИнфоХит"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/trigger-author-lid-4.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p><strong>Добрый день!</strong></p>
        <p>Меня зовут [ИМЯ], я&nbsp;представляю <a href="https://info-hit.ru/" target="_blank">ИнфоХит</a>&nbsp;— маркетплейс онлайн-курсов. Это площадка, на&nbsp;которой онлайн-школы и&nbsp;ученики находят друг друга.</p>
        <p class="text-base bg-yellow-200 py-16 px-24">Любая продажа начинается, когда человек ищет решение своей проблемы. Ищет в&nbsp;Yandex или Google. И&nbsp;ваш профиль на&nbsp;ИнфоХит займет место в&nbsp;топе поисковой выдачи. Потому что вы&nbsp;получите страницы с&nbsp;мощной SEO-оптимизацией.</p>
        <p>ИнфоХит&nbsp;— эксперт в&nbsp;SEO. Каждый месяц 100&nbsp;000 человек приходят на&nbsp;сайт из&nbsp;поиска. Они могут стать вашими учениками!</p>
        <p class="mt-24"><strong>Разместите профиль на&nbsp;ИнфоХит и&nbsp;получите:</strong></p>
        <ul>
          <li class="mb-10">топовые позиции в&nbsp;поисковой выдаче;</li>
          <li class="mb-10">узнаваемость ваших образовательных программ;</li>
          <li class="mb-24">органический трафик без дополнительных затрат на&nbsp;рекламу.</li>
        </ul>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/add/",
          "text" : "Подать заявку",
          "color" : "bg-green-500",
          "hover_color" : "bg-green-600"
          }'></component>
        <p class="mt-24">Присоединяйтесь, чтобы ваши курсы увидели тысячи заинтересованных пользователей!</p>
        <p>Помогу вам подобрать подходящий тариф размещения. Задайте ваш вопрос в&nbsp;ответном письме или пишите в&nbsp;Телеграм [ДАТЬ&nbsp;ТГ]!</p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">Ваш надежный партнер,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
