---
title: "Горячие лиды еще ждут вас!"
preheader: "Разместитесь на маркетплейсе курсов №1 в России"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/trigger-author-lid-9.1.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p><strong>Добрый день!</strong></p>
        <p>Меня зовут [ИМЯ], я&nbsp;менеджер по&nbsp;работе с&nbsp;авторами образовательного маркетплейса <a href="https://info-hit.ru/" target="_blank">ИнфоХит</a>.</p>
        <p>Вам предложили разместить профиль и&nbsp;ваши образовательные продукты на&nbsp;«Инфохит», чтобы открыть доступ к&nbsp;теплому трафику из&nbsp;поиска и&nbsp;лояльной аудитории маркетплейса, но&nbsp;так и&nbsp;не&nbsp;дождались ответа.</p>
        <p class="mb-24">Не&nbsp;упустите возможность расширить свою аудиторию и&nbsp;увеличить продажи ваших онлайн-курсов!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/add/",
          "text" : "Хочу зарабатывать с ИнфоХит",
          "color" : "bg-purple-500",
          "hover_color" : "bg-purple-600"
          }'></component>
        <p class="mt-24"><strong>Размещение на&nbsp;ИнфоХит для вас это:</strong></p>
        <ul>
          <li class="mb-10">SEO-оптимизация, чтобы ваши страницы были в&nbsp;топе поисковой выдачи;</li>
          <li class="mb-10">доступ к&nbsp;пользователям ИнфоХит&nbsp;— 185&nbsp;000+;</li>
          <li class="mb-24">партнерская программа с&nbsp;менеджерами арбитражного трафика 40&nbsp;000+.</li>
        </ul>
        <p>Так будет выглядеть ваш <strong><a href="https://info-hit.ru/author-sidorov-fyedor/" target="_blank">профиль автора на&nbsp;ИнфоХит →</a></strong></p>
        <p>У&nbsp;каждого курса будет <strong><a href="https://info-hit.ru/course-kak-zarabatyvat-ot-1000-v-mesyats-na-investitsiyakh/" target="_blank">детальная страница</a></strong> с&nbsp;подробным описанием.</p>
        <p>А&nbsp;еще <strong><a href="https://info-hit.ru/author-sidorov-fyedor/reviews/" target="_blank">отзывы</a></strong>. Много отзывов, которые модерирует ИнфоХит.</p>
        <p>Остались вопросы&nbsp;— с&nbsp;радостью отвечу! Пишите ответным письмом или в&nbsp;<a href="https://t.me/ihLeadsBot" target="_blank">Telegram</a>.</p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">Ваш надежный партнер,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
