---
title: "Заработайте 7500 ₽ с одной продажи"
preheader: "Продвигайте курс по UI-анимации"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2025-09-10-abdullin.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p class="text-base bg-purple-100 py-16 px-24">Никакого инфоциганства&nbsp;— узкопрофильный курс для профессионального навыка с&nbsp;конкретными результатами&nbsp;— анимация интерфейсов</p>
        <p>Курс уже находят и&nbsp;выбирают практикующие дизайнеры продукта, UI/UX&nbsp;дизайнеры. Работодатели покупают его своим сотрудникам&nbsp;— это самые популярные маркетплейсы и&nbsp;банки.</p>
        <p>Это обучение по&nbsp;созданию плавных и&nbsp;естественных анимации для кнопок, переходов и&nbsp;элементов интерфейса. Ученики осваивают принципы микродвижений, которые улучшают пользовательский опыт.</p>
        <p class="m-0 mb-24 text-base border-dashed border-2 border-blue-500 rounded-2xl py-16 px-24">Курс ведет Денис Абдуллин, опытный дизайнер с&nbsp;победами в&nbsp;конкурсах и&nbsp;работой в&nbsp;крупных компаниях. Программа включает 10&nbsp;уроков, охватывающих все стороны работы с&nbsp;After Effects: начиная от&nbsp;основ и&nbsp;заканчивая сложными анимациями.</p>
        <p>Обучение подходит для новичков и&nbsp;тех, кто уже работает в&nbsp;других инструментах, таких как Figma или Sketch.</p>
        <p><i>После участия и&nbsp;победы в&nbsp;восьми телеграм-конкурсах Денис погрузился в&nbsp;создание интерфейсных анимаций и&nbsp;презентаций. Когда к&nbsp;нему стало приходить все больше человек с&nbsp;просьбой научить делать так&nbsp;же, он&nbsp;создал собственную программу, в&nbsp;которую вложил собранный за&nbsp;годы практики опыт.</i></p>
        <p>Практикующий дизайнер запустил полноценный курс по&nbsp;созданию анимации. За&nbsp;10&nbsp;уроков покажет, как делать анимацию с&nbsp;нуля, передавая макет из&nbsp;Figma в&nbsp;After Effects, до&nbsp;результата уровня Telegram с&nbsp;интерфейсом в&nbsp;мокапе, где меняются повороты экрана и&nbsp;демонстрируются жесты поверх него.</p>
        <p><b>Для кого курс:</b></p>
        <ol>
          <li class="mb-10"><b>Дизайнеров</b>, желающих улучшить свои навыки в&nbsp;анимации интерфейсов.</li>
          <li class="mb-10"><b>Специалистов</b>, стремящихся создать живой и&nbsp;эмоциональный пользовательский интерфейс.</li>
          <li class="mb-10"><b>Профессионалов</b>, которые хотят усилить свое портфолио и&nbsp;выделить работы среди других.</li>
          <li class="mb-10"><b>Разработчиков</b>, которым необходимо передавать анимации в&nbsp;удобном для интеграции формате.</li>
          <li class="mb-10"><b>Студентов</b>, интересующихся современными инструментами анимации и&nbsp;их&nbsp;применением в&nbsp;проектах.</li>
          <li class="mb-10"><b>Участников конкурсов</b>, мечтающих повысить свои шансы на&nbsp;победу с&nbsp;помощью качественной анимации.</li>
        </ol>
        <p><b>Ученики курса научатся:</b></p>
        <ul>
          <li class="mb-10">работать в&nbsp;After Effects,</li>
          <li class="mb-10">презентовать свои работы</li>
          <li class="mb-10">прорабатывать каждый кадр вглубь,</li>
          <li class="mb-10">применять стандарты индустрии,</li>
          <li class="mb-10">экспортировать код в&nbsp;JSON.</li>
        </ul>
        <p><b>Для продвижения у&nbsp;вас будут:</b></p>
        <ul>
          <li class="mb-10">готовые материалы для рекламы,</li>
          <li class="mb-10">личный кабинет с&nbsp;аналитикой,</li>
          <li class="mb-10">персональный менеджер.</li>
        </ul>
        <p class="mb-24">Станьте партнером&nbsp;— продвигайте качественный курс для дизайнеров и&nbsp;получайте 7500&nbsp;₽ за&nbsp;каждого ученика.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/programs/partnerskaya-programma-denisa-abdullina/",
          "text" : "Стать партнером",
          "color" : "bg-purple-500",
          "hover_color" : "bg-purple-600"
          }'></component>
        <p class="mt-32"><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">Ваш надежный партнер,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
