---
title: "Партнерка с повышенной комиссией — до 33 % с каждой покупки!"
preheader: "Зарабатывайте на продвижении курсов по Таро и трансперсональной психологии"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2025-06-25-nekipelova-partners.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Интересуетесь Таро, эзотерикой или психологией? Приглашаем присоединиться к&nbsp;партнерской программе Академии VITA VIRTUS VERITAS.</p>
        <p><b>Как это работает:</b> вы&nbsp;делитесь тем, что сами цените&nbsp;— остальное академия берет на&nbsp;себя.</p>
        <p><b>Условия для партнеров:</b></p>
        <ol>
          <li class="mb-10">Комиссия от&nbsp;7&nbsp;до&nbsp;33&nbsp;% с&nbsp;каждой покупки по&nbsp;вашей ссылке.</li>
          <li class="mb-10">Оплата только за&nbsp;результат&nbsp;— когда ученик покупает курс.</li>
          <li class="mb-10">Прозрачная CRM-система и&nbsp;аналитика.</li>
          <li class="mb-10">Бесплатные вебинары и&nbsp;курсы&nbsp;— идеальные точки входа.</li>
        </ol>
        <p><b>Что можно продвигать:</b></p>
        <ul>
          <li class="mb-10">онлайн-курсы по&nbsp;Таро от&nbsp;500 до&nbsp;150&nbsp;000&nbsp;₽;</li>
          <li class="mb-10">флагманские программы с&nbsp;глубокой методологией;</li>
          <li class="mb-10">бесплатные марафоны и&nbsp;интенсивы, после которых студенты покупают обучение.</li>
        </ul>
        <p class="text-base bg-red-200 py-16 px-24">VITA VIRTUS VERITAS&nbsp;— это Международная академия трансперсональной психологии, которая развивает тарологию как науку в&nbsp;системе эзотерических знаний.</p>
        <p class="mb-16">Если у&nbsp;вас есть аудитория&nbsp;— в&nbsp;блоге, соцсетях, чате или среди клиентов&nbsp;— присоединяйтесь!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/programs/partnerskaya-programa-galiny-nekipelovoy-i-onlayn-shkoly-vita-virtus-veritas/",
          "text" : "Стать партнером VITA VIRTUS VERITAS",
          "color" : "bg-gray-500",
          "hover_color" : "bg-gray-600"
          }'></component>
        <p class="mt-24">Начните зарабатывать, помогая людям расти!</p>
        <p class="mt-32"><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">Ваш надежный партнер,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
