---
title: "BROCONF-6 - легендарная конфа в сфере арбитража трафика и affiliate-маркетинга"
preheader: "21–22 октября 2025 года | Москва, МТС LIVE HALL"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2025-08-28-broconf-6-letter-1.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p><b>BROCONF-6&nbsp;— ВАЙБ В&nbsp;СТИЛЕ РЕТРО!</b></p>
        <p><i>Легендарная конференция по&nbsp;арбитражу трафика и&nbsp;affiliate-маркетингу пройдет <nobr>21–22</nobr> октября 2025&nbsp;года!</i></p>
        <p>Готовьтесь сдувать пыль с&nbsp;детских фотоальбомов и&nbsp;оживлять воспоминания&nbsp;— впереди вас ждет по-настоящему душевная и&nbsp;уютная атмосфера в&nbsp;стиле ретро-вайб. На&nbsp;этот раз организаторы решили устроить путешествие во&nbsp;времени и&nbsp;окунуть участников в&nbsp;уникальное ретро-пространство.</p>
        <p class="text-base bg-pink-300 py-16 px-24">Для тех, кто застал эпоху <nobr>80-90</nobr> и&nbsp;начала нулевых,&nbsp;— это шанс пережить эмоции заново. А&nbsp;те, кто лишь слышал рассказы от&nbsp;родителей,&nbsp;— отличная возможность прикоснуться к&nbsp;прошлому. Ковры, культовые автоматы с&nbsp;газировкой, легендарные видеокассеты и&nbsp;не&nbsp;только откроют вам ретро-чакру и&nbsp;покажут, чем жил ваш батя.</p>
        <p><b>Что вас ждет?</b></p>
        <ul>
          <li class="mb-10">3500+&nbsp;участников;</li>
          <li class="mb-10">30+&nbsp;спикеров, которые поделятся своим опытом;</li>
          <li class="mb-10">50+&nbsp;стендов и&nbsp;партнеров от&nbsp;ведущих компаний отрасли;</li>
          <li class="mb-10">Стиль ретро-вайб&nbsp;— газировка как в&nbsp;детстве, жвачки, Денди и&nbsp;тетка с&nbsp;цистерной кваса;</li>
          <li class="mb-10">Живой нетворкинг, где можно найти единомышленников;</li>
          <li class="mb-10">AFTERPARTY c&nbsp;приглашенной суперзвездой;</li>
          <li class="mb-10">ULTRA All inclusive с&nbsp;гастрономическими изысками и&nbsp;премиальным алкоголем для держателей тикетов категории BRO VIP и&nbsp;безлимитные еда и&nbsp;напитки&nbsp;— для BRO AFTERPARTY.</li>
        </ul>
        <p>Следите за&nbsp;новостями в&nbsp;социальных сетях конференции!</p>
        <p><a href="https://t.me/broconf" target="_blank">Канал конфы →</a></p>
        <p><a href="https://t.me/broconfchat" target="_blank">Чат конфы → </a></p>
        <p class="mb-32">А&nbsp;по&nbsp;промокоду <span class="border-dashed border-2 border-yellow-500 rounded-lg text-lg px-8 py-3 inline-block"><b>INFOHIT</b></span>&nbsp;— скидка 15%.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://mybroconf.ru/?utm_source=infohit",
          "text" : "Купить билет со скидкой",
          "color" : "bg-pink-500",
          "hover_color" : "bg-pink-600"
          }'></component>
        <p class="mt-32"><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">Ваш надежный партнер,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
