---
title: "Конец эпохи громких имен"
preheader: "Почему известность спикеров больше не спасет ваш проект"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Сегодня охваты больше не&nbsp;гарантируют уровень [увы!]. Вокруг полно информационного шума и&nbsp;красивых кейсов, но&nbsp;когда начинается реальный шторм, то&nbsp;помочь могут только твердые ребята. Часто без аудитории, но&nbsp;которые реально работают и&nbsp;вывозят десятки крупных проектов.</p>
        <p>Именно поэтому наши друзья для «ХАБ Конференции-2026» отбирали спикеров совершенно иначе. Главным критерием стала не&nbsp;известность, а&nbsp;реальная способность выстоять, перестроиться и&nbsp;продолжить рост в&nbsp;непростые времена.</p>
        <p><b>Расписание:</b></p>
        <p><b>День&nbsp;1. Строители образовательного бизнеса</b></p>
        <p>Как зарабатывать на&nbsp;своей экспертизе&nbsp;— для всех кто работает в&nbsp;онлайн-образовании руками и&nbsp;головой.</p>
        <p>Разберут, как сделать&nbsp;ИИ своим конкурентным преимуществом, выстроить входящий поток заявок на&nbsp;свои услуги, повысить чек без демпинга и&nbsp;создать стабильный пассивный доход (через сообщества и&nbsp;партнерские запуски).</p>
        <p><b>День&nbsp;2. Архитекторы образовательного бизнеса</b></p>
        <p>Стратегия, рост, устойчивость&nbsp;— для всех, кто создает и&nbsp;масштабирует онлайн-образование.</p>
        <p class="mb-24">Покажут, где прямо сейчас брать дешевый трафик (разберут «Авито» и&nbsp;новый кабинет&nbsp;«ВКонтакте»), как легализовать бизнес без налоговых рисков, сократить расходы с&nbsp;помощью&nbsp;ИИ и&nbsp;внедрить модель подписки для стабильного дохода.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://app-gen-zozlo.chatium.ru/sait-dlya-hab-konf",
          "text" : "Зарегистрироваться на конференцию",
          "color" : "bg-purple-500",
          "hover_color" : "bg-purple-600"
          }'></component>
        <p class="mt-24"><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">Ваш надежный партнер,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
