---
title: "Партнерская программа УОМ"
preheader: "Без «марафонов желаний» и бесполезных дипломов. Только наука, лицензия и 20% комиссионных."
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2026-04-23-uom.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Есть ниша, где люди сами хотят платить деньги&nbsp;— здоровье, новая профессия, превентивная медицина.</p>
        <p>И&nbsp;есть «Университет образовательной медицины» (УОМ)&nbsp;— крупнейший проект в&nbsp;России по&nbsp;ЗОЖ и&nbsp;нутрициологии с&nbsp;2018&nbsp;года.</p>
        <p><b>Что это значит для партнеров:</b></p>
        <ul>
          <li class="mb-10">Комиссионные&nbsp;— 20% с&nbsp;каждой оплаченной заявки. Все прозрачно.</li>
          <li class="mb-10">Средний чек&nbsp;— от&nbsp;40&nbsp;000 до&nbsp;250&nbsp;000&nbsp;₽. Одна продажа может принести до&nbsp;50&nbsp;000&nbsp;₽.</li>
          <li class="mb-10">Конверсия выше рынка&nbsp;— аудитория уже прогрета, сама ищет «как стать нутрициологом» или «что есть, чтобы не&nbsp;стареть».</li>
        </ul>
        <p><b>Кто легко покупает:</b> женщины <nobr>25–50 лет,</nobr> доход средний+, часто с&nbsp;высшим образованием. Устали от&nbsp;«марафонов желаний», хотят реальные знания, диплом с&nbsp;лицензией и&nbsp;новую профессию. А&nbsp;еще&nbsp;— помогать себе и&nbsp;семье.</p>
        <p>Это платежеспособная и&nbsp;мотивированная ЦА.</p>
        <p><b>Что именно продвигать?</b></p>
        <ol>
          <li class="mb-10"><b>Платные курсы:</b>
            <ul>
              <li class="mb-10">«Нутрициология и&nbsp;превентивное управление здоровьем» (хит продаж);</li>
              <li class="mb-10">«Нейрокоучинг» (программа, составленная совместно с&nbsp;МГУ&nbsp;— доверие через бренд);</li>
              <li class="mb-10">«Биохакинг», «PreMama», сертификационные программы Age management и&nbsp;нормализации веса (25+&nbsp;программ).</li>
            </ul>
          </li>
          <li class="mb-10"><b>Бесплатные вебинары и&nbsp;марафоны</b>&nbsp;— идеальный вход. Сначала прогрев, затем&nbsp;— покупка дорогого обучения. И&nbsp;вы&nbsp;получаете комиссию со&nbsp;всего.</li>
        </ol>
        <p><b>Почему с&nbsp;УОМ удобно работать:</b></p>
        <ol>
          <li class="mb-10"><b>Юридическая чистота:</b> образовательная лицензия РФ + аккредитации в&nbsp;Великобритании и&nbsp;Канаде. Клиенты не&nbsp;боятся, что диплом окажется бесполезным.</li>
          <li class="mb-10"><b>Доверие:</b> университет сотрудничает с&nbsp;Минздравом, РНИМУ им. Пирогова, ИНТЦ МГУ, Сколково, Х5&nbsp;и&nbsp;другими.</li>
          <li class="mb-10"><b>Практика и&nbsp;трудоустройство:</b> стажировки в&nbsp;государственных проектах («Московское долголетие») и&nbsp;компаниях. Ученики получают реальную работу&nbsp;— значит, рекомендуют дальше.</li>
          <li class="mb-10"><b>Высокий LTV:</b> клиенты возвращаются за&nbsp;новыми программами. Один человек может принести вам не&nbsp;одну, а&nbsp;несколько комиссий.</li>
          <li class="mb-10"><b>Полноценный образовательный трек внутри УОМ:</b> от&nbsp;профпереподготовки, чтобы получить базу, до&nbsp;углубленных компетенций в&nbsp;разных вопросах здоровья.</li>
          <li class="mb-10"><b>Собственный кампус в&nbsp;центре Москвы</b>. Можно приходить на&nbsp;очные лекции или учится онлайн из&nbsp;любой точки мира.</li>
        </ol>
        <p><b>Что УОМ дает партнерам:</b></p>
        <ul>
          <li class="mb-10">прозрачная аналитика и&nbsp;техподдержка;</li>
          <li class="mb-10">готовые креативы под ваше ТЗ&nbsp;— баннеры, лендинги, письма;</li>
          <li class="mb-10">именные промокоды и&nbsp;скидки для вашей аудитории&nbsp;— конверсия растет;</li>
          <li class="mb-10">индивидуальные бонусы активным партнерам.</li>
        </ul>
        <p class="text-base bg-green-300 py-16 px-24">Продвигаете здоровье и&nbsp;новую профессию&nbsp;— люди вам благодарны&nbsp;— зарабатываете&nbsp;20% с&nbsp;чеков от&nbsp;40&nbsp;000 до&nbsp;250&nbsp;000&nbsp;₽.</p>
        <p class="mb-24">Ниша не&nbsp;выдохнется&nbsp;— спрос на&nbsp;превентивную медицину только растет.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/programs/partnerskaya-programma-universiteta-obrazovatelnoy-meditsiny-uom/",
          "text" : "Зарегистрироваться в партнерке УОМ",
          "color" : "bg-purple-500",
          "hover_color" : "bg-purple-600"
          }'></component>
        <p class="mt-24">Присоединяйтесь сейчас, пока на&nbsp;рынке нет перенасыщения. Помогаете людям&nbsp;— зарабатываете сами!</p>
        <p><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">Ваш надежный партнер,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
