---
title: "Как повысить CTR рекламного блока в 3 раза?"
preheader: "Используйте обновленный виджет курсов от ИнфоХит"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2026-04-09-new-ai-vidget.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p class="text-base bg-purple-300 py-16 px-24">У&nbsp;нас новинка! Мы&nbsp;полностью обновили наш инструмент для партнеров&nbsp;— <b>виджет курсов</b>.</p>
        <p><b>Виджет курсов</b>&nbsp;— инструмент для тех, кто хочет зарабатывать на&nbsp;образовательных офферах, не&nbsp;тратя время на&nbsp;сложную разработку и&nbsp;ручной подбор курсов.</p>
        <p><b>Что изменилось:</b></p>
        <p>Теперь AI-виджет сам анализирует содержание страницы и&nbsp;показывает самые релевантные курсы ИнфоХит. В&nbsp;карточках уже есть все необходимое: обложка, автор/школа, рейтинг и&nbsp;цена. В&nbsp;итоге посетители сразу видят подходящие предложения, а&nbsp;вы&nbsp;получаете больше целевых переходов без ручной настройки.</p>
        <p><b>Почему это выгоднее классической рекламы (РСЯ):</b></p>
        <p>Многие используют рекламные сети, но&nbsp;виджеты показывают лучшие результаты на&nbsp;тематическом трафике:</p>
        <ol>
          <li class="mb-12"><b>AI-подбор вместо «случайных» баннеров:</b> наш алгоритм анализирует страницы и&nbsp;автоматически показывает курсы, которые идеально дополняют вашу статью или блог.</li>
          <li class="mb-12"><b>Партнерский доход vs&nbsp;оплата за&nbsp;клики:</b> в&nbsp;РСЯ вы&nbsp;получаете копейки за&nbsp;переходы. В&nbsp;ИнфоХит вы&nbsp;зарабатываете до&nbsp;65% с&nbsp;каждой реальной продажи. Одна покупка курса может принести больше, чем тысячи кликов.</li>
          <li class="mb-12"><b>Нативность:</b> виджет выглядит как органичная рекомендация, что помогает победить «баннерную слепоту».</li>
        </ol>
        <p><b>Что вы&nbsp;получаете:</b></p>
        <ul>
          <li class="mb-10"><b>Простой запуск:</b> достаточно скопировать готовый код и&nbsp;вставить его на&nbsp;сайт. Ваша партнерская ссылка уже «вшита» внутри.</li>
          <li class="mb-10"><b>Огромный выбор:</b> в&nbsp;базе более 10&nbsp;000 офферов по&nbsp;любым тематикам.</li>
          <li class="mb-10"><b>Автоматизация:</b> AI&nbsp;сам обновляет предложения, вам не&nbsp;нужно следить за&nbsp;актуальностью курсов.</li>
          <li class="mb-10"><b>Прозрачность:</b> Вся детальная статистика и&nbsp;аналитика в&nbsp;вашем личном кабинете.</li>
        </ul>
        <p>Для тех, кому нужны расширенные возможности, у&nbsp;нас также доступны <nobr>XML-фид</nobr> и&nbsp;API, но&nbsp;начать проще и&nbsp;быстрее всего именно с&nbsp;виджета.</p>
        <p><b>Всего 5&nbsp;шагов, чтобы попробовать:</b></p>
        <p><b>Шаг&nbsp;1:</b> Перейдите в&nbsp;раздел «Виджеты» в&nbsp;личном кабинете партнера на&nbsp;сайте «ИнфоХит».</p>
          <p><img style="border: 2px solid rgb(142, 0, 198)" src="https://info-hit.ru/include/images/letter/2026-04-09-new-ai-vidget-example-1.png" alt=""></p>
        <p><b>Шаг&nbsp;2:</b> Выберите тип виджета&nbsp;— AI&nbsp;или отдельный курс.</p>
          <p><img style="border: 2px solid rgb(142, 0, 198)" src="https://info-hit.ru/include/images/letter/2026-04-09-new-ai-vidget-example.png" alt=""></p>
        <p><b>Шаг&nbsp;3:</b> Настройте виджет.</p>
        <p><b>Шаг&nbsp;4:</b> Скопируйте готовый код, в&nbsp;котором уже есть партнерская ссылка.</p>
         <p><img style="border: 2px solid rgb(142, 0, 198)" src="https://info-hit.ru/include/images/letter/2026-04-09-new-ai-vidget-example-2.png" alt=""></p>
        <p class="mb-24"><b>Шаг&nbsp;5:</b> Вставьте код в&nbsp;нужное место на&nbsp;своем сайте.</p>
        <p class="mb-24 mt-24">Если у&nbsp;вас есть вопросы по&nbsp;установке или вы&nbsp;хотите обсудить индивидуальные условия&nbsp;— просто ответьте на&nbsp;это письмо, и&nbsp;мы&nbsp;поможем во&nbsp;всем разобраться.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/account/partner/widgets/",
          "text" : "Настроить виджет и получить код",
          "color" : "bg-purple-600",
          "hover_color" : "bg-purple-700"
          }'></component>
        <p class="mt-24"><i>Используйте ваш трафик на&nbsp;максимум!</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">Ваш надежный партнер,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
