---
title: "Партнерская программа «АТС Школы»: 30% с продаж и своя сеть"
preheader: "До 6600 ₽ с продажи, cookie 365 дней и кабинет «АТС Офиса»"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2026-07-28-ats-school.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>«АТС Школа» открывает партнерскую программу!</p>
        <p>Комиссия партнера&nbsp;— 30% с&nbsp;каждой продажи. Вы&nbsp;можете создать собственную сеть субпартнеров и&nbsp;получать доход от&nbsp;развития структуры.</p>
        <p><b>Пять направлений для разных запросов</b></p>
        <p>Школа запустила курсы для женщин, которые хотят:</p>
        <ul>
          <li class="mb-10">вернуть внутреннюю опору;</li>
          <li class="mb-10">говорить красиво и&nbsp;уверенно;</li>
          <li class="mb-10">раскрыть чувственность и&nbsp;близость в&nbsp;паре;</li>
          <li class="mb-10">создать финансовую опору, разобраться в&nbsp;бюджете и&nbsp;инвестициях;</li>
          <li class="mb-10">увидеть таланты и&nbsp;предназначение через нумерологию и&nbsp;натальную карту.</li>
        </ul>
        <p><b>ИИ-наставница рядом 24/7</b></p>
        <p>В&nbsp;приложении ИИ-наставница помогает проходить уроки, объясняет материал, отвечает на&nbsp;вопросы и&nbsp;проводит персональные практики. Это не&nbsp;просто записи занятий, а&nbsp;обучение с&nbsp;индивидуальным сопровождением в&nbsp;удобном темпе.</p>
        <p><b>Почему партнерку удобно продвигать:</b></p>
        <ul>
          <li class="mb-10">пять направлений под разные запросы аудитории;</li>
          <li class="mb-10">три тарифа: 6000, 15&nbsp;000 и&nbsp;22&nbsp;000&nbsp;₽;</li>
          <li class="mb-10">комиссия&nbsp;30%: от&nbsp;1800 до&nbsp;6600&nbsp;₽ с&nbsp;продажи;</li>
          <li class="mb-10">cookie 365&nbsp;дней, холд 14&nbsp;дней;</li>
          <li class="mb-10">оплата из&nbsp;разных стран;</li>
          <li class="mb-10">российские и&nbsp;зарубежные карты, кредиты и&nbsp;рассрочки в&nbsp;РФ и&nbsp;СНГ;</li>
          <li class="mb-10">готовые тексты, баннеры и&nbsp;материалы по&nbsp;программам.</li>
        </ul>
        <p><b>Возможности «АТС Офиса»</b></p>
        <p>После подключения партнер получает доступ к&nbsp;«АТС Офису». Здесь можно создавать ссылки, назначать скидку покупателю, распоряжаться доступной комиссией и&nbsp;приглашать субпартнеров.</p>
        <p>Можно распределять вознаграждение между уровнями, задавать условия своей ветки и&nbsp;размещать постоянную ссылку для самостоятельной регистрации новых участников. Поддерживается структура до&nbsp;10&nbsp;уровней.</p>
        <p>Получайте доход от&nbsp;собственных рекомендаций и&nbsp;развивайте свою партнерскую сеть.</p>
        <p class="mb-24">Подключайтесь к&nbsp;партнерской программе «АТС Школы» и&nbsp;выбирайте программы, подходящие вашей аудитории.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/programs/partnerskaya-programma-ats-shkoly/",
          "text" : "Стать партнером «АТС Школы»",
          "color" : "bg-yellow-600",
          "hover_color" : "bg-yellow-700"
          }'></component>
        <p class="mt-24"><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">Ваш надежный партнер,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
