---
title: "Расскажите аудитории, как решать свои проблемы здесь и сейчас"
preheader: "Рекомендуйте программы онлайн-школы психолога Евгения Теребенина"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2026-03-05-terebenin.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p><i>Станьте партнером онлайн-школы психолога Евгения Теребенина «Терапия Души».</i></p>
        <p>Онлайн-школа предлагает короткие и&nbsp;доступные по&nbsp;цене курсы и&nbsp;«большие» интенсивы о&nbsp;родовой системе, устройстве мира и&nbsp;человека, изоляции и&nbsp;другие.</p>
        <p><b>Программы помогут слушателям:</b></p>
        <ul>
          <li class="mb-10">разобраться в&nbsp;отношениях с&nbsp;родителями и&nbsp;детьми, мужем и&nbsp;женой;</li>
          <li class="mb-10">ответить на&nbsp;вопросы о&nbsp;призвании и&nbsp;предназначении;</li>
          <li class="mb-10">выстроить мировоззрение и&nbsp;отношение к&nbsp;миру;</li>
          <li class="mb-10">получить рекомендации по&nbsp;личным финансам.</li>
        </ul>
        <p>А&nbsp;еще курсы помогут тем, кто строит бизнес и&nbsp;партнерство.</p>
        <p>Евгений Теребинин <b>20&nbsp;лет занимается развитием практического мировоззрения людей</b>, на&nbsp;протяжении последних пяти&nbsp;— работает с&nbsp;терапевтическими группами. За&nbsp;это время помог <b>более 15&nbsp;000&nbsp;человек</b>.</p>
        <p><b>В онлайн-школе вы найдете:</b></p>
        <p><b>Записи «больших» семинаров (от&nbsp;12&nbsp;000 до&nbsp;45&nbsp;000&nbsp;₽):</b> «Устройство мира и&nbsp;человека», «Родовая система», «Анатомия сливов: куда уходят ваши деньги и&nbsp;энергия?», «Изоляция», «Как слышать больше, чем говорят клиенты?», «Природа судьбы: от&nbsp;причин к&nbsp;результату».</p>
        <p><b>И&nbsp;недорогие продукты (от&nbsp;1500 до&nbsp;9000&nbsp;₽):</b> практикумы «Поломки в&nbsp;Родовой системе: почему жизнь не&nbsp;складывается, даже когда ты&nbsp;стараешься», «Код денег» и&nbsp;беседа с&nbsp;Евгением Теребениным «Отношения с&nbsp;миром, проявленность».</p>
        <p class="mb-24">Авторские онлайн и&nbsp;оффлайн-курсы пользуются популярностью среди широкого круга аудитории, которой нужно решать свои проблемы здесь и&nbsp;сейчас, а&nbsp;не&nbsp;затягивать на&nbsp;годы.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/programs/partnerskaya-programma-shkoly-evgeniya-terebenina-terapiya-dushi/",
          "text" : "Стать партнером школы",
          "color" : "bg-gray-600",
          "hover_color" : "bg-gray-700"
          }'></component>
        <p class="mt-24"><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">Ваш надежный партнер,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
