---
title: "Сильный бренд, высокий средний чек и ТОПовые курсы"
preheader: "Станьте партнером «Яндекс Практикума» — сервиса онлайн-обучения, который выбирают и которому доверяют"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2026-03-10-practicum.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Если ваша аудитория мечтает о&nbsp;смене профессии или совершенствовании профессиональных навыков&nbsp;— предложите им&nbsp;курсы от&nbsp;«Яндекс Практикума» и&nbsp;получайте вознаграждение за&nbsp;каждого привлеченного ученика.</p>
        <p class="text-base bg-blue-300 py-16 px-24"><b>«Яндекс Практикум»</b>&nbsp;— сервис онлайн-обучения, где&nbsp;каждый может освоить цифровую профессию с&nbsp;нуля или получить новые навыки для дальнейшего профессионального развития.</p>
        <p><b>Преимущества для аудитории:</b></p>
        <ol>
          <li class="mb-10">Обучение основано на&nbsp;реальных ситуациях.</li>
          <li class="mb-10">Работодатели на&nbsp;38% чаще приглашают на&nbsp;собеседование выпускников «Яндекс Практикума», а&nbsp;зарплата на&nbsp;старте выше на&nbsp;10%.</li>
          <li class="mb-10">Технологии помогают сделать так, чтобы каждому было удобно учиться. Теория&nbsp;— в&nbsp;учебнике с&nbsp;интерактивными элементами, задачи&nbsp;— в&nbsp;тренажере.</li>
          <li class="mb-10">Обратная связь.</li>
          <li class="mb-10">Возможность оплаты курса в&nbsp;рассрочку.</li>
        </ol>
        <p><b>Условия для партнеров:</b></p>
        <ol>
          <li class="mb-10">Сильный бренд.</li>
          <li class="mb-10">Высокий средний чек&nbsp;— ~110&nbsp;000&nbsp;₽.</li>
          <li class="mb-10">Комиссия&nbsp;— 10%. Рассчитывается от&nbsp;полной стоимости курса даже при выборе оплаты в&nbsp;рассрочку.</li>
          <li class="mb-10">Нет регулярных скидок&nbsp;— средний чек всегда держится на&nbsp;высоком уровне.</li>
          <li class="mb-10">Высокий процент подтверждения заказов.</li>
          <li class="mb-10">Рекламодатель готов помогать с&nbsp;контентом и&nbsp;предоставлять креативы по&nbsp;вашему запросу и&nbsp;ТЗ (в&nbsp;текстовом, видео-формате и&nbsp;любой другой экспертный материал).</li>
        </ol>
        <p class="mb-24">Станьте партнером «Яндекс Практикума» и&nbsp;зарабатывайте на&nbsp;продуктах сильного бренда, которому доверяют и&nbsp;который выбирают сотни тысяч человек!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/programs/partnerskaya-programma-servisa-onlayn-obrazovaniya-yandeks-praktikum/",
          "text" : "Подробнее о партнерке",
          "color" : "bg-gray-600",
          "hover_color" : "bg-gray-700"
          }'></component>
        <p class="mt-24"><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">Ваш надежный партнер,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
