---
title: "Бонусы новичкам в партнерской программе Smart"
preheader: "Стартуйте быстро — зарабатывайте много!"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2026-05-13-smart-2.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p><b>Бонус для новых вебмастеров в&nbsp;Smart</b></p>
        <p>Подключаетесь к&nbsp;программе впервые? Сейчас лучший момент стартовать.</p>
        <p class="text-base bg-yellow-400 py-16 px-24">Сделайте оплату от&nbsp;200&nbsp;000&nbsp;₽ в&nbsp;первый месяц сотрудничества&nbsp;— и&nbsp;институт Smart начислит 20&nbsp;000&nbsp;₽ бонусом к&nbsp;вашей комиссии.</p>
        <p><b>Почему это легко?</b></p>
        <p>Средний чек в&nbsp;Smart&nbsp;— 220&nbsp;000&nbsp;₽. Одна продажа уже закрывает условие. При этом вы&nbsp;получаете&nbsp;18% комиссии с&nbsp;каждой сделки&nbsp;— и&nbsp;бонус сверху.</p>
        <p><b>Быстрый старт</b></p>
        <p>Шаги понятны: регистрируйтесь в&nbsp;программе&nbsp;— получаете ссылку&nbsp;— делитесь ей&nbsp;в&nbsp;соцсетях, блоге или личной переписке. Выплаты партнерам начисляются с&nbsp;каждой успешной рекомендации.</p>
        <p>Продукты с&nbsp;высокой конверсией, готовая воронка, поддержка команды позволяют быстро получить первые лиды и&nbsp;довести их&nbsp;до&nbsp;оплаты. Без сложных формул и&nbsp;скрытых условий.</p>
        <p class="mb-24">Подключайтесь и&nbsp;забирайте максимум с&nbsp;первого месяца!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/programs/partnerskaya-programma-onlayn-instituta-smart/",
          "text" : "Подключиться",
          "color" : "bg-green-400",
          "hover_color" : "bg-green-500"
          }'></component>
        <p class="mt-24"><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">Ваш надежный партнер,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
