---
title: "Есть ниша, которая не выходит из моды"
preheader: "Искусство и антиквариат: обучение для взрослой аудитории, с дорогими продуктами и комиссионными до 33%."
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2026-10-06-agena-art.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p class="text-base bg-purple-200 py-16 px-24">Международная академия искусств и&nbsp;антиквариата «Агена Арт» приглашает к&nbsp;сотрудничеству!</p>
        <p>«Агена-Арт»&nbsp;— современный образовательный проект на&nbsp;стыке университетской базы и&nbsp;гибкого онлайн-формата. Курсы и&nbsp;программы ДПО по&nbsp;искусству и&nbsp;антиквариату для взрослых слушателей, профессионалов, коллекционеров и&nbsp;всех, кто стремится к&nbsp;глубокому пониманию мировой культуры</p>
        <p><b>О&nbsp;проекте:</b></p>
        <ul>
          <li class="mb-10">10+&nbsp;лет на&nbsp;рынке образования;</li>
          <li class="mb-10">3&nbsp;программы дополнительного профессионального образования;</li>
          <li class="mb-10">75&nbsp;курсов для детей и&nbsp;взрослых;</li>
          <li class="mb-10">лицензия на&nbsp;образовательную деятельность № Л035-01298-77/00179915;</li>
          <li class="mb-10">лекторы&nbsp;— преподаватели ведущих вузов: МГУ и&nbsp;РГГУ;</li>
          <li class="mb-10">первый урок&nbsp;— БЕСПЛАТНО.</li>
        </ul>
        <p>«Агена-Арт» основной акцент делает на&nbsp;академические методы обучения искусству, которые помогают осознанно воспринимать и&nbsp;анализировать изобразительный материал. Обучение включают лекции, мастер-классы, посещение ведущих музеев и&nbsp;выставок, где каждый вид произведений становится объектом детального исследования.</p>
        <p><b>Награды:</b></p>
        <ol>
          <li class="mb-10">«Лучшая школа искусств России 2022, 2024 и&nbsp;2025&nbsp;года».</li>
          <li class="mb-10">«Лучшее учреждение культуры и&nbsp;искусства».</li>
          <li class="mb-10">Победитель конкурса «100 лучших предприятий и&nbsp;организаций России <nobr>2022-2024».</nobr></li>
        </ol>
        <p><b>Условия для партнеров:</b></p>
        <ul>
          <li class="mb-10">комиссия&nbsp;— от&nbsp;7&nbsp;до&nbsp;33%;</li>
          <li class="mb-10">стоимость продуктов&nbsp;— от&nbsp;5990 до&nbsp;168&nbsp;270&nbsp;₽;</li>
          <li class="mb-10">есть готовые материалы для продвижения.</li>
        </ul>
        <p class="mb-24"><b>Целевая аудитория:</b> платежеспособная, взрослая, преимущественно женская, 40+&nbsp;лет.</p>
        <p class="mb-24">«Агена-Арт» не&nbsp;зависит от&nbsp;сезонности или моды на&nbsp;новые течения. Искусство&nbsp;— это вечная тема, которая всегда будет интересна.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/programs/partnerskaya-programma-mezhdunarodnoy-akademii-iskusstv-i-antikvariata-agena-art/",
          "text" : "Подключиться к партнерской программе",
          "color" : "bg-purple-600",
          "hover_color" : "bg-purple-700"
          }'></component>
        <p class="mt-24"><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">Ваш надежный партнер,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
