---
title: "Почему вы снова откладываете важное дело? (И причем тут мозг)"
preheader: "Простой способ обмануть прокрастинацию и начать действовать сегодня!"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2025-10-09-smart-1.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Срочная работа горит, а&nbsp;вы... перечитываете старые переписки, моете холодильник или смотрите третье видео про укладку волос космонавтов? Это не&nbsp;лень, а&nbsp;прокрастинация&nbsp;— сложный механизм, который запускает наш мозг, чтобы защититься.</p>
        <p>Истинные причины такого поведения сводятся к&nbsp;следующим:</p>
        <p><b>Страх неудачи или успеха.</b> Мозг воспринимает сложную задачу как угрозу. Включается режим «беги или замри». Легче избегать дискомфорта, чем столкнуться с&nbsp;возможным провалом. Разбейте задачу на&nbsp;микрошаги. Ваша цель&nbsp;— не&nbsp;«написать отчет», а&nbsp;«открыть файл и&nbsp;написать три первых предложения». Это не&nbsp;пугает мозг.</p>
        <p><b>Неясность и&nbsp;перегрузка.</b> Отсутствие четкого плана парализует волю. Используйте правило 15&nbsp;минут. Договоритесь с&nbsp;собой заниматься задачей столько времени, после чего можно остановиться. Чаще всего старт оказывается самым сложным, и&nbsp;вы&nbsp;продолжите.</p>
        <p><b>Установка «сделать идеально или не&nbsp;делать вообще».</b> Поскольку идеал недостижим, проще не&nbsp;начинать. Сознательно разрешите себе сделать работу «на&nbsp;троечку». Первый черновик, набросок, черновая версия. Исправлять уже существующее всегда проще, чем создавать с&nbsp;нуля.</p>
        <p><b>Понимание&nbsp;— это первый и&nbsp;главный шаг к&nbsp;изменениям.</b> Но&nbsp;чтобы разорвать порочный круг, одних знаний мало. Нужны конкретные инструменты и&nbsp;пошаговый план, как перестать саботировать себя и&nbsp;начать действовать.</p>
        <p>Поэтому Международный институт психологии Smart подготовил <b>бесплатный <a href="https://info-hit.ru/away.php?to=link&id=1398" target="_blank">тест-драйв «Профессии психолог»</b></a>, где вы&nbsp;сможете попробовать эффективные психологические инструменты против прокрастинации. Среди них:</p>
        <ul>
          <li class="mb-10">«Лестница перемен»&nbsp;— научитесь разбивать задачи на&nbsp;маленькие шаги, чтобы стартовать без страха.</li>
          <li class="mb-10">«Сократический диалог»&nbsp;— узнаете, как задавать себе правильные вопросы и&nbsp;преодолевать внутренние сомнения.</li>
        </ul> 
        <p class="mb-24">Пройдите тест-драйв, попробуйте техники и&nbsp;почувствуйте, как мозг перестает саботировать дела.</p>
         <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=link&id=1398",
          "text" : "Попробовать бесплатно",
          "color" : "bg-green-400",
          "hover_color" : "bg-green-500"
        }'></component>
        <p class="mt-24">P.S. Помните: задача&nbsp;— не&nbsp;избавиться от&nbsp;прокрастинации навсегда, а&nbsp;научиться распознавать ее&nbsp;уловки и&nbsp;договариваться со&nbsp;своим мозгом. Это навык, который можно прокачать.</p>
        <p><i>*Реклама</i></p> 
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
