---
title: "COINCRAFT 2.0 — идеальное начало вашей карьеры в криптосфере"
preheader: "Офлайн-криптофорум | 15–16 октября | Москва | VK Stadium"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2025-08-30-coincraft.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>COINCRAFT 2.0&nbsp;— идеальное начало вашей карьеры в&nbsp;криптосфере!</p>
        <p><b>Что такое COINCRAFT 2.0</b></p>
        <p>Это крупнейший форум по&nbsp;инвестициям, майнингу и&nbsp;трейдингу криптовалют, который пройдет <b><nobr>15–16</nobr> октября в&nbsp;Москве на&nbsp;VK&nbsp;Stadium</b>.</p>
        <p><b>Здесь вас ждут:</b></p>
        <ul>
          <li class="mb-12">4&nbsp;крутые секции: инвестиции, майнинг, трейдинг, тренды и&nbsp;будущее;</li>
          <li class="mb-12">топ-спикеры и&nbsp;другие звезды индустрии;</li>
          <li class="mb-12">шоу, перформансы и&nbsp;интерактив без скучных докладов;</li>
          <li class="mb-12">актуальные темы: стратегии инвестиций, алгоритмическая торговля, токенизация активов (RWA), ИИ&nbsp;в&nbsp;DeFi, мем-токены и&nbsp;не&nbsp;только.</li>
        </ul>
        <p><b>Почему вам нужно быть там?</b></p>
        <ol>
          <li class="mb-12">Реальные инвестиционные кейсы и&nbsp;стратегии от&nbsp;практиков.</li>
          <li class="mb-12">Нетворкинг с&nbsp;экспертами, фондами и&nbsp;инвесторами&nbsp;— за&nbsp;два дня получите столько контактов, сколько обычно осваивается за&nbsp;несколько месяцев.</li>
          <li class="mb-12">Возможность презентовать свой бренд или проект: стенды, партнерские зоны, спонсорские активности.</li>
        </ol> 
        <p class="mb-24">Не&nbsp;упустите шанс окунуться в&nbsp;мир крипты с&nbsp;топ-экспертами. Подробности форума и&nbsp;покупка билетов по&nbsp;кнопке ниже.</p>
         <component src="src/components/button.html" locals='{
          "link" : "http://coin-craft.ru",
          "text" : "Узнать подробности",
          "color" : "bg-green-500",
          "hover_color" : "bg-green-600"
        }'></component>
        <p>Увидимся на&nbsp;COINCRAFT 2.0!</p>
        <p><i>*Реклама</i></p> 
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
