---
title: "Станьте экспертом в HR за несколько недель"
preheader: "С курсом онлайн-школы «Разумикс»"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2025-09-18-razumiks.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Массовый подбор персонала&nbsp;— ключевой навык, который позволяет закрывать десятки вакансий в&nbsp;сжатые сроки, оптимизировать ресурсы компании и&nbsp;становиться незаменимым специалистом в&nbsp;HR-сфере.</p>
        <p><b>Кому подойдет:</b></p>
        <ul>
          <li class="mb-10">новичкам в&nbsp;HR, желающим освоить востребованное направление;</li>
          <li class="mb-10">рекрутерам, которые хотят повысить эффективность работы;</li>
          <li class="mb-10">руководителям, планирующим оптимизировать процессы подбора в&nbsp;своей компании.</li>
        </ul> 
        <p><b>Где научиться:</b> в&nbsp;«Разумикс». Команда онлайн-школы&nbsp;— это эксперты с&nbsp;<nobr>13-летним</nobr> опытом в&nbsp;HR и&nbsp;массовом подборе. Специалисты закрыли более 5000 вакансий для компаний из&nbsp;retail, HoReCa и&nbsp;логистики. Знают, как сделать старт в&nbsp;профессии быстрым и&nbsp;эффективным.</p>
        <p><b>Что вы&nbsp;получите:</b></p>
        <ol>
          <li class="mb-10">Комплексное обучение: от&nbsp;анализа заявок до&nbsp;оценки эффективности подбора.</li>
          <li class="mb-10">Практические навыки: работа с&nbsp;HH.ru и&nbsp;Avito PRO, создание привлекательных вакансий.</li>
          <li class="mb-10">Поддержка: закрытый чат с&nbsp;кураторами и&nbsp;HR-сообществом.</li>
          <li class="mb-10">Сертификат установленного образца с&nbsp;гослицензией.</li>
          <li class="mb-10">Помощь в&nbsp;трудоустройстве после успешной аттестации.</li>
        </ol>
        <p><b>Будущие навыки:</b></p>
        <ul>
          <li class="mb-10">Умение работать с&nbsp;заявками и&nbsp;оптимизировать время.</li>
          <li class="mb-10">Создание вакансий, на&nbsp;которые хочется откликнуться.</li>
          <li class="mb-10">Владение инструментами поиска кандидатов.</li>
          <li class="mb-10">Эффективное сопровождение соискателей.</li>
          <li class="mb-10">Разработка воронок подбора и&nbsp;анализ метрик.</li>
        </ul>
        <p class="mb-24">Станьте экспертом, который меняет правила игры!</p>
         <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=330973",
          "text" : "Начать обучение",
          "color" : "bg-purple-500",
          "hover_color" : "bg-purple-600"
        }'></component>
        <p><i>*Реклама</i></p> 
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
