---
title: "Как после 30 сохранить стройность и молодость?"
preheader: "Бесплатный вебинар Натальи Зубаревой о женском здоровье!"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2025-09-23-MIFIM.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p><i>«Соблюдаю диету, тренируюсь, а&nbsp;живот не&nbsp;уходит».</i></p>
        <p><i>«Выгляжу старше, чем хотелось&nbsp;бы».</i></p>
        <p><i>«Постоянная усталость, отеки, а&nbsp;врачи говорят, что это возраст». </i></p>
        <p>На&nbsp;самом деле старение начинается гораздо раньше, чем появляются первые признаки. Процесс запускается незаметно&nbsp;— и&nbsp;именно эти скрытые механизмы решают, будете&nbsp;ли вы&nbsp;выглядеть моложе своих лет или старше.</p>
        <p>На&nbsp;бесплатном вебинаре <a href="https://info-hit.ru/away.php?to=course&cb=41&id=331508" target="_blank">«Женское здоровье»</a> эксперт Наталья Зубарева расскажет:</p>
        <ul>
          <li class="mb-10">почему жир «цепляется» за&nbsp;живот и&nbsp;как это остановить (спойлер: это не&nbsp;только про питание!);</li>
          <li class="mb-10">какие 5&nbsp;анализов покажут настоящую причину старения и&nbsp;набора веса; </li>
          <li class="mb-10">Закрытый чат с&nbsp;кураторами и&nbsp;HR-сообществом для обмена опытом.простые, но&nbsp;мощные способы вернуть энергию, сияющую кожу и&nbsp;стройность&nbsp;— без жестких диет. </li>
        </ul>
        <p><b>После вебинара&nbsp;вы:</b></p>
        <ul>
          <li class="mb-10">составите индивидуальный план заботы о&nbsp;себе;</li>
          <li class="mb-10">поймете, какие анализы нужны именно вам и&nbsp;как часто их&nbsp;сдавать;</li>
          <li class="mb-10">научитесь замечать ранние признаки возрастных изменений и&nbsp;замедлять их&nbsp;развитие;</li>
          <li class="mb-10">узнаете, как поддерживать гормональный баланс, нормализовать вес и&nbsp;стабилизировать эмоциональное состояние.</li>
        </ul> 
        <p><b>Бонусы за&nbsp;регистрацию:</b></p>
        <ol>
          <li class="mb-10">Гайд «Как определить свой биологический возраст».</li>
          <li class="mb-10">Урок «Экология питания и&nbsp;гормональное здоровье».</li>
        </ol>
        <p class="mb-24">Не&nbsp;списывайте на&nbsp;возраст&nbsp;то, что можно исправить&nbsp;— приходите на&nbsp;вебинар и&nbsp;внедряйте рекомендации в&nbsp;жизнь!</p>
         <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=331508",
          "text" : "Принять участие",
          "color" : "bg-green-500",
          "hover_color" : "bg-green-600"
        }'></component>
        <p><i>*Реклама</i></p> 
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
