---
title: "Онлайн-медитация для уверенности в завтрашнем дне"
preheader: "21 декабря в 19:00 по мск"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2025-11-25-popov.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p><i>Скоро нечисть попрет со&nbsp;всех щелей, а&nbsp;злой дух Карачун попытается украсть Солнце!</i> Так верили наши предки много поколений назад.</p>
        <p>Факт остается фактом&nbsp;— день зимнего солнцестояния самый короткий в&nbsp;году. Это давало нашим предкам почву для верований и&nbsp;различных мистических ритуалов. Именно в&nbsp;этот день астрономически начинается зима.</p>
        <p class="text-base bg-yellow-300 py-16 px-24">Парапсихолог и&nbsp;мистик Василий Попов приглашает на&nbsp;коллективную медитацию-ритуал, которую проводит уже четвертый год подряд!</p>
        <p>Вы&nbsp;поучаствуете в&nbsp;<b>медитации в&nbsp;прямом эфире</b>, после которой у&nbsp;вас появятся <b>уверенность в&nbsp;завтрашнем дне и&nbsp;силы на&nbsp;долгую зиму!</b></p>
        <p>Еще Василий сделает <b>расклад на&nbsp;картах Таро</b> на&nbsp;следующие 3&nbsp;месяца.</p>
        <p>И&nbsp;общение в&nbsp;теплой атмосфере тоже будет!</p>
        <p class="m-0 mb-24 text-base border-dashed border-2 border-yellow-300 rounded-2xl py-16 px-24"><b>Подарок в&nbsp;конце мероприятия:</b> получите магическую мандалу, которая будет подпитывать ресурсное состояние в&nbsp;течение следующих трех месяцев.</p>
        <p>Переходите по&nbsp;кнопке ниже, регистрируйтесь и&nbsp;будьте онлайн <b>21&nbsp;декабря в&nbsp;19:00 по&nbsp;мск!</b></p>
        <p class="mb-24">Вход свободный!</p>
         <component src="src/components/button.html" locals='{
          "link" : "https://chakram.meditationclub.space/yule25?gcpc=aef86",
          "text" : "Записаться на медитацию",
          "color" : "bg-yellow-600",
          "hover_color" : "bg-yellow-700"
        }'></component>
        <p><i>*Реклама</i></p> 
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
