---
title: "Вложитесь в свое развитие бесплатно"
preheader: "Пять мини-курсов, чтобы получить реальные результаты без затрат"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <fetch url="https://info-hit.ru/include/tools/courses-json/?coursesArr=304508,277765,311792,324721,297465&token=u4JTEnMNt4gdsfdfsdf345nkhjk3dfgfh556776dfdghjkluiutyrtym&v=4">
      <component src="src/components/img-block-without-link-round.html" locals='{
      "src" : "https://info-hit.ru/include/images/letter/2025-08-07-free-courses.jpg"
      }'></component>
        
      <component src="src/components/round-block-mt.html">
        <p><strong>Добрый день!</strong></p>
          <p>Лето&nbsp;— это шанс получить новые знания и&nbsp;навыки быстро и&nbsp;без затрат. И&nbsp;вот почему:</p>
          <ul>
          <li class="mb-12">Летом проще выделить время на&nbsp;себя и&nbsp;обучение&nbsp;— меньше спешки и&nbsp;стрессов.</li>
          <li class="mb-12">На&nbsp;рынке труда спад конкуренции, а&nbsp;значит, больше шансов найти интересную вакансию.</li>
          <li class="mb-12">Только летом можно уйти в&nbsp;отпуск, а&nbsp;вернуться&nbsp;— в&nbsp;новую профессию.</li>
        </ul>
        <p>Если задумываетесь о&nbsp;переменах&nbsp;— смотрите нашу подборку. Собрали пять бесплатных курсов, которые помогут сделать первые шаги и&nbsp;получить реальные результаты.</p>
        </component>

        <tr>
          <td class="h-24 sm:h-16"></td>
        </tr>
        <tr>
          <td class="bg-white text-gray-800 text-base text-left px-48 py-24 sm:p-14 leading-24 rounded-2xl">
          <h2 class="mt-32 mb-32">Для карьерных и личных изменений</h2>
          <each loop="item in response.slice(0, 1)">
            <component src="src/components/course.html" locals='{
              "author" : "{{ item.RIGHTHOLDER }}",
              "title" : "{{ item.TYPE }} — {{ item.NAME }}",
              "subtitle" : "{{ item.DESC }}",
              "picture" : "https://info-hit.ru/{{ item.PICTURE }}",
              "link" : "{{ item.URL }}"
              }'>
            </component>
          </each>
          <each loop="item in response.slice(1, 2)">
            <component src="src/components/course.html" locals='{
              "author" : "{{ item.RIGHTHOLDER }}",
              "title" : "{{ item.TYPE }} — {{ item.NAME }}",
              "subtitle" : "{{ item.DESC }}",
              "picture" : "https://info-hit.ru/{{ item.PICTURE }}",
              "link" : "{{ item.URL }}"
              }'>
            </component>
          </each>
          <each loop="item in response.slice(2, 3)">
            <component src="src/components/course.html" locals='{
              "author" : "{{ item.RIGHTHOLDER }}",
              "title" : "{{ item.TYPE }} — {{ item.NAME }}",
              "subtitle" : "{{ item.DESC }}",
              "picture" : "https://info-hit.ru/{{ item.PICTURE }}",
              "link" : "{{ item.URL }}"
              }'>
            </component>
          </each>
          <each loop="item in response.slice(3, 4)">
            <component src="src/components/course.html" locals='{
              "author" : "{{ item.RIGHTHOLDER }}",
              "title" : "{{ item.TYPE }} — {{ item.NAME }}",
              "subtitle" : "{{ item.DESC }}",
              "picture" : "https://info-hit.ru/{{ item.PICTURE }}",
              "link" : "{{ item.URL }}"
              }'>
            </component>
          </each>
          <each loop="item in response.slice(4, 5)">
            <component src="src/components/course.html" locals='{
              "author" : "{{ item.RIGHTHOLDER }}",
              "title" : "{{ item.TYPE }} — {{ item.NAME }}",
              "subtitle" : "{{ item.DESC }}",
              "picture" : "https://info-hit.ru/{{ item.PICTURE }}",
              "link" : "{{ item.URL }}"
              }'>
            </component>
          </each>
          <p class="mb-24">Еще больше бесплатных курсов и&nbsp;полезных материалов ищите на&nbsp;ИнфоХит.</p>
          <component src="src/components/button.html" locals='{
            "link" : "https://info-hit.ru/blog/sect-neyroseti/",
            "text" : "Хочу посмотреть",
            "color" : "bg-green-500",
            "hover_color" : "bg-green-600"
            }'></component>
          <component src="src/components/gray-line.html"></component>
          <p class="text-base mb-36">С уважением,<br>команда ИнфоХит!</p>
        </td>
      </tr>
    <td class="h-32 sm:h-24"></td>
  </tr>
  <component src="src/components/footer.html"></component>
</block>
</extends>
