---
title: "«Я стала увереннее и увеличила доход». Как психология меняет жизни?"
preheader: "Ответ — в письме"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2025-07-03-smart.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Многие думают, что психология нужна только в&nbsp;кризисной ситуации. Но&nbsp;на&nbsp;самом деле это <b>универсальный инструмент</b> для понимания себя, улучшения отношений, роста в&nbsp;профессии и&nbsp;даже развития бизнеса.</p>
        <h3>Для жизни: спокойствие, уверенность, гармония</h3>
        <p>Елизавета, менеджер по&nbsp;продажам, пошла учиться на&nbsp;<a href="https://info-hit.ru/away.php?to=course&cb=41&id=281166" target="_blank">психолога</a>, чтобы разобраться в&nbsp;себе. Уже во&nbsp;время обучения она заметила изменения:</p>
        <ul>
          <li class="mb-12">Перестала сомневаться в&nbsp;решениях.</li>
          <li class="mb-12">Научилась выстраивать границы и&nbsp;избегать токсичных людей.</li>
          <li class="mb-12">Осознала, что хочет помогать другим, и&nbsp;теперь развивается в&nbsp;этом направлении.</li>
        </ul>
        <p><i>«Я&nbsp;еще в&nbsp;процессе обучения, но&nbsp;уже чувствую, как изменилось мое восприятие мира. Стало гораздо легче и&nbsp;понятнее!»</i></p>
        <h3>Для бизнеса: переговоры, управление, доход</h3>
        <p>Татьяна, предприниматель с&nbsp;<nobr>19-летним</nobr> стажем, решила выбрать <a href="https://info-hit.ru/away.php?to=course&cb=41&id=318344" target="_blank">бизнес-психологию</a> и&nbsp;сразу внедрила знания в&nbsp;работу:</p>
        <ul>
          <li class="mb-12"><b>Команда</b>&nbsp;— техники мотивации повысили вовлеченность сотрудников.</li>
          <li class="mb-12"><b>Личный бренд</b>&nbsp;— выступления на&nbsp;конференциях привлекли клиентов.</li>
          <li class="mb-12"><b>Доход</b>&nbsp;— совмещение психологии и&nbsp;ИИ позволило выйти на&nbsp;высокие чеки.</li>
        </ul>
        <p><i>«Я&nbsp;получила системные инструменты. Никакой магии&nbsp;— только рабочие методики».</i></p>
        <h3>Для профессии: гибкость и&nbsp;востребованность</h3>
        <p>После завершения обучения психологии перед вами открываются перспективы:</p>
        <ol>
          <li class="mb-12">Работать в&nbsp;HR, маркетинге, коучинге.</li>
          <li class="mb-12">Открыть частную практику или стать бизнес-тренером.</li>
          <li class="mb-12">Комбинировать психологию с&nbsp;любой сферой.</li>
        </ol>
        <p>Средний доход выпускников Smart на&nbsp;собственном агрегате <a href="https://smart-mental.ru/?gcpc=db048" target="_blank">SmartMental</a>&nbsp;— 65&nbsp;000&nbsp;₽, а&nbsp;спрос на&nbsp;специалистов растет: на&nbsp;1&nbsp;психолога приходится 24&nbsp;клиента.</p>
        <p><b>Хотите попробовать?</b></p>
        <p><b><a href="https://drive.google.com/file/d/1bZ-ALNgm6tPHOiUg1vFrocPZCB_c4eyP/view?usp=sharing" target="_blank">Скачайте гайд</a> «Как понять, в&nbsp;чем моя сила»</b>&nbsp;— в&nbsp;нем техники, которые помогут уже сегодня осознать свои сильные стороны и&nbsp;повысить уверенность.</p>
        <p class="mb-24"><i>«Психология&nbsp;— это мощный инструмент, чтобы дружить с&nbsp;этим миром и&nbsp;с&nbsp;собой»,&nbsp;— Татьяна, выпускница Smart.</i></p>
         <component src="src/components/button.html" locals='{
          "link" : "https://drive.google.com/file/d/1bZ-ALNgm6tPHOiUg1vFrocPZCB_c4eyP/view?usp=sharing",
          "text" : "Скачать гайд",
          "color" : "bg-green-500",
          "hover_color" : "bg-green-600"
        }'></component>
        <p><i>*Реклама</i></p> 
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
