---
title: "Новые запросы клиентов в эпоху ИИ — заберите карту бесплатно"
preheader: "Актуальное для работы с клиентами"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2026-08-12-kurpatov-letter-1.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Знакомим вас с&nbsp;Академией психологии и&nbsp;мышления (АПиМ)!</p>
        <p>Академия реализует практико-ориентированные образовательные программы по&nbsp;психологии на&nbsp;основе подхода, объединяющего фундаментальные принципы психотерапии с&nbsp;современными научными исследованиями&nbsp;— под чутким руководством Андрея Курпатова.</p>
        <p><b>Андрей Курпатов&nbsp;— самый известный врач-психотерапевт России с&nbsp;<nobr>30-летним</nobr> стажем</b>, научрук Лаборатории нейронаук и&nbsp;поведения человека (Сбер), автор более сотни научных работ, в&nbsp;том числе 12&nbsp;монографий, десятков бестселлеров (совокупный тираж более 8&nbsp;млн экземпляров).</p>
        <p class="text-base bg-green-300 py-16 px-24">Академия готовит психологов-консультантов с&nbsp;нуля&nbsp;— от&nbsp;первого шага до&nbsp;диплома и&nbsp;собственной практики. Программа длится 2,5&nbsp;года, включает 600+ часов практики, а&nbsp;диплом вносится в&nbsp;государственный реестр.</p>
        <p>У&nbsp;Академии есть блог и&nbsp;каналы, где они бесплатно делятся полезной информацией для психологов всех уровней&nbsp;— будущих, начинающих и&nbsp;опытных. А&nbsp;еще&nbsp;— целый список бесплатных мастер-классов и&nbsp;практикумов, с&nbsp;которых можно начать погружение в&nbsp;профессиональную психологию. Подробнее об&nbsp;АПиМ можно <a href="https://info-hit.ru/away.php?to=link&id=3" target="_blank">почитать здесь</a>.</p>
        <p class="mb-24">В&nbsp;честь знакомства для вас <b>подарок&nbsp;— «Карта новых запросов клиента в&nbsp;эпоху ИИ»</b>. Это PDF, где собраны актуальные темы, с&nbsp;которыми люди приходят к&nbsp;психологам сегодня. Технологии меняют жизнь людей, и&nbsp;вместе с&nbsp;ними меняются их&nbsp;тревоги, страхи и&nbsp;надежды. Карта поможет сориентироваться в&nbsp;этих изменениях.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=link&id=4",
          "text" : "Забрать подарок",
          "color" : "bg-yellow-600",
          "hover_color" : "bg-yellow-700"
        }'></component>
        <p class="mt-24"><i>*Реклама</i></p> 
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
