---
title: "Расширьте профессиональные горизонты в Институте прикладной психологии Л.Н. Собчик!"
preheader: "Повышение квалификации по направлению «Психодиагностика» для специалистов помогающих профессий"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2026-08-26-sobchik-letter-2.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Мастерство психолога опирается на&nbsp;качественную подготовку. Но&nbsp;что дает по-настоящему глубокий взгляд на&nbsp;клиента? Научная обоснованность, проверенные методики и&nbsp;понимание скрытых мотивов.</p>
        <p class="text-base bg-yellow-400 py-16 px-24">В&nbsp;онлайн-библиотеке ИПП Л.Н.Собчик собраны проверенные десятилетиями обучающие программы: от&nbsp;базовых до&nbsp;узкоспециализированных курсов.</p>
        <p><b>Что вас ждет в&nbsp;библиотеке:</b></p>
        <ul>
          <li class="mb-10"><b>фундаментальные знания</b> на&nbsp;курсе «Психология индивидуальности. Искусство психодиагностики. Практик» позволяют глубоко погрузиться в&nbsp;теорию и&nbsp;практику психодиагностики;</li>
          <li class="mb-10"><b>курсы по&nbsp;работе с&nbsp;легендарными методиками</b>&nbsp;— научитесь «читать» профили личности;</li>
          <li class="mb-10"><b>помощь в&nbsp;кризисе</b>&nbsp;— освоите необходимый навык для современного психолога в&nbsp;рамках курсов по&nbsp;работе с&nbsp;ПТСР и&nbsp;аутодеструктивными тенденциями;</li>
          <li class="mb-10"><b>курс о&nbsp;семейном консультировании</b>&nbsp;— позволит увидеть системные конфликты;</li>
          <li class="mb-10"><b>для специалистов по&nbsp;управлению персоналом и&nbsp;руководителей</b>&nbsp;— программа «Цена обесценивания» о&nbsp;том, как распознать демотивацию и&nbsp;управлять климатом в&nbsp;команде.</li>
        </ul>
        <p><b>Почему стоит начать сейчас?</b></p>
        <p>Онлайн-формат дает абсолютную свободу. Учитесь в&nbsp;своем ритме, пересматривайте сложные фрагменты и&nbsp;сразу внедряйте знания в&nbsp;практику. Вы&nbsp;получаете доступ к&nbsp;эталонным инструментам, не&nbsp;выходя из&nbsp;кабинета. По&nbsp;завершении получите удостоверение повышения квалификации установленного образца.</p>
        <p>Не&nbsp;упускайте уникальную возможность перенять опыт мастеров. Укрепите доверие клиентов и&nbsp;расширьте спектр решаемых задач!</p>
        <p class="mb-24">Выбирайте курс и&nbsp;начинайте путь к&nbsp;мастерству.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=link&id=15",
          "text" : "Посмотреть курсы института",
          "color" : "bg-green-500",
          "hover_color" : "bg-green-600"
        }'></component>
        <p class="mt-24"><i>*Реклама</i></p> 
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
