---
title: "Страх публичных выступлений? 7 способов избавиться быстро и незаметно для окружающих"
preheader: "Заберите практический курс от тренера-психотехнолога Альберта Шатрова"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2026-03-24-shatrov.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Страх перед публичным выступлением&nbsp;— неприятное чувство, способное испортить не&nbsp;только презентацию или запись контента, но&nbsp;и&nbsp;карьеру эксперта и&nbsp;даже жизнь в&nbsp;целом. Он&nbsp;мешает раскрыть свой потенциал.</p>
        <p><i>Этот страх, известный как пейрафобия, глоссофобия или боязнь сцены, проявляется в&nbsp;различных формах: страх перед камерой, аудиторией, онлайн-выступлениями, подиумом и&nbsp;даже продажами. Важно работать с&nbsp;ним под руководством специалиста, используя качественные психотерапевтические методы.</i></p>
        <p>Однако иногда страх настигает вас внезапно, за&nbsp;<nobr>1–5</nobr> минут до&nbsp;выступления или записи контента. Что делать в&nbsp;таких случаях?</p>
        <p>Хотите научиться быстро, весело и&nbsp;легко избавляться от&nbsp;страха перед публичным выступлением?</p>
        <p class="text-base bg-green-200 py-16 px-24">Приходите на&nbsp;практический курс от&nbsp;<b>тренера-психотехнолога Альберта Шатрова «Страх перед публичным выступлением»</b>.</p>
        <p>Он&nbsp;поможет справиться с&nbsp;волнением и&nbsp;страхом перед публичным выступлением или записью контента, когда совсем нет времени на&nbsp;более основательные методы.</p>
        <p class="mb-24">Узнаете о&nbsp;7&nbsp;максимально простых способах быстро и&nbsp;незаметно убрать скованность и&nbsp;страх непосредственно перед выступлением.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://psihotehnology.ru/strah-pered-publichnym-vystupleniem?utm_medium=affiliate&utm_source=info-hit",
          "text" : "Получить курс",
          "color" : "bg-red-500",
          "hover_color" : "bg-red-600"
        }'></component>
        <p class="mt-24">Когда нужно экстремально быстро и&nbsp;максимально просто! Берите&nbsp;— и&nbsp;сразу делайте!</p>
        <p>P.S. Стоимость курса от&nbsp;1000&nbsp;₽. Чтобы получить бесплатно, жмите на&nbsp;кнопку прямо сейчас!</p>
        <p class="mt-24"><i>*Реклама</i></p> 
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
