---
title: "Начальное астрологическое образование. Бесплатно."
preheader: "6 уроков — и вы умеете разбирать натальную карту"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/«Аквилон».jpeg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Натальная карта&nbsp;— это «технический паспорт» личности. Но&nbsp;как прочитать этот документ, если перед вами десятки символов и&nbsp;линий?</p>
        <p>Многие совершают ошибку, пытаясь анализировать карту по&nbsp;частям. В&nbsp;Центре «Аквилон» обучают именно системному синтезу.</p>
        <p>Представьте, что вы&nbsp;смотрите на&nbsp;здание. Прежде чем изучать цвет штор в&nbsp;окнах, вам нужно понять общую конструкцию: это небоскреб, уютный коттедж или крепость?</p>
        <p class="text-base bg-purple-200 py-16 px-24"><a href="https://info-hit.ru/course-astrologicheskiy-putevoditel/" target="_blank">«Астрологический путеводитель»</a> станет для вас точкой опоры и&nbsp;рычагом для изменений во&nbsp;всех сферах жизни. Многие долго ищут свое направление методом проб и&nbsp;ошибок. Бесплатный интенсив поможет структурировать этот путь.</p>
        <p><b>Что вы&nbsp;сделаете на&nbsp;практике:</b></p>
        <ol>
          <li class="mb-10"><b>Перестанете гадать на&nbsp;кофейной гуще:</b> вы&nbsp;сможете освоить фигуры Джонса. Это «скелет» характера. Посмотрите на&nbsp;карту любого человека и&nbsp;за&nbsp;60&nbsp;секунд поймете&nbsp;— он&nbsp;«спринтер» или «марафонец», с&nbsp;ним нужно мягко или на&nbsp;языке фактов.</li>
          <li class="mb-10"><b>Увидите событийный код:</b> разберете Дома гороскопа. Это ответ на&nbsp;вопрос «ГДЕ?»&nbsp;— лежат ваши деньги, ждет партнер, скрыты основные риски.</li>
          <li class="mb-10"><b>Заставите софт работать на&nbsp;вас:</b> не&nbsp;будете считать вручную на&nbsp;бумажке. Интенсив поможет настроить профессиональную программу Zet, чтобы вы&nbsp;видели результат в&nbsp;один клик.</li>
        </ol>
        <p>Обучение в&nbsp;«Аквилон»&nbsp;— это не&nbsp;скучные лекции. За&nbsp;каждое выполненное задание вы&nbsp;получаете бонусные рубли. Это ваш реальный капитал, который можно потратить на&nbsp;глубокое профессиональное обучение в&nbsp;школе. Вы&nbsp;учитесь&nbsp;— центр платит.</p>
        <p class="mb-24">Старт потока уже 21&nbsp;февраля. Группа уже наполняется, а&nbsp;места в&nbsp;вебинарной комнате не&nbsp;бесконечны.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/course-astrologicheskiy-putevoditel/",
          "text" : "Занять свое место в группе",
          "color" : "bg-yellow-600",
          "hover_color" : "bg-yellow-700"
        }'></component>
        <p class="mt-24">Хватит полагаться на&nbsp;случай. Пора брать в&nbsp;руки навигатор!</p>
        <p><i>*Реклама</i></p> 
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
