---
title: "Освойте востребованную IT-профессию с нуля без технического опыта"
preheader: "Бизнес-аналитик — удаленная профессия с доходом от 150 000 ₽"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2026-01-28-essentrium.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Ищете профессию с&nbsp;доходом, ростом и&nbsp;перспективой?</p>
        <p class="text-base bg-purple-300 py-16 px-24">Бизнес-аналитик&nbsp;— это удаленная IT-профессия, в&nbsp;которую заходят взрослые люди из&nbsp;самых разных сфер: офис, продажи, админка, управление, логистика, юриспруденция, декрет <b>без кода и&nbsp;без айтишного опыта</b>.</p>
        <p>Если вы&nbsp;давно присматриваетесь к&nbsp;IT, но&nbsp;программирование точно не&nbsp;ваш путь, профессия бизнес-аналитика&nbsp;— это один из&nbsp;самых понятных и&nbsp;безопасных вариантов входа.</p>
        <p>Это роль, где важны логика, мышление, умение разбираться в&nbsp;задачах бизнеса, а&nbsp;не&nbsp;знание языков программирования.</p>
        <p><i>В&nbsp;учебном центре Essentrium стартует новый поток на&nbsp;обучение бизнес- и&nbsp;системного аналитика с&nbsp;нуля.</i></p>
        <p><b>Формат подойдет вам, если&nbsp;вы:</b></p>
        <ul>
          <li class="mb-10">устали от&nbsp;офиса, рутины и&nbsp;потолка дохода;</li>
          <li class="mb-10">хотите перейти на&nbsp;удаленную работу;</li>
          <li class="mb-10">ищете стабильную и&nbsp;востребованную профессию на&nbsp;годы;</li>
          <li class="mb-10">хотите выйти на&nbsp;доход от&nbsp;<b>150&nbsp;000&nbsp;₽</b>, а&nbsp;не&nbsp;менять работу каждые <nobr>2–3 года;</nobr></li>
          <li class="mb-10">сомневаетесь, что не&nbsp;потянете&nbsp;IT, и&nbsp;вам нужен спокойный, понятный формат.</li>
        </ul>
        <p><b>Что внутри программы:</b></p>
        <ol>
          <li class="mb-10">Пошаговое погружение в&nbsp;профессию простым, человеческим языком.</li>
          <li class="mb-10">Теория и&nbsp;практика по&nbsp;бизнес- и&nbsp;системному анализу.</li>
          <li class="mb-10">Регулярные онлайн-встречи с&nbsp;преподавателями.</li>
          <li class="mb-10">Практические задания и&nbsp;учебный проект в&nbsp;портфолио.</li>
          <li class="mb-10">Поддержка и&nbsp;сопровождение на&nbsp;всем пути обучения и&nbsp;после с&nbsp;профессиональными наставниками.</li>
        </ol>
        <p>Это <b>безопасный путь в&nbsp;новую профессию</b> для взрослых людей с&nbsp;работой, семьей и&nbsp;ограниченным временем.</p>
        <p class="mb-24">Начать можно без риска&nbsp;— со&nbsp;<b>знакомства с&nbsp;профессией</b> и&nbsp;пробных заданий с&nbsp;проверкой от&nbsp;преподавателя.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=326525",
          "text" : "Пробные задания с проверкой",
          "color" : "bg-yellow-500",
          "hover_color" : "bg-yellow-600"
        }'></component>
        <p class="mt-24 mb-24">Подробнее о&nbsp;программе и&nbsp;формате обучения по&nbsp;кнопке ниже ↓</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=326479",
          "text" : "Программа школы",
          "color" : "bg-purple-500",
          "hover_color" : "bg-purple-600"
        }'></component>
        <p class="mt-24"><i>*Реклама</i></p> 
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
