---
title: "14 февраля — не праздник"
preheader: "Но отличный повод проявить внимание к любимым"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <fetch url="https://info-hit.ru/include/tools/courses-json/?coursesArr=283198,287791,333497,299116,176716&token=u4JTEnMNt4gdsfdfsdf345nkhjk3dfgfh556776dfdghjkluiutyrtym&v=4">
      <component src="src/components/img-block-without-link.html" locals='{
      "src" : "https://info-hit.ru/include/images/letter/2026-02-13-february-14.png"
      }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
          <p>14&nbsp;февраля&nbsp;— календарная дата, которая у&nbsp;многих вызывает смешанные чувства. Одни видят в&nbsp;ней «чужой» праздник, а&nbsp;для других это еще один повод напомнить партнеру: «Я&nbsp;тебя ценю». Даже если вы&nbsp;не&nbsp;отмечаете День святого Валентина, небольшой сюрприз может стать приятным знаком внимания.</p>
          <p>Если конфеты и&nbsp;букеты&nbsp;— слишком банально, а&nbsp;хочется подарить что-то действительно ценное, подумайте о&nbsp;курсах. Это инвестиция в&nbsp;знания, навыки и&nbsp;будущее вашего партнера, которые останутся с&nbsp;ним навсегда.</p>
          <p class="mb-32">В&nbsp;подборке&nbsp;— варианты для тех, кто ценит осознанные подарки. Учитесь вместе, вдохновляйте друг друга и&nbsp;инвестируйте в&nbsp;ваше общее будущее!</p>
          <h3>Больше, чем прикосновения</h3>
          <p class="mb-16">Освоите приемы классического массажа, избавите себя и&nbsp;близких от&nbsp;неприятных ощущений в&nbsp;теле. Идеально, чтобы позаботиться о&nbsp;своем и&nbsp;здоровье любимого человека.</p>
          <each loop="item in response.slice(0, 1)">
            <component src="src/components/course.html" locals='{
              "author" : "{{ item.RIGHTHOLDER }}",
              "title" : "{{ item.TYPE }} — {{ item.NAME }}",
              "subtitle" : "{{ item.DESC }}",
              "picture" : "https://info-hit.ru/{{ item.PICTURE }}",
              "link" : "{{ item.URL }}"
              }'>
            </component>
          </each>
          <h3>Финансы не&nbsp;поют романсы</h3>
          <p class="mb-16">Научитесь составлять и&nbsp;вести семейный бюджет. Узнаете, как контролировать деньги, чтобы не&nbsp;жить от&nbsp;зарплаты до&nbsp;зарплаты и&nbsp;достигать любых целей.</p>
          <each loop="item in response.slice(1, 2)">
            <component src="src/components/course.html" locals='{
              "author" : "{{ item.RIGHTHOLDER }}",
              "title" : "{{ item.TYPE }} — {{ item.NAME }}",
              "subtitle" : "{{ item.DESC }}",
              "picture" : "https://info-hit.ru/{{ item.PICTURE }}",
              "link" : "{{ item.URL }}"
              }'>
            </component>
          </each>
          <h3>Видео, которые влюбляют в&nbsp;себя</h3>
          <p class="mb-16">Освоите навыки монтажа видео на&nbsp;мобильном устройстве&nbsp;— научитесь работать в&nbsp;приложении CapCut. Начнете снимать ролики, которые цепляют с&nbsp;первой секунды.</p>
          <each loop="item in response.slice(2, 3)">
            <component src="src/components/course.html" locals='{
              "author" : "{{ item.RIGHTHOLDER }}",
              "title" : "{{ item.TYPE }} — {{ item.NAME }}",
              "subtitle" : "{{ item.DESC }}",
              "picture" : "https://info-hit.ru/{{ item.PICTURE }}",
              "link" : "{{ item.URL }}"
              }'>
            </component>
          </each>
          <h3>Музыка нас связала</h3>
          <p class="mb-16">Научитесь использовать основные вокальные техники и&nbsp;приемы. Разовьете голос и&nbsp;будете звучать всегда красиво и&nbsp;интересно.</p>
          <each loop="item in response.slice(3, 4)">
            <component src="src/components/course.html" locals='{
              "author" : "{{ item.RIGHTHOLDER }}",
              "title" : "{{ item.TYPE }} — {{ item.NAME }}",
              "subtitle" : "{{ item.DESC }}",
              "picture" : "https://info-hit.ru/{{ item.PICTURE }}",
              "link" : "{{ item.URL }}"
              }'>
            </component>
          </each>
          <h3>Смотрим фильмы и&nbsp;учимся</h3>
          <p class="mb-16">Учить английский по&nbsp;фрагментам знакомых фильмов гораздо интереснее и&nbsp;продуктивнее, чем заучивать слова и&nbsp;правила. Начнете понимать речь на&nbsp;слух и&nbsp;улучшите свои разговорные навыки за&nbsp;просмотром популярных кинолент.</p>
          <each loop="item in response.slice(4, 5)">
            <component src="src/components/course.html" locals='{
              "author" : "{{ item.RIGHTHOLDER }}",
              "title" : "{{ item.TYPE }} — {{ item.NAME }}",
              "subtitle" : "{{ item.DESC }}",
              "picture" : "https://info-hit.ru/{{ item.PICTURE }}",
              "link" : "{{ item.URL }}"
              }'>
            </component>
          </each>
          <p>Даже если вы&nbsp;не&nbsp;фанат Дня святого Валентина, согласитесь: лишний раз порадовать любимого человека никогда не&nbsp;бывает лишним. Особенно если подарок&nbsp;— это не&nbsp;просто жест, а&nbsp;вклад в&nbsp;его развитие.</p>
          <p class="mb-24">Выбирайте курс из&nbsp;подборки или переходите на&nbsp;сайт ИнфоХит, чтобы точно найти&nbsp;то, что понравится вам и&nbsp;вашему партнеру. В&nbsp;каталоге&nbsp;— 11&nbsp;000+ программ от&nbsp;лучших экспертов и&nbsp;школ по&nbsp;самым разным направлениям.</p>
          <component src="src/components/button.html" locals='{
            "link" : "https://info-hit.ru/catalog/filter/discount-y/?sort=max_price&order=desc",
            "text" : "Посмотреть что-то еще",
            "color" : "bg-purple-500",
            "hover_color" : "bg-purple-600"
            }'></component>
          <p class="mb-24 mt-24">А&nbsp;еще у&nbsp;нас есть Подарочные сертификаты! Ваша вторая половинка сама решит, какой курс приобрести.</p>
          <p class="mb-24"><img src="https://info-hit.ru/include/images/letter/trigger-info-user/trigger-info-user-3.1.jpg" alt="info-hit сертификаты"></p>
          <component src="src/components/button.html" locals='{
            "link" : "https://info-hit.ru/about/lp/certificates/",
            "text" : "Выбрать номинал",
            "color" : "bg-purple-500",
            "hover_color" : "bg-purple-600"
            }'></component>
          <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С любовью,<br>команда ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>