---
title: "Нам 14 лет!"
preheader: "Дарим скидки, бонусы и гарантированные призы!"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2026-09-28-birthday-ih.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p class="text-base bg-green-300 py-16 px-24">ИнфоХит празднует свой День рождения!</p>
        <p>Уже 14&nbsp;лет мы&nbsp;помогаем вам менять профессии, осваивать новые хобби, расти в&nbsp;доходах и&nbsp;исполнять самые смелые цели.</p>
        <p>В&nbsp;честь праздника мы&nbsp;переворачиваем правила: именинники&nbsp;мы, а&nbsp;подарки получаете Вы!</p>
        <p class="m-0 mb-24 text-base border-dashed border-2 border-green-200 rounded-2xl py-16 px-24">С&nbsp;27&nbsp;сентября по&nbsp;4&nbsp;октября мы&nbsp;запускаем грандиозную праздничную акцию.</p>
        <h3>Подарок №&nbsp;1: Праздничная скидка 14%</h3>
        <p>Для всех, кто празднует вместе с&nbsp;нами, мы&nbsp;дарим скидку на&nbsp;покупку <a href="https://info-hit.ru/catalog/filter/sale-y/" target="_blank">курсов из&nbsp;подборки</a>.</p>
        <ul>
          <li class="mb-10"><b>Промокод:</b> <span class="border-dashed border-2 border-green-500 rounded-lg text-lg px-8 py-2 inline-block"><b>INFOHIT14</b></span></li>
          <li class="mb-24"><b>Дедлайн:</b> действует только до&nbsp;4&nbsp;октября включительно!</li>
        </ul>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/catalog/filter/sale-y/",
          "text" : "Выбрать курс со скидкой 14%",
          "color" : "bg-green-600",
          "hover_color" : "bg-green-700"
          }'></component>
        <h3 class="mt-24">Подарок №&nbsp;2: Праздничный бонус на&nbsp;баланс</h3>
        <p>Инвестируйте в&nbsp;знания сейчас, чтобы учиться бесплатно в&nbsp;будущем! При покупке любого курса из&nbsp;праздничной подборки в&nbsp;течение недели мы&nbsp;начислим бонусные рубли на&nbsp;ваш внутренний счет.</p>
        <p>Действует ступенчатая система, чтобы вы&nbsp;получили максимальную выгоду:</p>
        <ul>
          <li class="mb-10">С&nbsp;первых <b>50&nbsp;000&nbsp;₽</b> в&nbsp;чеке вам возвращается <b>10%.</b></li>
          <li class="mb-10">Со&nbsp;всей оставшейся суммы свыше начисляется еще <b>5%</b>.</li>
        </ul>
        <p><b>Как получить:</b> купите курс из&nbsp;подборки с&nbsp;27&nbsp;сентября по&nbsp;4&nbsp;октября, отправьте чек об&nbsp;оплате на&nbsp;нашу почту <a href="mailto:content@info-hit.ru"><strong>content@info-hit.ru</strong></a>, и&nbsp;мы&nbsp;начислим бонусы на&nbsp;ваш личный счет в&nbsp;ИнфоХит!</p>
        <h3>Подарок №&nbsp;3: Гарантированный гайд</h3>
        <p>Купили обучение стоимостью от&nbsp;<b>5000&nbsp;₽</b> в&nbsp;праздничный период? Ловите полезный гайд в&nbsp;подарок на&nbsp;выбор:</p>
        <ul>
          <li class="mb-10"><b>Здоровье и&nbsp;форма:</b> гайд <i>«Худейте здорово» или «Гайд по&nbsp;здоровью»</i>.</li>
          <li class="mb-10"><b>Эзотерика и&nbsp;самопознание:</b> гайды <i>«Натальная карта» или «Колода Таро»</i>.</li>
          <li class="mb-10"><b>Языки и&nbsp;школа:</b> гайд <i>«Учим английский»</i> или <i>«ТОП-20 онлайн-школ для подготовки к&nbsp;ЕГЭ 2026»</i>.</li>
        </ul>
        <p class="mb-24">Напишите нам, чтобы забрать подарки ↓</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://t.me/InfoHitSupportBot",
          "text" : "Забрать подарки",
          "color" : "bg-green-600",
          "hover_color" : "bg-green-700"
          }'></component>
        <h3 class="mt-24">Важное предупреждение!</h3>
        <p>Вся праздничная магия имеет свой срок: ровно в&nbsp;<b>00:00 часов 5&nbsp;октября</b> все предложения, промокоды и&nbsp;скидки сгорят.</p>
        <p>Не&nbsp;откладывайте свое развитие на&nbsp;потом, выбирайте лучшее обучение с&nbsp;максимальной выгодой прямо сейчас!</p>
        <p><i>Спасибо, что вы&nbsp;с&nbsp;нами эти 14&nbsp;лет! Дальше&nbsp;— больше!</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С любовью,<br>Команда маркетплейса ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
