---
title: "Скидка 16% на обучение в «Яндекс Практикуме»"
preheader: "Для тех, кто хочет освоить цифровую профессию с нуля или получить новые навыки для карьерного роста"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2026-03-10-practicum.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Ритм современной жизни только ускоряется, и&nbsp;вместе с&nbsp;тем требования к&nbsp;специалистам меняются каждый день. Амбициозные цели и&nbsp;желание развиваться заставляют нас искать новые пути в&nbsp;карьере. Но&nbsp;с&nbsp;чего начать тем, кто хочет сменить профессию или прокачать уже имеющиеся навыки?</p>
        <p class="text-base bg-blue-300 py-16 px-24"><b>«Яндекс Практикум»</b>&nbsp;— сервис онлайн-обучения, где каждый может освоить цифровую профессию с&nbsp;нуля или получить новые навыки для дальнейшего профессионального развития.</p>
        <p>«Яндекс Практикум» готовит специалистов по&nbsp;<b>5&nbsp;направлениям</b>: анализ данных, программирование, дизайн, маркетинг, менеджмент.</p>
        <p><b>Преимущества онлайн-школы:</b></p>
         <ol>
          <li class="mb-10">Обучение основано на&nbsp;реальных ситуациях. Все задачи, которые вы&nbsp;будете выполнять, взяты из&nbsp;реальной рабочей практики.</li>
          <li class="mb-10">Работодатели на&nbsp;38% чаще приглашают на&nbsp;собеседование выпускников «Яндекс Практикума», а&nbsp;зарплата на&nbsp;старте выше на&nbsp;10%.</li>
          <li class="mb-10">Технологии помогают сделать так, чтобы каждому было удобно учиться. Теория&nbsp;— в&nbsp;учебнике с&nbsp;интерактивными элементами, задачи&nbsp;— в&nbsp;тренажере.</li>
          <li class="mb-10">Обратная связь.</li>
          <li class="mb-10">Возможность оплаты курса в&nbsp;рассрочку.</li>
        </ol>
        <p>Обучение проходит в&nbsp;собственной технологической среде компании, что позволяет студентам сразу применять полученные знания на&nbsp;практике. Карьерный центр оказывает содействие при поисках и&nbsp;устройстве на&nbsp;работу.</p>
        <p><b>Программы состоят из&nbsp;двух частей:</b> бесплатного вводного курса и&nbsp;платного продолжения. Бесплатная часть поможет оценить формат, примерить на&nbsp;себя профессию и&nbsp;принять взвешенное решение.</p>
        <p class="m-0 mb-24 text-base border-dashed border-2 border-yellow-400 rounded-2xl py-16 px-24"><i>До&nbsp;31&nbsp;марта «Яндекс Практикум» проводит акцию со&nbsp;скидкой 16%.</i></p>
        <p class="mb-24">Узнать подробности и&nbsp;успеть воспользоваться предложением можно по&nbsp;кнопке ниже.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://zallj.com/g/qqb62fps0rc62e66471d61cec322b9/?erid=5jtCeReNwxHpfQTDve31wmc&subid=infohit&ulp=https%3A%2F%2Fpracticum.yandex.ru%2F",
          "text" : "Учиться со скидкой",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
        }'></component>
        <p class="mt-24"><i>*Реклама</i></p> 
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
