---
title: "Разберитесь в себе, чтобы изменить жизнь"
preheader: "Найдите ответы на важные вопросы в онлайн-школе психологии Евгения Теребенина."
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2026-03-05-terebenin.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Приглашаем вас в&nbsp;<b>онлайн-школу психолога Евгения Теребенина</b>, автора метода «Терапия Души».</p>
        <p>В&nbsp;ней вы&nbsp;найдете короткие и&nbsp;доступные по&nbsp;цене курсы и&nbsp;«большие» интенсивы о&nbsp;родовой системе, устройстве мира и&nbsp;человека, изоляции и&nbsp;не&nbsp;только.</p>
        <p><b>Продукты школы помогут:</b></p>
         <ul>
          <li class="mb-10">разобраться в&nbsp;отношениях с&nbsp;родителями и&nbsp;детьми, мужем и&nbsp;женой;</li>
          <li class="mb-10">ответить на&nbsp;вопросы о&nbsp;призвании и&nbsp;предназначении;</li>
          <li class="mb-10">выстроить мировоззрение и&nbsp;отношение к&nbsp;миру.</li>
        </ul>
        <p>Получите рекомендации по&nbsp;личным финансам. А&nbsp;еще программы помогут тем, кто строит бизнес и&nbsp;партнерство.</p>
        <p><b>Евгений Теребинин</b> 20&nbsp;лет занимается развитием практического мировоззрения людей, на&nbsp;протяжении последних пяти&nbsp;— работает с&nbsp;терапевтическими группами. За&nbsp;это время помог более 15&nbsp;000&nbsp;человек.</p>
        <p>Ежемесячно проводит бесплатные онлайн-вебинары, где отвечает на&nbsp;вопросы и&nbsp;разбирает запросы людей.</p>
        <p>В&nbsp;подарок за&nbsp;подписку на&nbsp;школу&nbsp;— бесплатный интенсив <b>«Разговор о&nbsp;родителях»</b>. В&nbsp;нем ответы на&nbsp;самые частые вопросы о&nbsp;родителях:</p>
        <ul>
          <li class="mb-10">как относиться к&nbsp;родителям, если сохранились негативные воспоминания;</li>
          <li class="mb-10">правильно сепарироваться;</li>
          <li class="mb-24">понять, надо&nbsp;ли помогать им&nbsp;материально и&nbsp;другие.</li>
        </ul>
        <component src="src/components/button.html" locals='{
          "link" : "https://schoolterebenin.getcourse.ru/talking_about_parents?gcpc=fd94f&utm_source=infochit&utm_medium=baza&utm_campaign=razgovor&utm_content=mail&utm_term=01",
          "text" : "Записаться на интенсив",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
        }'></component>
        <p class="mb-24 mt-24">Еще приглашаем на&nbsp;<b>бесплатный вебинар «Освобождение от&nbsp;травм»</b>, 26&nbsp;марта в&nbsp;18:00&nbsp;по&nbsp;мск. Напишите запрос о&nbsp;своих жизненных трудностях и&nbsp;возможно его выберут для бесплатного разбора.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=334041",
          "text" : "Зарегистрироваться на вебинар",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
        }'></component>
        <p class="mt-24"><i>*Реклама</i></p> 
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
