---
title: "«Сделай мне массаж, пожалуйста!» — если хоть раз слышали такую фразу…"
preheader: "Открывайте письмо — внутри безопасные техники домашнего массажа."
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2026-05-06-home-school-massage.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p class="text-base bg-yellow-100 py-16 px-24">Научитесь снимать стресс и&nbsp;усталость у&nbsp;близких&nbsp;— даже если никогда не&nbsp;делали массаж!</p>
        <p><i>Простые техники&nbsp;— повторяйте по&nbsp;видео.</i></p>
        <p><i>Безопасно.</i></p>
        <p><i>Результат сразу&nbsp;— после первого занятия.</i></p>
        <p>Начните с&nbsp;<a href="https://info-hit.ru/company-domashnyaya-shkola-massazha/" target="_blank">«Домашней школой массажа»</a> бесплатно!</p>
        <h3>Бесплатный урок «Массаж стоп»</h3>
        <p>Научитесь за&nbsp;30&nbsp;минут снимать усталость с&nbsp;ног, улучшать сон и&nbsp;расслаблять партнера после долгого дня.</p>
        <p><b>В&nbsp;этот урок входят:</b></p>
        <ul>
          <li class="mb-10">инструкция по&nbsp;выбору массажного масла и&nbsp;крема,</li>
          <li class="mb-10">рекомендации по&nbsp;положению тела при массаже на&nbsp;полу или диване,</li>
          <li class="mb-10">видеоурок основных массажных приемов,</li>
          <li class="mb-24">примерный сценарий массажа стоп.</li>
        </ul>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/course-massazh-stop/",
          "text" : "Зарегистрироваться",
          "color" : "bg-gray-500",
          "hover_color" : "bg-gray-600"
        }'></component>
        <p class="mt-24"><i>*Регистрация на&nbsp;бесплатный урок&nbsp;— через телеграмм-бота.</i></p>
        <h3 class="mt-24">Курс «Массаж шейно-воротниковой зоны»</h3>
        <p>Избавитесь от&nbsp;головных болей, «холки» и&nbsp;напряжения в&nbsp;шее и&nbsp;плечах.</p>
        <p><b>Что внутри:</b></p>
        <ol>
          <li class="mb-10">Подготовка и&nbsp;организация рабочего места в&nbsp;домашних условиях.</li>
          <li class="mb-10">Массаж шеи и&nbsp;плеч.</li>
          <li class="mb-10">Работа с&nbsp;верхним отделом спины и&nbsp;передней частью грудного отдела.</li>
          <li class="mb-10">Практика по&nbsp;готовым сценариям.</li>
          <li class="mb-10">Карта опасных зон, чтобы не&nbsp;навредить.</li>
        </ol>
        <p class="mt-24"><i>*Регистрация на&nbsp;курс&nbsp;— через телеграмм-бота.</i></p>
        <p><b>Почему вам точно подойдет этот курс:</b></p>
        <ul>
          <li class="mb-10">вы&nbsp;работаете за&nbsp;компьютером или проводите много времени за&nbsp;рулем;</li>
          <li class="mb-10">хотите быстро снимать напряжение в&nbsp;шее и&nbsp;плечах;</li>
          <li class="mb-10">не&nbsp;хотите ходить к&nbsp;массажисту&nbsp;— научитесь делать массаж дома сами;</li>
          <li class="mb-10">боитесь навредить&nbsp;— в&nbsp;школе освоите безопасные техники.</li>
        </ul>
        <p><b>При покупке курса сегодня&nbsp;— бонусы:</b></p>
        <ul>
          <li class="mb-10">чек лист «Гайд по&nbsp;созданию расслабляющей атмосферы при массаже в&nbsp;домашних условиях»;</li>
          <li class="mb-24">скидка&nbsp;30% на&nbsp;другие курсы школы.</li>
        </ul>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/course-massazh-sheyno-vorotnikovoy-zony/",
          "text" : "Подробнее о курсе",
          "color" : "bg-gray-500",
          "hover_color" : "bg-gray-600"
        }'></component>
        <p class="mt-24"><i>*Реклама</i></p> 
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
