---
title: "6 уроков — и астрология станет понятнее для вас"
preheader: "Бесплатное обучение от центра «Аквилон»"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2026-02-09-acvilon.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Большинство из&nbsp;нас живет, опираясь на&nbsp;интуицию или советы окружающих. Но&nbsp;что, если у&nbsp;вас появится «технический паспорт» вашей личности и&nbsp;точная карта событий, составленная по&nbsp;правилам классической астрономии и&nbsp;математики?</p>
        <p class="text-base bg-purple-200 py-16 px-24">Центр «Аквилон» приглашает на&nbsp;бесплатный онлайн-интенсив <a href="https://info-hit.ru/course-astrologicheskiy-putevoditel/" target="_blank">«Астрологический путеводитель»</a>. Оставьте в&nbsp;стороне газетные гороскопы и&nbsp;освойте астрологию как точную систему навигации по&nbsp;собственной судьбе.</p>
        <p><b>Старт потока:</b> 21&nbsp;февраля.</p>
        <p>За&nbsp;6&nbsp;занятий пройдете путь с&nbsp;нуля до&nbsp;глубокого понимания своей карты:</p>
        <ol>
          <li class="mb-10"><b>Настроите профи-софт</b>. Вам помогут установить программу Zet, которой пользуются профессионалы.</li>
          <li class="mb-10"><b>Узнаете свой потенциал</b>. Поймете, насколько вы&nbsp;адаптивны к&nbsp;стрессам и&nbsp;где заложен ваш лидерский ресурс.</li>
          <li class="mb-10"><b>Освоите блиц-анализ</b>. Научитесь за&nbsp;1&nbsp;минуту определять сильные и&nbsp;слабые стороны любого человека по&nbsp;фигурам Джонса.</li>
          <li class="mb-10"><b>Увидите свои события</b>. Разберете систему домов и&nbsp;узнаете, какие сферы жизни (карьера, деньги, любовь) будут для вас самыми насыщенными.</li>
          <li class="mb-10"><b>Раскроете сценарии судьбы</b>. Увидите связи управителей, которые отвечают за&nbsp;реальные события: от&nbsp;«везения в&nbsp;бизнесе» до&nbsp;«сценариев в&nbsp;браке».</li>
        </ol>
        <p><b>Что получите, кроме знаний:</b></p>
        <ul>
          <li class="mb-10"><b>живое участие</b>&nbsp;— разбор примеров в&nbsp;прямом эфире с&nbsp;опытным наставником;</li>
          <li class="mb-10"><b>система вознаграждений</b>&nbsp;— за&nbsp;выполнение домашних заданий получите бонусные рубли на&nbsp;обучение в&nbsp;школе;</li>
          <li class="mb-10"><b>сертификат</b>&nbsp;— электронный документ о&nbsp;начальном астрологическом образовании.</li>
        </ul>
        <p class="mb-24">Позвольте себе взглянуть на&nbsp;свою жизнь через призму точных расчетов. Это знание, которое один раз и&nbsp;навсегда меняет правила игры.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/course-astrologicheskiy-putevoditel/",
          "text" : "Зарегистрироваться и занять место в группе",
          "color" : "bg-purple-500",
          "hover_color" : "bg-purple-600"
        }'></component>
        <p class="mt-24">До&nbsp;встречи на&nbsp;первом занятии 21&nbsp;февраля! </p>
        <p><i>*Реклама</i></p> 
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
