---
title: "Что будет, если ничего не делать с пиратскими копиями курсов"
preheader: "Тихий слив: как пираты выкачивают вашу прибыль"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2025-11-25-infocontrol-letter-1.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Представьте: вы&nbsp;вкладываетесь в&nbsp;рекламу, ведете соцсети, обновляете контент... А&nbsp;ваш курс <b>уже скачали 500 человек</b> с&nbsp;пиратского сайта.</p>
        <p class="text-base bg-purple-300 py-16 px-24">Каждый из&nbsp;них&nbsp;— потерянный клиент. Каждый слив&nbsp;— дыра в&nbsp;вашей прибыли.</p>
        <p class="mt-24"><b>Что будет, если не&nbsp;реагировать?</b></p>
        <ol>
          <li class="mb-10">Пираты размножат ваш контент на&nbsp;десятки сайтов.</li>
          <li class="mb-10">Ваш бренд начнут ассоциировать с&nbsp;«бесплатным» контентом.</li>
          <li class="mb-10">Продажи будут падать, даже если вы&nbsp;улучшаете продукт.</li>
        </ol>
        <p class="mt-24"><b>Что делать?</b></p>
        <ol>
          <li class="mb-10">Проверить, нет&nbsp;ли вашего курса в&nbsp;сливах.</li>
          <li class="mb-10">Если есть&nbsp;— написать сервису «ИнфоконтрольPRO».</li>
          <li class="mb-24">Если нет&nbsp;— поставить защиту до&nbsp;того, как его украдут.</li>
        </ol>
        <component src="src/components/button.html" locals='{
          "link" : "https://controlpro.info?utm_source=infohit",
          "text" : "Хочу проверить",
          "color" : "bg-purple-500",
          "hover_color" : "bg-purple-600"
          }'></component>
        <p class="mt-24">P.S. В&nbsp;<a href="https://t.me/+I2T2WiwwhGViZWIy" target="_blank">telegram-канале</a> сервис разбирает свежие схемы пиратов.</p>
        <p><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
