---
title: "Путешествие длиною в год"
preheader: "Подводим итоги и поздравляем с наступающим 2026!"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2025-12-31-new-year-autors.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>2025 год близится к&nbsp;завершению, а&nbsp;значит, самое время оглянуться назад и&nbsp;подвести итоги!</p>
        <p>Этот год был насыщенным, и&nbsp;мы&nbsp;искренне благодарим вас за&nbsp;доверие и&nbsp;плодотворное сотрудничество.</p>
        <p class="mt-24">Ваши уникальные образовательные программы и&nbsp;платформа ИнфоХит помогли тысячам людей сделать уверенный шаг вперед к&nbsp;знаниям. Вместе мы&nbsp;достигли впечатляющих результатов:</p>
        <ul>
          <li class="mb-10">9&nbsp;000&nbsp;000+ посетителей сайта увидели ваши баннеры.</li>
          <li class="mb-10">215&nbsp;000+ посетителей блога вдохновились вашими статьями.</li>
          <li class="mb-10">200&nbsp;000 подписчиков рассылки прочитали ваши письма.</li>
        </ul>
        <p>Желаем вам, чтобы 2026 стал еще ярче и&nbsp;продуктивнее. Оставайтесь с&nbsp;нами и&nbsp;не&nbsp;упустите возможность привлечь новых учеников!</p>
        <p class="mt-24"><i>P.S. Хотите узнать, как еще больше увеличить охват в&nbsp;новом году? Напишите нам&nbsp;— подберем лучшие инструменты продвижения!</i></p>
        <component src="src/components/button.html" locals='{
          "link" : "https://t.me/Rimma_Infohit",
          "text" : "Хочу больше трафика",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С&nbsp;наилучшими пожеланиями,<br>ваш надежный партнер ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
