---
title: "Комбинаторные объявления в «Директе» уже работают"
preheader: "Если привлекаете учеников через «Яндекс.Директ», пересмотрите рекламные материалы."
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2026-07-20-new-add-direct.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>С&nbsp;14&nbsp;июля «Директ» начал переводить текстово-графические объявления в&nbsp;комбинаторный формат. Теперь система сможет автоматически собирать объявления из&nbsp;нескольких заголовков, текстов, изображений, выбирая наиболее эффективную комбинацию для каждого показа.</p>
        <p>При этом важно понимать: обновление не&nbsp;заменяет работу над рекламой. Алгоритмы могут комбинировать только те&nbsp;материалы, которые вы&nbsp;загрузили. Если все варианты похожи друг на&nbsp;друга, ожидать заметного роста эффективности не&nbsp;стоит.</p>
        <p><b>Что рекомендуем сделать уже сейчас:</b></p>
        <ul>
          <li class="mb-10">проверить, хватает&nbsp;ли вариантов заголовков и&nbsp;текстов;</li>
          <li class="mb-10">добавить изображения в&nbsp;разных пропорциях;</li>
          <li class="mb-10">обновить или&nbsp;удалить устаревшие креативы, которые больше не&nbsp;работают.</li>
        </ul>
        <p>Новый формат не&nbsp;требует срочных действий, но&nbsp;это хороший повод пересмотреть рекламные кампании. Чем разнообразнее и&nbsp;качественнее исходные материалы, тем больше возможностей у&nbsp;системы найти комбинации, которые приведут к&nbsp;заявкам.</p>
        <p>А&nbsp;если нужна помощь профессионалов&nbsp;— напишите нам в <a href="https://t.me/ihAdvBot" target="_blank">@ihAdvBot</a>.</p>
        <p>Проконсультируем и&nbsp;поможем запустить рекламу на&nbsp;курс без продюсера, агентства или слива бюджета:</p>
        <ul>
          <li class="mb-10">только целевой трафик;</li>
          <li class="mb-10">объявления под ваш продукт;</li>
          <li class="mb-10">запуск без лишних тестов с&nbsp;конкретными результатами: заявки, подписки, лиды.</li>
        </ul>
        <component src="src/components/button.html" locals='{
            "link" : "https://t.me/ihAdvBot",
            "text" : "Настроить Директ под ключ",
            "color" : "bg-green-500",
            "hover_color" : "bg-green-600"
            }'></component>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
