---
title: " Как попасть на международную конференцию в Дубай и стать спикером Digital Learning 2027"
preheader: "Подробности — в этом письме."
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2026-09-03-digital-learning.jpeg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Приглашаем принять участие в&nbsp;международной премии Digital Learning 2026! Уже в&nbsp;пятый раз здесь будут выбирать лучших из&nbsp;лучших.</p>
        <p><b>Что дает участие в&nbsp;премии Digital Learning:</b></p>
        <ol>
          <li class="mb-10">Возможность выиграть поездку в&nbsp;Дубай на&nbsp;ведущую мировую конференцию по&nbsp;цифровому обучению.</li>
          <li class="mb-10">Сертификат качества от&nbsp;Digital Learning&nbsp;— знак качества вашего продукта.</li>
          <li class="mb-10">Уникальный шанс, чтобы заявить всей образовательной сфере о&nbsp;себе и&nbsp;получить признание.</li>
          <li class="mb-10">Возможность детально изучить подходы и&nbsp;образовательные решения лидеров рынка.</li>
          <li class="mb-10">Обратную связь от&nbsp;экспертов сферы и&nbsp;других участников.</li>
          <li class="mb-10">Бесплатный билет на&nbsp;конференцию <a href="https://dlmeeting.online/?utm_campaign=infohit" target="_blank">«Digital Learning 2026: итоги года»</a>.</li>
          <li class="mb-10">Все победители будут приглашены в&nbsp;качестве спикеров на&nbsp;конференцию «Digital Learning 2027».</li>
        </ol>
        <p>В&nbsp;2026 году премия пройдет уже в&nbsp;пятый, юбилейный раз.</p>
        <p class="mb-24">Присоединяйтесь к лучшим&nbsp;— подайте заявку по&nbsp;кнопке ниже. Дедлайн&nbsp;— 1&nbsp;октября.</p>
        <component src="src/components/button.html" locals='{
            "link" : "https://clck.ru/3VbN3o",
            "text" : "Подать заявку",
            "color" : "bg-purple-600",
            "hover_color" : "bg-purple-700"
            }'></component>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
