---
title: "Ключевое событие ивент-индустрии. SOLD OUT 2026"
preheader: "Форум для организаторов событий"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/СолдАут.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Индустрия событий огромная и&nbsp;разнообразная: свадебные организаторы, продюсеры конференций, event-менеджеры брендов, концертные директора. Все мы&nbsp;работаем в&nbsp;своих нишах, хотя делаем общее дело. Создаем пространство, где люди становятся единым целым, получают эмоции, знания и&nbsp;вдохновение. Настало время объединить наш опыт.</p>
        <p class="text-base bg-yellow-500 py-16 px-24"><nobr>23–24</nobr> марта 2026 года в&nbsp;Санкт-Петербурге пройдет форум для организаторов событий&nbsp;— SOLD&nbsp;OUT 2026.</p>
        <p>На&nbsp;одной площадке соберутся все, кто создает мероприятия любого формата и&nbsp;масштаба: от&nbsp;закрытых вечеринок и&nbsp;свадеб до&nbsp;международных конференций, фестивалей и&nbsp;стадионных шоу. Такого еще никто не&nbsp;делал.</p>
        <p><b>SOLD&nbsp;OUT 2026&nbsp;— это:</b></p>
        <ol>
          <li class="mb-12">Два дня практичных и&nbsp;актуальных докладов от&nbsp;лучших специалистов в&nbsp;12&nbsp;параллельных залах. Записи форума входят в&nbsp;билеты любого тарифа!</li>
          <li class="mb-12">Более 140 спикеров-практиков со&nbsp;всей индустрии. Каждый доклад проходит строгий отбор. Только реальные кейсы, цифры и&nbsp;применимые знания.</li>
          <li class="mb-24">Нетворкинг, который работает: познакомитесь с&nbsp;коллегами из&nbsp;смежных ниш, найдете подрядчиков, площадки и&nbsp;партнеров на&nbsp;специальных активностях и&nbsp;круглых столах.</li>
        </ol>
        <component src="src/components/button.html" locals='{
          "link" : "https://soldoutconf.ru/program/?utm_source=info_mail&utm_medium=infohit&utm_campaign=soldoutconf",
          "text" : "Посмотреть программу",
          "color" : "bg-yellow-600",
          "hover_color" : "bg-yellow-700"
          }'></component>
        <p class="mt-24"><b>Что вас ждет?</b></p>
        <p>На&nbsp;форуме разберут всю экосистему ивент-индустрии: концерты и&nbsp;шоу, фестивали, конференции и&nbsp;EXPO, корпоративные и&nbsp;частные мероприятия, событийный маркетинг, режиссуру, управление, работу с&nbsp;сервисами и&nbsp;не&nbsp;только.</p>
        <p>Вы&nbsp;уйдете с&nbsp;пониманием, как масштабировать проекты, зарабатывать больше и&nbsp;выстраивать события как систему, а&nbsp;не&nbsp;хаос.</p>
        <p>Присоединяйтесь к&nbsp;главному событию года для всех, кто создает ивенты!</p>
        <p>Участвуйте офлайн в&nbsp;Петербурге или онлайн из&nbsp;любой точки мира.</p>
        <p>Узнать подробности, посмотреть программу и&nbsp;зарегистрироваться → на&nbsp;<a href="https://soldoutconf.ru/program/?utm_source=info_mail&utm_medium=infohit&utm_campaign=soldoutconf" target="_blank">сайте SOLD&nbsp;OUT 2026</a></p>
        <p>Специально для подписчиков ИнфоХит действует скидка&nbsp;10% на&nbsp;участие в&nbsp;любом формате по&nbsp;промокоду <span class="border-dashed border-2 border-red-200 rounded-lg text-lg px-8 py-2 inline-block"><b>INFO-HIT</b></span></p>
        <p class="mb-24">SOLD&nbsp;OUT 2026&nbsp;— это ваш шанс за&nbsp;два дня увидеть все тренды, перенять лучший опыт и&nbsp;найти партнеров для будущих проектов.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://soldoutconf.ru/program/?utm_source=info_mail&utm_medium=infohit&utm_campaign=soldoutconf",
          "text" : "Узнать подробнее",
          "color" : "bg-yellow-600",
          "hover_color" : "bg-yellow-700"
          }'></component>
        <p><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
