---
title: "Нам 14 лет!"
preheader: "Дарим аудит, скидку 30% на продвижение и бесплатный SEO-трафик!"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2026-09-28-birthday-infohit.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p class="text-base bg-yellow-300 py-16 px-24 align="center" style="text-align: center;"><b>«ИнфоХит» празднует День рождения!<br>Нам&nbsp;исполнилось&nbsp;14&nbsp;лет!</b></p>
        <p>Все эти годы мы&nbsp;собираем на&nbsp;своей площадке лучшие курсы, мастер-классы и&nbsp;вебинары. Помогаем талантливым авторам и&nbsp;сильным онлайн-школам находить целевых учеников, а&nbsp;тысячам людей&nbsp;— прокачивать знания в&nbsp;самых разных сферах: от&nbsp;IT и&nbsp;бизнеса до&nbsp;психологии и&nbsp;здоровья.</p>
        <p>Спасибо, что доверяете нам продвижение и&nbsp;продажи своих курсов. Мы&nbsp;искренне ценим наше партнерство и&nbsp;делаем все, чтобы оно приносило максимальный результат.</p>
        <p>В&nbsp;честь нашего <nobr>14-летия</nobr> мы&nbsp;приготовили для вас <b>целую неделю мощных спецпредложений</b>:</p>
        <ul>
          <li class="mb-10"><b>Скидка&nbsp;30% на&nbsp;пакеты продвижения</b>. Снизили цены на&nbsp;баннерную рекламу, закрепление в&nbsp;ТОПе категорий и&nbsp;другие услуги «ИнфоХит» для роста ваших продаж.</li>
          <li class="mb-10"><b>Бесплатный аудит курса в&nbsp;подарок</b>. При покупке любого пакета услуг наша команда бесплатно проанализирует воронку и&nbsp;лендинг одного вашего продукта. Найдем точки роста и&nbsp;дадим рекомендации, как поднять конверсию в&nbsp;оплату.</li>
          <li class="mb-24"><b>Бесплатный трафик из&nbsp;«Яндекса» и&nbsp;Google</b>. Расскажите о&nbsp;себе, своей экспертности и&nbsp;кейсах учеников в&nbsp;нашем корпоративном блоге. Это отличный шанс бесплатно попасть в&nbsp;ТОП поисковой выдачи! Напишите нам, и&nbsp;мы&nbsp;расскажем, как опубликовать статью.</li>
        </ul>
        <component src="src/components/button.html" locals='{
            "link" : "https://t.me/InfoHitSupportBot",
            "text" : "Забрать подарки и узнать о корпоративном блоге",
            "color" : "bg-green-500",
            "hover_color" : "bg-green-600"
            }'></component>
        <p class="mt-24"><b>Важное предупреждение!</b></p>
        <p>Вся магия имеет свой срок: ровно в&nbsp;<b>00:00 часов 5&nbsp;октября</b> все праздничные предложения сгорят. Успейте активировать свои бонусы вовремя!</p>
        <p><i>Спасибо, что выбираете нас! Впереди еще больше совместных побед!</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда «ИнфоХит»!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
