---
title: "Подобрали другие курсы для вас"
preheader: "Продолжайте учиться на ИнфоХит"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main-login.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/b24-trigger-user/b24-trigger-user-4.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-14 pb-24 leading-24 rounded-b-2xl">
        <p><strong>Добрый день, #USER_NAME#!</strong></p>
        <p class="m-0 mb-24">Готовы продолжить обучение?<br>
          У нас есть другие курсы по теме, которой вы интересовались.</p>
        <h2 class="mt-32 mb-24">Подборка курсов для вас:</h2>

        <if condition="page.env === 'local'">
          <fetch url="https://info-hit.ru/include/tools/courses-json/?coursesArr=36691,225241,262683,221311,285635&token=u4JTEnMNt4gdsfdfsdf345nkhjk3dfgfh556776dfdghjkluiutyrtym&v=4">
            <each loop="item in response">
              <component src="src/components/course.html" locals='{
                "author" : "{{ item.RIGHTHOLDER }}",
                "title" : "{{ item.TYPE }} — {{ item.NAME }}",
                "subtitle" : "{{ item.DESC }}",
                "picture" : "https://info-hit.ru/{{ item.PICTURE }}",
                "link" : "{{ item.DETAIL_PAGE_URL }}"
                }'>
              </component>
            </each>
          </fetch>
        </if>
        <else>
          #COURSES_LIST_BY_CONTACT#
        </else>

        <div class="text-base bg-green-100 py-16 px-24 mb-36 rounded-2xl">
          <h3 class="mt-0">Ничего не заинтересовало?</h3>
          <p class="mt-0">
            У нас есть тысячи других курсов в каталоге! Там вы точно найдете что-нибудь подходящее.
          </p>
          <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/catalog/?r1=mail&r2=course-catalog&autologin=#AUTOLOGIN_HASH#",
          "text" : "Каталог курсов",
          "color" : "bg-green-500",
          "hover_color" : "bg-green-600"
          }'></component>
        </div>
        <p>Если у&nbsp;вас возникли вопросы, напишите нам: <a href="mailto:info@info-hit.ru"><strong>info@info-hit.ru</strong></a></p>
        <component src="src/components/gray-line.html"></component>

        <p class="m-0 mb-16">С уважением,<br>
          команда ИнфоХит!
        </p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
