---
title: "Бизнес от идеи до реализации"
preheader: "Узнайте алгоритмы создания бизнеса с нуля на курсах ИнфоХит"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main-login.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
      "src" : "https://info-hit.ru/include/images/letter/2024-05-02-letter-15.jpg"
      }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p class="text-base bg-blue-200 py-16 px-24">Открыть свое дело может каждый. Для этого не&nbsp;нужен большой стартовый капитал, связи или опыт. Но&nbsp;точно понадобятся знания и&nbsp;схемы, проверенные на&nbsp;практике.</p>
        <p>На&nbsp;ИнфоХит вы&nbsp;найдете курсы от&nbsp;практикующих экспертов и&nbsp;онлайн-школ под любой запрос:</p>
        <ul>
          <li class="mb-12">старт бизнеса на&nbsp;популярных маркетплейсах Wildberries и&nbsp;Ozon;</li>
          <li class="mb-12">создание интернет-магазина с&nbsp;нуля;</li>
          <li class="mb-12">открытие кофейни, кондитерской, салона красоты или турагенства;</li>
          <li class="mb-12">начало собственного производства;</li>
          <li class="mb-12">запуск IT-проекта и&nbsp;использование нейросетей.</li>
        </ul>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/catalog/kursy-po-otkrytiyu-biznesa/",
          "text" : "Хочу открыть свой бизнес",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <p>Для новичков ИнфоХит предлагает подборку бесплатных полезных уроков:</p>
        <ul>
          <li class="mb-12">с&nbsp;проектами готовых решений и&nbsp;примерами реализации бизнес идей;</li>
          <li class="mb-12">советами бухгалтеров и&nbsp;юристов для начинающих предпринимателей.</li>
        </ul>
        <p>Выбирайте курс и&nbsp;воплощайте свои идеи.</p>
        <p>#COURSES_LIST_NEW_BUSINESS#[45896]</p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
