---
title: "Составляем резюме правильно"
preheader: "5 советов от ИнфоХит как презентовать себя работодателю"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main-login.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
      "src" : "https://info-hit.ru/include/images/letter/2024-05-20-letter-30.jpg"
      }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Конкуренция на&nbsp;рынке труда высока. Грамотное резюме увеличивает шансы на&nbsp;то, что рекрутеры заметят именно вас. Подготовили несколько советов, как превратить его в&nbsp;презентацию.</p>
        <p><strong>5&nbsp;способов сделать резюме выигрышным:</strong></p>
        <ol>
          <li class="mb-12">Не&nbsp;используйте выражения-штампы. «Коммуникабельность» и&nbsp;«целеустремленность» как раз такие. Хотите подчеркнуть свои качества&nbsp;— подтверждайте примерами.</li>
          <li class="mb-12">Указывайте релевантный опыт. Работодателю интересно читать о&nbsp;ваших достижениях в&nbsp;аналогичной или смежной сфере. Не&nbsp;стоит писать о&nbsp;ваших успехах в&nbsp;продажах, если вы&nbsp;устраиваетесь инженером.</li>
          <li class="mb-12">Добавьте в&nbsp;текст максимум ключевых слов, по&nbsp;которым ваше резюме будет попадать в&nbsp;выборки по&nbsp;фильтрам.</li>
          <li class="mb-12">Чтобы ваши отклики открывали, дополняйте их&nbsp;сопроводительным письмом.</li>
          <li class="mb-12">Прикрепите портретное фото. Лучше, если оно будет на&nbsp;светлом фоне без отвлекающих деталей.</li>
        </ol>
        <p>Главная задача резюме&nbsp;— привлечь внимание и&nbsp;заинтересовать рекрутера. Тогда приглашение на&nbsp;собеседование вам обеспечено. Узнайте, как этого добиться на&nbsp;курсах ИнфоХит.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/catalog/kursy-po-sostavleniyu-rezyume/",
          "text" : "Выбрать курс по составлению резюме",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
