---
title: "Подумываете сменить профессию"
preheader: "ИнфоХит расскажет где и как это сделать"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main-login.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
      "src" : "https://info-hit.ru/include/images/letter/b24-trigger-newletter-user-7.jpg"
      }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Молодежь меняет профессии и&nbsp;сферы деятельности как перчатки: сегодня он&nbsp;менеджер маркетплейсов, завтра&nbsp;— авитолог, а&nbsp;еще через пару месяцев уже мемолог.</p>
        <p>Названия современных специальностей звучат необычно, а&nbsp;появляются они очень быстро. Главное, никогда не&nbsp;поздно освоить новую, востребованную профессию и&nbsp;реализовать свои творческие, карьерные и&nbsp;финансовые мечты.</p>
        <p>Держите подборку самых популярных профессий, которые можно получить с&nbsp;помощью онлайн-обучения за&nbsp;несколько месяцев.</p>
        <p>[Автоматическая подборка по&nbsp;популярности]</p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
