---
title: "Как учиться онлайн эффективно"
preheader: "Гайд от ИнфоХит"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main-login.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
      "src" : "https://info-hit.ru/include/images/letter/b24-trigger-newletter-user-8.jpg"
      }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Более&nbsp;90% россиян желают получать знания не&nbsp;выходя из&nbsp;дома. Это удобно, доступно и&nbsp;эффективно. Теперь можно получать образование из&nbsp;любой точки мира и&nbsp;выбирать университет или бизнес-школу основываясь не&nbsp;на&nbsp;местоположении, а&nbsp;на&nbsp;качестве образования.</p>
        <p>Чтобы онлайн-обучение принесло пользу, а&nbsp;не&nbsp;стало тратой времени, денег и&nbsp;дополнительной нагрузкой, важно все делать правильно.</p>
        <ol>
          <li class="mb-16"><strong>Поставьте цель и&nbsp;напишите план</strong><br> Определите, чего вы&nbsp;хотите достичь: освоить новый навык, подготовиться к&nbsp;сертификационному экзамену или расширить знания по&nbsp;интересующей теме. Напишите цель на&nbsp;бумаге и&nbsp;разбейте ее&nbsp;на&nbsp;конкретные шаги.</li>
          <li class="mb-16"><strong>Используйте технологии и&nbsp;лайфхаки</strong><br> Инструменты тайм-менеджмента&nbsp;— неотъемлемая часть дистанционного обучения: планеры, приложения для списков дел, «Google Календарь», календарь в&nbsp;телефоне, онлайн-доски типа Kaiten или Miro. Это помогает контролировать время и&nbsp;быть более продуктивным.</li>
          <li class="mb-16"><strong>Поддерживайте самодисциплину</strong><br> Создайте удобные условия для занятий, установите четкий график и&nbsp;постарайтесь соблюдать баланс между учебной нагрузкой и&nbsp;личной жизнью. Помните, что самодисциплина играет важную роль в&nbsp;успешном онлайн-обучении.</li>
          <li class="mb-16"><strong>Адаптируйте учебу под себя</strong><br> Сейчас дистанционно можно освоить практически любую профессию. Главное, при выборе курса оценить преимущества и&nbsp;недостатки не&nbsp;только онлайн-обучения, но&nbsp;и&nbsp;конкретной платформы в&nbsp;целом. Выберите курсы и&nbsp;методики, которые соответствуют вашим учебным потребностям. Разберитесь с&nbsp;распределением заданий, найдите свой темп учебы и&nbsp;сохраняйте мотивацию на&nbsp;протяжении всего процесса обучения.</li>
        </ol>
        <p>А&nbsp;подборка свежих курсов уже готова и&nbsp;ждет только, когда вы&nbsp;выберите тот, что нужен именно вам!</p>
        <p>[Автоматическая подборка популярных курсов]</p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
