---
title: "Выбирайте занятие по душе на курсах ИнфоХит"
preheader: "Новая подборка интересных материалов на разные темы"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <fetch url="https://info-hit.ru/include/tools/blog-json/?arElements=291313,291668,291772&token=u4JTEnMNt4gdsfdfsdf345nkhjk3dfgfh556776dfdghjkluiutyrtym&v=4">
      <component src="src/components/img-block-without-link-round.html" locals='{
      "src" : "https://info-hit.ru/include/images/letter/2022-12-01-blog-items.jpg"
      }'></component>

      <component src="src/components/round-block-mt.html">
        <p><strong>Добрый день!</strong></p>
        <p>На&nbsp;этой неделе подготовили для вас новую подборку материалов на&nbsp;разные темы.</p>
        <p>Получите все необходимое для успеха новичка в&nbsp;профессии дизайнер интерьера. Научитесь чувствовать себя уверенно в&nbsp;дискуссиях и&nbsp;мягко уводить диалог от&nbsp;конфликтов. Узнаете, как привить и&nbsp;поддерживать интерес ребенка к&nbsp;учебе.</p>
        <p>Еще больше полезного материала найдете на&nbsp;<a target="_blank" href="https://info-hit.ru/">«ИнфоХит».</a></p>
      </component>

      <tr>
        <td class="h-24 sm:h-16"></td>
      </tr>
      <tr>
        <td class="bg-white text-gray-800 text-base text-left px-48 py-24 sm:p-14 leading-24 rounded-2xl">
          <h3>Автор недели</h3>
          <component src="src/components/about-author-left.html" locals='{
            "name" : "Екатерина Дубровская",
            "photo" : "https://info-hit.ru/upload/resize_cache/iblock/dec/ok3cr3iaualf9ii6bykswkuhnbpf4xyf/220_220_2/dubrovskaya_ekaterina.jpg"
            }'>
            <p class="mt-0">Екатерина Дубровская&nbsp;— профессиональный дизайнер интерьеров.</p>
          </component>
            <p class="mt-10">На&nbsp;авторских онлайн-курсах узнаете:</p>
            <ul>
              <li>как стать дизайнером интерьера;</li>
              <li>избежать типичных ошибок и&nbsp;проблем;</li>
              <li>работать в&nbsp;простой программе Planoplan или в&nbsp;профессиональной ArchiCAD.</li>
            </ul>
            <p>Новые знания ученики закрепляют на&nbsp;практике&nbsp;— выполняют дизайн для реальных заказчиков под присмотром опытных наставников.</p>
            <p>Получите все необходимое для успеха в&nbsp;профессии дизайнер интерьера.</p>
            <component src="src/components/button.html" locals='{
            "link" : "https://info-hit.ru/author-dubrovskaya-ekaterina/",
            "text" : "Узнать подробности",
            "color" : "bg-blue-500",
            "hover_color" : "bg-blue-600"
            }'></component>
        </td>
      </tr>

      <tr>
        <td class="h-24 sm:h-16"></td>
      </tr>
      <tr>
        <td class="bg-white text-gray-800 text-base text-left px-48 py-24 sm:p-14 leading-24 rounded-2xl">
          <h3 class="mt-24 sm:mt-24">Мотивация ребенка к&nbsp;учебе</h3>
          <p>Многие родители сталкиваются с&nbsp;тем, что их&nbsp;ребенок не&nbsp;хочет учиться. Для маленьких непосед уроки скучные и&nbsp;неинтересные, ожидание звонка на&nbsp;перемену занимает все мысли, а&nbsp;домашние задания превращаются в&nbsp;пытку для всей семьи. В&nbsp;статье собрали советы и&nbsp;курсы экспертов по&nbsp;детской мотивации.</p>
          <each loop="item in response.slice(0, 1)">
            <component src="src/components/blog.html" locals='{
            "URL" : "{{ item.URL }}",
            "PICTURE" : "{{ item.PICTURE }}",
            "NAME" : "{{ item.NAME }}",
            "DESC" : "{{ item.DESC }}",
            "COLOR" : "blue"
            }'></component>
          </each>
          <h3 class="mt-24 sm:mt-24">Подготовка ребенка к&nbsp;школе</h3>
          <p>Главный принцип любых занятий с&nbsp;дошкольниками&nbsp;— обучение в&nbsp;игре. Так дети интересно проведут время и&nbsp;всесторонне подготовятся к&nbsp;школе. Онлайн-курсы&nbsp;— отличный вариант подготовительных занятий. Собрали платные и&nbsp;бесплатные курсы по&nbsp;подготовке детей к&nbsp;школе, которые принесут удовольствие и&nbsp;малышам, и&nbsp;родителям.</p>
          <each loop="item in response.slice(1, 2)">
            <component src="src/components/blog.html" locals='{
            "URL" : "{{ item.URL }}",
            "PICTURE" : "{{ item.PICTURE }}",
            "NAME" : "{{ item.NAME }}",
            "DESC" : "{{ item.DESC }}",
            "COLOR" : "green"
            }'></component>
          </each>
          <h3 class="mt-24 sm:mt-24">Курсы программирования для детей</h3>
          <p>IT-обучение с&nbsp;младших классов&nbsp;— это возможность для ребенка развивать алгоритмическое и&nbsp;логическое мышление, реализовать творческие идеи и&nbsp;научиться работать в&nbsp;команде. В&nbsp;статье собрали платные и&nbsp;бесплатные курсы программирования для детей любого возраста и&nbsp;уровня подготовки.</p>
          <each loop="item in response.slice(2, 3)">
            <component src="src/components/blog.html" locals='{
            "URL" : "{{ item.URL }}",
            "PICTURE" : "{{ item.PICTURE }}",
            "NAME" : "{{ item.NAME }}",
            "DESC" : "{{ item.DESC }}",
            "COLOR" : "purple"
            }'></component>
          </each>
        </td>
      </tr>

      <tr>
          <td class="h-24 sm:h-16"></td>
      </tr>
      <tr>
          <td class="bg-white text-gray-800 text-base text-left px-48 py-24 sm:p-14 leading-24 rounded-2xl">
            <h3>Курс недели</h3>
            <p>Как распознать токсичного человека и&nbsp;защититься от&nbsp;него?</p>
            <p>Об&nbsp;этом на&nbsp;мастер-классе расскажет эксперт по&nbsp;ведению переговоров Игорь Рызов. Узнаете, как поставить на&nbsp;место наглого человека и&nbsp;защитить личные границы.</p>
            <p>Эксперт познакомит вас:</p>
            <ul>
              <li class="mb-16">с&nbsp;тактиками «считывания» человека;</li>
              <li class="mb-16">приемами, которые подводят собеседника к&nbsp;нужному вам решению;</li>
              <li class="mb-16">техниками убеждения, которые сложно распознать вашему оппоненту.</li>
            </ul>
            <p>Научитесь чувствовать себя уверенно в&nbsp;дискуссиях и&nbsp;мягко уводить диалог от&nbsp;конфликтов.</p>
            <component src="src/components/button.html" locals='{
            "link" : "https://info-hit.ru/course-5-sposobov-kak-postavit-cheloveka-na-mesto/",
            "text" : "Зарегистрироваться",
            "color" : "bg-purple-500",
            "hover_color" : "bg-purple-600"
            }'></component>
            <component src="src/components/gray-line.html"></component>
            <p class="text-base mb-36">С&nbsp;уважением,<br>команда «ИнфоХит»!</p>
          </td>
      </tr>

      <tr>
        <td class="h-32 sm:h-24"></td>
      </tr>
      <component src="src/components/footer.html"></component>
    </fetch>
  </block>
</extends>
