---
title: "Ставим цели на новый год вместе с Федором Сидоровым"
preheader: "Бесплатный вебинар и крутые новогодние подарки!"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2022-12-16-sidorov-vebinar.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p><strong>Добрый день!</strong></p>
        <p>В&nbsp;конце года принято подводить итоги и&nbsp;планировать цели на&nbsp;будущее.</p>
        <p>Да, мы&nbsp;не&nbsp;можем предугадать события, но&nbsp;можем задать себе ориентир для действий. Специалист по&nbsp;инвестициям и&nbsp;финансовой грамотности Федор Сидоров утверждает: мотивирующая цель поможет вам пережить даже самые темные времена!</p>
        <p>В&nbsp;преддверии праздника его команда решила подарить каждому из&nbsp;вас веру в&nbsp;собственное светлое будущее.</p>
        <p>Приглашаем вас на&nbsp;яркое, запоминающееся&nbsp;и, конечно, полезное мероприятие от&nbsp;Школы Практического Инвестирования&nbsp;— «Мега&nbsp;Елку SPI».</p>
        <p class="text-base bg-green-200 py-16 px-24">Дата проведения: 19&nbsp;декабря в&nbsp;20:00 по&nbsp;Москве</p>
        <p>Это будет большой онлайн-эфир, посвященный крупным финансовым целям, на&nbsp;которым&nbsp;вы:</p>
        <ul>
          <li class="mb-16">сформулируете для себя зажигающие цели на&nbsp;12&nbsp;месяцев и&nbsp;на&nbsp;несколько лет вперед;</li>
          <li class="mb-16">составите личный план, с&nbsp;помощью которого сможете превратить цели в&nbsp;реальность, избежать потерь и&nbsp;увеличить капитал;</li>
          <li class="mb-16">узнаете о&nbsp;сложностях, с&nbsp;которыми столкнулась SPI&nbsp;в 2022 году и&nbsp;какой выход нашла команда.</li>
        </ul>
        <p>Ну&nbsp;и&nbsp;какой праздник без подарков!</p>
        <p>Всех участников эфира ждут сюрпризы, а&nbsp;также невероятно выгодные специальные предложения по&nbsp;всем продуктам школы за&nbsp;этот год:</p>
        <ul>
          <li class="mb-16">тренинг «Формула Современного Инвестирования»;</li>
          <li class="mb-16">тренинг «Криптофундамент»;</li>
          <li class="mb-16">тренинг по&nbsp;недвижимости «Метры в&nbsp;Капитал»;</li>
          <li class="mb-16">инвестиционный клуб.</li>
        </ul>
        <p>Если вы&nbsp;ждали лучшего момента, чтобы начать инвестировать и&nbsp;достигать свои большие цели&nbsp;— вот&nbsp;он, прямо сейчас!</strong></p>
        <p>Ведь кризисы заканчиваются, а&nbsp;после них всегда появляются как победители, так и&nbsp;проигравшие.</p>
        <p>Окажитесь в&nbsp;числе первых!</p>
        <p>Записи не&nbsp;будет, ведь это мероприятие стоит того, чтобы вы&nbsp;присутствовали на&nbsp;нем лично.</p>
        <p>Приходите и&nbsp;получите заряд мотивации, который останется с&nbsp;вами на&nbsp;весь 2023&nbsp;год!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=link&id=201",
          "text" : "Хочу на «Мега Елку SPI»",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
          <table class="w-full">
            <tr>
              <td class="py-16">
                <div class="bg-gray-200 h-px leading-px">&zwnj;</div>
              </td>
            </tr>
          </table>
          <p class="text-base mb-36">С уважением,<br>ИнфоХит!</p>
        </td>
      </tr>
      <tr>
        <td class="h-32 sm:h-24"></td>
      </tr>
      <component src="src/components/footer.html"></component>
    </block>
  </extends>  