---
title: "Сотни людей выбрали эти курсы, попробуйте и вы!"
preheader: "Подборка популярных обучающих программ на ИнфоХит"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2022-10-07-courses-top.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p><strong>Добрый день!</strong></p>
        <p>Получить IT-специальность или освоить навыки программирования сегодня хотят тысячи россиян. Эта сфера, в&nbsp;отличие от&nbsp;ряда других, продолжает развиваться и&nbsp;требует все новых рабочих рук. Поэтому сегодня курсы по&nbsp;программированию&nbsp;— одни из&nbsp;самых популярных обучающих программ на&nbsp;ИнфоХит.</p>
        <p>Собрали для вас самые востребованные курсы по&nbsp;этой теме. В&nbsp;сентябре сотни учеников ИнфоХит приобрели их&nbsp;и&nbsp;остались довольны покупкой.</p>
        <p>А&nbsp;еще на&nbsp;эти курсы сейчас действует скидка до&nbsp;90%!</p>
        <h3 class="mt-36 sm:mt-36">Курс «Kotlin с&nbsp;нуля + разработка приложения под Android»</h3>
        <p>Освоите популярный язык Kotlin и&nbsp;среду разработки, чтобы создавать приложения для Android. Подходит новичкам, которые хотят научиться программированию. Бесплатный вводный урок с&nbsp;подробностями о&nbsp;курсе.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=link&id=49",
          "text" : "Начать обучение",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <h3 class="mt-36 sm:mt-36">Курс «Полное руководство по Python 3: от новичка до специалиста»</h3>
        <p>Изучайте Python с&nbsp;нуля, чтобы стать уверенным разработчиком. В&nbsp;курсе 61&nbsp;урок для самостоятельного освоения всех особенностей языка и&nbsp;домашние задания для отработки практических навыков. Вводный урок&nbsp;— бесплатно.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=link&id=51",
          "text" : "Начать обучение",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <p class="mb-24">Вы&nbsp;можете сами посмотреть, какие курсы из&nbsp;5000+&nbsp;на ИнфоХит популярны сегодня. Просто выберите сортировку «по&nbsp;популярности» в&nbsp;каталоге и&nbsp;найдите обучающую программу, которая подходит именно вам!</p>
        <table class="w-full">
          <tr>
            <td class="py-16">
              <div class="bg-gray-200 h-px leading-px">&zwnj;</div>
            </td>
          </tr>
        </table>
        <p class="text-base mb-36">Ваш надежный проводник в онлайн-образовании,<br>«ИнфоХит».</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
