---
title: "Эти курсы прошли сотни учеников, попробуйте и вы!"
preheader: "Подборка популярных обучающих программ на ИнфоХит"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2022-10-19-courses-top-ih.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p><strong>Добрый день!</strong></p>
        <p>Давно мечтали научиться зарабатывать на&nbsp;своем творчестве, освоить мобильную разработку или выучить испанский, тогда это письмо&nbsp;— то, что вам нужно!</p>
        <p>Собрали для вас самые востребованные курсы, которые покупают на&nbsp;ИнфоХит. На&nbsp;прошлой неделе сотни учеников приобрели их&nbsp;и&nbsp;остались довольны покупкой. А&nbsp;еще на&nbsp;эти курсы сейчас действует скидка до&nbsp;85%!</p>
        <h3 class="mt-36 sm:mt-36">Гайд «Путь начинающего художника»</h3>
        <p>В&nbsp;этом авторском гайде собрана полезная информация для деятелей искусства: художников, фотографов, скульпторов. Узнаете, как принимать участие в&nbsp;художественных выставках вне зависимости от&nbsp;опыта и&nbsp;образования.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/course-put-nachinayushchego-khudozhnika/?r1=mail&r2=19-10-2022",
          "text" : "Начать обучение",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <h3 class="mt-36 sm:mt-36">Курс «Андроид и Java с нуля»</h3>
        <p>Изучите основы программирования на&nbsp;Java и&nbsp;научитесь Android-разработке. В&nbsp;курсе 97&nbsp;уроков для самостоятельного освоения. Узнаете, как создавать интерактивные приложения и&nbsp;адаптировать их&nbsp;под мобильные устройства.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/course-android-i-java-s-nulya/?r1=mail&r2=19-10-2022",
          "text" : "Начать обучение",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
          <h3 class="mt-36 sm:mt-36">Аудиокурс «Испанский через истории»</h3>
        <p>Обучитесь испанскому языку через сторителлинг. С&nbsp;помощью историй вы&nbsp;быстрее усвоите грамматику и&nbsp;накопите словарный запас. Этот аудиокурс подходит новичкам, которые хотят овладеть базовыми навыками разговорного языка без зубрежки.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/course-ispanskiy-cherez-istorii/?r1=mail&r2=19-10-2022",
          "text" : "Начать обучение",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
          <p class="mb-0">Посмотрите сами, какие <a href="https://info-hit.ru/catalog/filter/sale-y/?r1=mail&r2=19-10-2022" target="_blank">курсы&nbsp;из&nbsp;5000+&nbsp;на&nbsp;ИнфоХит</a> популярны сегодня. Просто выберите сортировку «по&nbsp;популярности» в&nbsp;каталоге и&nbsp;найдите обучающую программу, которая подходит именно вам!</p>
        <table class="w-full">
          <tr>
            <td class="py-16">
              <div class="bg-gray-200 h-px leading-px">&zwnj;</div>
            </td>
          </tr>
        </table>
        <p class="text-base mb-36"><strong>Ваш надежный проводник в онлайн-образовании,<br>ИнфоХит.</strong></p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
