---
title: "Как увеличить свой доход в 2 раза за год в найме"
preheader: "Бесплатный трехдневный марафон по активному доходу"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2022-11-16-marafon-sidorov.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p><strong>Добрый день!</strong></p>
        <p>Кризис в&nbsp;нашей стране набирает обороты. Если сегодня реально уложить необходимые траты в&nbsp;свой бюджет, то&nbsp;завтра ситуация может измениться.</p>
        <p>Развлечения, крупные покупки и&nbsp;сбережения становятся недостижимой роскошью. Бюджетные автомобили, которые раньше мы&nbsp;даже со&nbsp;скидкой брать не&nbsp;хотели, сегодня по&nbsp;стоимости соразмерны с&nbsp;квартирой в&nbsp;Москве. Семейный поход в&nbsp;кино обходится как недельный запас продуктов. Отпуск в&nbsp;российском отеле стал в&nbsp;несколько раз дороже, чем 10&nbsp;дней all inclusive в&nbsp;жарких странах год назад.</p>
        <p>Как&nbsp;же зарабатывать больше?</p>
        <p>Каждый россиянин понимает, что происходит, но&nbsp;все равно продолжает ждать, когда все наладится и&nbsp;не&nbsp;предпринимает никаких попыток. Это происходит потому что:</p>
        <ul>
          <li class="mb-16">мы&nbsp;боимся, что не&nbsp;получится, и&nbsp;поэтому даже не&nbsp;начинаем;</li>
          <li class="mb-16">боимся, что все вокруг лучше или успешнее меня, и&nbsp;не&nbsp;выдержим конкуренции;</li>
          <li class="mb-16">страдаем от&nbsp;нехватки времени: семья, дети, друзья и&nbsp;другие заботы;</li>
          <li class="mb-16">думаем, что не&nbsp;самое лучшее время, нужно его переждать.</li>
        </ul>
        <p>Хватит бояться и&nbsp;ждать нужного момента. Начните менять свою жизнь прямо сейчас! На&nbsp;бесплатном марафоне Федор Сидоров расскажет, как вырасти в&nbsp;доходе в&nbsp;2&nbsp;раза за&nbsp;год.</p>
        <p class="text-base bg-green-200 py-16 px-24">Дата проведения: <nobr>22–24 ноября.</nobr> Начало в&nbsp;20:00.</p>
        <p>Вас ждут 6+&nbsp;часов полезной информации и&nbsp;рекомендаций, за&nbsp;которые карьерные консультанты обычно просят огромную сумму.</p>
        <p><strong>1&nbsp;день. Причины отсутствия роста</strong></p>
        <ul>
          <li class="mb-16">Почему вы&nbsp;не&nbsp;растете в&nbsp;доходе.</li>
          <li class="mb-16">Как работать меньше, а&nbsp;зарабатывать больше.</li>
          <li class="mb-16">Как увеличить доход в&nbsp;найме и&nbsp;на&nbsp;фрилансе.</li>
        </ul>
        <p>Построите по&nbsp;шагам ваш путь роста в&nbsp;доходе в&nbsp;2&nbsp;раза за&nbsp;год.</p>
        <p><strong>2&nbsp;день. Как достичь своих финансовых целей</strong></p>
        <ul>
          <li class="mb-16">Как сегодня вы&nbsp;можете вырасти в&nbsp;доходе. Оценка ваших ресурсов.</li>
          <li class="mb-16">Что не&nbsp;устраивает на&nbsp;текущей работе. Что хотите поменять.</li>
          <li class="mb-16">Какие есть навыки и&nbsp;как быстро их&nbsp;получить, чтобы вырасти в&nbsp;доходах на&nbsp;текущей или новой работе.</li>
          <li class="mb-16">Ваша суперсила, за&nbsp;которую работодатель будет платить много.</li>
        </ul>
        <p><strong>3&nbsp;день. Ваш новый путь</strong></p>
        <ul>
          <li class="mb-16">Секреты, как стать незаменимым сотрудником. Взгляд руководителя бизнеса.</li>
          <li class="mb-16">Разбор примеров: рост в&nbsp;доходе в&nbsp;несколько раз за&nbsp;год.</li>
          <li class="mb-16">7&nbsp;ошибок на&nbsp;пути к&nbsp;высокому доходу, которые совершает каждый.</li>
        </ul>
        <p><strong>После марафона вы&nbsp;получите:</strong></p>
        <ol>
          <li class="mb-16">разбор внутренних блоков и&nbsp;убеждений, которые мешают зарабатывать больше;</li>
          <li class="mb-16">понимание своего потенциала в&nbsp;карьере и&nbsp;доходе;</li>
          <li class="mb-16">план действий, который поможет увеличить доход уже сейчас.</li>
        </ol>
        <p>Регистрируйтесь на&nbsp;бесплатный марафон прямо сейчас!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=link&id=138",
          "text" : "Хочу увеличить доход",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
          <table class="w-full">
            <tr>
              <td class="py-16">
                <div class="bg-gray-200 h-px leading-px">&zwnj;</div>
              </td>
            </tr>
          </table>
          <p class="text-base mb-36">Ваш надежный проводник в онлайн-образовании,<br>ИнфоХит!</p>
        </td>
      </tr>
      <tr>
        <td class="h-32 sm:h-24"></td>
      </tr>
      <component src="src/components/footer.html"></component>
    </block>
  </extends>  