---
title: "Как стать криптоинвестором?"
preheader: "«Разновидность криптовалюты. Какая сумма потребуется для инвестиций на начальном этапе. Сколько новичок может заработать на биткоинах."
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2022-07-18-cryptos-sidorov-2.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p><strong>Добрый день!</strong></p>
        <p>Все события в&nbsp;мире указывают на&nbsp;то, что придется разобраться в&nbsp;крипте. Вспомните, как когда-то осваивали компьютер, интернет и&nbsp;смартфон.</p>
        <p>Кен Олсон, один из&nbsp;основателей крупной компьютерной компании сказал в&nbsp;1977&nbsp;году: «Зачем кто-то будет желать иметь компьютер у&nbsp;себя в&nbsp;доме?»</p>
        <p>Теперь в&nbsp;жизни все большего числа людей появляется криптовалюта. Сначала в&nbsp;портфеле у&nbsp;инвесторов&nbsp;— на&nbsp;фондовой бирже уже торгуются криптовалютные ETF. А&nbsp;затем, как средство платежей. Мир меняется очень быстро, но&nbsp;этим нужно пользоваться.</p>
        <component src="src/components/about-author.html" locals='{
          "name" : "Федор Сидоров",
          "photo" : "https://info-hit.ru/upload/resize_cache/iblock/e92/220_220_2/sidorov_fedor.png"
          }'>
          <p class="mt-0">18&nbsp;июля в&nbsp;19:00 стартует <strong>бесплатный марафон «Первые криптоинвестиции»</strong> с&nbsp;Федором Сидоровым. В&nbsp;прямом эфире эксперт простым и&nbsp;понятным языком расскажет, что такое биткоин и&nbsp;как им&nbsp;пользоваться.</p>
        </component>
        <h3 class="mt-24 sm:mt-24">Программа трехдневного марафона:</h3>
        <ul>
          <li class="mb-16"><strong>18&nbsp;июля.</strong> Пять причин, почему почему крипта станет неотъемлемой частью мира.</li>
          <li class="mb-16"><strong>20&nbsp;июля.</strong> Актуальные стратегии и&nbsp;инструменты для&nbsp;инвестирования в&nbsp;крипту. Долгосрочные (Buy&amp;Hold) и&nbsp;краткосрочные стратегии (NFT, IDO, Стейкинг, Майнинг, AirDrop, PreSale).</li>
          <li class="mb-16"><strong>21&nbsp;июля.</strong> Сколько можно зарабатывать на&nbsp;крипте.</li>
        </ul>
        <p>Помимо основных тем, в&nbsp;конце каждого дня Федор ответит на&nbsp;ваши вопросы.</p>
        <p class="text-base bg-yellow-100 py-16 px-24">Участники, которые дойдут до&nbsp;конца марафона, получат возможность участвовать в&nbsp;розыгрыше <strong>50&nbsp;000&nbsp;₽.</strong></p>
        <p>Если хотите сделать первый шаг в&nbsp;крипту, действуйте ↓↓↓</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=link&id=20",
          "text" : "Зарегистрироваться",
          "color" : "bg-purple-500",
          "hover_color" : "bg-purple-600"
          }'></component>
        <table class="w-full">
          <tr>
            <td class="py-16">
              <div class="bg-gray-200 h-px leading-px">&zwnj;</div>
            </td>
          </tr>
        </table>
        <p class="text-base mb-36">С уважением,<br>команда «ИнфоХит»!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
