---
title: "Мотивация, английский или новая профессия?"
preheader: "Выбирайте занятие по душе на курсах ИнфоХит"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <fetch url="https://info-hit.ru/include/tools/blog-json/?arElements=292468,289301,289777&token=u4JTEnMNt4gdsfdfsdf345nkhjk3dfgfh556776dfdghjkluiutyrtym&v=4">
      <component src="src/components/img-block-without-link-round.html" locals='{
      "src" : "https://info-hit.ru/include/images/letter/2022-11-03-blog-items.jpg"
      }'></component>

      <component src="src/components/round-block-mt.html">
        <p><strong>Добрый день!</strong></p>
        <p>На&nbsp;этой неделе сделали для вас новую подборку материалов на&nbsp;разные темы.</p>
        <p>Узнаете, как преодолеть тупики личности на&nbsp;пути самопознания. Эффективно и&nbsp;интересно изучить английский язык. Освоить востребованную профессию в&nbsp;любом возрасте.</p>
        <p>А&nbsp;еще познакомитесь с&nbsp;сексологом Алексом Мэй&nbsp;— специалистом по&nbsp;решению сексуальных проблем человека.</p>
        <p>Еще больше полезного материала найдете на&nbsp;<a target="_blank" href="https://info-hit.ru/" target="_blank">ИнфоХит.</a></p>
      </component>

      <tr>
        <td class="h-24 sm:h-16"></td>
      </tr>
      <tr>
        <td class="bg-white text-gray-800 text-base text-left px-48 py-24 sm:p-14 leading-24 rounded-2xl">
          <h3>Автор недели</h3>
          <component src="src/components/about-author-left.html" locals='{
            "name" : "Алекс Мэй",
            "photo" : "https://info-hit.ru/upload/resize_cache/iblock/8c7/220_220_2/mey_aleks.jpg"
            }'>
            <p class="mt-0">Алекс Мэй&nbsp;— сексолог и&nbsp;психолог. Проводит тренинги для мужчин и&nbsp;женщин в&nbsp;налаживании интимной жизни.</p>
          </component>
            <p class="mt-10">На&nbsp;авторских тренингах познакомитесь:</p>
            <ul>
              <li>с&nbsp;правилами сексуального поведения в&nbsp;постели;</li>
              <li>техниками и&nbsp;полезными фишками для удовлетворения партнера;</li>
              <li>психологией отношений и&nbsp;секса.</li>
            </ul>
            <p>Получите практический опыт, который решит ваши интимные проблемы.</p>
          <component src="src/components/button.html" locals='{
            "link" : "https://info-hit.ru/author-aleks-mey/",
            "text" : "Узнать подробности",
            "color" : "bg-blue-500",
            "hover_color" : "bg-blue-600"
            }'></component>
        </td>
      </tr>

      <tr>
        <td class="h-24 sm:h-16"></td>
      </tr>
      <tr>
        <td class="bg-white text-gray-800 text-base text-left px-48 py-24 sm:p-14 leading-24 rounded-2xl">
          <h3 class="mt-24 sm:mt-24">Эффективные способы изучения английского</h3>
          <p>Сложно найти человека, который не&nbsp;сталкивался с&nbsp;английским языком в&nbsp;своей жизни: кто-то изучал в&nbsp;школе, университете, другие осваивали для работы или путешествий, а&nbsp;третьи&nbsp;— выбрали в&nbsp;качестве хобби. В&nbsp;статье рассказали об&nbsp;эффективных и&nbsp;увлекательных методах изучения английского языка.</p>
          <each loop="item in response.slice(0, 1)">
            <component src="src/components/blog.html" locals='{
            "URL" : "{{ item.URL }}",
            "PICTURE" : "{{ item.PICTURE }}",
            "NAME" : "{{ item.NAME }}",
            "DESC" : "{{ item.DESC }}",
            "COLOR" : "green"
            }'></component>
          </each>
          <h3 class="mt-24 sm:mt-24">Новая профессия после 40 лет</h3>
          <p>Россияне в&nbsp;возрасте от&nbsp;40&nbsp;лет испытывают сложности во&nbsp;время поиска работы и&nbsp;чаще подвержены сокращению. Если хотите оставаться востребованным специалистом и&nbsp;не&nbsp;бояться остаться без работы, читайте нашу статью. Узнаете об&nbsp;актуальных профессиях, которые будут пользоваться спросом в ближайшие 5–10 лет.</p>
          <each loop="item in response.slice(1, 2)">
            <component src="src/components/blog.html" locals='{
            "URL" : "{{ item.URL }}",
            "PICTURE" : "{{ item.PICTURE }}",
            "NAME" : "{{ item.NAME }}",
            "DESC" : "{{ item.DESC }}",
            "COLOR" : "blue"
            }'></component>
          </each>
          <h3 class="mt-24 sm:mt-24">Курсы маникюра для начинающих</h3>
          <p>Процедуры бьюти-индустрии востребованы во&nbsp;все времена. Самая популярная услуга, за&nbsp;которой регулярно обращаются девушки&nbsp;— маникюр. Обучиться на&nbsp;мастера маникюра и&nbsp;стать специалистом в&nbsp;сфере красоты можно на&nbsp;онлайн-курсах. Читайте статью и&nbsp;узнаете, где освоить весь комплекс необходимых навыков мастеру ногтевого сервиса.</p>
          <each loop="item in response.slice(2, 3)">
            <component src="src/components/blog.html" locals='{
            "URL" : "{{ item.URL }}",
            "PICTURE" : "{{ item.PICTURE }}",
            "NAME" : "{{ item.NAME }}",
            "DESC" : "{{ item.DESC }}",
            "COLOR" : "purple"
            }'></component>
          </each>
        </td>
      </tr>

      <tr>
          <td class="h-24 sm:h-16"></td>
      </tr>
      <tr>
          <td class="bg-white text-gray-800 text-base text-left px-48 py-24 sm:p-14 leading-24 rounded-2xl">
            <h3>Курс недели</h3>
            <p>Хотите преодолеть кризис смысла жизни и&nbsp;раскрыть свой потенциал. Завтра, <strong>4&nbsp;ноября в&nbsp;19:00</strong> приходите на&nbsp;бесплатный мастер-класс от&nbsp;Института современной психологии IOMP.</p>
            <p>Эксперты и&nbsp;ведущие марафона&nbsp;— сертифицированный регрессолог Анна Ролева и&nbsp;дипломированный психолог Вероника Юрина.</p>
            <p><strong>За&nbsp;три дня с&nbsp;экспертами узнаете:</strong></p>
            <ul>
              <li class="mb-16">как разрешить глубинные внутренние конфликты;</li>
              <li class="mb-16">раскрыть потенциал своего предназначения, отношений и&nbsp;денег;</li>
              <li class="mb-16">стать самому себе психотерапевтом.</li>
            </ul>
            <p>Обретите мотивацию и&nbsp;превратите негативные эмоции в&nbsp;стимул для действия.</p>
            <component src="src/components/button.html" locals='{
            "link" : "https://info-hit.ru/away.php?to=link&id=114",
            "text" : "Зарегистрироваться",
            "color" : "bg-blue-500",
            "hover_color" : "bg-blue-600"
            }'></component>
            <component src="src/components/gray-line.html"></component>
            <p class="text-base mb-36">С&nbsp;уважением,<br>команда ИнфоХит!</p>
          </td>
      </tr>

      <tr>
        <td class="h-32 sm:h-24"></td>
      </tr>
      <component src="src/components/footer.html"></component>
    </fetch>
  </block>
</extends>
