---
title: "Включаем режим Деда Мороза"
preheader: "Подарок, с которым не прогадаете"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <fetch url="https://info-hit.ru/include/tools/courses-json/?coursesArr=166348,294693,288315&token=u4JTEnMNt4gdsfdfsdf345nkhjk3dfgfh556776dfdghjkluiutyrtym&v=4">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2022-12-21-new-year-letter-1.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p><strong>Ho-ho-ho!</strong></p>
        <p>Уже скоро наступит Новый Год!</p>
        <p>А&nbsp;вы&nbsp;подготовили подарки своим близким и&nbsp;друзьям?</p>
        <p>Уверены, вы&nbsp;хотите удивить их&nbsp;своим выбором. Сделайте это с&nbsp;помощью <a href="https://info-hit.ru/about/lp/certificates/" target="_blank">подарочного сертификата ИнфоХит!</a></p>
        <p>Такой подарок запомнится надолго. Ведь это возможность:</p>
        <ul>
          <li class="mb-16">порадовать родных и&nbsp;друзей;</li>
          <li class="mb-16">не&nbsp;прогадать с&nbsp;презентом;</li>
          <li class="mb-16">приобрести курс или другой образовательный продукт со&nbsp;скидкой до&nbsp;100%!</li>
        </ul>
        <p>Вы&nbsp;всегда сможете найти тот самый курс, о&nbsp;котором давно мечтали. На&nbsp;нашем сайте собрано более 7000+ обучающих материалов на&nbsp;разные темы.</p>
        <p>А&nbsp;еще наши авторы и&nbsp;эксперты подготовили новогоднюю распродажу! В&nbsp;специальном разделе каталога <a href="https://info-hit.ru/catalog/filter/discount-y/" target="_blank">«Новогодний SALE»</a> мы&nbsp;разместили лучшие предложения.</p>
        <p>Ловите подборку новогодних скидок на&nbsp;курсы с&nbsp;покупкой на&nbsp;ИнфоХит!</p>
        <each loop="item in response.slice(0, 1)">
          <component src="src/components/course.html" locals='{
            "author" : "{{ item.RIGHTHOLDER }}",
            "title" : "{{ item.TYPE }} — {{ item.NAME }}",
            "subtitle" : "{{ item.DESC }}",
            "picture" : "https://info-hit.ru/{{ item.PICTURE }}",
            "link" : "{{ item.DETAIL_PAGE_URL }}"
            }'>
          </component>
        <each loop="item in response.slice(1, 2)">
          <component src="src/components/course.html" locals='{
            "author" : "{{ item.RIGHTHOLDER }}",
            "title" : "{{ item.TYPE }} — {{ item.NAME }}",
            "subtitle" : "{{ item.DESC }}",
            "picture" : "https://info-hit.ru/{{ item.PICTURE }}",
            "link" : "{{ item.DETAIL_PAGE_URL }}"
            }'>
          </component>
        </each>
        <each loop="item in response.slice(2, 3)">
          <component src="src/components/course.html" locals='{
            "author" : "{{ item.RIGHTHOLDER }}",
            "title" : "{{ item.TYPE }} — {{ item.NAME }}",
            "subtitle" : "{{ item.DESC }}",
            "picture" : "https://info-hit.ru/{{ item.PICTURE }}",
            "link" : "{{ item.DETAIL_PAGE_URL }}"
            }'>
          </component>
        </each>
          <table class="w-full">
            <tr>
              <td class="py-16">
                <div class="bg-gray-200 h-px leading-px">&zwnj;</div>
              </td>
            </tr>
          </table>
          <p class="text-base mb-36">С уважением,<br>команда ИнфоХит</p>
        </td>
      </tr>
      <tr>
        <td class="h-32 sm:h-24"></td>
      </tr>
      <component src="src/components/footer.html"></component>
    </fetch>
  </block>
</extends>