---
title: "Новые статьи в блоге ИнфоХит"
preheader: "Научитесь гадать на картах таро, эффективно инвестировать и зарабатывать на криптовалюте."
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <fetch url="https://info-hit.ru/include/tools/blog-json/?arElements=286597,286638,286498,282161&token=u4JTEnMNt4gdsfdfsdf345nkhjk3dfgfh556776dfdghjkluiutyrtym&v=4">
      <component src="src/components/img-block-without-link.html" locals='{
      "src" : "https://info-hit.ru/include/images/letter/2022-07-28-blog-items.jpg"
      }'></component>
      <tr>
        <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
          <p><strong>Добрый день!</strong></p>
          <p>В&nbsp;блоге «ИнфоХит» регулярно появляются статьи и&nbsp;обзоры на&nbsp;самые актуальные темы.</p>
          <p>Знакомьтесь с&nbsp;новой подборкой материалов!</p>
          <h3 class="mt-36 sm:mt-24">Автор недели</h3>
          <p>Ната Гончар — нутрициолог. Создатель первой русскоязычной программы обучения детокс коучингу и холистическому питанию. Основатель Института интегративной нутрициологии.</p>
          <component src="src/components/about-author.html" locals='{
            "name" : "Ната Гончар",
            "photo" : "https://info-hit.ru/upload/resize_cache/iblock/288/lsx67q8zkud0k0w5q0fmhagwre9355tr/220_220_2/gonchar_nata.jpg"
            }'>
            <p class="mt-0">В основе авторской методики лежат знания о функциональном питании и нутрициологической коррекции с помощью БАД. На своих курсах Ната рассказывает, как составлять сбалансированный рацион и плавно переходить на здоровое питание.</p>
          </component>
          <p>А еще вы сможете получить востребованную профессию нутрициолога. Программы, которые разработала Ната, подходят и опытным специалистам в сфере питания, и новичкам.</p>
          <component src="src/components/button.html" locals='{
            "link" : "https://info-hit.ru/author-gonchar-nata/",
            "text" : "Подробнее об авторе",
            "color" : "bg-purple-500",
            "hover_color" : "bg-purple-600"
            }'></component>
          <h3 class="mt-36 sm:mt-24">Как заработать на&nbsp;инвестициях в&nbsp;2022 году</h3>
          <p>В&nbsp;наши дни инвестирование&nbsp;— это хорошая возможность получать пассивный доход без больших затрат труда, даже новичкам. О&nbsp;всех техниках прибыльного инвестирования читайте в&nbsp;статье.</p>
          <each loop="item in response.slice(0, 1)">
            <component src="src/components/blog.html" locals='{
            "URL" : "{{ item.URL }}",
            "PICTURE" : "{{ item.PICTURE }}",
            "NAME" : "{{ item.NAME }}",
            "DESC" : "{{ item.DESC }}",
            "COLOR" : "blue"
            }'></component>
          </each>
          <h3 class="mt-36 sm:mt-24">Криптовалюта&nbsp;—&nbsp;современный инструмент инвестирования</h3>
          <p>Каждый день в&nbsp;интернете, новостях, социальных сетях появляются новости о&nbsp;криптовалюте. Все больше людей предпочитают зарабатывать на&nbsp;крипте и&nbsp;безопасно вкладывать свои деньги. Узнаете, какие первые шаги сделать новичку, чтобы составить максимально выгодный портфель криптоинвестора.</p>
          <each loop="item in response.slice(1, 2)">
            <component src="src/components/blog.html" locals='{
            "URL" : "{{ item.URL }}",
            "PICTURE" : "{{ item.PICTURE }}",
            "NAME" : "{{ item.NAME }}",
            "DESC" : "{{ item.DESC }}",
            "COLOR" : "green"
            }'></component>
          </each>
          <h3 class="mt-36 sm:mt-24">Магия чисел и&nbsp;тайна карт таро</h3>
          <p>Если хотите разбираться в&nbsp;происходящем, понимать причины проблем на&nbsp;работе, в&nbsp;личной жизни или во&nbsp;время общения с&nbsp;друзьями&nbsp;— освойте навыки гадания на&nbsp;картах таро.</p>
          <each loop="item in response.slice(2, 3)">
            <component src="src/components/blog.html" locals='{
            "URL" : "{{ item.URL }}",
            "PICTURE" : "{{ item.PICTURE }}",
            "NAME" : "{{ item.NAME }}",
            "DESC" : "{{ item.DESC }}",
            "COLOR" : "purple"
            }'></component>
          </each>
          <h3 class="mt-36 sm:mt-24">Курс недели</h3>
          <p>Женские тренинги набирают все большую популярность. Главная цель — пробудить женственность, красоту и сексуальность. Освободиться от ограничений, которые мешают раскрыть женский потенциал в полной мере.</p>
          <p>На мастер-классе Алекса Айвенго сможете получить востребованную профессию — ведущий женских онлайн-кругов. Вы узнаете:</p>
          <ul>
            <li class="mb-16">какие энергетические проблемы помогает решить ведущий женских кругов;</li>
            <li class="mb-16">какие практики проводить, чтобы у людей был результат;</li>
            <li class="mb-16">где искать клиентов, и как бороться с конкурентами;</li>
            <li class="mb-16">сколько времени проходит консультация, и как оплачиваются услуги.</li>
          </ul>
          <p>Такие тренинги помогают участницам познать и осознать себя в кругу других женщин.</p>
          <component src="src/components/button.html" locals='{
            "link" : "https://info-hit.ru/course-master-zhenskikh-onlayn-kursov/",
            "text" : "Подробнее о курсе",
            "color" : "bg-purple-500",
            "hover_color" : "bg-purple-600"
            }'></component>
          <component src="src/components/gray-line.html"></component>
          <p class="text-base mb-36">С&nbsp;уважением,<br>команда «ИнфоХит»!</p>
        </td>
      </tr>
      <tr>
        <td class="h-32 sm:h-24"></td>
      </tr>
      <component src="src/components/footer.html"></component>
    </fetch>
  </block>
</extends>
