---
title: "Как раскрыть свои сильные стороны с помощью нумерологии?"
preheader: "Узнаете, как раскрыть свое предназначение и построить гармоничную и счастливую жизнь."
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2022-21-06-aivengo-nymerology1.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p><strong>Добрый день!</strong></p>
        <p>В&nbsp;нашей дате рождения скрыто очень много информации. Если&nbsp;бы мы&nbsp;знали, то&nbsp;избежали многих проблем. Жить было&nbsp;бы гораздо легче.</p>
        <p>Нумерология дает ответы на&nbsp;многие вопросы по&nbsp;<strong>ДАТЕ&nbsp;РОЖДЕНИЯ</strong>:</p>
        <ul>
          <li class="mb-16">Чем стоит заниматься в&nbsp;жизни, а&nbsp;куда сливается энергия.</li>
          <li class="mb-16">В&nbsp;какой сфере для вас самые легкие деньги.</li>
          <li class="mb-16">В&nbsp;чем ваши сильные и&nbsp;слабые стороны.</li>
        </ul> 
        <component src="src/components/about-author.html" locals='{
          "name" : "Алекс Айвенго",
          "photo" : "https://info-hit.ru/upload/resize_cache/iblock/bf8/220_220_2/ayvengo_aleks.jpg"
          }'>
          <p class="mt-10">Убедитесь сами, что это работает! Приходите на&nbsp;<strong>бесплатный трехдневный мастер-класс «Нумерология: предназначение по&nbsp;дате рождения»</strong> с&nbsp;Алексом Айвенго.</p>
        </component>
        <p class="text-base bg-yellow-100 py-16 px-24">Сразу после регистрации на&nbsp;указанный e-mail придет <strong>подарок</strong>&nbsp;— индивидуальная расшифровка предназначения по&nbsp;вашей дате рождения!</p>
        <h3 class="mt-24 sm:mt-24">На&nbsp;мастер-классе вы&nbsp;узнаете, как:</h3>
        <ul>
          <li class="mb-16">Знания по&nbsp;нумерологии могут изменить все сферы вашей жизни в&nbsp;лучшую сторону: здоровье, реализацию, финансы.</li>
          <li class="mb-16">Выбрать мужчину, начальника или путь развития ребенку. А&nbsp;точнее&nbsp;— видеть человека насквозь, зная только дату его рождения.</li>
          <li class="mb-16">Эффективнее всего стать нумерологом с&nbsp;нуля и&nbsp;овладеть инструментом, на&nbsp;который клиенты идут сами с&nbsp;огромным интересом и&nbsp;любопытством.</li>
        </ul>
        <p><strong>Начните корректировать свою судьбу уже сейчас!</strong></p>
        <component src="src/components/button.html" locals='{
          "link" : "https://numeroschool.ru/marafon?gcao=26640&gcpc=39e13",
          "text" : "Зарегистрироваться",
          "color" : "bg-purple-500",
          "hover_color" : "bg-purple-600"
          }'></component>
        <table class="w-full">
          <tr>
            <td class="py-16">
              <div class="bg-gray-200 h-px leading-px">&zwnj;</div>
            </td>
          </tr>
        </table>
        <p class="text-base mb-36">С уважением,<br>команда «ИнфоХит»!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
