---
title: "Создайте капитал с 0 до 10 млн на трейдинге"
preheader: "Как — узнаете на бесплатном марафоне Федора Сидорова"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2023-11-09-sidorov-partners-marafon.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Внимание, все любители финансового трейдинга и&nbsp;желающие освоить новые навыки в&nbsp;инвестировании!</p>
        <p>Для вас потрясающая новость&nbsp;— примите участие в&nbsp;бесплатном трехдневном марафоне <a href="https://info-hit.ru/away.php?to=link&id=755" target="_blank">«Первые шаги в&nbsp;трейдинге»</a> от&nbsp;лидеров рынка в&nbsp;сфере обучения инвестированию!</p>
        <p><strong>Когда:</strong> воскресенье, 12&nbsp;ноября в&nbsp;20:00&nbsp;мск.</p>
        <p>Присоединяйтесь и&nbsp;получите уникальную возможность узнать все секреты успешного трейдинга на&nbsp;фондовом и&nbsp;срочном рынках.</p>
        <p><strong>За&nbsp;3&nbsp;дня марафона:</strong></p>
        <ul>
          <li class="mb-12">познакомитесь с&nbsp;основами трейдинга;</li>
          <li class="mb-12">поймете, какие навыки помогут выйти на&nbsp;стабильные <nobr>60–80%</nobr> годовых;</li>
          <li class="mb-12">получите актуальные стратегии в&nbsp;трейдинге с&nbsp;детальным разбором.</li>
        </ul>
        <p>Один из&nbsp;спикеров системно занимается трейдингом шесть лет и&nbsp;каждый год делает стабильно <nobr>60–80%</nobr> к&nbsp;своему капиталу. Он&nbsp;расскажет о&nbsp;своей стратегии и&nbsp;передаст накопленный опыт.</p>
        <p>В&nbsp;заключительный день получите пошаговый план по&nbsp;«трейдингу на&nbsp;максимум». Увидите, как превратить 100&nbsp;000&nbsp;₽ в&nbsp;несколько миллионов.</p>
        <p><strong>Бонусы после регистрации:</strong></p>
        <ul>
          <li class="mb-12">ТОП-5&nbsp;ошибок, которые совершают&nbsp;95% трейдеров и&nbsp;сливают депозит</li>
          <li class="mb-12">4&nbsp;шага, которые приведут к&nbsp;стабильному заработку от&nbsp;100&nbsp;000&nbsp;₽ в&nbsp;месяц</li>
        </ul>
        <p>Лучшая инвестиция&nbsp;— это инвестиция в&nbsp;себя!</p>
        <p>Освойте пять навыков трейдера, которые помогут вам выйти на&nbsp;стабильный доход.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=link&id=755",
          "text" : "Зарегистрироваться",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <p><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
