---
title: "Как войти в рабочий ритм"
preheader: "Налаживаем режим и планируем день с курсами на ИнфоХит"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2023-01-12-time-management-course.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p><strong>Добрый день!</strong></p>
        <p>Длинные выходные&nbsp;— это здорово. Можно вдоволь поспать, встретиться с&nbsp;друзьями, родными, досмотреть любимый сериал или прочитать давно отложенную книгу. А&nbsp;вот начало рабочих будней уже не&nbsp;так радует.</p>
        <p>Более половины россиян с&nbsp;трудом возвращаются в&nbsp;привычный ритм жизни после новогодних праздников. Усиливаются тревога, хандра, появляются сонливость, накатывает прокрастинация.</p>
        <p>Начните год с&nbsp;приобретения полезного и&nbsp;такого необходимого навыка&nbsp;— эффективно планировать свое время. Собрали для вас классные курсы по&nbsp;тайм-менеджменту.</p>
        <h3 class="mt-36 sm:mt-36">Онлайн-тренинг «Дзен-эффективность»</h3>
        <p>Цель этой программы&nbsp;— увеличить продуктивность и&nbsp;эффективность, внедрить в&nbsp;работу систему управления делами. Занятия состоят из&nbsp;25&nbsp;видеоуроков и&nbsp;практических заданий. Пошаговые техники и&nbsp;упражнения помогут вам быстро прийти к&nbsp;новым результатам.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=60136",
          "text" : "Начать обучение",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <h3 class="mt-36 sm:mt-36">Курс «Тайм-менеджмент»</h3>
        <p>На&nbsp;этом курсе проекта Skillbox вы&nbsp;освоите инструменты стратегического и&nbsp;тактического планирования. Научитесь эффективно организовывать свое время. Продолжительность занятий&nbsp;— 1&nbsp;месяц.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=242194",
          "text" : "Начать обучение",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <h3 class="mt-36 sm:mt-36">Курс «Тайм-менеджмент: курс по&nbsp;управлению временем»</h3>
        <p>Как мотивировать себя и&nbsp;избавиться от&nbsp;лени, узнаете на&nbsp;курсе онлайн-университета «Нетология». Научитесь применять техники делового и&nbsp;личного распределения времени. Получите набор проверенных инструментов для планирования. Вас ждут 10&nbsp;пошаговых уроков с&nbsp;домашними заданиями.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=276150",
          "text" : "Начать обучение",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <table class="w-full">
          <tr>
            <td class="py-16">
              <div class="bg-gray-200 h-px leading-px">&zwnj;</div>
            </td>
          </tr>
        </table>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит.</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
