---
title: "Как начать изучение frontend-разработки правильно?"
preheader: "Рассказываем!"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2023-11-23-xekslet.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p><strong>«Я&nbsp;смогу выучить программирование самостоятельно»</strong>&nbsp;— сколько раз мы&nbsp;слышали эти слова от&nbsp;новичков!</p>
        <p>Но&nbsp;мало кто из&nbsp;них трезво оценивает силы и&nbsp;готов бежать не&nbsp;короткий спринт, а&nbsp;долгий марафон. Зачастую они начинают изучение бесплатных материалов, через пару часов сталкиваются с&nbsp;трудностями и&nbsp;бросают обучение.</p>
        <p>В&nbsp;итоге&nbsp;— негативные эмоции, люди уходят, так и&nbsp;не&nbsp;ответив на&nbsp;вопрос <strong>«А&nbsp;мое&nbsp;ли это?».</strong></p>
        <p class="m-0 mb-24 text-base border-dashed border-2 border-blue-600 rounded-2xl py-16 px-24">Обучение на&nbsp;Хекслете&nbsp;— это продуманная программа. Следуя по&nbsp;ней шаг за&nbsp;шагом, новички становятся специалистами. Мы&nbsp;не&nbsp;просто помогаем преодолеть трудности, а&nbsp;меняем мышление. Поэтому готовы отвечать головой за&nbsp;каждого выпущенного специалиста.</p>
        <p><strong>Но&nbsp;что если вы&nbsp;не&nbsp;готовы к&nbsp;полноценному обучению?</strong></p>
        <p>Тогда попробуйте его демо-версию. Все то&nbsp;же самое, но&nbsp;на&nbsp;базовом уровне материала. За&nbsp;14&nbsp;дней освоите основы frontend-разработки, получите опыт группового обучения, поймете, сколько времени в&nbsp;день можете уделять учебе и&nbsp;ответите для себя на&nbsp;все внутренние вопросы.</p>
        <p class="text-base bg-yellow-100 py-16 px-24">Персонально для пользователей ИнфоХит это всего за&nbsp;490&nbsp;₽.</p>
        <p>Материалы курса бесплатны и&nbsp;находятся в&nbsp;открытом доступе, вы&nbsp;оплачиваете только услуги наставника.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=link&id=828",
          "text" : "Узнать подробности",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <p>По&nbsp;окончании курса студенты получат <strong>именной сертификат и&nbsp;ценные подарки</strong> для дальнейшего обучения на&nbsp;Хекслете.</p>
        <p>Ближайший поток стартует <strong>7&nbsp;декабря.</strong></p>
        <p class="m-0 mb-24 text-base border-dashed border-2 border-yellow-400 rounded-2xl py-16 px-24">А&nbsp;если захотите выбрать другое направление, доступны еще <a href="https://info-hit.ru/away.php?to=link&id=829" target="_blank">Java</a> или <a href="https://info-hit.ru/away.php?to=link&id=830" target="_blank">Python.</a></p>
        <p><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
