---
title: "Лучший способ заговорить на английском"
preheader: "+ новогодний промокод"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
      <component src="src/components/img-block-without-link.html" locals='{
      "src" : "https://info-hit.ru/include/images/letter/2023-01-03-englex-share.jpg"
      }'></component>
      <tr>
        <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p><strong>Добрый день!</strong></p>
        <p>Чего вам не&nbsp;хватает, чтобы заговорить на&nbsp;английском: хорошего преподавателя, времени, мотивации или&nbsp;денег?</p>
        <p>Начните заниматься английским по&nbsp;гибкому графику с&nbsp;сильным преподавателем в&nbsp;онлайн-школе «Инглекс». Здесь вы&nbsp;сможете говорить уже на&nbsp;первом уроке, даже если раньше не&nbsp;изучали язык.</p>
        <p>Для новых студентов&nbsp;— скидка&nbsp;40% на&nbsp;уроки с&nbsp;русскоязычным преподавателем по&nbsp;промокоду: <span class="border-dashed border-2 border-blue-400 rounded-lg text-lg px-8 py-5 inline-block">HAPPY2023</span></p>
          <p><strong>О&nbsp;школе «Инглекс»:</strong>
          <ol>
          <li class="mb-16"><strong>Персональная программа.</strong> Основной формат обучения&nbsp;— индивидуальные занятия с&nbsp;преподавателем. Программа составляется с&nbsp;учетом ваших целей и&nbsp;интересов.</li>
          <li class="mb-16"><strong>Сильные преподаватели.</strong> Только 1&nbsp;из&nbsp;123 кандидатов проходит строгий отбор на&nbsp;должность преподавателя в&nbsp;«Инглекс». Вы&nbsp;будете учиться у&nbsp;профессионала, которому важен ваш результат.</li>
          <li class="mb-16"><strong>Гибкий график.</strong> Вы&nbsp;сами выбираете продолжительность урока (45&nbsp;или 60&nbsp;минут) и&nbsp;время занятий: утром или вечером, в&nbsp;будние дни или в&nbsp;выходные.</li>
          <li class="mb-16"><strong>Разговорная практика.</strong> Основная цель школы&nbsp;— научить вас говорить, поэтому&nbsp;80% урока посвящено общению на&nbsp;английском. В&nbsp;«Инглекс» даже новички начинают говорить с&nbsp;первого занятия.</li>
          <li class="mb-16"><strong>Удобный онлайн-класс.</strong> Занятия проходят на&nbsp;собственной учебной платформе школы. Никаких дополнительных материалов не&nbsp;потребуется&nbsp;— все необходимое для обучения будет в&nbsp;одном окне браузера.</li>
        </ol>
        <p>Вводный урок&nbsp;— бесплатный. Вы&nbsp;узнаете свой уровень английского, поставите цели изучения языка, выберете подходящий курс и&nbsp;согласуете график.</p>
        <p>Начните новый год правильно&nbsp;— запишитесь на&nbsp;бесплатный урок английского в&nbsp;«Инглекс»!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=link&id=229",
          "text" : "Записаться на вводный урок",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
          <table class="w-full">
            <tr>
              <td class="py-16">
                <div class="bg-gray-200 h-px leading-px">&zwnj;</div>
              </td>
            </tr>
          </table>
          <p class="text-base mb-36">С уважением,<br>команда «ИнфоХит»</p>
        </td>
      </tr>
      <tr>
        <td class="h-32 sm:h-24"></td>
      </tr>
      <component src="src/components/footer.html"></component>
    </fetch>
  </block>
</extends>