---
title: "Ваше персональное приглашение на встречу"
preheader: "Как зарабатывать стабильно от 100 000 ₽ в месяц"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block.html" locals='{
      "src" : "https://info-hit.ru/include/images/letter/2023-08-03-sherba.jpg",
      "link" : "https://info-hit.ru/away.php?to=link&id=482"
      }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Сегодня мы&nbsp;подготовили для вас интересную онлайн-встречу, после которой вы&nbsp;поймете, как зарабатывать от&nbsp;100&nbsp;000&nbsp;₽ в&nbsp;месяц.</p>
        <p>Давайте поймем ваш потенциал в&nbsp;доходе. Для этого ответьте на&nbsp;вопросы:</p>
        <ol>
          <li class="mb-12">Как вы&nbsp;думаете, насколько реально вам начать зарабатывать от&nbsp;100&nbsp;000&nbsp;₽ в&nbsp;вашей профессии уже через 2&nbsp;месяца?</li>
          <li class="mb-12">Сколько людей в&nbsp;вашем окружении, которые зарабатывают больше вас уже сейчас?</li>
          <li class="mb-12">Кажется&nbsp;ли вам, что удвоить ваш доход в&nbsp;течение этого месяца практически нереально?</li>
          <li class="mb-12">Считаете&nbsp;ли вы, что руководитель&nbsp;— это скорее врожденная способность, чем приобретенный навык?</li>
        </ol>
        <p>Если на&nbsp;большинство вопросов вы&nbsp;ответили «ДА», то&nbsp;есть классная новость. Наш партнер, успешный предприниматель Иван Щерба, специально для вас подготовил бесплатную онлайн-встречу <a href="https://info-hit.ru/away.php?to=link&id=482" target="_blank">«Как&nbsp;выйти на&nbsp;доход 100&nbsp;000+&nbsp;₽ в&nbsp;месяц через карьерный рост»</a>.</p>
        <p>Мы&nbsp;уверены, что эта встреча может изменить вашу жизнь. Иван расскажет о&nbsp;профессии руководителя, которая поможет вам выйти на&nbsp;доход от&nbsp;100&nbsp;000&nbsp;₽ в&nbsp;месяц. Встреча будет полезна вам, даже если вы&nbsp;никогда не&nbsp;задумывались о&nbsp;карьере.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=link&id=482",
          "text" : "Иду на встречу",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <p>Вы&nbsp;поймете как, не&nbsp;меняя места работы, вырасти в&nbsp;должности и&nbsp;больше зарабатывать.</p>
        <p class="text-base bg-green-200 py-16 px-24">Спойлер: если вы&nbsp;выполните задание Ивана, то&nbsp;сможете получить свое первое предложение о&nbsp;повышении от&nbsp;работодателя уже во&nbsp;время онлайн-встречи.</p>
        <p>Только для подписчиков ИнфоХит Иван Щерба подготовил специальный подарок за&nbsp;регистрацию&nbsp;— <strong>чек-лист «Как стать ТОП-менеджером»</strong>. Успейте забрать его. И&nbsp;не&nbsp;пропустите встречу, которая однозначно изменит ваше представление о&nbsp;том, как быстро и&nbsp;качественно расти в&nbsp;своей профессии.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=link&id=482",
          "text" : "Забрать подарок",
          "color" : "bg-purple-500",
          "hover_color" : "bg-purple-600"
          }'></component>
        <p>Кстати, знаете&nbsp;ли вы, что порой руководители зарабатывают больше, чем предприниматели? И&nbsp;путь управленца может быть более привлекательным, потому что:</p>
        <ul>
          <li class="mb-12">работая в&nbsp;найме, сотрудник несет меньше личной ответственности, находится под крылом компании;</li>
          <li class="mb-12">работодатель забирает на&nbsp;себя организацию условий труда, найм других сотрудников команды;</li>
          <li class="mb-12">управленец не&nbsp;несет финансовых рисков напрямую, нет необходимости разбираться с&nbsp;работой налоговой и&nbsp;другими проверяющими органами.</li>
        </ul>
        <p class="m-0 mb-24 text-base border-dashed border-2 border-yellow-600 rounded-2xl py-16 px-24">Большинство топ-менеджеров, которые работают в&nbsp;крупных корпорациях, зарабатывают более 1&nbsp;000&nbsp;000&nbsp;₽ ежемесячно в&nbsp;найме.</p>
        <p>Построить карьеру, а&nbsp;вместе с&nbsp;этим и&nbsp;увеличить доход может каждый. Этим мы&nbsp;и&nbsp;предлагаем воспользоваться. Примите участие в&nbsp;онлайн-встрече. Регистрируйтесь по&nbsp;кнопке прямо сейчас!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=link&id=482",
          "text" : "Иду на встречу",
          "color" : "bg-green-500",
          "hover_color" : "bg-green-600"
          }'></component>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит и Иван Щерба!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
