---
title: "Зачем мне психологи и психотерапия? Вообще-то я из нормальных!"
preheader: "Станьте «сам себе психолог», освойте методы самопомощи"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
      <component src="src/components/img-block-without-link.html" locals='{
      "src" : "https://info-hit.ru/include/images/letter/2023-05-12-psychology-limanski.jpg"
      }'></component>
      <tr>
        <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p><strong>Добрый день!</strong></p>
        <p>Большинство людей отвергают помощь специалистов, при этом жалуются на&nbsp;постоянный стресс, истощение, проблемы со&nbsp;здоровьем и&nbsp;неуспехи в&nbsp;карьере и&nbsp;отношениях.</p>
        <p>Мы&nbsp;все привыкли чистить зубы по&nbsp;утрам и&nbsp;мыть руки перед едой, но&nbsp;упорно не&nbsp;хотим «чистить» и&nbsp;«мыть» свое ментальное состояние, поддерживая элементарную психогигиену, которая и&nbsp;обеспечивает нам более насыщенную жизнь и&nbsp;реализацию своих целей из&nbsp;этого продуктивного состояния.</p>
        <p>Несмотря на&nbsp;стереотипы все нормальные люди пользуются современными технологиями психотерапии и&nbsp;научились управлять своими эмоциями, поведением, что сделало их&nbsp;жизнь более качественной и&nbsp;счастливой.</p>
        <p><strong>Как нам может помочь психология в&nbsp;современном мире, наполненном проблемами?</strong></p>
        <p>Научно доказано, что психотерапия восстанавливает отделы мозга и&nbsp;нормализует его нейрохимический баланс.</p>
        <p>Например, при депрессии, методы психотерапии усиливают метаболизм в&nbsp;гиппокампе и&nbsp;поясной извилине, снижается метаболизм в&nbsp;лобной коре, человек перестает зацикливаться.</p>
        <p>При тревоге снижается активность амигдалы&nbsp;— области мозга отвечающей за&nbsp;эмоции.</p>
        <p>Осваивая новые компетенции в&nbsp;профессиональной карьере, методы психологии помогают быстрее формировать новые нейронные связи в&nbsp;головном мозге, отвечающие за&nbsp;быстроту усвоения нового опыта и&nbsp;навыков.</p>
        <p class="m-0 mb-24 text-base border-dashed border-2 border-green-400 rounded-2xl py-16 px-24">Доказано, что люди, которые занимаются психологическими практиками, имеют хороший иммунитет и&nbsp;реже ходят к&nbsp;врачам по&nbsp;поводу сезонных заболеваний, а&nbsp;еще реже страдают сердечными и&nbsp;онкологическими проблемами, увеличивая свою продолжительность жизни.</p>
        <p>Психология окружает нас всегда и&nbsp;везде, и&nbsp;заниматься ею&nbsp;необходимо даже самим врачам и&nbsp;психологам, и&nbsp;лучший способ это сделать&nbsp;— освоить базовые профессиональные техники самопомощи, научиться самостоятельно заботиться о&nbsp;своем психологическом здоровье, применяя эти способности дальше всю жизнь.</p>
        <p>В&nbsp;этом главная задача курса <a href="https://info-hit.ru/away.php?to=link&id=388" target="_blank">«Психолог сам себе»</a>, который вы&nbsp;можете пройти прямой сейчас, не&nbsp;выходя из&nbsp;дома, в&nbsp;комфортной обстановке.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=link&id=388",
          "text" : "Смотреть бесплатный урок",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
          <table class="w-full">
            <tr>
              <td class="py-16">
                <div class="bg-gray-200 h-px leading-px">&zwnj;</div>
              </td>
            </tr>
          </table>
          <p class="text-base mb-36">Желаем удачи,<br>ИнфоХит</p>
        </td>
      </tr>
      <tr>
        <td class="h-32 sm:h-24"></td>
      </tr>
      <component src="src/components/footer.html"></component>
    </fetch>
  </block>
</extends>