---
title: "Зарабатывайте 2000–4000 ₽ в час"
preheader: "Как — узнайте на бесплатном вебинаре наших партнеров"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2023-06-30-bonnie-slide.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p class="text-base bg-red-100 py-16 px-24"><a href="https://info-hit.ru/company-bonnie-slide/" target="_blank">Академия убойных презентаций Bonnie&amp;Slide</a>&nbsp;— место, где&nbsp;можно научиться делать красивые слайды и&nbsp;продуктивные презентации.</p>
        <p>Приглашаем 4&nbsp;июля на&nbsp;бесплатный практикум Bonnie &amp;&nbsp;Slide по&nbsp;дизайну презентаций.</p>
        <p class="mt-10"><strong>За&nbsp;три дня&nbsp;вы:</strong></p>
            <ul class="mt-0 mb-24">
              <li class="mb-16">сделаете свои первые слайды в&nbsp;Power Point;</li>
              <li class="mb-16">узнаете, как стать лучшим в&nbsp;дизайне презентаций и&nbsp;зарабатывать на&nbsp;удаленке 200&nbsp;000&nbsp;₽ в&nbsp;месяц и&nbsp;более;</li>
              <li class="mb-16">получите обратную связь по&nbsp;своим первым шагам в&nbsp;востребованной профессии.</li>
            </ul>
        <p>Средняя стоимость слайда на&nbsp;рынке&nbsp;— 1500&nbsp;₽. Дизайнер презентаций со&nbsp;знанием английского зарабатывает <nobr>2000–4000 ₽</nobr> в&nbsp;час.</p>
        <p>Откройте для себя удаленную творческую профессию! Записывайтесь на&nbsp;бесплатный практикум Bonnie &amp;&nbsp;Slide.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://bot.bonnieandslide.com/28/?utm_source=email&utm_medium=partner&utm_campaign=45107_B2C_RU_praktikum_dnp&utm_content=&utm_term=kisil-t",
          "text" : "Подробнее",
          "color" : "bg-gray-500",
          "hover_color" : "bg-gray-600"
          }'></component>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
