---
title: "Как выбрать обучение и не слить деньги"
preheader: "Лайфхаки для выбора наставника или школы"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2023-05-15-purnov.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p class="text-base bg-blue-200 py-16 px-24">Помогаем не&nbsp;затеряться в&nbsp;количестве программ обучения и&nbsp;не&nbsp;прогадать в&nbsp;выборе.</p>
        <p>Давайте на&nbsp;чистоту. Хорошее обучение зачастую стоит не&nbsp;мало. Но&nbsp;главная проблема современного онлайн-образования&nbsp;— плохое обучение стоит не&nbsp;меньше хорошего.</p>
        <p>Как выбрать&nbsp;то, что вам нужно и&nbsp;не&nbsp;потратить деньги зря? Отвечаем:</p>
        <ol>
          <li class="mb-12">На&nbsp;качественное обучение не&nbsp;набирают 1000 людей за&nbsp;один раз. Невозможно работать с&nbsp;такой большой группой, проверять домашние задания, отвечать на&nbsp;вопросы. При таком подходе вероятность того, что вас отправят в&nbsp;свободное плаванье стремится к&nbsp;100%.</li>
          <li class="mb-12">Правильный подход: сначала оценка вашего уровня знаний&nbsp;— потом предложения по&nbsp;обучающим программам. В&nbsp;серьезных онлайн-школах с&nbsp;вами всегда свяжется менеджер и&nbsp;узнает ваш уровень подготовки в&nbsp;профессии.</li>
          <li class="mb-12">Демо-доступ. Если школа отвечает за&nbsp;качество, то&nbsp;команде не&nbsp;страшно открыть доступ к&nbsp;некоторым урокам курса, чтобы показать вам подход к&nbsp;обучению, подачу информации, познакомить с&nbsp;наставником.</li>
        </ol>
        <p>Сохраняйте эти 3&nbsp;пункта и&nbsp;пользуйтесь! Онлайн-курсов много, но&nbsp;таких, которые объединяют в&nbsp;себе все эти пункты, в&nbsp;разы меньше, мы&nbsp;за&nbsp;этим следим.</p>
        <p>А&nbsp;теперь, знакомим вас с&nbsp;одной из&nbsp;таких школ.</p>
        <p class="m-0 mb-24 text-base border-dashed border-2 border-gray-500 rounded-2xl py-16 px-24"><a href="https://info-hit.ru/company-shkola-treydinga-aleksandra-purnova/" target="_blank"></a>«Школа Трейдинга и&nbsp;Инвестиций»</a> Александра Пурнова уже зарекомендовала себя системным подходом к&nbsp;обучению как новичков, так и&nbsp;опытных трейдеров и&nbsp;инвесторов.</p>
        <p>Ребята не&nbsp;стоят на&nbsp;месте. В&nbsp;2023 году они полностью переформатировали и&nbsp;усилили свою систему образования. Они открыли доступ к&nbsp;первым урокам в&nbsp;каждом своем курсе, чтобы познакомить со&nbsp;своим подходом и&nbsp;подачей их&nbsp;наставника.</p>
        <p><a href="https://info-hit.ru/author-purnov-aleksandr/" target="_blank">Александр Пурнов</a> на&nbsp;бирже более 15&nbsp;лет&nbsp;и, главное, что он&nbsp;доносит до&nbsp;каждого: на&nbsp;бирже нет легких денег, это профессия, которой нужно учиться.</p>
        <p>Его стиль подходит не&nbsp;каждому, а&nbsp;только тем, кто готов работать. «Легких денег здесь не&nbsp;ждите»&nbsp;— говорит Александр.</p>
        <p>Немного грубо, зато честно. </p>
        <p>Вот, что говорят об&nbsp;уроках&nbsp;те, кто уже их&nbsp;посмотрел:</p>
          <p><img style="border: 2px solid rgb(150, 167, 234)" src="https://info-hit.ru/include/images/letter/2023-05-15-opinion-about-purnov.jpg" alt=""></p>
          <p><img style="border: 2px solid rgb(150, 167, 234)" src="https://info-hit.ru/include/images/letter/2023-05-15-opinion-about-purnov2.jpg" alt=""></p>
          <p><img style="border: 2px solid rgb(150, 167, 234)" src="https://info-hit.ru/include/images/letter/2023-05-15-opinion-about-purnov3.jpg" alt=""></p>
        <p>Смотрите бесплатные уроки, знакомьтесь с&nbsp;Александром и&nbsp;его методикой и&nbsp;только после этого принимайте решение!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=link&id=389",
          "text" : "Смотреть бесплатные уроки",
          "color" : "bg-gray-500",
          "hover_color" : "bg-gray-600"
          }'></component>
        <p>Даже если подход вам не&nbsp;зайдет, вы&nbsp;все равно в&nbsp;плюсе с&nbsp;новыми знаниями! Выбор всегда за&nbsp;вами!</p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">Ваш надежный партнер,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
