---
title: "Создайте многомиллионный капитал за 5 лет"
preheader: "Узнаете как на бесплатном марафоне Федора Сидорова"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
      <component src="src/components/img-block-without-link.html" locals='{
      "src" : "https://info-hit.ru/include/images/letter/2023-04-20-sidorov-marafon.jpg"
      }'></component>
      <tr>
        <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p><strong>Добрый день!</strong></p>
        <p>Начните внедрять в свою жизнь рабочие инструменты инвестирования, чтобы не:</p>
        <ul class="mt-0 mb-24">
          <li class="mb-16">идти к&nbsp;капиталу долгие годы, а&nbsp;создать его за&nbsp;<nobr>5–7 лет;</li>
          <li class="mb-16">брать кредиты и&nbsp;ипотеки на&nbsp;крупные покупки, а&nbsp;оплачивать их&nbsp;наличкой;</li>
          <li class="mb-16">мечтать о&nbsp;пассивном доходе, а&nbsp;получать его;</li>
          <li class="mb-16">терять деньги в&nbsp;финансовых пирамидах, а&nbsp;действовать безопасно и&nbsp;прибыльно;</li>
          <li class="mb-16">бояться кризисов, а&nbsp;извлекать из&nbsp;них возможности.</li>
        </ul>
        <p class="text-base bg-blue-200 py-16 px-24">Приглашаем на&nbsp;бесплатный трехдневный марафон «Первые шаги в&nbsp;инвестировании» Федора Сидорова.</p>
        <p><strong>Дата проведения:</strong> 23, 24&nbsp;и&nbsp;25&nbsp;апреля в&nbsp;20:00 по&nbsp;мск.</p>
        <p>За&nbsp;3&nbsp;дня марафона:</p>
        <ul class="mt-0 mb-24">
          <li class="mb-16">разберетесь, что такое акции, облигации, ETF-фонды и&nbsp;как&nbsp;работать с&nbsp;ними;</li>
          <li class="mb-16">поставите финансовую цель и&nbsp;будете знать, как прийти к&nbsp;ней;</li>
          <li class="mb-16">научитесь управлять деньгами и&nbsp;сохранять по&nbsp;20% каждый месяц;</li>
          <li class="mb-16">составите инвестиционный портфель с&nbsp;доходностью, которая в&nbsp;разы выше банковских вкладов;</li>
          <li class="mb-16">узнаете, как быстро нарастить капитал с&nbsp;пошаговым планом действий.</li>
        </ul>
        <p class="m-0 mb-24 text-base border-dashed border-2 border-green-500 rounded-2xl py-16 px-24">Участие в&nbsp;марафоне бесплатное, а&nbsp;навыки, которые вы&nbsp;получите&nbsp;— бесценны.</p>
        <p>Не&nbsp;упустите возможность прийти к&nbsp;абсолютно другому уровню жизни. Регистрируйтесь на&nbsp;марафон прямо сейчас!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=link&id=352",
          "text" : "Участвовать",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
          <table class="w-full">
            <tr>
              <td class="py-16">
                <div class="bg-gray-200 h-px leading-px">&zwnj;</div>
              </td>
            </tr>
          </table>
          <p class="text-base mb-36">С уважением,<br>ИнфоХит</p>
        </td>
      </tr>
      <tr>
        <td class="h-32 sm:h-24"></td>
      </tr>
      <component src="src/components/footer.html"></component>
    </fetch>
  </block>
</extends>