---
title: "Как договориться с человеком, который заранее настроен отказать"
preheader: "Узнаете на бесплатном мастер-классе Игоря Рызова"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
      "src" : "https://info-hit.ru/include/images/letter/2023-10-23-rizov-letter-2.jpg"
      }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Вы&nbsp;еще даже не&nbsp;начали приводить аргументы, а&nbsp;собеседник всем своим видом показывает, что они ему неинтересны. У&nbsp;него есть личное мнение, и&nbsp;пытаться его переубедить&nbsp;— бессмысленная затея. Поэтому нет смысла бросаться в&nbsp;лобовую, в&nbsp;такой ситуации вести себя нужно иначе.</p>
        <p class="text-base bg-gray-300 py-16 px-24">Сегодня я, Игорь Рызов, эксперт по&nbsp;переговорам, бизнес-тренер с&nbsp;<nobr>23-летним</nobr> опытом поделюсь с&nbsp;вами рекомендацией, как договориться с&nbsp;любым человеком.</p>
        <p><strong>Что происходит, когда пытаетесь переубедить?</strong></p>
        <p>Вы&nbsp;провоцируете конфликт. Проявив упорство и&nbsp;все-таки представив свои доводы, ожидаемо получите в&nbsp;ответ отрицание. Можно, конечно, не&nbsp;останавливаться, но&nbsp;желаемого результата не&nbsp;будет.</p>
        <p><strong>Как поступать с&nbsp;таким собеседником?</strong></p>
        <p>Не&nbsp;отрицайте его правоту. Если вы&nbsp;не&nbsp;сошлись во&nbsp;мнениях, не&nbsp;нужно переубеждать. Согласитесь, ведь человек в&nbsp;какой-то мере может быть прав. Лучше сказать: <i>«Да, я&nbsp;тебя понимаю. Такое тоже возможно», или «Хорошо. Твоя точка зрения имеет право на&nbsp;существование, но&nbsp;давай хотя&nbsp;бы в&nbsp;теории представим другой сценарий»</i>.</p>
        <p>После этого высказывайте свое предложение, делая упор на&nbsp;то, что это лишь гипотетический вариант.</p>
        <p>Оппонент в&nbsp;таком случае сможет с&nbsp;вами согласиться, так как это «ненастоящий» разговор. Вы&nbsp;его успокаиваете, настраиваете на&nbsp;нужный лад и&nbsp;располагаете к&nbsp;себе.</p>
        <p class="m-0 mb-24 text-base border-dashed border-2 border-red-500 rounded-2xl py-16 px-24">Помните: использовать прием необходимо в&nbsp;начале разговора, выслушав точку зрения собеседника. Если долго и&nbsp;упорно спорить, а&nbsp;потом применить эту технику, то&nbsp;она не&nbsp;сработает. Человек уже разъярен и&nbsp;момент упущен.</p>
        <p>А&nbsp;если вы&nbsp;хотите еще глубже разобраться в&nbsp;теме переговоров, приглашаю вас на&nbsp;БЕСПЛАТНЫЙ мастер-класс «Переговоры&nbsp;— это спорт. Как с&nbsp;помощью эффективного общения добиваться всего в&nbsp;жизни», который пройдет 25&nbsp;октября в&nbsp;19.00 по&nbsp;мск.</p>
        <p>Регистрируйтесь, забирайте руководство <strong>«Как стать уверенным в&nbsp;себе.&nbsp;10&nbsp;хитростей, которые работают ВСЕГДА!»</strong> и&nbsp;не&nbsp;забудьте отметить в&nbsp;своем расписании дату начала эфира.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=link&id=689",
          "text" : "Зарегистрироваться",
          "color" : "bg-gray-500",
          "hover_color" : "bg-gray-600"
          }'></component>
        <p><i>*реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
