---
title: "Эти курсы бесплатные!"
preheader: "Отличный повод прокачать свои знания и навыки"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <fetch url="https://info-hit.ru/include/tools/courses-json/?coursesArr=287917,268808,287983,292456&token=u4JTEnMNt4gdsfdfsdf345nkhjk3dfgfh556776dfdghjkluiutyrtym&v=4">
      <component src="src/components/img-block-without-link.html" locals='{
      "src" : "https://info-hit.ru/include/images/letter/2023-02-09-free-courses.jpg"
      }'></component>
      <tr>
        <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
          <component src="src/components/about-author.html" locals='{
            "name" : "Яна Колокольчикова",
            "photo" : "https://info-hit.ru/include/images/letter/yanaK.png"
            }'>
              <div class="text-base leading-24">
                <p>Добрый день!</p>
                <p class="font-semibold text-base leading-24">Это Яна из&nbsp;«ИнфоХит». Подготовила для вас подборку бесплатных курсов популярных авторов.</p>
              </div>
            </component>
          <p class="mb-24">Освоите методику создания вовлекающих видеороликов. Избавьтесь от&nbsp;болезней, денежных блоков и&nbsp;плохих привычек с&nbsp;помощью практики рейки. Научитесь принимать критику, работать с&nbsp;коллективом и&nbsp;эффективно достигать своих целей.</p>
          <p>Если давно мечтаете зарабатывать на&nbsp;маркетплейсах&nbsp;— запишитесь на&nbsp;курс Олега Карнауха. Он&nbsp;расскажет, как стать востребованным специалистом по&nbsp;продвижению на&nbsp;Ozon и&nbsp;Wildberries.</p>
          <p>В&nbsp;программе&nbsp;— только самые интересные и&nbsp;популярные направления. Убедитесь в&nbsp;этом сами.</p>
        </td>
      </tr>

      <tr>
        <td class="h-24 sm:h-16"></td>
      </tr>
      <tr>
        <td class="bg-white text-gray-800 text-base text-left px-48 py-24 sm:p-14 leading-24 rounded-2xl">
          <h3 class="mt-24 sm:mt-24">Что вас ждет в&nbsp;феврале</h3>
          <p class="mb-24">Все, что нужно для эффективного обучения: полезная теория от&nbsp;ведущих экспертов, плодотворная практика и&nbsp;классные бонусы.</p>
          <p>Выбирайте один или несколько интенсивов и&nbsp;присоединяйтесь!</p>
          <each loop="item in response.slice(0, 1)">
            <component src="src/components/course.html" locals='{
              "author" : "{{ item.RIGHTHOLDER }}",
              "title" : "{{ item.TYPE }} — {{ item.NAME }}",
              "subtitle" : "{{ item.DESC }}",
              "picture" : "https://info-hit.ru/{{ item.PICTURE }}",
              "link" : "{{ item.URL }}"
              }'>
            </component>
          </each>
          <each loop="item in response.slice(1, 2)">
            <component src="src/components/course.html" locals='{
              "author" : "{{ item.RIGHTHOLDER }}",
              "title" : "{{ item.TYPE }} — {{ item.NAME }}",
              "subtitle" : "{{ item.DESC }}",
              "picture" : "https://info-hit.ru/{{ item.PICTURE }}",
              "link" : "{{ item.URL }}"
              }'>
            </component>
          </each>
          <each loop="item in response.slice(2, 3)">
            <component src="src/components/course.html" locals='{
              "author" : "{{ item.RIGHTHOLDER }}",
              "title" : "{{ item.TYPE }} — {{ item.NAME }}",
              "subtitle" : "{{ item.DESC }}",
              "picture" : "https://info-hit.ru/{{ item.PICTURE }}",
              "link" : "{{ item.URL }}"
              }'>
            </component>
          <each loop="item in response.slice(3, 4)">
            <component src="src/components/course.html" locals='{
              "author" : "{{ item.RIGHTHOLDER }}",
              "title" : "{{ item.TYPE }} — {{ item.NAME }}",
              "subtitle" : "{{ item.DESC }}",
              "picture" : "https://info-hit.ru/{{ item.PICTURE }}",
              "link" : "{{ item.URL }}"
              }'>
            </component>
          <component src="src/components/gray-line.html"></component>
          <p class="text-base mb-36">Ваш проводник в мире онлайн-образования,<br>ИнфоХит!</p>
        </td>
      </tr>
      <tr>
        <td class="h-32 sm:h-24"></td>
      </tr>
      <component src="src/components/footer.html"></component>
    </fetch>
  </block>
</extends>
