---
title: "Важно сделать это до конца года!"
preheader: "Записаться на марафон исполнения желаний Светланы Беловой"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2023-12-22-belova.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>До&nbsp;наступления нового года остались считанные дни.</p>
        <p class="text-base bg-blue-300 py-16 px-24">Это волшебное время, когда можно оставить все невзгоды в&nbsp;прошлом и&nbsp;запустить в&nbsp;пространство намерение о&nbsp;том, что в&nbsp;следующем году все желания исполнятся и&nbsp;мы&nbsp;откроем новую, счастливую страницу жизни.</p>
        <p>Но&nbsp;как правильно загадать желания, чтобы они исполнились?</p>
        <p>Наверняка, вы&nbsp;не&nbsp;раз и&nbsp;не&nbsp;два пытались это сделать и&nbsp;ничего не&nbsp;получалось...</p>
        <p>Школа нумерологии Светланы Беловой приготовила для вас подарок&nbsp;— марафон о&nbsp;том, как загадать желание так, чтобы оно сбылось!</p>
        <p><strong>На&nbsp;марафоне:</strong></p>
        <ul>
          <li class="mb-16">разберетесь, где ваши истинные желания, а&nbsp;где навязанные манипуляторами;</li>
          <li class="mb-16">очистите пространство от&nbsp;всего, что мешает реализации задуманного;</li>
          <li class="mb-16">сформулируете желание так, чтобы оно обязательно сбылось.</li>
        </ul>
        <p>И&nbsp;останется только замереть в&nbsp;предвкушении новогоднего волшебства!</p>
        <p class="m-0 mb-24 text-base border-dashed border-2 border-yellow-500 rounded-2xl py-16 px-24">Все совершенно бесплатно! Это подарок к&nbsp;Новому году!</p>
        <p>Переходите на&nbsp;страницу акции и&nbsp;сверху нажмите на&nbsp;ссылку для получения подарка. Марафон откроется в&nbsp;личном кабинете, поэтому нужно обязательно зарегистрироваться, чтобы получить доступ.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=link&id=951",
          "text" : "Получить подарок",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <p>А&nbsp;еще вы&nbsp;можете выбрать другие подарки, если приобретете любой курс со&nbsp;страницы акции. Это курсы по&nbsp;нумерологии, кинезиологии и&nbsp;арт-терапии с&nbsp;новогодними скидками до&nbsp;80%.</p>
        <ol>
          <li class="mb-16"><strong>Числа, как знаки в&nbsp;нашей жизни</strong>&nbsp;— тема, которая волнует многих. Как трактовать повторяющиеся числа на&nbsp;часах, номера машин или домов, которые часто попадаются на&nbsp;глаза. О&nbsp;чем через числа хочет предупредить вас Вселенная. Знания из&nbsp;этого вебинара могут стать вашим карманным оракулом.</li>
          <li class="mb-16"><strong>Маркировка саморекламы</strong>&nbsp;— пошаговая видео-демонстрация каждого шага в&nbsp;личном кабинете ОРД. Формирование договора саморекламы, креативы, площадки и&nbsp;отчетность. Что нужно маркировать и&nbsp;что нет. Маркировка прямых эфиров.</li>
        </ol>
        <p>Все подарки на&nbsp;странице акции</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=link&id=951",
          "text" : "Выбрать подарок",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <p>Пусть в&nbsp;наступающем году в&nbsp;вашей жизни происходят только счастливые события!</p>
        <p><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>Школа нумерологии Светланы Беловой и&nbsp;ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
