---
title: "Нет возможности посещать фитнес-клуб — занимайтесь дома бесплатно!"
preheader: "Подборка бесплатных курсов по похудению и оздоровлению от ИнфоХит внутри"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-12-20-health-6.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Чтобы получить новые знания и&nbsp;навыки сейчас нет необходимости даже выходить из&nbsp;дома. Хвала онлайн-образованию. Хотите выучить английский&nbsp;— занимайтесь с&nbsp;онлайн-репетитором. Хотите похудеть&nbsp;— создайте индивидуальную программу тренировок и&nbsp;питания под руководством специалистов из&nbsp;онлайн-школы.</p>
        <p>И&nbsp;это можно сделать бесплатно! Нужно только ваше желание, свободное время, дисциплина и&nbsp;терпение.</p>
        <p>Выбирайте курс из&nbsp;подборки топ-бесплатных курсов про похудение и&nbsp;здоровье и&nbsp;идите к&nbsp;цели в&nbsp;своем темпе:</p>
        <ul> 
	        <li class="mb-10"><a href="https://info-hit.ru/away.php?to=course&cb=41&id=323150" target="_blank">марафон</a> о&nbsp;том, как восстановить здоровье и&nbsp;улучшить форму с&nbsp;помощью нутрициологии;</li>
	        <li class="mb-10"><a href="https://info-hit.ru/away.php?to=course&cb=41&id=246736" target="_blank">онлайн-игра</a>, главный приз в&nbsp;которой&nbsp;— ваши правильные пищевые привычки и&nbsp;стройное тело;</li>
          <li class="mb-10"><a href="https://info-hit.ru/course-pro-zdorovuyu-zhizn/" target="_blank">практикум</a> о&nbsp;здоровом рационе, лечении без лекарств и&nbsp;призом-сюрпризом для слушателей;</li>
          <li class="mb-10"><a href="https://info-hit.ru/away.php?to=course&cb=41&id=80467" target="_blank">книга</a>, которая раскроет секрет возвращения молодости и&nbsp;убережет от&nbsp;больших ошибок в&nbsp;питании;</li>
          <li class="mb-10"><a href="https://info-hit.ru/away.php?to=course&cb=41&id=300984" target="_blank">интенсив</a> о&nbsp;том, как питаться правильно в&nbsp;любом месте и&nbsp;ситуации;</li>
          <li class="mb-10"><a href="https://info-hit.ru/away.php?to=course&cb=41&id=323172" target="_blank">мини-курс</a> о&nbsp;принципах аюрведы, которые помогут каждому стать здоровым и&nbsp;стройным;</li>
          <li class="mb-10"><a href="https://info-hit.ru/away.php?to=course&cb=41&id=268060" target="_blank">практикум</a> по&nbsp;работе с&nbsp;метаболизмом и&nbsp;обменом веществ.</li>
        </ul>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>