---
title: "Недостойна, не получится, уже поздно"
preheader: "Проверяем мысли на правдивость"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-10-29-a-m-are.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p><i>Я&nbsp;недостойна.</i></p>
        <p><i>У&nbsp;меня не&nbsp;получится.</i></p>
        <p><i>Мне уже поздно.</i></p>    
        <p>Топ-3 мыслей-паразитов, которые ограничивают наши идеи, вдохновение и&nbsp;творческий поток, а&nbsp;вместе с&nbsp;тем&nbsp;— <strong>достаток, изобилие и&nbsp;новые результаты</strong>.</p>
        <p>Хотите научиться работать с&nbsp;самокритикой, страхами, навязчивыми состояниями при помощи инструментов с&nbsp;научно-доказанной эффективностью?</p>
        <p>Без воды, эзотерики и&nbsp;пустых обещаний. Только реальные кейсы и&nbsp;поддержка специалиста с&nbsp;более чем десятилетним опытом в&nbsp;сфере здоровья, психологии и&nbsp;коучинга.</p>
        <p>Топ-эксперт из&nbsp;Франции Анна Мария Аре-Буайе приглашает на&nbsp;<a href="https://info-hit.ru/away.php?to=link&id=1320" target="_blank">бесплатный <nobr>6-дневный</nobr> онлайн-практикум</a> по&nbsp;работе с&nbsp;негативными мыслями и&nbsp;убеждениями при помощи ароматов и&nbsp;эфирных масел.</p>
        <p><strong>Для кого практикум?</strong></p>
        <p><strong>Для себя:</strong> избавиться от&nbsp;негативных мыслей, улучшить концентрацию и&nbsp;эмоциональное состояние, научиться управлять своими страхами и&nbsp;сомнениями.</p>
        <p><strong>Для помогающих специалистов:</strong> интегрировать новые методы работы с&nbsp;ментальными и&nbsp;эмоциональными блоками у&nbsp;ваших клиентов.</p>
        <p><strong>После онлайн-практикума сможете:</strong></p>
        <ol>
          <li class="mb-10">Избавиться от&nbsp;навязчивых мыслей и&nbsp;перестать блокировать развитие.</li>
          <li class="mb-10">Укрепить уверенность в&nbsp;себе.</li>
          <li class="mb-10">Снизить самокритику, сомнения и&nbsp;уровень тревожности.</li>
          <li class="mb-10">Освободиться от&nbsp;страха неудачи и&nbsp;начать действовать.</li>
          <li class="mb-10">Увеличить концентрацию.</li>
          <li class="mb-10">Восстановить внутреннюю гармонию и&nbsp;баланс.</li>
          <li class="mb-10">Глубже понять свои внутренние блоки и&nbsp;барьеры.</li>
          <li class="mb-10">Развить эмоциональную устойчивость.</li>
        </ol>
        <p class="text-base bg-yellow-200 py-16 px-24">За&nbsp;6&nbsp;дней вы&nbsp;научитесь работать с&nbsp;негативными мыслями, действовать по-другому и&nbsp;мечтать о&nbsp;большем при помощи безопасного и&nbsp;эффективного метода&nbsp;— ольфактотерапии, при поддержке опытного эксперта Анны Марии Арэ-Буайе.</p>
        <p class="mb-24">Практикум уже начался, но&nbsp;сегодня вы&nbsp;еще можете зарегистрироваться.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=link&id=1320",
          "text" : "Регистрация",
          "color" : "bg-gray-500",
          "hover_color" : "bg-gray-600"
          }'></component>
        <p><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
