---
title: "Как отлепить школьника от смартфона"
preheader: "Один совет нейропсихолога поможет сохранить ребенку память, внимание и фантазию"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-09-05-ahmadullin.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Знакомая ситуация?</p>
        <p><i>Ребенок не&nbsp;выпускает телефон из&nbsp;рук. За&nbsp;уроки садится, когда 10&nbsp;раз повторю.</i></p>
        <p><i>Проснулся, сразу рука к&nbsp;телефону. Может в&nbsp;кровати еще час сидеть, пока я не&nbsp;рыкну.</i></p>
        <p><i>Забираю телефон со&nbsp;словами: «Уроки сделаешь&nbsp;— отдам». Дочь на&nbsp;ор переходит мгновенно.</i><p>
        <p>Что делать родителям, чтобы не&nbsp;выглядеть монстрами, не&nbsp;отрубать интернет и ребенок не&nbsp;озлобился еще больше?</p>
        <p  class="text-base bg-yellow-100 py-16 px-24">Есть простые минутные упражнения, которые быстро и&nbsp;надежно убирают у&nbsp;детей проблемы с&nbsp;вниманием. Заниматься можно дома за&nbsp;чаем или в&nbsp;очереди на&nbsp;кассу. Достаточно <nobr>15–20</nobr> минут в&nbsp;день. О&nbsp;них узнаете на&nbsp;бесплатном онлайн-марафоне для родителей школьников <a href="https://info-hit.ru/away.php?to=course&cb=41&id=317437" target="_blank">«Как сделать телефона меньше, а&nbsp;оценки лучше»</a>.</p>
        <p><strong>Спикер</strong>&nbsp;— педагог, психолог, автор более 40&nbsp;методик эффективного обучения детей Шамиль Ахмадуллин. Основатель крупнейшей сети школ скорочтения и&nbsp;развития памяти у&nbsp;детей.</p>
        <p>На марафоне узнаете о&nbsp;простых упражнениях, которые нравятся детям не&nbsp;меньше игры Minecraft. Нейропсихолог объяснит, как увлечь ими без криков и&nbsp;ссор. Просто повторяйте за&nbsp;ним и&nbsp;наблюдайте, как ребенок:</p>
        <ul>
          <li class="mb-10">начинает слышать вас с&nbsp;первого раза,</li>
          <li class="mb-10">постепенно отказывается от&nbsp;гаджетов,</li>
          <li class="mb-10">находит увлечения и&nbsp;перестает лениться,</li>
          <li class="mb-10">интересуется учебой и&nbsp;улучшает оценки в&nbsp;школе.</li>
        </ul>
        <p>Главное&nbsp;— после марафона ваши отношения в&nbsp;семье станут намного лучше. Телефон перестанет быть «яблоком раздора».</p>
        <p>Регистрируйтесь на бесплатный марафон по кнопке ниже. Помогите ребенку развить внимание, память и&nbsp;мышление всего за&nbsp;15&nbsp;минут в&nbsp;день.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=317437",
          "text" : "Участвовать в марафоне",
          "color" : "bg-green-500",
          "hover_color" : "bg-green-600"
          }'></component>
          <p><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
