---
title: "Набираем группу на бесплатное обучение массажу в мягких техниках"
preheader: "Самое время начать учиться"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-01-04-s-chernonog.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Когда лучше всего учиться?</p>
        <p class="text-base bg-green-200 py-16 px-24">Плюс человеческого мозга в&nbsp;том, что он&nbsp;способен учиться и&nbsp;развиваться бесконечно в&nbsp;течение всей жизни. Никогда не&nbsp;наступает возраст, в&nbsp;котором невозможно учиться новому.</p>
        <p>В&nbsp;юности мы&nbsp;часто не&nbsp;знаем, чего хотим. Поэтому хоть учиться и&nbsp;просто, но&nbsp;после окончания учебы многие ребята работают не&nbsp;по&nbsp;специальности, прыгают с&nbsp;места на&nbsp;место.</p>
        <p>А&nbsp;вот когда вы&nbsp;старше&nbsp;40, то&nbsp;у&nbsp;вас есть огромное преимущество. Вы&nbsp;уже точно знаете, что вам интересно и&nbsp;какой уровень жизни вам подходит.</p>
        <p>После 40&nbsp;— это то&nbsp;время, когда пересматриваются профессиональные интересы и&nbsp;жизненные ценности и&nbsp;появляется стойкое желание что-то поменять: уйти с&nbsp;надоевшей работы и&nbsp;научиться чему-то кардинально новому.</p>
        <p>Психологи говорят, что важно вовремя заметить в&nbsp;себе эти желания и&nbsp;исполнить&nbsp;их. Так вы&nbsp;не&nbsp;разочаруетесь в&nbsp;себе, а&nbsp;жизнь заиграет новыми красками.</p>
        <p>Так что, если вы&nbsp;давно хотели научиться массажу, то&nbsp;сейчас&nbsp;— самое время!</p>
        <p>Открываем вам уникальную возможность&nbsp;— запишитесь на&nbsp;бесплатный практический интенсив к&nbsp;Станиславу Черноногу.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=link&id=1007",
          "text" : "Регистрация + 3 видео",
          "color" : "bg-green-500",
          "hover_color" : "bg-green-600"
          }'></component>
        <p>На&nbsp;интенсиве вы&nbsp;получите не&nbsp;только новые навыки в&nbsp;области массажа и&nbsp;продаж своих услуг, но&nbsp;и&nbsp;узнаете:</p>
        <ol>
          <li class="mb-16">Как сохранить активность и&nbsp;энергию на&nbsp;долгие годы?</li>
          <li class="mb-16">Как при помощи массажа оздоравливать себя и&nbsp;близких?li>
          <li class="mb-16">Какие техники массажа самые эффективные?</li>
          <li class="mb-16">Как быстро освоить основы анатомии, чтобы делать массаж безопасно?</li>
          <li class="mb-16">Как работать без боли в&nbsp;спине, руках и&nbsp;ногах?</li>
        </ol>
        <p>Регистрируйтесь на&nbsp;практический онлайн-интенсив и&nbsp;будьте в&nbsp;теме эффективного массажа, который возвращает здоровье и&nbsp;помогает достойно зарабатывать.</p>
        <p>Выбирайте время&nbsp;— и&nbsp;до&nbsp;встречи!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=link&id=1007",
          "text" : "На интенсив",
          "color" : "bg-green-500",
          "hover_color" : "bg-green-600"
          }'></component>
        <p><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
