---
title: "Что же такое правильное питание на самом деле?"
preheader: "Разберетесь на трехдневном марафоне нутрициолога Николая Панасюка"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-09-03-getfit.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Почему Марина не&nbsp;худеет на&nbsp;ПП? 5&nbsp;заповедей стройности.</p>
        <p>Знакома&nbsp;ли вам подобная история?</p>
        <p>Марина уже месяц на&nbsp;ПП. Исправно перекусывает только яблоками, не&nbsp;ест после 18. На&nbsp;ночь пьет кефир, чтобы голод не&nbsp;мешал уснуть. Днем ест салат из&nbsp;огурцов и&nbsp;зелени, куриную грудку, отварную гречку. Всех масел избегает, да&nbsp;и&nbsp;вообще, любые жиры теперь&nbsp;— это не&nbsp;для Марины.</p>
        <p>Внимание, вопрос! Почему Марина все равно не&nbsp;худеет и&nbsp;даже немного набрала вес?</p>
        <p>И&nbsp;вот вам правда жизни... Марина:</p>
        <ul>
          <li class="mb-10">не&nbsp;считает перекусом 7&nbsp;чашек кофе с&nbsp;молоком;</li>
          <li class="mb-10">думает, что 5&nbsp;больших красных яблок за&nbsp;день&nbsp;— это полезно;</li>
          <li class="mb-10">кефир&nbsp;1% пьет и&nbsp;на&nbsp;ночь, и&nbsp;ночью литрами, чтобы голод не&nbsp;мешал спать;</li>
          <li class="mb-10">ужиная в&nbsp;17&nbsp;вечера, ложится спать во&nbsp;втором часу ночи;</li>
          <li class="mb-10">продолжает думать, что постепенно похудеет на&nbsp;таком своеобразном «ПП».</li>
        </ul>
        <p>Но&nbsp;«худеет» только здоровье Марины, а&nbsp;вместе с&nbsp;ним ее&nbsp;щитовидная железа, поджелудочная, кишечник и&nbsp;другие жизненно важные органы и&nbsp;системы организма.</p>
        <p>Марина, вы&nbsp;хотите разобраться в&nbsp;том, что такое&nbsp;ПП на&nbsp;самом деле?</p>
        <p>Интересно узнать, почему без нерафинированных масел не&nbsp;будет работать кишечник, почему 1200 ккал недостаточно даже для дюймовочки и&nbsp;как на&nbsp;самом деле должен быть выстроен режим питания стройного и&nbsp;здорового человека?</p>
        <p>Тогда приходите на&nbsp;трехдневный марафон&nbsp;— сейчас туда можно попасть бесплатно, а&nbsp;после регистрации сразу&nbsp;же получить полезный подарок!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=323166",
          "text" : "Занять место",
          "color" : "bg-green-500",
          "hover_color" : "bg-green-600"
          }'></component>
          <p><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
