---
title: "Создайте счастье через работу с подсознанием!"
preheader: "Как ⇒ узнаете на бесплатном марафоне «Чудо каждый день»"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-11-14-matari-letter-1.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Давайте угадаем.</p>
        <p><strong>Вам кажется, что в&nbsp;жизни вы&nbsp;где-то:</strong></p>
        <ul>
          <li class="mb-10">свернули не&nbsp;туда;</li>
          <li class="mb-10">сделали неверный выбор;</li>
          <li class="mb-10">хотели как лучше, а&nbsp;получилось как всегда.</li>
        </ul>
        <p>Особенно обидно, когда шанс «сам идет в&nbsp;руки». А&nbsp;вы&nbsp;проходите мимо, потому что... Да&nbsp;просто «так сложилось».</p>
        <p>Сегодня у&nbsp;вас есть возможность навсегда изменить свою жизнь. Узнать, как с&nbsp;помощью простых <strong>практик работы с&nbsp;подсознанием</strong> изменить все: отношения, доход, здоровье, ощущение «правильности» жизненного пути.</p>
        <p class="text-base bg-yellow-100 py-16 px-24">Если вы&nbsp;готовы изменить жизнь легко, без сопротивления, боли, огромных вложений, приходите на&nbsp;бесплатный онлайн-марафон <a href="https://info-hit.ru/away.php?to=course&cb=41&id=296569" target="_blank">«Чудо каждый день»</a> от&nbsp;«Института новой психологии» Анны Матари.</p>
        <p>Институт уже 8&nbsp;лет помогает своими программами менять жизнь к&nbsp;лучшему. За&nbsp;это время более миллиона людей ощутили изменения на&nbsp;себе. Более 10&nbsp;000 выпускников сделали авторский метод трансформаций Анны Матари своим профессиональным инструментом.</p>
        <p><strong>На&nbsp;онлайн-марафоне вас ждут:</strong></p>
        <ol>
          <li class="mb-0">4&nbsp;дня погружения в&nbsp;новую психологию.</li>
          <li class="mb-0">60% эфира&nbsp;— практики работы с&nbsp;подсознанием.</li>
          <li class="mb-0">4&nbsp;направления трансформации.</li>
        </ol>
        <p class="mb-24 mt-24">Присоединяйтесь сейчас!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=296569",
          "text" : "Хочу сделать свою жизнь лучше",
          "color" : "bg-red-500",
          "hover_color" : "bg-red-600"
          }'></component>
        <p class="mt-24">Дайте возможность вашим мечтам сбыться. Освойте психологические инструменты, которыми создадите свое счастье.</p>
        <p><strong>На&nbsp;марафоне узнаете:</strong></p>
        <ul>
          <li class="mb-0">как вы&nbsp;бессознательно настраиваете настоящее и&nbsp;будущее;</li>
          <li class="mb-0">что такое коллективное бессознательное, и&nbsp;как оно влияет на&nbsp;нас;</li>
          <li class="mb-0">сколько негативных сценариев заложено в&nbsp;вас уже сейчас;</li>
          <li class="mb-0">исторические причины ваших нынешних проблем;</li>
          <li class="mb-0">какие выборы мы&nbsp;делаем и&nbsp;что ими создаем;</li>
          <li class="mb-0">как создать манифест на&nbsp;лучшую жизнь.</li>
        </ul>
        <p class="m-0 mb-24 text-base border-dashed border-2 border-yellow-300 rounded-2xl py-16 px-24">Выполните практики на&nbsp;<strong>4&nbsp;важнейшие сферы: здоровье, отношения, деньги и&nbsp;самореализация.</strong> Почувствуете мгновенные изменения и&nbsp;начнете отслеживать преображения вокруг.</p>
        <p class="mb-24 mt-24">Готовы через подсознание запустить собственное волшебство? Присоединяйтесь к&nbsp;участникам по&nbsp;кнопке ниже!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=296569",
          "text" : "Записываюсь и создаю свое счастье",
          "color" : "bg-red-500",
          "hover_color" : "bg-red-600"
          }'></component>
        <p class="mt-24"><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
