---
title: "Научитесь изготавливать магические свечи с травами"
preheader: "Бесплатный открытый урок по свечной магии"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-07-18-ciganova.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Уникальное событие лета 2024!</p>
        <p class="text-base bg-yellow-200 py-16 px-24">Бесплатное обучение Свечной магии со&nbsp;Светланой Цыгановой, энерготерапевтом и&nbsp;проводником в&nbsp;мир эзотерики!</p>
        <p>На&nbsp;трехдневном марафоне познакомитесь со&nbsp;свечами, их&nbsp;магией и&nbsp;узнаете:</p>
        <ul>
          <li class="mb-10">что могут магические свечи;</li>
          <li class="mb-10">что такое настоящая Программная свеча и&nbsp;для чего она нужна каждому из&nbsp;нас;</li>
          <li class="mb-10">что такое Хроники Акаши и&nbsp;можно&nbsp;ли изменить судьбу;</li>
          <li class="mb-10">что такое Карма и&nbsp;почему она&nbsp;— причина повторяющихся негативных событий;</li>
          <li class="mb-10">как род и&nbsp;его история влияет на&nbsp;вашу жизнь и&nbsp;как его почистить;</li>
          <li class="mb-10">как избавиться от&nbsp;самых сложных и&nbsp;странных заболеваний;</li>
          <li class="mb-10">причины проблем в&nbsp;вашей жизни и&nbsp;пути их&nbsp;решения с&nbsp;помощью магических свечей.</li>
        </ul>
        <p>Примите участие в&nbsp;практических занятиях, где получите расчет своего предназначения с&nbsp;индивидуальной расшифровкой. Еще определите, тем&nbsp;ли вы&nbsp;занимаетесь и&nbsp;кто вы&nbsp;в&nbsp;мире магии.</p>
        <p class="m-0 mb-24 text-base border-dashed border-2 border-yellow-500 rounded-2xl py-16 px-24"><strong>Подарок:</strong> методическое пособие «Диагностика и&nbsp;чистка свечей» и&nbsp;«Как почистить себя от&nbsp;негатива и&nbsp;снять энергетическую усталость».</p>
        <p>Научитесь изготавливать магические свечи с&nbsp;травами. Получите первые рецепты свечей, которые меняют будущее!</p>
        <p>Узнайте бесплатно секреты Свечной магии, которые обычно даются только в&nbsp;платном формате.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=321716",
          "text" : "Участвовать бесплатно",
          "color" : "bg-gray-500",
          "hover_color" : "bg-gray-600"
          }'></component>
          <p><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
