---
title: "Открыт набор на курс «Формула идеального секса»"
preheader: "Все тонкости сексуального мастерства в одиннадцати модулях"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-09-30-womans-courses-5.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p><strong>Добрый день!</strong></p>
        <p>Надеемся, вам удалось принять участие в&nbsp;бесплатном марафоне. Тогда вы&nbsp;уже знаете, что основа долгих и&nbsp;счастливых отношений&nbsp;— качественный и&nbsp;регулярный интим. Как&nbsp;же этого добиться? Соблюдайте три правила:</p>
        <ul>
          <li class="mb-10">раскрепоститесь,</li>
          <li class="mb-10">выпустите свою эротичность и&nbsp;притягательность,</li>
          <li class="mb-10">научитесь чувствовать потребности своего тела и&nbsp;тела партнера.</li>
        </ul>
        <p>Если с&nbsp;каким-то пунктом еще остались сложности, приходите на&nbsp;курс сексолога Оксаной Бачинской.</p>
        <p><strong>За&nbsp;три месяца&nbsp;вы:</strong></p>
        <ul>
          <li class="mb-10">изучите техники разных видов секса;</li>
          <li class="mb-10">разберете механизмы женского и&nbsp;мужского возбуждения и&nbsp;научитесь управлять&nbsp;им;</li>
          <li class="mb-10">научитесь делать эротический массаж;</li>
          <li class="mb-10">узнаете секрет сценария идеальной ночи.</li>
        </ul>
        <p>Спешите занять свое место на&nbsp;курсе и&nbsp;удивите своего мужчину новыми гранями сексуальности.</p>
        <p><strong>От&nbsp;ИнфоХит вы&nbsp;получите:</strong></p>
        <ul>
          <li class="mb-10">кешбэк до&nbsp;10% на&nbsp;карту или бонусами,</li>
          <li class="mb-10">рассрочку на&nbsp;оплату курса.</li>
        </ul>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=319113",
          "text" : "Записаться на курс",
          "color" : "bg-purple-500",
          "hover_color" : "bg-purple-600"
          }'></component>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
