---
title: "Начинаем дарить подарки!"
preheader: "Курсы по новогодним ценам уже доступны"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-12-18-new-year-1.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>С&nbsp;наступающим 2025&nbsp;годом!</strong></p>
        <p>Не&nbsp;откладывайте желания в&nbsp;долгий ящик. Дед Мороз авторы и&nbsp;школы на&nbsp;ИнфоХит готовы исполнять их&nbsp;на&nbsp;три счета:</p>
        <p>🎄 Раз&nbsp;— проверяйте свое избранное.</p>
        <p>🎄 Два&nbsp;— ищите скидки и&nbsp;промокоды в&nbsp;специальном разделе каталога «Новогодний SALE».</p>
        <p class="mb-32">🎄 Три&nbsp;— забирайте самые желанные курсы с&nbsp;лучшими условиями.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/catalog/filter/discount-y/",
          "text" : "Выбрать курс",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component> 
        <p class="mt-32">Благодарим за&nbsp;познавательный и&nbsp;плодотворный год вместе! </p>
        <p>Оставайтесь с&nbsp;ИнфоХит&nbsp;— дальше будет еще интереснее!</p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С любовью,<br>команда ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
