---
title: "Стройная фигура и здоровая щитовидная железа"
preheader: "Бесплатный вебинар нутрициолога Екатерины Оксенюк"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-03-25-oksenuk-2.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Миома, эндометриоз, мастопатия, ПМС&nbsp;— частые женские проблемы, c&nbsp;которыми сталкивается каждый нутрициолог.</p>
        <p>И, конечно, мы&nbsp;понимаем, что связаны они с&nbsp;гормональным дисбалансом. А&nbsp;в&nbsp;первую очередь&nbsp;— с&nbsp;нарушениями в&nbsp;работе щитовидной железы.</p>
        <p>Часто жалобы есть и&nbsp;на&nbsp;лишний вес, хроническую усталость и&nbsp;апатию.</p>
        <p>Иногда дисбаланс в&nbsp;анализах мы&nbsp;видим четко. Но&nbsp;иногда анализ на&nbsp;ТТГ в&nbsp;норме, а&nbsp;симптомы нарушений в&nbsp;работе щитовидки есть. В&nbsp;таком случае можно говорить о&nbsp;субклиническом гипотиреозе.</p>
        <p><i>Как&nbsp;же его определить? Почему он&nbsp;возникает? И&nbsp;что делать, когда нашли причину?</i></p>
        <p>Приходите на&nbsp;новый бесплатный вебинар Екатерины Оксенюк <a href="https://info-hit.ru/away.php?to=link&id=1255" target="_blank">«Восстановление щитовидной железы в&nbsp;практике нутрициолога»</a>.</p>
        <p><strong>Когда:</strong> 28&nbsp;марта в&nbsp;11:00 мск</p>
        <p><strong>Узнаете:</strong></p>
        <ol>
          <li class="mb-16">Топ-3 главных причины развития гипотиреоза.</li>
          <li class="mb-16">Как распознать проблемы с&nbsp;ЩЖ без сдачи анализов.</li>
          <li class="mb-16">«Принимаю гормоны, а&nbsp;лучше не&nbsp;становится».</li>
          <li class="mb-16">Узлы щитовидной железы&nbsp;— что делать?</li>
          <li class="mb-16">Показания и&nbsp;противопоказания к&nbsp;приему йода: когда, кому, сколько?</li>
        </ol>
        <p>Екатерина поможет разобраться в&nbsp;причинах, по&nbsp;которым ваши клиенты не&nbsp;достигают желаемых результатов в&nbsp;снижении веса, и&nbsp;понять, как на&nbsp;это влияет щитовидная железа.</p>
        <p>И&nbsp;не&nbsp;забудьте перейти в&nbsp;телеграм-канал вебинара, чтобы забрать <i>гайд «Топ самых бесполезных анализов»</i>.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=link&id=1255",
          "text" : "Участвовать бесплатно",
          "color" : "bg-green-500",
          "hover_color" : "bg-green-600"
          }'></component>
        <p><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
