---
title: "Вы рискуете заработать деньги"
preheader: "Курс по трейдингу с гарантированной эффективностью на ИнфоХит"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-09-24-zvezdin-1.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Зарабатывать на&nbsp;рынке ценных бумаг сегодня по&nbsp;силам каждому. Но&nbsp;чтобы добиться успеха в&nbsp;трейдинге самостоятельно, нужно немало времени, усилий и&nbsp;терпения.</p>
        <p>Если вы&nbsp;не&nbsp;готовы «платить» за&nbsp;опыт своими деньгами, инвестируйте их&nbsp;в&nbsp;обучение. Вы&nbsp;сможете получить результаты быстрее, если сразу начнете действовать по&nbsp;проверенным рабочим стратегиям.</p>
        <p>Именно таким эффективным методам и&nbsp;алгоритмам вы&nbsp;обучитесь на&nbsp;курсе <a href="https://info-hit.ru/away.php?to=course&cb=41&id=246878" target="_blank">«Грааль настоящего трейдинга»</a>.</p>
        <p class="text-base bg-yellow-200 py-16 px-24">Автор курса Артём Звёздин&nbsp;— квалифицированный инвестор, аттестованный Центральным банком РФ. Как настоящий профессионал, он&nbsp;не&nbsp;обещает мгновенного обогащения. Артём дает четкую последовательность действий на&nbsp;бирже, которая позволит вам заработать.</p>
        <p>Вы&nbsp;получите инструменты, созданные на&nbsp;основе пятнадцатилетнего опыта. Все методы торговли:</p>
        <ul>
          <li class="mb-10">адаптированы под современные условия;</li>
          <li class="mb-10">применимы на&nbsp;любом рынке, в&nbsp;том числе для криптовалюты;</li>
          <li class="mb-10">позволяют не&nbsp;просто сохранить, а&nbsp;приумножить ваши вложения.</li>
        </ul>
        <p>Выпускники курса получают уникальную гарантию сохранения депозита от&nbsp;«слива» и&nbsp;даже деньги в&nbsp;управление от&nbsp;наставника. Спешите занять свое место среди счастливчиков.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=246878",
          "text" : "Зарегистрироваться на курс",
          "color" : "bg-gray-500",
          "hover_color" : "bg-gray-600"
          }'></component>
        <p><strong>В&nbsp;программе курса:</strong></p>
        <ol>
          <li class="mb-10">Основные понятия и&nbsp;принципы взаимодействия с&nbsp;биржей.</li>
          <li class="mb-10">Механизмы движения цен и&nbsp;их&nbsp;анализ. Графический метод.</li>
          <li class="mb-10">Опорные точки и&nbsp;«ловушки» рынка. Как определять и&nbsp;отслеживать.</li>
          <li class="mb-10">Идеальные точки входа.</li>
          <li class="mb-10">Риск и&nbsp;мани-менеджмент.</li>
        </ol>
        <p><strong>Особенности курса:</strong></p>
        <ul>
          <li class="mb-10">подходит для новичков;</li>
          <li class="mb-10">формат видеоуроков с&nbsp;бессрочным доступом;</li>
          <li class="mb-10">четкая и&nbsp;логичная структура;</li>
          <li class="mb-10">объяснение от&nbsp;простого к&nbsp;сложному доступным языком;</li>
          <li class="mb-10">много практики, в&nbsp;том числе записи «живой» торговли;</li>
          <li class="mb-10">четыре тарифа на&nbsp;выбор;</li>
          <li class="mb-10">наличие домашних заданий с&nbsp;обратной связью куратора;</li>
          <li class="mb-10">доступна рассрочка без переплаты;</li>
          <li class="mb-10">возможность вернуть&nbsp;13% в&nbsp;виде налогового вычета.</li>
        </ul>
        <p>Присоединяйтесь к&nbsp;закрытому клубу трейдеров и&nbsp;начните зарабатывать на&nbsp;реальных сделках.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=246878",
          "text" : "Стать трейдером",
          "color" : "bg-gray-500",
          "hover_color" : "bg-gray-600"
          }'></component>
        <p><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
