---
title: "Магические курсы на ИнфоХит"
preheader: "В ваших силах улучшить свою жизнь"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-06-20-ciganova.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Спешим поделиться с&nbsp;вами удивительной историей.</p>
        <p>Вечер 17&nbsp;мая Марина запомнила. Она пришла домой. Села на&nbsp;диван. Обхватила голову руками и&nbsp;была готова плакать.</p>
        <p>Девушка строила планы и&nbsp;методично шла к&nbsp;поставленным целям. Вместе с&nbsp;мужем они переехали в&nbsp;Москву, купили двушку и&nbsp;машину в&nbsp;кредит. Собирались расширять жилплощадь и&nbsp;родить первенца.</p>
        <p>Но&nbsp;последний год как будто уперлись в&nbsp;стену. Вот и&nbsp;сегодня муж позвонил и&nbsp;сказал, что сорвалась крупная сделка. Значит премии не&nbsp;будет. А&nbsp;ведь они собирались в&nbsp;отпуск в&nbsp;круиз.</p>
        <p>Из-за постоянного стресса и&nbsp;усталости отношения в&nbsp;семье разладились. Марина отчаянно пыталась придумать, как помочь мужу и&nbsp;спасти брак.</p>
        <p>Она любила учиться и&nbsp;предпочитала онлайн-курсы на&nbsp;площадке ИнфоХит. И&nbsp;сейчас она вспомнила, что недавно видела там анонс <a href="https://info-hit.ru/course-ispolnenie-zhelaniy/" target="_blank">мастер-класса исполнения желаний от&nbsp;Светланы Цыгановой</a>.</p>
        <p>Отзывы были впечатляющие. <i>«Все изложено четко. Сформулировано и&nbsp;разложено по&nbsp;полочкам. Причем это работает. И&nbsp;это удивляет и&nbsp;восхищает. Меняется жизнь в&nbsp;лучшую сторону...»</i>,&nbsp;— писали ученики. А&nbsp;цена была сопоставима с&nbsp;парой чашек кофе. Она купила урок.</p>
        <p class="text-base bg-yellow-200 py-16 px-24">Жизнь Марины тоже начала меняться. Она не&nbsp;выиграла в&nbsp;лотерею и&nbsp;не&nbsp;получила внезапно наследство. Но&nbsp;Вселенная стала ее&nbsp;слышать и&nbsp;преподносить удачные возможности и&nbsp;способы решения проблем.</p>
        <p>Муж скептически относился к&nbsp;увлечению жены, но&nbsp;поддержал&nbsp;ее. А&nbsp;когда ему предложили партнерство в&nbsp;фирме, в&nbsp;которой он&nbsp;работал последние пять лет, то&nbsp;сомнений не&nbsp;осталось. Техники <a href="https://info-hit.ru/author-tsyganova-svetlana/" target="_blank">Светланы Цыгановой</a> работают.</p>
        <p>Марина не&nbsp;остановилась на&nbsp;этом и&nbsp;продолжила занятия у&nbsp;<a href="https://info-hit.ru/author-tsyganova-svetlana/" target="_blank">Светланы</a>. Она поняла, что может влиять на&nbsp;свою судьбу и&nbsp;события в&nbsp;жизни. На&nbsp;<a href="https://info-hit.ru/course-vysshaya-svechnaya-magiya/" target="_blank">курсе «Высшая Свечная магия»</a> Марина научилась:</p>
        <ul>
          <li class="mb-10">создавать программы для решения проблем,</li>
          <li class="mb-10">направлять энергию своей семьи на&nbsp;достижение целей,</li>
          <li class="mb-10">помогать другим людям в&nbsp;сложных ситуациях,</li>
          <li class="mb-10">зарабатывать на&nbsp;новом любимом деле.</li>
        </ul>
        <p><strong>Вы&nbsp;тоже можете:</strong></p>
        <ul>
          <li class="mb-10">делать красивые свечи из&nbsp;натуральных материалов,</li>
          <li class="mb-10">освоить техники программирования свечей на&nbsp;решение конкретных задач,</li>
          <li class="mb-10">узнать более шестисот рецептов свечей под разные запросы клиентов,</li>
          <li class="mb-10">попасть в&nbsp;круг единомышленников,</li>
          <li class="mb-10">с&nbsp;поддержкой кураторов создать клиентскую базу и&nbsp;получить стабильный доход.</li>
        </ul>
        <p>Выбирайте один из&nbsp;магических курсов Светланы Цыгановой, начинайте сами управлять событиями своей жизни и&nbsp;помогайте другим людям.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/author-tsyganova-svetlana/courses/",
          "text" : "Выбрать курс",
          "color" : "bg-purple-500",
          "hover_color" : "bg-purple-600"
          }'></component>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
