---
title: "7 бесплатных видеоуроков в подарок"
preheader: "Для старта в кондитерском деле! "
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-02-05-love-cake-1.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Как начать печь торты на&nbsp;заказ и&nbsp;иметь дополнительный заработок каждый день?</p>
        <p class="text-base bg-pink-200 py-16 px-24">Профессиональный шеф-кондитер Ольга Шмукста проводит бесплатный вебинар для начинающих кондитеров <a href="https://info-hit.ru/away.php?to=link&id=134" target="_blank">«10&nbsp;простых шагов к&nbsp;своей домашней кондитерской»</a>.</p>
        <p>Вы&nbsp;узнаете, как даже новички могут зарабатывать на&nbsp;тортах от&nbsp;40&nbsp;000&nbsp;₽ в&nbsp;месяц и&nbsp;создавать базу постоянных клиентов!</p>
        <p><strong>А&nbsp;в&nbsp;конце вебинара получите 6&nbsp;видеоуроков:</strong></p>
        <ol>
          <li class="mb-16">Вкуснейший Апельсиновый зефир.</li>
          <li class="mb-16">Морковные капкейки, которые обожают и&nbsp;взрослые, и&nbsp;дети.</li>
          <li class="mb-16">Муссовое пирожное «Хлоя» в&nbsp;виде эскимо.</li>
          <li class="mb-16">Бисквитный торт с&nbsp;шоколадным шифоновым бисквитом.</li>
          <li class="mb-16">Популярный десерт «Павлова».</li>
          <li class="mb-16">Торт из&nbsp;детства «Птичье молоко».</li>
        </ol>
        <p>Сразу после регистрации сможете забрать видеоурок и&nbsp;техкарту популярного CAKE TO&nbsp;GO&nbsp;с&nbsp;начинкой малина-облепиха.</p>
        <p>Приходите на&nbsp;вебинар и&nbsp;получите пошаговый план заработка до&nbsp;40&nbsp;000&nbsp;₽ в&nbsp;месяц на&nbsp;тортах на&nbsp;заказ!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=link&id=134",
          "text" : "Хочу зарабатывать на тортах",
          "color" : "bg-gray-500",
          "hover_color" : "bg-gray-600"
          }'></component>
        <p><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
