---
title: "Создайте свою эффективную торговую стратегию!"
preheader: "Трейдинг без убытков с курсом от ИнфоХит"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-10-31-zvezdin-4.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Многие начинающие трейдеры теряют депозит и&nbsp;терпят большие убытки на&nbsp;старте карьеры. Вместе с&nbsp;первыми неудачными инвестициями уходит интерес к&nbsp;торговле на&nbsp;бирже и&nbsp;профессии. Звучит совсем не&nbsp;оптимистично.</p>
        <p><strong>Вы&nbsp;можете застраховать себя от&nbsp;такого развития событий, если будете:</strong></p>
        <ul>
          <li class="mb-10">рассчитывать риски,</li>
          <li class="mb-10">прогнозировать поведение рынка,</li>
          <li class="mb-10">использовать работающие инструменты и&nbsp;стратегии.</li>
        </ul>
        <p class="mb-24">Эти и&nbsp;другие секреты заработка на&nbsp;трейдинге вы&nbsp;узнаете на&nbsp;курсе <a href="https://info-hit.ru/away.php?to=course&cb=41&id=246878" target="_blank">«Грааль настоящего трейдинга»</a> легендарного эксперта, аттестованного Центральным банком России, Артёма Звёздина.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=246878",
          "text" : "Стать трейдером",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <p class="mt-24">В&nbsp;уроках просто и&nbsp;доступно раскрыто все, что казалось вам сложным. Вы&nbsp;научитесь:</p>
        <ul>
          <li class="mb-10">находить оптимальную точку входа,</li>
          <li class="mb-10">понимать, когда закрывать сделку,</li>
          <li class="mb-10">зарабатывать на&nbsp;рынке на&nbsp;пассиве.</li>
        </ul>
        <p>А&nbsp;еще все ученики курса получают уникальную гарантию от&nbsp;слива депозита.</p>
        <p class="text-base bg-yellow-200 py-16 px-24">Вот почему тысячи трейдеров выбирают обучение у&nbsp;Артёма Звёздина, работают по&nbsp;его методике и&nbsp;получают доход.&nbsp;40% прибыли за&nbsp;неделю&nbsp;— такие рекорды ставят лучшие ученики.</p>
        <p class="mb-24">Хотите перестать копить на&nbsp;мечту, а&nbsp;начать зарабатывать? Сейчас самое время сделать это. Ждем вас на&nbsp;курсе!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=246878",
          "text" : "Зарегистрироваться на курс",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <p class="mt-24"><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
