---
title: "Якоря прошлых жизней держат вас на месте в настоящем"
preheader: "Узнайте бесплатно, что поможет обрести благополучие и счастье именно вам"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-10-15-kroitor.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Знакомо&nbsp;ли вам ощущение, что «двери закрываются перед носом»? Должность ушла коллеге, с&nbsp;бизнесом постоянно сложности, разногласия с&nbsp;любимыми и&nbsp;чувство одиночества в&nbsp;итоге.</p>
        <p>А&nbsp;может вы&nbsp;просто стучите не&nbsp;в&nbsp;те&nbsp;двери? Раз за&nbsp;разом проживаете негативный опыт, повторяете одинаковые действия. Говорят, чтобы получить&nbsp;то, чего не&nbsp;было, нужно делать&nbsp;то, что не&nbsp;делал раньше. Но&nbsp;как выбрать этот новый путь?</p>
        <p class="text-base bg-blue-200 py-16 px-24">В&nbsp;этом поможет практика регрессии. Знания о&nbsp;своих прошлых воплощениях, о&nbsp;пути души и&nbsp;препятствиях, которые она преодолела в&nbsp;прошлом, приведут вас к&nbsp;пониманию истинных целей и&nbsp;задач в&nbsp;настоящем. Двигаясь в&nbsp;перспективном именно для вас направлении, а&nbsp;не&nbsp;гонясь за&nbsp;толпой, вы&nbsp;сможете быстро добиться успеха и&nbsp;справиться с&nbsp;трудностями.</p>
        <p>Познакомиться с&nbsp;этим видом работы с&nbsp;подсознанием можно бесплатно через тест <a href="https://info-hit.ru/away.php?to=course&cb=41&id=316930" target="_blank">«Возраст вашей души»</a> от&nbsp;психолога, гипнолога и&nbsp;регрессионного терапевта Алексея Кройтора.</p>
        <p class="mt-0"><i>Алексей&nbsp;— основатель проекта «Школа регрессии» и&nbsp;движения регрессологов в&nbsp;России. Его опыт работы более тринадцати лет и&nbsp;большое количество практики воплощаются в&nbsp;авторских учебных программах. Среди учеников школы профессиональные психологи, коучи, энергопрактики и&nbsp;обычные люди, далекие от&nbsp;этих профессий. После обучения все они узнают, как решить свои проблемы и&nbsp;помочь другим с&nbsp;помощью регрессии в&nbsp;прошлые жизни.</i></p>
        <p>Уделите пять минут своего времени и&nbsp;пройдите тест.</p>
        <p><strong>В&nbsp;результате&nbsp;вы:</strong></p>
        <ul>
          <li class="mb-10">узнаете о&nbsp;своих прошлых воплощения,</li>
          <li class="mb-10">разберетесь в&nbsp;себе,</li>
          <li class="mb-10">поймете свои главные кармические задачи,</li>
          <li class="mb-10">увидите свои сильные и&nbsp;слабые стороны,</li>
          <li class="mb-10">познакомитесь с&nbsp;регрессиями, которые помогут улучшить жизнь.</li>
        </ul>
        <p>Заполните заявку и&nbsp;получите доступ к&nbsp;уникальным бесплатным материалам прямо сейчас!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=316930",
          "text" : "Пройти тест",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <p><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
