---
title: "Куда утекает ваша энергия?"
preheader: "Узнаете на бесплатном практикуме по восковым отливкам"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-12-05-kondrashina.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Замечали за&nbsp;собой следующие состояния?</p>
        <ol>
          <i>
          <li class="mb-0">Просыпаетесь с&nbsp;утра, а&nbsp;уже нет сил. Вечером, наоборот, не&nbsp;можете уснуть.</li>
          <li class="mb-0">Срываетесь на&nbsp;близких.</li>
          <li class="mb-0">Не помните, когда уделяли время себе.</li>
          <li class="mb-0">Ухудшилось состояние кожи, в&nbsp;зеркало смотреть страшно, лицо «стекает» вниз.</li>
          <li class="mb-0">Остро реагируете на&nbsp;любое слово, сказанное в&nbsp;вашу сторону.</li>
          <li class="mb-0">Замечаете постоянную тоску, причин для которой вроде&nbsp;бы&nbsp;нет.</li>
        </i>
        </ol>
        <p>Если мысленно кивнули хотя&nbsp;бы на&nbsp;три пункта, вас надо спасать. Причина усталости не&nbsp;в&nbsp;рутине. Она в&nbsp;накопленном негативе, который годами не&nbsp;убирали.</p>
        <p>Мы&nbsp;ходим в&nbsp;душ каждый день, чтобы смыть грязь, запах, пот. А&nbsp;внутри свою голову от&nbsp;накопленного негатива не&nbsp;очищаем. И&nbsp;он&nbsp;начинает нас разрушать.</p>
        <p>Хорошая новость&nbsp;— убрать его можно буквально за&nbsp;один день. Пройдет не&nbsp;только усталость, но&nbsp;даже болезни, потому что в&nbsp;нашем организме все тесно связано. Сделать это можно при помощи обычного воска. Подробно узнаете об&nbsp;этом на&nbsp;<a href="https://info-hit.ru/away.php?to=course&cb=41&id=324682" target="_blank">бесплатном практикуме по&nbsp;восковым отливкам</a>.</p>
        <p class="mb-24">Нажимайте на&nbsp;кнопку, чтобы зарегистрироваться.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=324682",
          "text" : "Стать здоровой и счастливой",
          "color" : "bg-purple-500",
          "hover_color" : "bg-purple-600"
          }'></component>
        <p class="mt-24"><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
