---
title: "В косметологию — без медицинского образования?"
preheader: "Да, можно! Рассказываем как"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-11-22-gordeeva.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Можно&nbsp;ли работать в&nbsp;косметологии, не&nbsp;имея медицинского диплома?</p>
        <p>Да! Абсолютно легально.</p>
        <p>Но&nbsp;с&nbsp;правильными документами.</p>
        <p>Жаль, что об&nbsp;этом знают не&nbsp;все, кто обучает будущих специалистов. В&nbsp;итоге мастера сталкиваются с&nbsp;неприятными сюрпризами&nbsp;— штрафами и&nbsp;проверками.</p>
        <p>И&nbsp;это не&nbsp;единственное, что может ввести в&nbsp;заблуждение новичка и&nbsp;заставить его отказаться от&nbsp;своей мечты стать бьюти-специалистом...</p>
        <p>А&nbsp;ведь в&nbsp;косметологии действительно можно достойно зарабатывать и&nbsp;развиваться с&nbsp;нуля! Без медицинского диплома и&nbsp;сверхвложений. Это не&nbsp;просто слова, а&nbsp;доказанный практический опыт Анны Гордеевой&nbsp;— врача, косметолога, основателя школы косметологии, и&nbsp;ее&nbsp;выпускников.</p>
        <p>Если вам интересна тема косметологии и&nbsp;вы&nbsp;хотите начать карьеру в&nbsp;этой сфере, то&nbsp;вам нужна достоверная информация, которая поможет создать объективную картину и&nbsp;верное впечатление о&nbsp;будущей профессии.</p>
        <p><strong>Приходите на&nbsp;бесплатный онлайн-интенсив Анны Гордеевой <a href="https://info-hit.ru/away.php?to=course&cb=41&id=309891" target="_blank">«Как стать косметологом»</a>, чтобы всего за&nbsp;1&nbsp;день разобраться:</strong></p>
        <ol>
          <li class="mb-10">Как стартовать с&nbsp;нуля с&nbsp;минимальными вложениями.</li>
          <li class="mb-10">Какие документы нужны.</li>
          <li class="mb-10">Какие процедуры может делать специалист без мед.диплома.</li>
          <li class="mb-10">На&nbsp;какой доход рассчитывать.</li>
          <li class="mb-10">Как быстро окупить вложения.</li>
          <li class="mb-10">О&nbsp;каких юридических моментах надо знать заранее.</li>
          <li class="mb-10">Где и&nbsp;как найти первых клиентов.</li>
        </ol>
        <p class="mt-24 mb-24"><strong>А&nbsp;во&nbsp;второй день вас ждет практика&nbsp;— настоящий комплексный уходовый протокол с&nbsp;демонстрацией на&nbsp;модели!</strong> В&nbsp;дальнейшем вы&nbsp;легко сможете повторить его на&nbsp;себе или на&nbsp;подруге.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=309891",
          "text" : "Записаться на интенсив",
          "color" : "bg-pink-500",
          "hover_color" : "bg-pink-600"
          }'></component>
        <p class="mt-24"><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
