---
title: "Кундалини под одеялом"
preheader: "Открытый урок о гибкости, молодости и здоровье"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-10-08-lopatina.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p class="text-base bg-purple-300 py-16 px-24">Приглашаем на&nbsp;открытый урок эксклюзивного интенсива <a href="https://info-hit.ru/away.php?to=course&cb=41&id=323653" target="_blank">«Кундалини под одеялом»</a>.</p>
        <p>Познакомитесь с&nbsp;основными традициями кундалини йоги, выполните эффективные практики и&nbsp;раскроете те&nbsp;аспекты, которые нуждаются в&nbsp;проработке именно сейчас.</p>
        <p><strong>Что вас ждет на&nbsp;уроке:</strong></p>
        <ul>
          <li class="mb-10">практика-антистресс, чтобы снять напряжение и&nbsp;наполнить себя энергией;</li>
          <li class="mb-10">практики для гибкости позвоночника, молодости и&nbsp;здоровья тела;</li>
          <li class="mb-10">дыхательные техники, которые разжигают огонь пищеварения и&nbsp;способствуют снижению веса;</li>
          <li class="mb-10">медитация, пробуждающая творческую энергию через женский аспект.</li>
        </ul>
        <p><strong>Что вы&nbsp;получите:</strong></p>
        <ul>
          <li class="mb-10">восстановите внутренний баланс и&nbsp;перестанете терять энергию;</li>
          <li class="mb-10">улучшите сексуальное здоровье и&nbsp;обретете уверенность;</li>
          <li class="mb-10">проработаете внутренние установки и&nbsp;блоки;</li>
          <li class="mb-10">обретете точки опоры, ясности и&nbsp;эмоциональной устойчивости.</li>
        </ul>
        <p>Присоединяйтесь к&nbsp;«Кундалини под одеялом» под чутким руководством нашего тренера&nbsp;— Натальи Лопатиной, специалиста в&nbsp;области кундалини йоги с&nbsp;<nobr>10-летним</nobr> опытом и&nbsp;сертифицированным сексологом, которая поможет почувствовать связь с&nbsp;истинной природой.</p>
        <p class="m-0 mb-24 text-base border-dashed border-2 border-red-400 rounded-2xl py-16 px-24">Этот урок станет началом пути к&nbsp;принятию и&nbsp;процветанию, помогая вам найти гармонию с&nbsp;собой и&nbsp;миром вокруг.</p>
        <p>Не&nbsp;упустите шанс открыть таинства, сокрытые под вашим личным «одеялом».</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=323653",
          "text" : "Иду на открытый урок",
          "color" : "bg-purple-500",
          "hover_color" : "bg-purple-600"
          }'></component>
        <p><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
