---
title: "Создайте многомиллионный капитал за 5 лет"
preheader: "Как — узнаете на бесплатном тренинге Федора Сидорова"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-02-08-sidorov.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>За&nbsp;последние <nobr>2–3</nobr> года уйма возможностей по&nbsp;финансовому взлету пролетели мимо вас. И&nbsp;это&nbsp;— не&nbsp;громкое заявление, чтобы запугать. А&nbsp;сухой факт.</p>
        <p>Например, рост некоторых акций после февраля прошлого года достигал 100%.</p>
        <p>С&nbsp;2020 года десятки людей становились миллионерами с&nbsp;полного нуля&nbsp;— просто грамотно найдя «точки приложения усилий».</p>
        <p>Даже в&nbsp;пандемию, кто&nbsp;бы мог подумать, рост некоторых компаний шел по&nbsp;дням&nbsp;— и&nbsp;многие смогли на&nbsp;этом заработать.</p>
        <p>А&nbsp;прямо сейчас, после поднятия ставки&nbsp;— феноменальные доходности по&nbsp;облигациям. Самый безопасный инструмент, который дает <nobr>14–15%</nobr> годовых. Вы&nbsp;и&nbsp;на&nbsp;него хотите закрыть глаза?</p>
        <p>Представьте, насколько мозг порой играет в&nbsp;игры против нас. Мы, вроде, понимаем, что нужно сделать один простой шаг, чтобы попасть на&nbsp;крайне доходный рынок и&nbsp;в&nbsp;корне поменять балансы своих счетов. Но&nbsp;находим отговорки, взращиваем страхи и&nbsp;ссылаемся на&nbsp;чей-то неудачный опыт.</p>
        <p>На&nbsp;рынке инвестиций очень сложно уйти в&nbsp;минус на&nbsp;долгосрочной дистанции. Если знать законы рынка и&nbsp;следовать проверенным стратегиям. Это как пытаться найти заднюю передачу на&nbsp;мотоцикле&nbsp;— ее&nbsp;там просто нет.</p>
        <p class="m-0 mb-24 text-base border-dashed border-2 border-green-400 rounded-2xl py-16 px-24">Финансовый рынок складывался десятилетиями. И&nbsp;пережил не&nbsp;один кризис, чуму, войну и&nbsp;потоп. И&nbsp;тем более переживет любые события в&nbsp;нынешних реалиях&nbsp;— а&nbsp;скорее всего, подарит новые возможности для еще большего заработка.</p>
        <p>К&nbsp;слову, даже кризис 2014&nbsp;года, который многие называли одним из&nbsp;крупнейших в&nbsp;истории экономики, позволил заработать до&nbsp;72% на&nbsp;инвестициях в&nbsp;валюту.</p>
        <p>Не&nbsp;ждите следующего шокирующего случая, когда придется хвататься за&nbsp;голову и&nbsp;срочно искать способы «не&nbsp;потерять нажитое».</p>
        <p>Начните сейчас. Спокойно. Уверенно. И&nbsp;гарантированно.</p>
        <p class="text-base bg-blue-200 py-16 px-24">Приходите на&nbsp;бесплатный трехдневный тренинг Федора Сидорова <a href="https://info-hit.ru/away.php?to=link&id=1128" target="_blank">«Первые шаги в&nbsp;инвестировании»</a>.</p>
        <p><strong>Когда:</strong> 11&nbsp;февраля в&nbsp;20:00 мск</p>
        <p>Узнайте, как вложив сегодня 5000&nbsp;₽ через пять лет можно получить капитал в&nbsp;<nobr>3–5 миллионов.</nobr> Даже если до&nbsp;этого вы&nbsp;ничего не&nbsp;знали об инвестициях.</p>
        <p>Один день&nbsp;— один массивный блок с&nbsp;тонной полезной информации без воды.</p>
        <p><strong>Программа тренинга:</strong></p>
        <ol>
          <li class="mb-16"><strong>В&nbsp;первый день поставите большие финансовые цели.</strong> И&nbsp;разберете в&nbsp;деталях шаги и&nbsp;действия начинающего инвестора. Узнаете, как купить машину, квартиру, исполнить мечту в&nbsp;пять раз быстрее, чем обычный человек.</li>
          <li class="mb-16"><strong>Во&nbsp;второй день выберете инструменты инвестирования.</strong> Разберете, чем отличаются самые эффективные способы приумножения денег: акции компаний&nbsp;РФ и&nbsp;США, облигации, ETF-фонды, драгоценные металлы или криптовалюты.</li>
          <li class="mb-16"><strong>А&nbsp;в&nbsp;третий день сделаете непосредственные шаги в&nbsp;самом инвестировании.</strong> Увидите в&nbsp;реальном времени, что нужно сделать, чтобы прийти к&nbsp;внушительному капиталу через <nobr>5–7 лет,</nobr> даже не&nbsp;имея за&nbsp;душой сейчас ничего.</li>
        </ol>
        <p>И, вишенка на&nbsp;торте&nbsp;— в&nbsp;конце тренинга будет розыгрыш подарков на&nbsp;сумму более 50&nbsp;000&nbsp;₽.</p>
        <p>Тренинг&nbsp;— самый простой и&nbsp;первый шаг, чтобы заложить фундамент финансового благополучия на&nbsp;всю жизнь.</p>
        <p><i>А&nbsp;если вы&nbsp;еще сомневаетесь&nbsp;— каждый участник сразу после регистрации получит бонус: «ТОП-25 финансовых лайфхаков». Это сборник фишек, которые помогут экономить до&nbsp;20&nbsp;000&nbsp;₽ каждый месяц.</i></p>
        <p>Зарегистрируйтесь прямо сейчас и&nbsp;подтвердите свое участие по ссылке ниже.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=link&id=1128",
          "text" : "Зарегистрироваться",
          "color" : "bg-green-500",
          "hover_color" : "bg-green-600"
          }'></component>
        <p><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
