---
title: "Где талию делать будем?"
preheader: "Онлайн-игра для тех, кто хочет нравиться себе в зеркале"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-01-25-tureckaya-4.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p><i>«Где талию делать будем?»</i>&nbsp;— повторяла мама старую портновскую шуточку.</p>
        <p><i>«Ты&nbsp;— вся в&nbsp;меня, квадратная»</i>,&nbsp;— говорил папа.</p>
        <p><i>«Жиртрест!»</i>&nbsp;— дразнили в&nbsp;школе.</p>
        <p>Всю осознанную жизнь я&nbsp;воюю с&nbsp;наличием живота и&nbsp;отсутствием талии.</p>
        <p>Выпирающий «балкон», пара складок на&nbsp;боках&nbsp;— и, вот, ты&nbsp;больше похожа на&nbsp;гусеницу, чем на&nbsp;женщину. Чтобы спрятать это, требовался чехол от&nbsp;танка, из-под которого торчат ножки.</p>
        <p>И&nbsp;даже твой тренер и&nbsp;врач-эндокринолог не&nbsp;стесняются шутить на&nbsp;тему складок тут и&nbsp;там.</p>
        <p>Со&nbsp;спортом, кстати, тоже не&nbsp;клеится. Ну&nbsp;как такой колобок переступит порог спортзала?! Фитоняшки засмеют. И&nbsp;поесть лучше без свидетелей, чтобы не&nbsp;давиться под укоризненными взглядами: «Куда тебе с&nbsp;такими габаритами еще и&nbsp;есть?!»</p>
        <p>Я&nbsp;была уверена, что из-за моей фигуры меня никто не&nbsp;полюбит, со&nbsp;мной никто не&nbsp;захочет дружить, и&nbsp;уважать меня тоже не&nbsp;станут, потому что встречают по&nbsp;фигуре.</p>
        <p>Попробовала полюбить себя такой, какая есть. И&nbsp;устремилась к&nbsp;идеальной форме... шара +20&nbsp;килограммов.</p>
        <p>Любить себя оказалось тяжело в&nbsp;прямом смысле этого слова.</p>
        <p>Я&nbsp;была на&nbsp;перекрестке двух дорог: продолжить накапливать жирок или смириться с&nbsp;тяжелыми тренировками и&nbsp;строгим контролем питания на&nbsp;всю оставшуюся жизнь.</p>
        <p>И&nbsp;в&nbsp;это время обнаружился неочевидный третий путь: сначала разобраться с&nbsp;головой.</p>
        <p><i>Почему я&nbsp;вечно «точу» что-нибудь вкусненькое?</p></i>
        <p><i>Почему тренировки выматывают, унижают и&nbsp;обижают меня, и&nbsp;эти обиды я&nbsp;тоже заедаю?</i></p>
        <p><i>Можно&nbsp;ли эти привычки изменить, если я&nbsp;— не&nbsp;железный человек, а&nbsp;нормальный, у&nbsp;которого сила есть, воля есть, а&nbsp;силы воли нет?</i></p>
        <p>Удивительно, но&nbsp;это оказалось возможно. Я&nbsp;познакомилась с&nbsp;системой Галины Турецкой&nbsp;— психолога, автора системы похудения с&nbsp;клинически доказанным результатом.</p>
        <p>Галина помогает разобраться в&nbsp;настоящих причинах лишнего веса. Оказалось, что булочки на&nbsp;ночь&nbsp;— не&nbsp;причина, а&nbsp;следствие.</p>
        <p>И&nbsp;с&nbsp;ее&nbsp;помощью стройность становится привычной частью жизни, даже если до&nbsp;этого вы&nbsp;поставили на&nbsp;себе крест, потому что:</p>
        <ul>
          <li class="mb-16">всю жизнь мучаюсь лишними килограммами;</li>
          <li class="mb-16">после родов&nbsp;— бесполезно;</li>
          <li class="mb-16">у&nbsp;меня гормональный сбой, щитовидка, кость широкая;</li>
          <li class="mb-16">в&nbsp;моем возрасте не&nbsp;худеют.</li>
        </ul>
        <p>Все участники <a href="https://info-hit.ru/away.php?to=link&id=877" target="_blank">бесплатной игры «Пока, бока!»</a> запустят установку на&nbsp;стройность! И&nbsp;начнут точить талию, а&nbsp;не&nbsp;очередную булку.</p>
        <p>Легко. Весело. С&nbsp;помощью психологических упражнений вместо приседания со&nbsp;штангой.</p>
        <p><strong>В программе:</strong></p>
        <ul>
          <li class="mb-16">3&nbsp;дня «полного погружения» и&nbsp;глубокой трансформации;</li>
          <li class="mb-16">3&nbsp;увлекательных игровых задания навстречу со&nbsp;своей стройностью;</li>
          <li class="mb-16">3&nbsp;мощных практических эфира от&nbsp;Галины Турецкой;</li>
          <li class="mb-16">бонусы, подарки для самых активных.</li>
        </ul>
        <p>Осторожно! Игра имеет побочный эффект.</p>
        <p class="text-base bg-pink-200 py-16 px-24">Можно случайно и&nbsp;незаметно НАЧАТЬ правильно питаться. ПОЛЮБИТЬ себя. ОБНОВИТЬ гардероб, потому что одежда стала великовата.</p>
        <p>И&nbsp;начать НРАВИТЬСЯ себе в&nbsp;зеркале даже в&nbsp;купальнике.</p>
        <p>Рискнете?</p>
        <p>Занять свое место на&nbsp;ней можно по&nbsp;ссылке ниже.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=link&id=877",
          "text" : "Хочу полюбить себя",
          "color" : "bg-green-500",
          "hover_color" : "bg-green-600"
          }'></component>
        <p><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
