---
title: "Получите скидку 89% на обучение коучингу в Академии 2WIN!"
preheader: "Акционное предложение действует до 15 апреля"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-04-02-2WIN.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p class="text-base bg-blue-200 py-16 px-24">Рады сообщить, что наш партнер, Международная Академия бизнес-коучинга 2WIN, приготовила супер предложение специально для учеников ИнфоХит!</p>
        <p>Академия бизнес-коучинга 2WIN готовит профессиональных коучей по&nbsp;международным стандартам ICF с&nbsp;2018&nbsp;года. Диплом Академии 2WIN признан в&nbsp;почти в&nbsp;150 странах мира.</p>
        <p>В&nbsp;Академию 2WIN приходят руководители, предприниматели, ТОП-менеджеры, чтобы усилить свою экспертизу с&nbsp;помощью коучинга.</p>
        <p>Обучение проходит в&nbsp;малых группах, к&nbsp;каждому студенту персональный подход.</p>
        <p>82% практики и&nbsp;только&nbsp;18% теории, коучинговые навыки встраиваются в&nbsp;жизнь и&nbsp;работу каждого.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=link&id=1259",
          "text" : "Узнать больше об академии",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component> 
        <p>Сейчас у&nbsp;вас есть возможность попробовать себя в&nbsp;роли коуча на&nbsp;программе «Тест-драйв профессии коуч» всего за&nbsp;990&nbsp;₽ вместо <s>8900&nbsp;₽</s>.</p>
        <p><strong>Как получить скидку</strong></p>
        <ul>
          <li class="mb-16">пройдите по&nbsp;<a href="https://info-hit.ru/away.php?to=link&id=1259" target="_blank">ссылке</a>;</li>
          <li class="mb-16">введите промокод HIT;</li>
          <li class="mb-16">пройдите тест-драйв со&nbsp;скидкой!</li>
        </ul>
        <p><strong>Программа Тест-драйв от&nbsp;Академии 2WIN включает:</strong></p>
        <ol>
          <li class="mb-16">Уроки и&nbsp;занятия первых двух недель обучения профессиональному коучингу международного уровня ICF.</li>
          <li class="mb-16">Личную встречу с&nbsp;коучем, на&nbsp;которой вы&nbsp;поработаете над вашими целями и&nbsp;поймете, как строятся коуч-сессии.</li>
          <li class="mb-16">Живое практическое занятие в&nbsp;группе <nobr>2–3 человека,</nobr> где вы&nbsp;будете в&nbsp;роли коуча, клиента и&nbsp;наблюдателя: получите обратную связь от&nbsp;наставника и&nbsp;сможете понять, насколько вам подходит эта профессия.</li>
        </ol>
        <p>В&nbsp;результате тест-драйва, всего за&nbsp;2&nbsp;недели вы&nbsp;получите базовые навыки коуча и&nbsp;сможете применять их&nbsp;в&nbsp;работе!</p>
        <p>Это уникальная возможность для тех, кто хотел примерить роль коуча на&nbsp;себя, понять, подходит&nbsp;ли профессия и&nbsp;познакомиться с&nbsp;Академией 2WIN. А&nbsp;еще окунуться в&nbsp;атмосферу живых встреч с&nbsp;профессионалами, а&nbsp;не&nbsp;просто смотреть уроки в&nbsp;записи.</p>
        <p class="m-0 mb-24 text-base border-dashed border-2 border-blue-500 rounded-2xl py-16 px-24">Акция действует с&nbsp;1&nbsp;по&nbsp;15&nbsp;апреля включительно.</p>
        <p>Чтобы прямо сейчас занять ваше место на&nbsp;«Тест-драйве» по&nbsp;стоимости 990&nbsp;₽, переходите по&nbsp;ссылке ниже.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=link&id=1259",
          "text" : "Записаться со скидкой",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <p><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
