---
title: "Что вы должны знать об инвестициях"
preheader: "Чек-лист от ИнфоХит ждет внутри"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-11-28-finance-2.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Стать успешным инвестором&nbsp;— это не&nbsp;просто удача, а&nbsp;результат продуманного плана и&nbsp;систематического подхода. Дарим чек-лист начинающего инвестора, который поможет уверенно войти в&nbsp;мир новых финансовых возможностей.</p>
        <p><strong>Семь простых правил, которые дадут уверенность на&nbsp;фондовом рынке:</strong></p>
        <ol>
          <li class="mb-12"><strong>Инвестировать можно в&nbsp;любое время.</strong> Даже кризис дает большие возможности заработать специалистам. Покупайте «на&nbsp;дне» и&nbsp;получайте высокую доходность.</li>
          <li class="mb-12"><strong>Для инвестиций новичкам не&nbsp;нужен большой стартовый капитал.</strong> Профессионалы рекомендуют начинать с&nbsp;небольших сумм, чтобы попробовать механизмы на&nbsp;практике и&nbsp;получить первые результаты. Инвестируйте на&nbsp;старте в&nbsp;простые активы и&nbsp;постепенно расширяйте портфель.</li>
          <li class="mb-12"><strong>Кредиты&nbsp;— не&nbsp;помеха для финансовых вложений.</strong> Достаточно оценить их&nbsp;нагрузку на&nbsp;ваш бюджет и&nbsp;четко распределить средства. Например, 5000&nbsp;₽ на&nbsp;долги, 1000&nbsp;₽ на&nbsp;инвестиции, 1000&nbsp;₽ «на&nbsp;будущее».</li>
          <li class="mb-12"><strong>Работать с&nbsp;брокером проще, но&nbsp;лучше изучить тему инвестиций самостоятельно.</strong> Так вы&nbsp;сможете контролировать действия консультанта и&nbsp;принимать самостоятельные решения в&nbsp;случае необходимости.</li>
          <li class="mb-12"><strong>В&nbsp;начале работы с&nbsp;фондовым рынком диверсифицируйте портфель.</strong> Предпочтительными для новичков остаются облигации федерального займа. Они&nbsp;— самые безопасные. К&nbsp;ним можно добавлять акции компаний широкого рынка. Когда появятся понимание и&nbsp;опыт&nbsp;— пробуйте акции голубых фишек.</li>
          <li class="mb-12"><strong>С&nbsp;полученной прибыли придется заплатить налоги.</strong> Но&nbsp;не&nbsp;бойтесь сложных процедур&nbsp;— этот вопрос можно поручить брокеру. А&nbsp;еще ознакомьтесь с&nbsp;перечнем льгот и&nbsp;вариантами возврата уплаченных налогов.</li>
          <li class="mb-12"><strong>Можно разобраться в&nbsp;инвестировании самостоятельно, но&nbsp;эффективнее и&nbsp;быстрее пройти обучение у&nbsp;профессионалов.</strong> С&nbsp;опытным наставником&nbsp;вы:</li>
          <ul>
            <li class="mb-10">не&nbsp;утонете в&nbsp;огромном количестве информации из&nbsp;интернета;</li>
            <li class="mb-10">сразу получите работающие схемы и&nbsp;подходы;</li>
            <li class="mb-10">сэкономите деньги и&nbsp;нервы, потому что избежите типичных ошибок новичков.</li>
          </ul>
        </ol>
        <p class="mb-24">Инвестиции требуют терпения и&nbsp;долгосрочного подхода. Но&nbsp;эти шаги помогут вам подготовиться к&nbsp;началу новой деятельности и&nbsp;минимизировать риски.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/catalog/kursy-investirovaniya/",
          "text" : "Выбрать курс по инвестициям",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
