---
title: "Никакого волшебства — только магия"
preheader: "Магия карт Таро ждет вас"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-09-10-likova-segments.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p><strong>Добрый день!</strong></p>
        <p class="text-base bg-yellow-200 py-16 px-24">Приветствуем вас в&nbsp;мире магии и&nbsp;мистики, где каждое предсказание становится реальной возможностью изменить свою жизнь! А&nbsp;вашим проводником в&nbsp;этот удивительный мир будет практикующий таролог и&nbsp;автор обучающих курсов Анастасия Лыкова.</p>
        <p>Анастасия&nbsp;— эксперт в&nbsp;области эзотерики и&nbsp;автор методики, основанной на&nbsp;глубоких знаниях и&nbsp;многолетней практике. Ее&nbsp;программа <a href="https://info-hit.ru/away.php?to=course&cb=41&id=242577" target="_blank">«Мастер Таро&nbsp;2.0»</a> уже помогла сотням людей открыть для себя волшебство карт и&nbsp;научиться правильно интерпретировать их&nbsp;послания.</p>
        <component src="src/components/about-author.html" locals='{
          "name" : "Анастасия Лыкова",
          "photo" : "https://info-hit.ru/upload/resize_cache/iblock/fca/bl4edj04d5t2psehhwv2r6uf4m35iu73/220_220_2/lykova_anastasiya.jpg"
          }'>
          <p class="mt-0"><i>«Таро может заниматься каждый человек. Если у&nbsp;вас есть внутренний зов к&nbsp;эзотерике, мистическим направлениям, тогда это&nbsp;— ваше. Для этого не&nbsp;нужно иметь дар или обладать навыками видения. Таро&nbsp;— это не&nbsp;ясновидение или экстрасенсорика. Это азбука символов, где каждый символ на&nbsp;карте имеет свое значение. Зная эти символы, вы&nbsp;можете получать ответы на&nbsp;вопросы из&nbsp;информационного поля. Таролог&nbsp;— это проводник, который связывается с&nbsp;коллективным бессознательным и&nbsp;с&nbsp;помощью карт получает информацию».</i></p>
        </component>
        <p><strong>Преимущества курса «Мастер Таро&nbsp;2.0»:</strong></p>
        <ol>
          <li class="mb-10"><strong>Пошаговая система обучения:</strong> Курс специально разработан так, чтобы каждый мог легко освоить основы Таро и&nbsp;продвинутые техники.</li>
          <li class="mb-10"><strong>Практические задания и&nbsp;расклады:</strong> Вы&nbsp;будете не&nbsp;просто слушать лекции, но&nbsp;и&nbsp;применять знания на&nbsp;практике, что поможет вам быстрее закрепить полученные навыки.</li>
          <li class="mb-10"><strong>Обратная связь от&nbsp;Анастасии:</strong> Получите возможность задать вопросы и&nbsp;получить личную поддержку от&nbsp;автора курса, что значительно повысит эффективность вашего обучения.</li>
          <li class="mb-10"><strong>Сообщество единомышленников:</strong> Присоединяйтесь к&nbsp;группе, где вы&nbsp;сможете общаться с&nbsp;другими учениками, делиться опытом и&nbsp;получать вдохновение.</li>
          <li class="mb-10"><strong>Доступ к&nbsp;дополнительным материалам:</strong> Участники курса получают доступ к&nbsp;уникальным ресурсам&nbsp;— статьям, видеозаписям и&nbsp;многому другому, что поможет вам стать настоящим мастером Таро.</li>
        </ol>
        <p>Если вы&nbsp;готовы открыть для себя мир, где нет места затмению, а&nbsp;только ясность и&nbsp;понимание, присоединяйтесь к&nbsp;Анастасии Лыковой и&nbsp;ее&nbsp;курсу <a href="https://info-hit.ru/away.php?to=course&cb=41&id=242577" target="_blank">«Мастер Таро&nbsp;2.0»</a>. Сделайте шаг навстречу своему успеху&nbsp;— магия ждет вас!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=242577",
          "text" : "Зарегистрироваться",
          "color" : "bg-purple-500",
          "hover_color" : "bg-purple-600"
          }'></component>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">Ваш проводник в мир онлайн-образования,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
