---
title: "Ваш пропуск в мир трейдинга от ИнфоХит внутри"
preheader: "Зарабатывать на бирже может каждый"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-09-30-zvezdin-2.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p class="text-base bg-purple-300 py-16 px-24">Ищете пассивный источник дохода и&nbsp;хотите попробовать себя в&nbsp;торговле финансовыми инструментами, но&nbsp;боитесь потерять вложения? Приглашаем на&nbsp;практический курс <a href="https://info-hit.ru/away.php?to=course&cb=41&id=246878" target="_blank">«Грааль настоящего трейдинга»</a> от&nbsp;эксперта Артёма Звёздина.</p>
        <p><strong>Об&nbsp;авторе курса:</strong></p>
        <ul>
          <li class="mb-10">практикующий специалист с&nbsp;опытом работы более пятнадцати лет;</li>
          <li class="mb-10">квалифицированный инвестор, аттестованный Центробанком;</li>
          <li class="mb-10">создатель авторской методики, гарантирующей результат;</li>
          <li class="mb-10">трейдер, к&nbsp;мнению которого прислушиваются СМИ;</li>
          <li class="mb-10">автор «настольной» книги трейдеров, признанной лучшей по&nbsp;мнению онлайн-библиотек.</li>
        </ul>
        <p><strong>Курс подходит:</strong></p>
        <ol>
          <li class="mb-10">Для новичков и&nbsp;тех, кто уже совершал сделки на&nbsp;бирже. Структура курса позволяет начать с&nbsp;любого уровня подготовки. Вы&nbsp;получите базовые знания и&nbsp;сможете закрыть пробелы, мешающие добиваться лучших результатов.</li>
          <li class="mb-10">Для тех, кто ищет дополнительный доход, или хочет полностью сменить профессию. Вы&nbsp;сами будете решать, когда работать и&nbsp;сколько зарабатывать, не&nbsp;выходя из&nbsp;дома.</li>
        </ol>
        <p><strong>На&nbsp;курсе вы&nbsp;научитесь:</strong></p>
        <ul>
          <li class="mb-10">прогнозировать поведение рынка,</li>
          <li class="mb-10">использовать наиболее эффективные инструменты,</li>
          <li class="mb-10">применять авторские стратегии,</li>
          <li class="mb-10">работать с&nbsp;рисками и&nbsp;минимизировать&nbsp;их.</li>
        </ul>
        <p><strong>Уникальные условия от&nbsp;Артёма Звёздина:</strong></p>
        <ul>
          <li class="mb-10">гарантия от&nbsp;слива депозита на&nbsp;материалы автора,</li>
          <li class="mb-10">возможность получить деньги в&nbsp;управление после успешного прохождения обучения.</li>
        </ul>
        <p><strong>Результаты учеников:</strong></p>
        <ul>
          <li class="mb-10">каждый четвертый выпускник имеет стабильный долгосрочный доход,</li>
          <li class="mb-10">каждый десятый ученик нашел стороннего инвестора и&nbsp;работает с&nbsp;его деньгами.</li>
        </ul>
        <p>Узнайте, как получать дополнительный доход с&nbsp;помощью фондовых инструментов, и&nbsp;подберите лучшую стратегию для достижения своих целей. Старт курса уже скоро!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=246878",
          "text" : "Зарегистрироваться на курс",
          "color" : "bg-gray-500",
          "hover_color" : "bg-gray-600"
          }'></component>
        <p><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
