---
title: "Получите грант 40 000 ₽ на обучени"
preheader: "Станьте дипломированным психологом со Smart"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2024-05-20-smart-letter-2.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>По&nbsp;данным Всемирной организации здравоохранения каждый пятый человек в&nbsp;мире испытывает психологические трудности, что&nbsp;повышает спрос на&nbsp;квалифицированных специалистов в&nbsp;области ментального здоровья.</p>
        <p class="text-base bg-green-100 py-16 px-24">Если вы&nbsp;давно задумывались о&nbsp;профессии психолога, то&nbsp;сейчас самое время ее&nbsp;освоить. Онлайн-институт психологии Smart предлагает стать востребованным специалистом с&nbsp;нуля за&nbsp;14&nbsp;месяцев.</p>
        <p><strong>Основные преимущества Smart:</strong></p>
        <ol>
          <li class="mb-16">Более 400 часов работы с&nbsp;реальными клиентами под руководством опытных супервизоров.</li>
          <li class="mb-16">Официальные дипломы, признанные как в&nbsp;России, так и&nbsp;за&nbsp;рубежом, включая международный диплом MBA.</li>
          <li class="mb-16">Поддержка на&nbsp;всех этапах обучения и&nbsp;после его окончания, включая помощь в&nbsp;трудоустройстве и&nbsp;поиске первых клиентов.</li>
          <li class="mb-16">Удобный онлайн-формат, позволяющий учиться из&nbsp;любой точки мира без отрыва от&nbsp;основной деятельности.</li>
          <li class="mb-16">Членство в&nbsp;общероссийской психотерапевтической лиге (ОППЛ), что дает конкурентоспособное преимущество на&nbsp;рынке.</li>
        </ol>
        <p>Выбирая психологию, вы&nbsp;выбираете профессию, которая не&nbsp;только востребована, но&nbsp;и&nbsp;помогает делать жизни людей лучше.</p>
        <p>Сейчас вы&nbsp;можете получить грант в&nbsp;размере 40&nbsp;000&nbsp;₽ на&nbsp;частичную оплату обучения. Если вы&nbsp;давно хотели стать психологом, то&nbsp;это отличный шанс!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=281166",
          "text" : "Хочу стать психологом",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <p><i>*Реклама</i></p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
