---
title: "Почему «правильное питание» не работает?"
preheader: "Новая программа по нутрициологии – откройте секреты здоровья, энергии и баланса!"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2025-02-14-glinkina-letter-2.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Мы&nbsp;часто слышим советы по&nbsp;здоровому образу жизни: <i>«Ешьте больше овощей», «Пейте воду», «Сократите сахар»</i>.</p>
        <p>Но&nbsp;как понять, что действительно работает, а&nbsp;что&nbsp;— нет?</p>
        <ul>
          <li class="mb-10">Почему при одинаковом питании один человек набирает вес, а&nbsp;другой&nbsp;— нет?</li>
          <li class="mb-10">Какие анализы помогут выявить дефициты и&nbsp;скорректировать питание?</li>
          <li class="mb-10">Как улучшить состояние кожи, ЖКТ и&nbsp;гормонального фона через осознанный подход?</li>
        </ul>
        <p>Если эти вопросы вас волнуют, вам будет интересно узнать о&nbsp;профессиональном курсе нутрициологии от&nbsp;Академии «PRO-Здоровье».</p>
        <p class="text-base bg-blue-200 py-16 px-24">Академия обучает нутрициологов с&nbsp;2017&nbsp;года. Здесь преподают эксперты-практики, которые помогают студентам освоить нутрициологию и&nbsp;применять ее&nbsp;в&nbsp;жизни.</p>
        <p>На&nbsp;курсе <a href="https://info-hit.ru/away.php?to=course&cb=41&id=323996" target="_blank">«Клинический нутрициолог. Системный подход»</a> вы&nbsp;изучите:</p>
        <ul>
          <li class="mb-10">как работает организм и&nbsp;какие процессы в&nbsp;нем происходят;</li>
          <li class="mb-10">анализировать состояние здоровья по&nbsp;анализам,</li>
          <li class="mb-10">восполнить дефициты с&nbsp;помощью нутрицевтиков,</li>
          <li class="mb-10">питание влияет на&nbsp;гормоны, метаболизм и&nbsp;общее самочувствие,</li>
          <li class="mb-10">начать карьеру нутрициолога и&nbsp;консультировать клиентов.</li>
        </ul>
        <p><strong>Для кого этот курс?</strong></p>
        <ol>
          <li class="mb-10">Вы&nbsp;хотите заботиться о&nbsp;здоровье близких и&nbsp;питаться осознанно.</li>
          <li class="mb-10">Вы&nbsp;специалист в&nbsp;сфере wellness&nbsp;— тренер, косметолог, врач, коуч.</li>
          <li class="mb-10">Вы&nbsp;рассматриваете нутрициологию как новую профессию.</li>
        </ol>
        <p><strong>Формат обучения:</strong></p>
        <ul>
          <li class="mb-10">9&nbsp;месяцев онлайн-обучения;</li>
          <li class="mb-10">гибкий график, доступ к&nbsp;материалам 24/7;</li>
          <li class="mb-10">поддержка кураторов и&nbsp;практическая отработка знаний.</li>
        </ul>
        <p><strong>Старт программы</strong>&nbsp;— 20&nbsp;февраля!</p>
        <p class="mb-24">Количество мест ограничено! Узнайте больше:</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=323996",
          "text" : "Оставить заявку",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <p class="mt-24"><i>*Реклама</i></p> 
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
