---
title: "5 неочевидных признаков, что вы сможете стать психологом"
preheader: "Проверьте себя на бесплатном тест-драйве от института Smart"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
      "src" : "https://info-hit.ru/include/images/letter/2025-04-15-smart-letter-4.png"
      }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p><strong>Добрый день!</strong></p>
        <p>Вы&nbsp;когда-нибудь задумывались, подходит&nbsp;ли вам профессия психолога? Некоторые качества, которые кажутся обычными, на&nbsp;самом деле&nbsp;— ключевые для успешной работы с&nbsp;людьми.</p>
        <p><strong>Вы&nbsp;замечаете детали, которые другие упускают</strong></p>
        <p>Интонация, жесты, микромимика&nbsp;— вы&nbsp;улавливаете эмоции даже без слов.</p>
        <p><strong>Люди рассказывают вам больше, чем планировали</strong></p>
        <p>Знакомые, коллеги, даже случайные собеседники доверяют вам и&nbsp;делятся переживаниями.</p>
        <p><strong>Вы&nbsp;не&nbsp;бросаетесь давать советы</strong></p>
        <p>Вы&nbsp;не&nbsp;говорите «соберись» или «забудь», а&nbsp;умеете слушать и&nbsp;задавать правильные вопросы.</p>
        <p><strong>Вас интересует, как устроены люди</strong></p>
        <p>Вы&nbsp;замечаете закономерности в&nbsp;поведении, анализируете, почему люди поступают так, а&nbsp;не&nbsp;иначе.</p>
        <p><strong>Вы&nbsp;чувствуете, когда человек говорит одно, а&nbsp;чувствует другое</strong></p>
        <p>«Все нормально»&nbsp;— но&nbsp;вы&nbsp;понимаете, что нет, и&nbsp;знаете, как поддержать.</p>
        <p>Хотите проверить себя?</p>
        <p class="mb-24">Попробуйте себя в&nbsp;роли психолога на&nbsp;бесплатном тест-драйве на&nbsp;7&nbsp;дней! Записывайтесь по&nbsp;кнопке ниже и&nbsp;сделайте первые шаги в&nbsp;профессии!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=325193",
          "text" : "Попробовать бесплатно",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
        }'></component>
        <p class="mt-24"><i>*Реклама</i></p> 
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда «ИнфоХит»!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
