---
title: "100 проблем — одно решение"
preheader: "Технология скоростного исцеления жизни Владимира Вейда"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2025-01-29-veid.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Стресс&nbsp;— одна из&nbsp;актуальных проблем современного мира и&nbsp;источник болезней.</p>
        <p>Избежать стресса невозможно, но&nbsp;можно его минимизировать. Для этого нужна постоянная практика.</p>
        <p class="text-base bg-blue-200 py-16 px-24">Приглашаем на&nbsp;вебинар нейропсихолога и&nbsp;эксперта в&nbsp;области работы с&nbsp;подсознанием Владимира Вейда <a href="https://info-hit.ru/away.php?to=course&cb=41&id=322956" target="_blank">«Как&nbsp;договориться с подсознанием и улучшить свою жизнь»</a>.</p>
        <p>Этот бесплатный вебинар поможет прийти к&nbsp;жизни своей мечты и&nbsp;избавиться от&nbsp;всего, что вам мешает:</p>
        <ul>
          <li class="mb-10">засыпать и&nbsp;просыпаться с&nbsp;улыбкой на&nbsp;лице,</li>
          <li class="mb-10">жить и&nbsp;работать в&nbsp;удовольствие,</li>
          <li class="mb-10">привлекать удачу во&nbsp;всех делах,</li>
          <li class="mb-10">освободиться от&nbsp;обид и&nbsp;разочарований,</li>
          <li class="mb-10">перестать мыслить негативно и&nbsp;зависеть от&nbsp;чужого мнения,</li>
          <li class="mb-10">легко строить отношения с&nbsp;людьми,</li>
          <li class="mb-10">взять под контроль свои эмоции,</li>
          <li class="mb-10">улучшить самочувствие,</li>
          <li class="mb-10">успевать больше за&nbsp;меньшее время,</li>
          <li class="mb-10">разбудить вдохновение и&nbsp;заняться творчеством.</li>
        </ul>
        <p>Как это сделать, знает ваше подсознание. Но&nbsp;если не&nbsp;уметь правильно задавать ему вопросы, оно не&nbsp;сможет дать ответы. Поэтому жизнь вашей мечты закончится, так и&nbsp;не&nbsp;успев начаться.</p>
        <p>Можно&nbsp;ли это изменить? Да!</p>
        <p>Трудно&nbsp;ли это? Нет, потому что все необходимое у&nbsp;вас уже есть, не&nbsp;хватает только инструкции. Получить ее&nbsp;можно на&nbsp;эфире с&nbsp;Владимиром Вейдом!</p>
        <p>Зарегистрируйтесь на&nbsp;вебинар по кнопке ниже.</p>
        <p class="mb-24">Всем, кто зарегистрировался, подарок&nbsp;— практика <i>«Снятие эмоционального напряжения и&nbsp;успокоение ума»</i>.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=322956",
          "text" : "Зарегистрироваться на вебинар",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <p class="mt-24"><i>*Реклама</i></p> 
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
