---
title: "Красивый участок и прибыльная профессия за 3 дня"
preheader: "Если хотели сменить профессию, то это письмо — ваш знак"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2025-03-07-sosnovka.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день</strong></p>
        <p>Сегодня многие мечтают о&nbsp;новой профессии и&nbsp;смотрят в&nbsp;сторону IT. Но&nbsp;осваивать сложные технические навыки и&nbsp;сидеть за&nbsp;написанием кода целыми днями&nbsp;— не&nbsp;единственный путь к&nbsp;высоким доходам.</p>
        <p>Ландшафтный дизайн&nbsp;— это возможность зарабатывать от&nbsp;200&nbsp;000&nbsp;₽ уже через 6&nbsp;месяцев, создавая красоту и&nbsp;воплощая мечты людей в&nbsp;реальность.</p>
        <p class="text-base bg-green-200 py-16 px-24">Академия «Сосновка» с&nbsp;2010 года помогает ученикам освоить профессию ландшафтного дизайнера и&nbsp;выйти на&nbsp;стабильный доход. Здесь не&nbsp;только теория, но&nbsp;и&nbsp;практика&nbsp;— каждое занятие с&nbsp;обратной связью и&nbsp;разбором выполненных работ.</p>
        <p>Лучший способ попробовать себя в&nbsp;новой сфере и профессии&nbsp;— присоединиться к&nbsp;бесплатному трехдневному марафону <a href="https://info-hit.ru/away.php?to=course&cb=41&id=326161" target="_blank">«Быстрый&nbsp;старт в&nbsp;ландшафтном дизайне»</a>. Узнаете секреты создания трендового сада с&nbsp;минимальными вложениями, сможете работать удаленно и&nbsp;даже примерите роль архитектора!</p>
        <p>В&nbsp;рамках марафона создадите свой первый цветник и&nbsp;планировку сада. Еще получите полезные бонусы:</p>
        <ul>
          <li class="mb-10">каталог растений по&nbsp;цветам для создания цветников;</li>
          <li class="mb-10">готовый план озеленения участка, с&nbsp;которым можно брать заказы;</li>
          <li class="mb-10">видеоурок «Секреты планировки сада», чтобы разобраться в&nbsp;основах.</li>
        </ul>
        <p>Ландшафтный дизайн&nbsp;— это реальная возможность сменить профессию без сложных технических навыков и&nbsp;долгих лет учебы.</p>
        <p class="mb-24">Записывайтесь на&nbsp;марафон и&nbsp;сделайте первый шаг к&nbsp;мечте!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=326161",
          "text" : "Записаться на марафон",
          "color" : "bg-yellow-500",
          "hover_color" : "bg-yellow-600"
          }'></component>
        <p class="mt-24"><i>*Реклама</i></p> 
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
