---
title: "Глубокие перемены ждут каждого"
preheader: "на уникальных курсах онлайн-школы «Амальгама»"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
      "src" : "https://info-hit.ru/include/images/letter/2025-04-30-amalgama.png"
      }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p><strong>Добрый день!</strong></p>
        <p>Вы&nbsp;когда-нибудь задумывались о&nbsp;том, что мир гораздо глубже и&nbsp;удивительнее, чем кажется на&nbsp;первый взгляд? Что за&nbsp;привычными вещами скрывается нечто таинственное и&nbsp;могущественное, готовое открыться именно вам?</p>
        <p>Приглашаем вас на&nbsp;уникальные онлайн-курсы, которые помогут раскрыть скрытый потенциал и&nbsp;изменить жизнь:</p>
        <ol>
          <li class="mb-10"><a href="https://info-hit.ru/away.php?to=link&id=1380" target="_blank"><b>«Мистерии Гекаты»</b></a> уже стартовал, но&nbsp;еще можно попасть до&nbsp;9&nbsp;мая. Это путешествие в&nbsp;глубину души и&nbsp;древних знаний под руководством 11&nbsp;признанных мастеров, оккультистов и&nbsp;психологов. Получите живой контакт с&nbsp;богиней Гекатой, мощные практики и&nbsp;настоящую внутреннюю трансформацию. На&nbsp;<a href="https://www.youtube.com/watch?v=08obmtcwvUs&amp;t=1s">эфире</a>, посвященном богине, рассказали о личном опыте и&nbsp;пути.</li>
          <li class="mb-10"><a href="https://info-hit.ru/away.php?to=link&id=1381" target="_blank"><b>«Лилит»&nbsp;— врата темного восхождения»</a></b>. Погружение в&nbsp;свою тень и&nbsp;принятие собственной силы. Этот курс поможет преодолеть страхи, обрести внутреннюю свободу и&nbsp;почувствовать энергию Лилит так, как вы&nbsp;еще никогда не&nbsp;ощущали. Старт 1&nbsp;мая.</li>
          <li class="mb-10"><a href="https://info-hit.ru/away.php?to=link&id=1382" target="_blank"><b>«Русское колдовство»</a></b>. Практический курс, который научит традиционному русскому колдовству: защите, привлечению любви и&nbsp;достатка, взаимодействию с&nbsp;природой и&nbsp;духами предков.</li>
        </ol>
        <p><b>Почему стоит зарегистрироваться прямо сейчас?</b></p>
        <ul>
          <li class="mb-10">уникальные знания, которые вы&nbsp;больше нигде не&nbsp;найдете;</li>
          <li class="mb-10">ограниченное число мест, личная поддержка и&nbsp;сопровождение;</li>
          <li class="mb-10">глубокие практики и&nbsp;реальные результаты;</li>
          <li class="mb-10">возможность навсегда изменить жизнь и&nbsp;раскрыть внутреннюю силу.</li>
        </ul>
        <p>Сделайте шаг к&nbsp;своему преображению. Позвольте себе открыть дверь в&nbsp;мир, где возможно все.</p>
        <p>Регистрируйтесь прямо сейчас&nbsp;— количество мест ограничено!</p>
        <p class="mb-24">Все, кто зарегистрируется на&nbsp;платформе онлайн-школы «Амальгама» до&nbsp;1&nbsp;июня, получат курсы в&nbsp;подарок: <i>программа о&nbsp;мистическом символизме в&nbsp;кино, лекции о&nbsp;древней Месопотамии и&nbsp;западной магической традиции.</i></p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=link&id=1383",
          "text" : "Зарегистрироваться",
          "color" : "bg-purple-500",
          "hover_color" : "bg-purple-600"
        }'></component>
        <p class="mt-24 mb-24">И&nbsp;это еще не&nbsp;все. Дарим вам промокод со&nbsp;скидкой&nbsp;10% на&nbsp;все курсы, которые есть на&nbsp;платформе: <span class="border-dashed border-2 border-purple-600 rounded-lg text-lg px-8 py-3 inline-block"><b>INFOHIT10</b></span></p>
        <p class="mt-24"><i>*Реклама</i></p> 
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда «ИнфоХит»!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
