---
title: "Учитесь выгодно на ИнфоХит"
preheader: "Подборка курсов до 1000 ₽"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <fetch url="https://info-hit.ru/include/tools/courses-json/?coursesArr=327042,272949,114366,307521,303332&token=u4JTEnMNt4gdsfdfsdf345nkhjk3dfgfh556776dfdghjkluiutyrtym&v=4">
      <component src="src/components/img-block-without-link.html" locals='{
      "src" : "https://info-hit.ru/include/images/letter/2025-04-21-top-courses.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p><strong>Добрый день!</strong></p>
          <p>Новые знания&nbsp;— это не&nbsp;расходы, а&nbsp;инвестиции. Но&nbsp;они не&nbsp;должны бить по&nbsp;бюджету. Поэтому собрали курсы до&nbsp;1000&nbsp;₽, которые:</p>
          <ul>
            <li class="mb-10">помогут сменить профессию или прокачать текущую;</li>
            <li class="mb-10">стоят как пару стаканчиков кофе навынос;</li>
            <li class="mb-10">подходят для учебы между делом.</li>
          </ul>
          <p class="mt-24 mb-32">Выбирайте&nbsp;то, что вдохновляет именно вас!</p>
          <each loop="item in response.slice(0, 1)">
            <component src="src/components/course.html" locals='{
              "author" : "{{ item.RIGHTHOLDER }}",
              "title" : "{{ item.TYPE }} — {{ item.NAME }}",
              "subtitle" : "{{ item.DESC }}",
              "picture" : "https://info-hit.ru/{{ item.PICTURE }}",
              "link" : "{{ item.URL }}"
              }'>
            </component>
          </each>
          <each loop="item in response.slice(1, 2)">
            <component src="src/components/course.html" locals='{
              "author" : "{{ item.RIGHTHOLDER }}",
              "title" : "{{ item.TYPE }} — {{ item.NAME }}",
              "subtitle" : "{{ item.DESC }}",
              "picture" : "https://info-hit.ru/{{ item.PICTURE }}",
              "link" : "{{ item.URL }}"
              }'>
            </component>
          </each>
          <each loop="item in response.slice(2, 3)">
            <component src="src/components/course.html" locals='{
              "author" : "{{ item.RIGHTHOLDER }}",
              "title" : "{{ item.TYPE }} — {{ item.NAME }}",
              "subtitle" : "{{ item.DESC }}",
              "picture" : "https://info-hit.ru/{{ item.PICTURE }}",
              "link" : "{{ item.URL }}"
              }'>
            </component>
          </each>
          <each loop="item in response.slice(3, 4)">
            <component src="src/components/course.html" locals='{
              "author" : "{{ item.RIGHTHOLDER }}",
              "title" : "{{ item.TYPE }} — {{ item.NAME }}",
              "subtitle" : "{{ item.DESC }}",
              "picture" : "https://info-hit.ru/{{ item.PICTURE }}",
              "link" : "{{ item.URL }}"
              }'>
            </component>
          </each>
          <each loop="item in response.slice(4, 5)">
            <component src="src/components/course.html" locals='{
              "author" : "{{ item.RIGHTHOLDER }}",
              "title" : "{{ item.TYPE }} — {{ item.NAME }}",
              "subtitle" : "{{ item.DESC }}",
              "picture" : "https://info-hit.ru/{{ item.PICTURE }}",
              "link" : "{{ item.URL }}"
              }'>
            </component>
          </each>
          <p class="mb-24">Обучение&nbsp;— это выгодная инвестиция в&nbsp;себя. Даже небольшая сумма может открыть новые возможности. Проверьте сами!</p>
          <component src="src/components/button.html" locals='{
            "link" : "https://info-hit.ru/catalog/filter/discount-y/?sort=min_price&order=asc",
            "text" : "Перейти в каталог",
            "color" : "bg-blue-500",
            "hover_color" : "bg-blue-600"
            }'></component>
          <component src="src/components/gray-line.html"></component>
          <p class="text-base mb-36">С уважением,<br>команда ИнфоХит!</p>
        </td>
      </tr>
    <td class="h-32 sm:h-24"></td>
  </tr>
  <component src="src/components/footer.html"></component>
</block>
</extends>
