---
title: "Управляйте реальностью при помощи голоса"
preheader: "Вебинар по голосовой магии, с которой поднимете уровень энергетики за пять минут"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2025-01-13-fedorov.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Готовы кардинально изменить свою жизнь, образ, представления о&nbsp;собственных возможностях и&nbsp;способностях?</p>
        <p>Начните осознанно управлять своей реальностью&nbsp;— научитесь повышать уровень энергетики через собственный голос.</p>
        <p>Чтобы улучшить все сферы своей жизни, нужно сначала зарядить внутреннюю «батарейку». Энергия&nbsp;— вот чего обычно не&nbsp;хватает каждому из&nbsp;нас!</p>
        <p>Если хотите получить преимущество перед другими, успевать все и&nbsp;всегда, чувствовать себя бодро и&nbsp;радостно, уделите для этого всего 5&nbsp;минут!</p>
        <p>Не&nbsp;верите?</p>
        <p class="mb-24">Попробуйте древние славянские практики голосовой магии.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=325029",
          "text" : "Подробнее",
          "color" : "bg-red-500",
          "hover_color" : "bg-red-600"
          }'></component>
        <p class="mb-24">Регистрируйтесь на&nbsp;бесплатный вебинар по&nbsp;голосовой магии.</p>
          <component src="src/components/about-author-left.html" locals='{
            "name" : "Михаил Федоров",
            "photo" : "https://info-hit.ru/upload/resize_cache/iblock/d0e/qq51e2c5p95pi1120fsr90j2z8io1tl7/220_220_2/fedorov_mikhail.jpg"
            }'>
        <p class="mt-0"><strong>Автор вебинара&nbsp;— Михаил Федоров:</strong></p>
        <ol>
          <li class="mb-0">Дипломированный психолог, арт-терапевт.</li>
          <li class="mb-0">Специалист по&nbsp;когнитивно-поведенческой терапии.</li>
          <li class="mb-0">Практикующий мастер голосовой магии.</li>
          <li class="mb-0">Специалист, владеющий методами энергетического целительства.</li>
          <li class="mb-0">Специалист, использующий энергетическое и&nbsp;ритуальное целительство в&nbsp;христианской и&nbsp;тибетских традициях, а&nbsp;еще методы воздействия словом и&nbsp;голосом.</li>
        </ol>
      </component>
        <p>Высокий уровень энергетики дает огромное количество преимуществ в&nbsp;простой повседневной жизни. Благодаря практикам голосовой магии&nbsp;вы:</p>
        <ul>
          <li class="mb-12">пробудите внутренние ресурсы,</li>
          <li class="mb-12">оздоровите тело и&nbsp;душу,</li>
          <li class="mb-12">снимите эмоциональное перенапряжение,</li>
          <li class="mb-12">укрепите отношения,</li>
          <li class="mb-12">привлечете денежные потоки в&nbsp;свою жизнь,</li>
          <li class="mb-12">избавитесь от&nbsp;внутренних блоков,</li>
          <li class="mb-12">нейтрализуете вредные энергии,</li>
          <li class="mb-12">расширите сознание,</li>
          <li class="mb-12">обретете новые уникальные знания.</li>
        </ul>
        <p class="mb-24">Регистрируйтесь на&nbsp;вебинар и&nbsp;получите в&nbsp;подарок пятиминутную голосовую медитацию с&nbsp;эффектом полной перенастройки организма <i>«Как уменьшить боль и&nbsp;встать на&nbsp;путь восстановления здоровья»</i>.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=325029",
          "text" : "Зарегистрироваться и забрать подарок",
          "color" : "bg-red-500",
          "hover_color" : "bg-red-600"
          }'></component>
        <p class="mt-24"><i>*Реклама</i></p> 
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит и центр «Альфа-Омега Плюс»!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
