---
title: "5 мифов о профессии психолога, которые мешают вам начать"
preheader: "Разбираемся с онлайн-институтом Smart"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2025-03-05-smart-letter-1.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день</strong></p>
        <p>Хотите работать психологом, но&nbsp;сомневаетесь? Возможно, вам мешают распространенные мифы. Давайте разберемся.</p>
        <p><strong>Миф&nbsp;1: Нужно 5&nbsp;лет учиться в&nbsp;вузе</strong></p>
        <p>В&nbsp;классическом образовании много теории, но&nbsp;мало практики. Главное&nbsp;— не&nbsp;диплом, а&nbsp;реальный навык работы с&nbsp;людьми.</p>
        <p><strong>Миф&nbsp;2: Найти клиентов сложно</strong></p>
        <p>Психологи востребованы, но&nbsp;важно уметь выстраивать практику и&nbsp;правильно подавать свою экспертизу.</p>
        <p><strong>Миф&nbsp;3: Психологи мало зарабатывают</strong></p>
        <p>Средний чек консультации&nbsp;— от&nbsp;2000&nbsp;₽, а&nbsp;у&nbsp;опытных специалистов консультации стоят от&nbsp;5000&nbsp;₽. Главное&nbsp;— уметь привлекать клиентов.</p>
        <p><strong>Миф&nbsp;4: Поздно начинать после 30+</strong></p>
        <p>Многие приходят в&nbsp;профессию в&nbsp;зрелом возрасте и&nbsp;успешно строят карьеру.</p>
        <p><strong>Миф&nbsp;5: Большая конкуренция</strong></p>
        <p>Психологов действительно много, но&nbsp;квалифицированных специалистов остро не&nbsp;хватает&nbsp;— как в&nbsp;России, так и&nbsp;за&nbsp;рубежом. По&nbsp;данным ВЦИОМ, спрос на&nbsp;услуги психологов достиг <nobr>15-летнего</nobr> максимума в&nbsp;2025&nbsp;году. Если у&nbsp;вас есть качественная подготовка и&nbsp;практика&nbsp;— клиенты будут всегда.</p>
        <p class="text-base bg-blue-200 py-16 px-24">Хотите освоить психологию и&nbsp;гарантированно получить клиентов? Smart дает не&nbsp;только знания, но&nbsp;и&nbsp;учит продвигать себя, помогает после выпуска и&nbsp;гарантированно предоставляет клиентов.</p>
        <p class="mb-24">Переходите по&nbsp;кнопке ниже и&nbsp;получите персональную программу обучения!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=326618",
          "text" : "Подобрать программу",
          "color" : "bg-purple-500",
          "hover_color" : "bg-purple-600"
          }'></component>
        <p class="mt-24"><i>*Реклама</i></p> 
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
