---
title: "Жизненные трудности — неочевидные причины"
preheader: "Интересное внутри"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2025-06-10-prochorceva.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Вам знакомо состояние, когда кажется, что вроде все для себя сделал, многое понял, прошел терапию, читаешь умные книги, практикуешь...</p>
        <p><b>Но&nbsp;все равно остается внутреннее ощущение застревания.</b></p>
        <p>Не&nbsp;растут доходы. Не&nbsp;встречается любовь. Или отношения&nbsp;— холодные и&nbsp;сложные.</p>
        <p>Как будто что-то не&nbsp;пускает в&nbsp;новую жизнь.</p>
        <p>В&nbsp;чем причина? Куда еще посмотреть?</p>
        <p><b>Почти за&nbsp;каждой проблемой стоит один и&nbsp;тот&nbsp;же корень: искажение в&nbsp;отношениях.</b></p>
        <p>С&nbsp;собой&nbsp;— если вы&nbsp;постоянно себя критикуете и&nbsp;не&nbsp;верите, что достойны.</p>
        <p>С&nbsp;родителями&nbsp;— если есть обиды, чувство долга, непрожитые эмоции.</p>
        <p>С&nbsp;Богом&nbsp;— если вы&nbsp;в&nbsp;напряжении и&nbsp;контроле, а&nbsp;не&nbsp;в&nbsp;доверии.</p>
        <p>С&nbsp;партнером&nbsp;— если любовь = борьба, страх или зависимость.</p>
        <p>С&nbsp;миром&nbsp;— если кажется, что жизнь против вас.</p>
        <p><b>Поэтому начинать нужно нужно не&nbsp;с&nbsp;целей и&nbsp;техник, а&nbsp;с&nbsp;отношений.</b></p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=328405",
          "text" : "Узнать, как исцелить корень проблем",
          "color" : "bg-purple-500",
          "hover_color" : "bg-purple-600"
        }'></component>
        <p class="text-base bg-pink-200 py-16 px-24">Приглашаем вас на&nbsp;бесплатный вебинар <a href="https://info-hit.ru/away.php?to=course&cb=41&id=328405" target="_blank">«Соль жизни»</a>&nbsp;— о&nbsp;том, как перестать бегать по&nbsp;кругу боли, обиды и&nbsp;одиночества, и&nbsp;начать наконец жить с&nbsp;теплом, смыслом, деньгами и&nbsp;Любовью.</p>
        <p><b>Автор и&nbsp;ведущая</b>&nbsp;— экзистенциональный и&nbsp;трансперсональный психолог, гипнолог Екатерина Прохорцева.</p>
        <ul>
          <li class="mb-12">разберете, почему вы&nbsp;не&nbsp;получаете&nbsp;то, чего хотите, даже если «все правильно делаете»;</li>
          <li class="mb-12">как выстроить отношения с&nbsp;собой, Богом и&nbsp;людьми&nbsp;— чтобы все остальное в&nbsp;жизни встало на&nbsp;место;</li>
          <li class="mb-12">что мешает энергии изобилия, любви и&nbsp;радости проходить сквозь вас свободно.</li>
        </ul>
        <p>Этот вебинар для вас, если вы&nbsp;устали «работать над собой», хотите наконец понять, что именно внутри мешает вам жить полной жизнью.</p>
        <p class="mb-24">Будет по-настоящему глубоко. Без воды и&nbsp;пафоса. С&nbsp;любовью и&nbsp;силой.</p>
         <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=328405",
          "text" : "Участвовать бесплатно",
          "color" : "bg-purple-500",
          "hover_color" : "bg-purple-600"
        }'></component>
        <p><i>*Реклама</i></p> 
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
