---
title: "Таро с нуля — ваш путь к счастью начинается здесь"
preheader: "Бесплатный курс для новичков: философия, расклады и первые шаги с колодой"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
      "src" : "https://info-hit.ru/include/images/letter/2025-05-07-nekipelova-1.png"
      }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p><strong>Добрый день!</strong></p>
        <p>Вы&nbsp;чувствуете, что пора что-то менять в&nbsp;жизни? Хотите глубже понять себя, научиться слушать свою интуицию и&nbsp;принимать верные решения? Добро пожаловать на&nbsp;бесплатный курс «Путь к&nbsp;счастью: Таро с&nbsp;нуля» от&nbsp;Академии VITA VIRTUS VERITAS под руководством <a href="https://info-hit.ru/author-nekipelova-galina/" target="_blank">Галины Некипеловой</a>.</p>
        <p><b>На&nbsp;курсе&nbsp;вы:</b></p>
        <ol>
          <li class="mb-10">Познакомитесь с&nbsp;философией и&nbsp;структурой Таро.</li>
          <li class="mb-10">Выберете свою первую колоду и&nbsp;установите с&nbsp;ней энергетическую связь.</li>
          <li class="mb-10">Изучите Арканы&nbsp;— как путь души и&nbsp;отражение повседневных ситуаций.</li>
          <li class="mb-10">Научитесь делать простые расклады для самопознания.</li>
        </ol>
        <p><b>Бонусы:</b></p>
        <ul>
          <li class="mb-10">методичка по&nbsp;колоде Райдера Уэйта;</li>
          <li class="mb-10">гайд по&nbsp;правильным вопросам к&nbsp;картам;</li>
          <li class="mb-24">записи раскладов и&nbsp;шпаргалки.</li>
        </ul>
        <p class="mb-24">Начните свой путь к&nbsp;внутренней гармонии прямо сейчас!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=327629",
          "text" : "Присоединиться",
          "color" : "bg-red-500",
          "hover_color" : "bg-red-600"
        }'></component>
        <p class="mt-24"><i>*Реклама</i></p> 
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда «ИнфоХит»!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
