---
title: "Питание ≠ просто еда. Это наука, которая может изменить все!"
preheader: "Освойте востребованную профессию и помогайте людям через грамотный подход к питанию!"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2025-02-07-glinkina-letter-1.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Вы&nbsp;когда-нибудь задумывались, что ваш уровень энергии, самочувствие и&nbsp;даже эмоциональное состояние зависят от&nbsp;работы пищеварительной системы?</p>
        <p>Современный ритм жизни, нехватка времени на&nbsp;готовку и&nbsp;постоянный стресс приводят к&nbsp;тому, что многие испытывают:</p>
        <ul>
          <li class="mb-10">хроническую усталость,</li>
          <li class="mb-10">нестабильное настроение,</li>
          <li class="mb-10">проблемы с&nbsp;ЖКТ,</li>
          <li class="mb-10">набор или потерю веса,</li>
          <li class="mb-10">нехватку витаминов и&nbsp;минералов.</li>
        </ul>
        <p>Но&nbsp;хорошая новость в&nbsp;том, что правильный подход к&nbsp;питанию и&nbsp;образу жизни может изменить все!</p>
        <p class="text-base bg-pink-200 py-16 px-24"><strong>Академия «PRO-Здоровье»</strong>&nbsp;— одна из&nbsp;ведущих образовательных платформ в&nbsp;области нутрициологии. За&nbsp;6&nbsp;лет Академия обучила более 20&nbsp;000&nbsp;студентов, помогая людям осознанно заботиться о&nbsp;здоровье и&nbsp;создавать успешную карьеру в&nbsp;сфере ЗОЖ.</p>
        <p>Теперь и&nbsp;у&nbsp;вас есть возможность пройти флагманскую программу <a href="https://info-hit.ru/away.php?to=course&cb=41&id=323996" target="_blank">«Клинический нутрициолог. Системный подход»</a> академии, где вы&nbsp;научитесь:</p>
        <ul>
          <li class="mb-10">понимать взаимосвязь питания и&nbsp;здоровья,</li>
          <li class="mb-10">разбирать анализы и&nbsp;выявлять причины недомоганий,</li>
          <li class="mb-10">работать с&nbsp;пищеварением, метаболизмом и&nbsp;нутрицевтиками,</li>
          <li class="mb-10">применять знания для себя&nbsp;и, возможно, сделаете это своей профессией.</li>
        </ul>
        <p><strong>Кому подойдет программа?</strong></p>
        <ol>
          <li class="mb-10">Тем, кто хочет осознанно заботиться о&nbsp;своем и&nbsp;здоровье близких.</li>
          <li class="mb-10">Практикующим специалистам: тренерам, косметологам, врачам, психологам.</li>
          <li class="mb-10">Всем, кто хочет освоить новую востребованную профессию.</li>
        </ol>
        <p><strong>Формат обучения:</strong></p>
        <ol>
          <li class="mb-10">9&nbsp;месяцев онлайн-обучения, удобный формат, доступ из&nbsp;любой точки мира.</li>
          <li class="mb-10">Кураторы, наставники и&nbsp;разбор реальных кейсов.</li>
          <li class="mb-10">Доступ к&nbsp;материалам на&nbsp;2&nbsp;года.</li>
        </ol>
        <p><strong>Старт программы</strong>&nbsp;— 20&nbsp;февраля!</p>
        <p class="mb-24">Получите больше информации о&nbsp;курсе:</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=323996",
          "text" : "Оставить заявку",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
          }'></component>
        <p class="mt-24"><i>*Реклама</i></p> 
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
