---
title: "Хочу расти в психологии, но с чего начать?"
preheader: "Есть ответ. Он — в письме"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/2025-06-05-smart-1.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Иногда достаточно одной мысли, чтобы все поменялось: <i>«Я&nbsp;готов(а) расти. Но&nbsp;как&nbsp;— и&nbsp;куда?»</i>. Ответ&nbsp;— в&nbsp;поддержке, знаниях и&nbsp;реальной практике. Все это дает Международный институт психологии Smart. Здесь учатся&nbsp;те, кто хочет не&nbsp;просто пройти курс, а&nbsp;стать профессионалом, которому доверяют.</p>
        <p><b>Почему Smart?</b></p>
        <ol>
          <li class="mb-12">Гранты на&nbsp;обучение до&nbsp;60&nbsp;000&nbsp;₽ и&nbsp;беспроцентная рассрочка.</li>
          <li class="mb-12">Только практика и&nbsp;прикладные знания&nbsp;— без воды и&nbsp;формальностей.</li>
          <li class="mb-12">Возможность зарабатывать уже во&nbsp;время учебы (и&nbsp;это закреплено в&nbsp;договоре).</li>
          <li class="mb-12">Удобный онлайн-формат, который легко вписывается в&nbsp;загруженную жизнь.</li>
          <li class="mb-12">Поддержка кураторов, преподавателей и&nbsp;сообщества на&nbsp;каждом этапе.</li>
          <li class="mb-12">Комьюнити, которое поддержит и&nbsp;не&nbsp;даст свернуть с&nbsp;пути.</li>
          <li class="mb-12">Программы для студентов с&nbsp;разным уровнем подготовки&nbsp;— от&nbsp;начинающих до&nbsp;практикующих специалистов.</li>
        </ol>
        <p>В&nbsp;Smart приходят психологи, коучи, арт-терапевты, педагоги и&nbsp;просто люди, которые хотят понимать себя, других и&nbsp;своих детей.</p>
        <p><i>«Я&nbsp;долго откладывала обучение. Думала, нужно больше уверенности. Но&nbsp;именно в&nbsp;процессе учебы она и&nbsp;появилась. Супервизии, практика, общение с&nbsp;преподавателями&nbsp;— я&nbsp;наконец почувствовала: я&nbsp;могу»</i>,&nbsp;— пишет студентка программы по&nbsp;практической психологии.</p>
        <p>Если вы&nbsp;тоже хотите перестать сомневаться и&nbsp;начать действовать, Smart станет вашей точкой опоры.</p>
        <p class="mb-24">Выберите программу и&nbsp;начните путь к&nbsp;новой профессии ↓</p>
         <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/away.php?to=course&cb=41&id=326618",
          "text" : "Подобрать программу",
          "color" : "bg-blue-500",
          "hover_color" : "bg-blue-600"
        }'></component>
        <p class="mt-24">Уверенность приходит в&nbsp;процессе. Главное&nbsp;— начать.</p>
        <p><i>*Реклама</i></p> 
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
