---
title: "Успешное собеседование, переходим на удаленку, преодолеваем эмоциональное выгорание"
preheader: "Советы, как преподнести себя на собеседовании, работать дистанционно и вернуть мотивацию к работе"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <fetch url="https://info-hit.ru/include/tools/blog-json/?arElements=280807,282712,282313&token=u4JTEnMNt4gdsfdfsdf345nkhjk3dfgfh556776dfdghjkluiutyrtym&v=4">
      <component src="src/components/img-block-without-link.html" locals='{
      "src" : "https://info-hit.ru/include/images/letter/trigger-hello-author/trigger-hello-author-5.jpg"
      }'></component>
      <tr>
        <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
          <p><strong>Добрый день!</strong></p>
          <p>Команда «ИнфоХит» подготовила для вас новую подборку статей о трудовой деятельности.</p>
          <p>Какие проблемы возникают у среднестатистического россиянина: начиная с прохождения собеседований до работы на себя и встречей с синдромом профессионального выгорания.</p>
          <p class="mt-36"><strong>Что делать с тревожностью, как правильно вести себя на интервью: от правильной позы до вопросов работодателю?</strong></p>
          <ol>
            <li class="mb-16">
              Из-за страха и волнения многие кандидаты не могут показать профессионализм на собеседованиях.
            </li>
            <li class="mb-16">
              Кто-то чрезмерно готовится, зазубривает речь и на интервью не прекращает разговаривать.
            </li>
            <li class="mb-16">
              Кого-то стандартные вопросы заводят в тупик и он неловко молчит рассказываем в новой статье.
            </li>
          </ol>

          <each loop="item in response.slice(0, 1)">
            <component src="src/components/blog.html" locals='{
            "URL" : "{{ item.URL }}",
            "PICTURE" : "{{ item.PICTURE }}",
            "NAME" : "{{ item.NAME }}",
            "DESC" : "{{ item.DESC }}",
            "COLOR" : "green"
            }'></component>
          </each>

          <p class="mt-36"><strong>Как избежать выгорания на работе, и что делать, если оно уже настигло</strong></p>
          <p>Любимая работа перестала приносить удовлетворение, каждая новая задача вызывает ужас, а утром вы испытываете стресс от того, что начался новый рабочий день — это признаки профессионального выгорания.</p>
          <p>Читайте материал, как вернуть желание и энергетические ресурсы, где взять силы, чтобы снова работать в удовольствие.</p>

          <each loop="item in response.slice(1, 2)">
            <component src="src/components/blog.html" locals='{
            "URL" : "{{ item.URL }}",
            "PICTURE" : "{{ item.PICTURE }}",
            "NAME" : "{{ item.NAME }}",
            "DESC" : "{{ item.DESC }}",
            "COLOR" : "blue"
            }'></component>
          </each>

          <p class="mt-36"><strong>Что делать, чтобы не зависеть от обстоятельств и иметь востребованную профессию на удаленке</strong></p>

          <p>Знакомые чаще стали рассказывать, как их сократили или уволили из-за нестабильной ситуации в компании, а подтверждение этих слов можно прочитать в новостной ленте.</p>
          <p>Не переживайте и не поддавайтесь общей панике. <br>Выход есть!</p>
          <p>С развитием дистанционной работы появилось много возможностей перейти в онлайн с любой профессией.</p>

          <p>Читайте статью, как с вашей или новой специальностью работать на удаленке, зарабатывать столько же, еще и прилично экономить. </p>
          <each loop="item in response.slice(2, 3)">
            <component src="src/components/blog.html" locals='{
            "URL" : "{{ item.URL }}",
            "PICTURE" : "{{ item.PICTURE }}",
            "NAME" : "{{ item.NAME }}",
            "DESC" : "{{ item.DESC }}",
            "COLOR" : "purple"
            }'></component>
          </each>

          <component src="src/components/gray-line.html"></component>
          <p class="text-base mb-36">С уважением команда,<br>«ИнфоХит»!</p>
        </td>
      </tr>
      <tr>
        <td class="h-32 sm:h-24"></td>
      </tr>
      <component src="src/components/footer.html"></component>
    </fetch>
  </block>
</extends>
