---
title: "Подумываете сменить работу — «ИнфоХит» поможет"
preheader: "Собираем каталог популярных востребованных профессий"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/trigger-hello-user/trigger-hello-user-6.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p><strong>Добрый день!</strong></p>
        <p>Ищете подработку или хотите сменить специальность&nbsp;— заходите в&nbsp;<a target="_blank" href="https://info-hit.ru/professions/">раздел «Профессии»</a> на&nbsp;«ИнфоХит». В&nbsp;нем мы&nbsp;собрали всю информацию о&nbsp;десятках популярных и&nbsp;востребованных направлений на&nbsp;рынке труда: разработчики, веб-дизайнеры, менторы онлайн-школ, видеооператоры и&nbsp;так далее.</p>

        <p class="mt-36"><strong>В&nbsp;разделе «Профессии» вы&nbsp;узнаете:</strong></p>
        <ul>
          <li class="mb-10">кто такие нутрициологи;</li>
          <li class="mb-10">чем занимаются контент-менеджеры;</li>
          <li class="mb-10">какими навыками обладает успешный HR-аналитик;</li>
          <li class="mb-10">где учиться на&nbsp;digital-стратега</li>
          <li>и&nbsp;многое другое! </li>
        </ul>

        <p class="my-24">На&nbsp;каждой странице раздела мы&nbsp;собрали экспертов в&nbsp;профессии. А&nbsp;также курсы и&nbsp;онлайн-школы, где можно пройти обучение, чтобы освоить новую специальность. </p>

        <component src="src/components/button.html" locals='{
        "link" : "https://info-hit.ru/professions/",
        "text" : "Выбрать профессию",
        "color" : "bg-green-500",
        "hover_color" : "bg-green-600"
        }'></component>

        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда «ИнфоХит»!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
