---
title: "Хотите получать пассивный доход — рассказываем как"
preheader: "Зарабатывайте на рекомендациях курсов «ИнфоХит»"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/trigger-hello-user/trigger-hello-user-5.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p><strong>Добрый день!</strong></p>
        <p>Пока все мечтают о&nbsp;пассивном заработке, мы&nbsp;даем такую возможность! Делитесь партнерскими ссылками «ИнфоХит» в&nbsp;своем блоге или социальных сетях и&nbsp;получайте комиссию с&nbsp;каждого проданного курса.</p>

        <p class="mt-24"><strong>Вступить в&nbsp;реферальную программу «ИнфоХит» просто:</strong></p>
        <ol>
          <li class="mb-10">Зарегистрируйтесь на&nbsp;сайте «ИнфоХит»;</li>
          <li class="mb-10">Скопируйте свою партнерскую ссылку;</li>
          <li class="mb-10">Поделитесь ссылкой в&nbsp;соцсетях или блоге;</li>
          <li class="mb-10">Следите за&nbsp;статистикой в&nbsp;личном кабинете на&nbsp;«ИнфоХит»;</li>
          <li class="mb-10">Дождитесь уведомления о&nbsp;продаже и&nbsp;начисления комиссии;</li>
          <li class="mb-10">Выведите комиссионные; </li>
          <li class="mb-10">Не&nbsp;останавливайтесь на&nbsp;достигнутом!</li>
        </ol>


        <p><strong>Где размещать партнерские ссылки:</strong></p>
        <ul>
          <li class="mb-10">социальные сети;</li>
          <li class="mb-10">сайт или блог;</li>
          <li class="mb-10">форумы и&nbsp;ленты комментариев.</li>
        </ul>

        <p class="mt-36">
          Жмите на кнопку, чтобы узнать все подробности программы и&nbsp;условия вывода комиссионных.
        </p>

        <component src="src/components/button.html" locals='{
        "link" : "https://info-hit.ru/about/partnership/",
        "text" : "Подробнее о программе",
        "color" : "bg-purple-500",
        "hover_color" : "bg-purple-600"
        }'></component>

        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда «ИнфоХит»!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
