<table class="w-full p-20 bg-{{ COLOR }}-100 sm:p-12 rounded-xl">
  <tr>
    <td class="w-full sm:w-full sm:inline-block">
      <a href="{{ URL }}" target="_blank" class="text-base no-underline">
        <table class="w-full">
          <tr>
            <td class="w-4/12 sm:w-3/12 align-top"><img class="rounded-xl" src="https://info-hit.ru/{{ PICTURE }}" alt=""></td>
            <td class="p-16 py-0 sm:p-0 sm:pl-12 rounded">
              <h3 class="m-0 mb-10 text-black text-lg leading-24 sm:text-base sm:leading-20">{{ NAME }}</h3>
              <p class="m-0 mb-10 text-sm text-gray-700 leading-20">{{ DESC }}<content></content></p>
              <p class="mb-0 text-{{ COLOR }}-700">Читать статью &rarr;</p>
            </td>
          </tr>
        </table>
      </a>
    </td>
  </tr>
</table>
