<table class="w-full">
  <tr>
    <td class="w-full pb-32 sm:w-full sm:inline-block">
      <a href="{{ link }}" target="_blank" class="text-base text-blue-500 hover:text-blue-400 no-underline">
        <table class="w-full">
          <tr>
            <td class="w-4/12 align-top"><img src="{{ picture }}" alt=""></td>
            <td class="p-12 pt-0 sm:p-0 sm:pl-12 rounded">
              <p class="m-0 mb-10 text-sm text-gray-500">{{ author }}</p>
              <h2 class="m-0 mb-10 text-black text-lg leading-24">{{ title }}</h2>
              <p class="m-0 mb-10 text-sm text-gray-700">{{ subtitle }}</p>
              <p>Подробнее &rarr;</p>
            </td>
          </tr>
        </table>
      </a>
    </td>
  </tr>
</table>
