<tr>
  <td class="text-center text-gray-600 text-xs px-24">
    <p class="m-0 mb-4 text-sm">ИнфоХит</p>
    <p class="m-0 text-gray-400">Зарабатывай, рекомендуя наши курсы</p>
    <p class="cursor-default">
      <a target="_blank" href="https://info-hit.ru/catalog/" class="text-blue-500 no-underline hover:underline">Каталог курсов</a> &bull;
      <a target="_blank" href="https://vk.com/infohitpartners" class="text-blue-500 no-underline hover:underline">Мы ВКонтакте</a> &bull;
      <a target="_blank" href="https://t.me/infohitpartners" class="text-blue-500 no-underline hover:underline">Telegram</a>
    </p>
  </td>
</tr>
<tr>
  <td class="text-center pt-10 pb-24 text-sm"><a class="text-gray-400" href="#UNSUBSCRIBE_LINK#">Отписаться от рассылки</a></td>
</tr>
