<tr>
  <td class="text-center text-gray-600 text-xs px-24 pb-24">
    <p class="m-0 mb-4 text-sm">ИнфоХит</p>
    <p class="m-0 text-gray-400">Выберите свой следующий онлайн-курс</p>
    <p class="cursor-default">
      <a target="_blank" href="https://info-hit.ru/catalog/" class="text-blue-500 no-underline hover:underline">Каталог курсов</a> &bull;
      <a target="_blank" href="https://vk.com/infohitru" class="text-blue-500 no-underline hover:underline">Мы ВКонтакте</a> &bull;
      <a target="_blank" href="https://t.me/infohitru" class="text-blue-500 no-underline hover:underline">Telegram</a>
    </p>
  </td>
</tr>
