<tr>
  <td class="text-center text-gray-600 text-xs px-24">
    <p class="m-0 mb-4 text-sm">ИнфоХит</p>
    <p class="m-0 text-gray-400">Об онлайн-обучении с любовью</p>
    <p class="cursor-default">
      <a href="https://info-hit.ru/catalog/" class="text-blue-500 no-underline hover:underline">Курсы</a> &bull;
      <a href="https://info-hit.ru/authors/" class="text-blue-500 no-underline hover:underline">Авторы</a> &bull;
      <a href="https://info-hit.ru/company/" class="text-blue-500 no-underline hover:underline">Школы</a> &bull;
      <a href="https://vk.com/infohitru" class="text-blue-500 no-underline hover:underline">Мы ВКонтакте</a>
    </p>
  </td>
</tr>
