<tr>
  <td class="px-48 py-32 sm:py-32 sm:px-24">
    <table>
      <tr>
        <td class="w-2/5">
          <a href="https://info-hit.ru">
            <img class="" src="https://info-hit.ru/include/images/letter/logo-subscribe.png?v=2" alt="ИнфоХит">
          </a>
        </td>
        <td class="text-right">
          <if condition="page.env === 'local'">
            <a class="no-underline align-middle" href="https://info-hit.ru/account/user/" target="_blank">
              <span class="text-xl sm:text-base text-black font-bold inline-block bg-yellow-200 p-5 mr-12 sm:mr-4">100 ₽</span>
              <img class="rounded-full h-52 w-52 sm:w-32 sm:h-32" src="https://info-hit.ru/upload/resize_cache/main/87e/70_70_2/VZN8gFUP9zM.jpg" alt="Аватар">
              <!--<strong class="text-2xl block text-center leading-48 w-48 h-48 sm:leading-32 sm:w-32 sm:h-32 bg-blue-400 border-blue-500 border-dashed border-2 rounded-full inline-block whitespace-nowrap text-black relative sm:text-xs">N</strong>-->
            </a>
          </if>
          <else>
            #LOGIN_BLOCK#
          </else>
        </td>
      </tr>
    </table>
  </td>
</tr>
