<tr>
  <td class="bg-white text-gray-800 text-base text-left p-48 sm:p-24 leading-24 rounded">
    <p>Приветствуем, @{{Имя контакта}}!</p>
    <p class="m-0 mb-24">Вам понравилось учиться на «ИнфоХит»? Надеемся, что да, ведь мы подготовили для вас персональную подборку курсов.</p>

    <p class="m-0 mb-24">Вам точно пригодится скидка 10%<br>Она действует на все курсы с меткой «Учитесь на ИнфоХит».</p>
    <p class="m-0 mb-24 text-lg border-dashed border-2 border-yellow-400 text-center py-7 rounded"><small>Промокод:</small><br>SL-OTO5Q-G8Y0O27</p>

    <p class="m-0 mb-16">Желаем успехов,<br>
      Команда «ИнфоХит»
    </p>
  </td>
</tr>
