---
title: "Поздравление с Новым годом 2022 для авторов ИнфоХит"
preheader: "Ждем ваших предложений о нововведениях, которые надо сделать на сайте в 2022 году."
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/author-ny-22.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-2xl"><strong>Приветствуем!</strong></p>
        <p class="m-0 mb-24">В конце года принято подводить итоги, рассказывать о достижениях и результатах, делиться планами на следующий год. Но! Мы знаем, что вы сейчас торопитесь закрыть неотложные дела, поздравить учеников и коллег, а еще готовитесь к встрече Нового года, поэтому…</p>
        <table class="w-full mb-24">
          <tr>
            <td class="text-base bg-blue-100 py-16 px-32">
              <strong>Сегодня мы от всей души поздравляем вас с Наступающим 2022-м годом и Рождеством!</strong><br><br>Желаем роста и процветания вашему проекту.<br><br>Желаем здоровья, счастья и удачи вам, вашим близким.<br><br>Пусть 2022-й год будет самым лучшим и прорывным!
            </td>
          </tr>
        </table>
        <p><strong>11 января 2022 года</strong> обязательно напишем огромное письмо. В нем будут главные цифры по нашему проекту, обзор всех нововведений за 2021 год и планы на 2022-й.</strong></p>
        <p>Кстати! В январе каждого года мы обсуждаем идеи, утверждаем план нововведений на 12 месяцев.</p>
        <p>Будем рады, если вы поделитесь, чего не хватает на ИнфоХит. Мы обязательно обсудим ваше пожелание, постараемся внедрить в жизнь.</p>
        <p class="m-0 mb-24"><strong>Пишите нам на почту: info@info-hit.ru</strong></p>

        <p class="text-base mb-36">Желаем успехов вашему бизнесу!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
