---
title: "О новой возможности для авторов ИнфоХит – Минисайт"
preheader: "Как за 5 минут создать простой, но эффективный сайт"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/ih-b24_minisite.png"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-2xl"><strong>Приветствуем!</strong></p>
        <p class="m-0 mb-24">Давно хотите запустить собственный сайт для продажи курсов, но <i>постоянно откладываете на потом?</i> Откладываете, ведь это слишком сложно, долго и дорого.</p>
        <p class="text-black font-semibold m-0"><strong>Согласитесь, хотя бы простой сайт необходим для:</strong></p>
        <ul>
          <li>Запуска рекламы в поиске, социальных сетях и т.д.</li>
          <li>Работы с партнерами.</li>
          <li>Сбора отзывов учеников и работы с комментариями.</li>
          <li>Приема платежей и размещения курсов.</li>
        </ul>
        <table class="w-full mb-24">
          <tr>
            <td class="text-base bg-purple-100 py-16 px-32">
              <strong>Отличная новость!</strong><br>Ваш МиниСайт на ИнфоХит готов на 99%
            </td>
          </tr>
        </table>
        <p>С ноября вы можете использовать ваши страницы на ИнфоХит в качестве обособленного МиниСайта. Такие страницы <strong>полностью повторяют ваши страницы на ИнфоХит, но с некоторыми отличиями, ведь на них:</strong></p>
        <ol>
          <li>Нет логотипа ИнфоХит в шапке сайта.</li>
          <li>Нет ссылок на разделы сайта, других авторов и курсы.</li>
          <li>Нет рекламных баннеров.</li>
        </ol>
        <h3>МиниСайт на ИнфоХит – всё только про вас и для вас</h3>
        <p>Пользователь будет уверен, что находится на вашем персональном сайте, ведь на нем есть все необходимое:</p>
        <ul>
          <li>Страница об авторе или компании.</li>
          <li>Список курсов.</li>
          <li>Лендинги курсов.</li>
          <li>Страница с отзывами учеников.</li>
          <li>Возможность подключить счетчик Метрики, чтобы отслеживать всю статистику.</li>
        </ul>
        <p>Все изменения, которые будет вносить менеджер на ваши страницы на ИнфоХит, будут сразу отображаться на вашем МиниСайте. И это очень удобно.</p>
        <table class="w-full my-24">
          <tr>
            <td class="text-base bg-yellow-100 py-16 px-32">
              <strong>Ваш МиниСайт на ИнфоХит почти готов</strong><br>Не откладывайте на потом, попробуйте прямо сейчас
            </td>
          </tr>
        </table>
        <p>Всё просто. В ответ на это письмо <u>напишите «Хочу МиниСайт».</u></p>
        <p class="m-0 mb-24">И мы сразу отправим ссылку на <strong>готовый МиниСайт с вашими курсами.</strong></p>

        <p class="text-base mb-36">Желаем успехов вашему бизнесу!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
