---
title: "Confirm your email address"
preheader: "Please confirm your email address in order to activate your account"
bodyClass: bg-gray-100
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full font-sans">
      <tr>
        <td align="center" class="bg-gray-100">
          <table class="w-600 sm:w-full">
            <component src="src/components/header.html"></component>
            <tr>
              <td align="center" class="sm:px-24 ">
                <table class="w-full">
                  <tr>
                    <td class="bg-white text-gray-800 text-base text-left p-48 sm:p-24 leading-24 rounded">
                      <p>#TEXT#</p>
                    </td>
                  </tr>
                  <tr>
                    <td class="h-32 sm:h-24"></td>
                  </tr>
                  <component src="src/components/footer.html"></component>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
