---
title: "Марафон для родителей, чьи дети не хотят учиться, ленятся и слышат только с 1000 раза"
preheader: "Регистрируйтесь прямо сейчас и забирайте подарок. Стартуем 7 февраля.
"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/ih-for-users-1.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-48 leading-24 rounded">
        <p><strong>Приветствуем, дорогой подписчик!</strong></p>
        <p>Приглашаем на марафон для родителей, чьи дети не хотят учиться, ленятся и слышат только с 1000 раза.</p>
        <p><strong>«3 способа играючи избавиться от лени и проблем с уроками, гаджетами, истериками»</strong> -- бесплатный 3-дневный марафон-игра от Натальи Козыревой для родителей, которые хотят разобраться:</p>
        <ul>
          <li class="mb-16 leading-20">Есть ли у ребёнка зависимость от гаджетов</li>
          <li class="mb-16 leading-20">Как справится с зависимостью: алгоритм профилактики и выхода</li>
          <li class="mb-16 leading-20">Как определить норму экранного времени для ребёнка</li>
          <li class="mb-16 leading-20">Как в игровой форме решать детские проблемы с гаджетами, уроками и нежеланием помогать по дому</li>
          <li class="mb-16 leading-20">Как «достучаться» до ребенка, включить в нем мотивацию и интерес к жизни</li>
        </ul>
        <p><strong>Этот марафон точно для вас, если ваш ребенок:</strong></p>
        <ul>
          <li class="mb-16 leading-20">Всё своё время проводит в смартфоне, компьютере, телевизоре</li>
          <li class="mb-16 leading-20">Агрессивно реагирует на каждое слово</li>
          <li class="mb-16 leading-20">Не хочет учиться</li>
          <li class="mb-16 leading-20">Не помогает по дому</li>
          <li class="mb-16 leading-20">Неправильно питается</li>
          <li class="mb-16 leading-20">Не слышит вас</li>
        </ul>
        <p>А вы не представляете, что со всем этим делать</p>
        <p>Регистрируйтесь прямо сейчас и забирайте подарок. Стартуем 7 февраля.</p>

        <component src="src/components/button.html" locals='{
        "link" : "https://marathon.academush.com/marathon_geroi?gcpc=f4947&utm_source=ih_rassylka&utm_medium=cpc&utm_campaign=ih_rassylka_marafon_geroi",
        "text" : "Зарегистрироваться",
        "color" : "bg-red-500",
        "hover_color" : "bg-red-600"
        }'></component>

        <component src="src/components/about-author.html" locals='{
        "name" : "Наталья Козырева",
        "photo" : "https://info-hit.ru/upload/resize_cache/iblock/5f8/e43omvf4rng3ljlpu2ixmpt9g47vzeuf/220_220_2/kozyreva_natalya.jpg"
        }'>
          <div class="text-base">
            <p class="mt-48"><strong>Автор и ведущая марафона Наталья Козырева:</strong></p>
            <ul>
              <li class="mb-16 leading-20">педагог, психолог по детско-родительским отношениям,</li>
              <li class="mb-16 leading-20">автор и руководитель онлайн-проекта для педагогов и родителей «Академия успешного школьника»,</li>
              <li class="mb-16 leading-20">автор книги-бестселлера «Детомотиватор»</li>
              <li class="mb-16 leading-20">мама четверых мальчиков</li>
            </ul>
          </div>
        </component>
        <p>🔥 Вас ждёт ТОЛЬКО практическая информация, которую можно сразу внедрить и получить результат!</p>
        <p>Жмите на кнопку и присоединяйтесь сейчас! ❗️Количество мест ограничено.</p>
        <component src="src/components/button.html" locals='{
        "link" : "https://marathon.academush.com/marathon_geroi?gcpc=f4947&utm_source=ih_rassylka&utm_medium=cpc&utm_campaign=ih_rassylka_marafon_geroi",
        "text" : "Участвовать",
        "color" : "bg-red-500",
        "hover_color" : "bg-red-600"
        }'></component>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
