---
title: "Хотите больше? Подборка курсов специально для вас"
preheader: "Выбирайте подходящий курс и продолжайте обучение"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">

    <component src="src/components/img-block.html" locals='{"src":
    "https://info-hit.ru/upload/iblock/0af/5tmyttrg624clnqucm6aebpzrbjagxvx/top_bg.jpeg"
    }'></component>

    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 py-24 sm:p-24 leading-24 rounded">

        <component src="src/components/writer-table.html" locals='{
        "text_first" : "Приветствую, @{{Имя контакта}}!",
        "text_last" : "Это Лариса из «ИнфоХит». Я отвечаю за то, чтобы наш проект становился лучше."
        }'></component>

        <p>Вам понравилось учиться на «ИнфоХит»? Надеемся, что да, ведь мы подготовили для вас персональную подборку курсов.</p>
        <p class="mb-24">Вам точно пригодится скидка 10%<br>Она действует на все курсы с меткой «Учитесь на ИнфоХит».</p>

        <component src="src/components/course.html" locals='{
        "author" : "Алекс Мэй",
        "title" : "Видеокурс «15 ключей королевского мастерства»",
        "subtitle" : "Узнайте бесплатно, как стать богиней наслаждения и сводить мужчин с ума.",
        "picture" : "https://info-hit.ru/upload/resize_cache/iblock/28b/270_365_2/ferdinand_studio_lGLmmZG0wz8_unsplash.jpg",
        "link" : "https://info-hit.ru/course-15-klyuchey-korolevskogo-masterstva/"
        }'></component>

        <component src="src/components/course.html" locals='{
        "author" : "Алекс Мэй",
        "title" : "Курс «Ясная голова. Чёткий ум»",
        "subtitle" : "Всего за 21 занятие вы станете быстрее запоминать информацию.",
        "picture" : "https://info-hit.ru/upload/resize_cache/iblock/012/270_365_2/ferdinand_studio_cIqStk1yW0g_unsplash.jpg",
        "link" : "https://info-hit.ru/course-yasnaya-golova/"
        }'></component>

        <p>Желаем успехов,<br>
          Команда «ИнфоХит»
        </p>
      </td>
    </tr>

    <component src="src/components/img-block.html" locals='{"src":
    "https://info-hit.ru/upload/iblock/be7/t8m8jwzakttmv06387a2o7qrhx0ha6um/pexels_kampus_production_7799574.jpg"
    }'></component>

    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
