---
title: "Отзывы учеников — ключ к успеху"
preheader: "Управляйте репутацией с возможностями ИнфоХит"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/trigger-hello-author/trigger-hello-author-5.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p><strong>Добрый день!</strong></p>
        <p>Как вы&nbsp;управляете своей репутацией в&nbsp;интернете?</p>
        <p>Мы&nbsp;уверены, что вы&nbsp;следите за&nbsp;отзывами и&nbsp;комментариями о&nbsp;вас и&nbsp;вашей школе, ведь это&nbsp;— залог успеха вашего бизнеса.</p>
        <p class="mt-36"><strong>Почему стоит заботиться о&nbsp;сетевой репутации?</strong></p>
        <ol>
          <li class="mb-16">
            Отзывы в&nbsp;интернете обладают огромной силой убеждения.
          </li>
          <li class="mb-16">
            Более&nbsp;80% пользователей принимают решение о&nbsp;покупке, читая отзывы.
          </li>
          <li class="mb-16">
            Один отрицательный отзыв может свести на&nbsp;нет 10&nbsp;положительных. И&nbsp;повлечь за&nbsp;собой волну негатива.
          </li>
          <li class="mb-16">
            Доверие к&nbsp;отзывам на&nbsp;официальном сайте и&nbsp;в&nbsp;аккаунтах гораздо ниже, чем к&nbsp;отзывам на&nbsp;форумах, тематических сайтах и&nbsp;агрегаторах.
          </li>
        </ol>
        <p class="mt-36"><strong>Управлять репутацией с&nbsp;ИнфоХит просто</strong></p>
        <p>У&nbsp;каждого автора на&nbsp;нашем сайте есть страница отзывов. Ученики и&nbsp;клиенты делятся своими впечатлениями и&nbsp;пожеланиями, которые остались после обучения.</p>
        <p>А&nbsp;вот и&nbsp;ваши страницы с&nbsp;отзывами — <a target="_blank" href="https://info-hit.ru/account/author/comments/">https://info-hit.ru/account/author/comments/</a></p>
        <p class="text-base bg-yellow-100 py-16 px-24 my-24">Люди редко оставляют положительные отзывы, зато охотно рассказывают о&nbsp;том, что им&nbsp;не&nbsp;понравилось. <strong>Рекомендуйте своим клиентам и&nbsp;подписчикам оставлять свои комментарии о&nbsp;вас на&nbsp;сайте ИнфоХит.</strong> Ведь почти все наши страницы отзывов попадают в&nbsp;топ-5 выдачи «Яндекса». </p>
        <p class="mt-36"><strong>Как привлечь учеников к&nbsp;написанию отзывов:</strong></p>
        <ol>
          <li class="mb-16">
            Попросите их&nbsp;об&nbsp;этом в&nbsp;своем блоге или на&nbsp;сайте.
          </li>
          <li class="mb-16">
            Сделайте рассылку с&nbsp;просьбой рассказать на&nbsp;ИнфоХит о&nbsp;своих успехах после обучения.
          </li>
          <li class="mb-16">
            Опубликуйте пост об&nbsp;этом в&nbsp;своих соцсетях.
          </li>
          <li class="mb-16">
            Общайтесь с&nbsp;клиентами&nbsp;— отвечайте на&nbsp;их&nbsp;отзывы, давайте обратную связь.
          </li>
        </ol>
        <p class="mt-36"><strong>Это эффективно</strong></p>
        <p>Показываем на&nbsp;примере <a target="_blank" href="https://info-hit.ru/author-khristosenko-mikhail/">Михаила Христосенко</a>. Спикер курсов и&nbsp;тренингов по&nbsp;интернет-маркетингу, автор двух книг-бестселлеров по&nbsp;продвижению в&nbsp;интернете и&nbsp;продажам в&nbsp;социальных сетях сделал рассылку по&nbsp;подписчикам с&nbsp;просьбой оставить комментарий о&nbsp;курсе на&nbsp;его странице в&nbsp;ИнфоХит. Сейчас на&nbsp;его странице более полутора тысяч положительных отзывов.</p>
        <p>Сегодня страница Михаила находится в&nbsp;топ-5 поисковой выдачи «Яндекса». И&nbsp;это положительно влияет на&nbsp;его репутацию в&nbsp;сети. </p>
        <p class="text-base bg-green-100 py-16 px-24 my-24"><strong>Управляйте своей сетевой репутацией вместе с&nbsp;ИнфоХит!</strong> Мы&nbsp;всегда открыты для сотрудничества. Обратитесь к&nbsp;вашему персональному менеджеру, чтобы подготовить письмо для рассылки или пост для социальных сетей.</p>
        <p>Остались вопросы — напишите в <a target="_blank" href="https://t.me/ih_school_support_bot">чат техподдержки авторов</a>.</p>
        <if condition="page.env === 'local'">
          <component src="src/components/telegram-for-authors.html"></component>
        </if>
        <else>
          #TELEGRAM_CHANNEL_FOR_AUTHORS#
        </else>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">Ваш надежный партнер,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
