---
title: "Успешное собеседование, переходим на удаленку, преодолеваем эмоциональное выгорание"
preheader: "Советы, как преподнести себя на собеседовании, работать дистанционно и вернуть мотивацию к работе"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/trudovaya-deyatelnost.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p><strong>Добрый день!</strong></p>
        <p>Команда «ИнфоХит» подготовила для вас новую подборку статей о трудовой деятельности. </p>
        <p>Какие проблемы возникают у среднестатистического россиянина: начиная с прохождения собеседований до работы на себя и встречей с синдромом профессионального выгорания.</p>
        <p class="mt-36"><strong>Что делать с тревожностью на интервью, если:</strong></p>
        <ol>
          <li class="mb-16">
            из-за страха и волнения не можете рассказать о своем опыте и профессиональных знаниях;
          </li>
          <li class="mb-16">
            из-за чрезмерной подготовки говорите hr-специалисту все, что зазубрили днем ранее;
          </li>
          <li class="mb-16">
            стандартные вопросы заводят в тупик и вы не знаете, что ответить.
          </li>
        </ol>
      <p>Об этом мы рассказываем в <a target="_blank" href="https://info-hit.ru/blog/kak-uspeshno-proyti-sobesedovanie//">новой статье.</p>
        <p class="mt-36"><strong>Как избежать выгорания на работе?</strong></p>
        <p>Любимая работа перестала приносить удовлетворение, каждая новая задача вызывает ужас, а утром вы испытываете стресс от того, что начался новый рабочий день — это признаки профессионального выгорания.</p>
        <p><a target="_blank" href="https://info-hit.ru/blog/otsutstvie-motivatsii-k-rabote-simptom-professionalnogo-vygoraniya///">Читайте материал,</a> как вернуть желание и энергетические ресурсы, где взять силы, чтобы снова работать в удовольствие.</p>
        <p class="mt-36"><strong>Как иметь востребованную профессию на удаленке?</strong></p>
        <p>Знакомые чаще стали рассказывать, как их сократили или уволили из-за нестабильной ситуации в компании, а подтверждение этих слов можно прочитать в новостной ленте.</br>
          Не переживайте и не поддавайтесь общей панике. Выход есть!</br>
          С развитием дистанционной работы появилось много возможностей перейти в онлайн с любой профессией.
          </p>
        <p><a target="_blank" href="https://info-hit.ru/blog/ne-boytes-poteryat-rabotu-perekhodite-na-udalenku///">Читайте статью,</a> как с вашей или новой специальностью работать на удаленке, зарабатывать столько же, еще и прилично экономить.</p>

        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>команда «ИнфоХит»!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
