---
title: "Лучшее время купить рекламу — сейчас!"
preheader: "Используйте все возможности ИнфоХит для продвижения"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
    "src" : "https://info-hit.ru/include/images/letter/trigger-hello-author/trigger-hello-author-9.jpg"
    }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p><strong>Добрый день!</strong></p>

        <p>В&nbsp;это непростое время, когда привычные каналы продвижения стали недоступны, ИнфоХит остается вашим надежным партнером. Напоминаем, что вам доступны бесплатные инструменты продвижения: активное заполнение профиля, размещение партнерской программы в&nbsp;каталоге, работа с&nbsp;отзывами. </p>

        <p>А&nbsp;еще вы&nbsp;можете оплатить <a href="https://info-hit.ru/about/go-to-top/">рекламу в&nbsp;ИнфоХит</a>, чтобы привлечь дополнительный трафик! Поднимите свои страницы в&nbsp;ТОП на&nbsp;две—четыре недели или воспользуйтесь комплексным предложением. </p>

        <h3 class="mt-36">Комплексное продвижение от&nbsp;ИнфоХит это:</h3>
        <ul>
          <li class="mb-16">
            баннер в&nbsp;шапке сайта ИнфоХит;
          </li>
          <li class="mb-16">
            ваши акции в&nbsp;рассылках ИнфоХит;
          </li>
          <li class="mb-16">
            статья в&nbsp;блоге ИнфоХит;
          </li>
          <li class="mb-16">
            посты в&nbsp;соцсетях ИнфоХит;
          </li>
          <li class="mb-16">
            ваши страницы в&nbsp;ТОП-е каталогов ИнфоХит.
          </li>
        </ul>
        <p class="mt-36"><strong>Успейте занять свое место в&nbsp;ТОПе!</strong></p>
        <component src="src/components/button.html" locals='{
        "link" : "https://info-hit.ru/about/go-to-top/",
        "text" : "Подробнее на сайте",
        "color" : "bg-yellow-500",
        "hover_color" : "bg-yellow-600"
        }'></component>
        <p>Остались вопросы — напишите в <a target="_blank" href="https://t.me/ih_school_support_bot">чат техподдержки авторов</a>.</p>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">Ваш надежный партнер,<br>ИнфоХит!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
