---
title: "Учитесь сейчас, платите долями"
preheader: "Полный курс подготовки к ЕГЭ по биологии — в рассрочку"
bodyClass: bg-gray-100
---

<extends src="src/layouts/ih-main.html">
  <block name="template">
    <component src="src/components/img-block-without-link.html" locals='{
      "src" : "https://info-hit.ru/include/images/letter/2023-01-10-moiseeva-letter-4.jpg"
      }'></component>
    <tr>
      <td class="bg-white text-gray-800 text-base text-left px-48 pt-24 sm:p-24 pb-0 leading-24 rounded">
        <p class="text-xl"><strong>Добрый день!</strong></p>
        <p>Знаете, какие задания в&nbsp;ЕГЭ самые сложные&nbsp;— задачи. От&nbsp;школьника требуются не&nbsp;только уверенные знания предмета, но&nbsp;еще творческое мышление, развитая логика и&nbsp;познания в&nbsp;смежных областях.</p>
        <component src="src/components/about-author-left.html" locals='{
          "name" : "Анна Моисеева",
          "photo" : "https://info-hit.ru/upload/resize_cache/iblock/496/lptl331zsqsdm3pdxozbz3r09qmxeunc/220_220_2/moiseeva_anna.jpg"
          }'>
          <p class="mt-0"><strong>Анна Моисеева, преподаватель биологии, специалист по&nbsp;подготовке к&nbsp;ОГЭ и&nbsp;ЕГЭ:</strong> «Если&nbsp;не&nbsp;готовиться или делать это некачественно, рискуете не&nbsp;перейти порог в&nbsp;36&nbsp;баллов. Школьных уроков недостаточно. Отличник, который превосходно знаком со&nbsp;школьной программой, может рассчитывать максимум на&nbsp;<nobr>55–60 баллов»</nobr>.</p>
        </component>
        <p>Чтобы правильный ответ на&nbsp;задачу засчитали, он&nbsp;должен соответствовать определенным критериям. Анна Моисеева регулярно мониторит требования составителей экзаменационных материалов и&nbsp;дает их&nbsp;в&nbsp;своих курсах.</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/course-podgotovka-k-ege-po-biologyi/",
          "text" : "Полный курс подготовки к ЕГЭ по биологии",
          "color" : "bg-green-500",
          "hover_color" : "bg-green-600"
          }'></component>
        <p>Этот курс можно купить в&nbsp;рассрочку! Начинайте учиться прямо сейчас, а&nbsp;оплату вносите долями.</p>
        <p>В&nbsp;курсе Анны Моисеевой никакой лишней теории, только те&nbsp;знания биологии, которые пригодятся выпускнику для успешной сдачи экзамена. А&nbsp;еще разбор задач и&nbsp;советы по&nbsp;формулировкам ответов.</p>
        <p class="m-0 mb-24 text-base border-dashed border-2 border-blue-600 rounded-2xl py-16 px-24">Более 250 школьников уже сдали ЕГЭ на&nbsp;высокий балл с&nbsp;помощью курсов Анны Моисеевой.</p>
        <p>Начните подготовку прямо сейчас, чтобы успешно сдать ЕГЭ по&nbsp;биологии!</p>
        <component src="src/components/button.html" locals='{
          "link" : "https://info-hit.ru/course-podgotovka-k-ege-po-biologyi/",
          "text" : "Начать подготовку к ЕГЭ",
          "color" : "bg-green-500",
          "hover_color" : "bg-green-600"
          }'></component>
        <component src="src/components/gray-line.html"></component>
        <p class="text-base mb-36">С уважением,<br>ИнфоХит и Анна Моисеева!</p>
      </td>
    </tr>
    <tr>
      <td class="h-32 sm:h-24"></td>
    </tr>
    <component src="src/components/footer.html"></component>
  </block>
</extends>
